<body class="skin-blue-light hold-transition sidebar-mini" data-spy="scroll" data-target="#scrollspy">
<div class="wrapper">
  <header class="main-header" role="banner" data-menu="${menu_pos}">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a href="jsp/site/Portal.jsp" title="#i18n{portal.users.admin_header.title.viewSite} ${site_name}" target="_blank" class="navbar-brand">
            <img src="#dskey{portal.site.site_property.logo_url}" class="img-responsive"  title="#i18n{portal.users.admin_header.title.viewSite} ${site_name}" alt="${site_name}"><b> <#if site_name?length &gt; 18> ${site_name?substring(0,16)}... <#else> ${site_name}</#if></b>
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul id="top" class="nav navbar-nav">
            <#list feature_group_list as feature_group>
               <#if feature_group.features?size &gt; 1>
                 <li class="dropdown tasks-menu">
                   <a data-toggle="dropdown" class="dropdown-toggle" id="dLabel${feature_group.id}Header" href="${admin_url}#${feature_group.id}">
                       ${feature_group.label} <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel${feature_group.id}Header">
                     <#list feature_group.features as feature>
                       <li class="menu">
                         <#if !feature.externalFeature>
                            <a href="${feature.url}?plugin_name=${feature.pluginName}">${feature.name}</a>
                         <#else>
                             <a href="${feature.url}"><#if feature.iconUrl?has_content><i class="${feature.iconUrl}"></i></#if> ${feature.name}</a>
                      </#if>
                       </li>
                     </#list>
                   </ul>
                 </li>
               <#else>
                 <#list feature_group.features as feature>
                   <li>
                      <#if !feature.externalFeature>
                         <a href="${feature.url}?plugin_name=${feature.pluginName}">${feature.name}</a>
                      <#else>
                        <a href="${feature.url}"><#if feature.iconUrl?has_content><i class="${feature.iconUrl}"></i></#if>${feature.name}</a>
                      </#if>
                    </li>
                   </#list>
                 </#if>
           </#list>
          </ul>
          <ul class="nav navbar-nav navbar-right user">
            <li class="home">
              <a href="${admin_url}" title="#i18n{portal.users.admin_header.homePage}"><i class="fa fa-home"></i></a>
            </li>
            <li class="dropdown user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dLabelUserHeader">
                <#if adminAvatar> 
					<img src="servlet/plugins/adminavatar/avatar?id_user=${user.userId}" id="admin-avatar" class="user-image" alt="User's avatar"> 
				<#else> 
					<img src="#dskey{portal.site.site_property.avatar_default}" id="admin-avatar" class="user-image" alt="User's avatar"> 
				</#if>     
                <span id="zone4" class="hidden-sm hidden-md"> ${dashboard_zone_4}<i class="caret"></i></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelUserHeader">
                <li>
                  <a href="jsp/admin/user/ModifyDefaultUserPassword.jsp"><i class="fa fa-lock"></i>&nbsp;#i18n{portal.admin.admin_home.password}</a>
                </li>
                <#if user.accessibilityMode>
                  <li>
                    <a href="jsp/admin/DoModifyAccessibilityMode.jsp" title="#i18n{portal.users.admin_header.labelDeactivateAccessibilityMode}"><i class="fa fa-eye"></i>&nbsp;#i18n{portal.users.admin_header.labelDeactivateAccessibilityMode}</a>
                  </li>
                  <#else>
                    <li>
                      <a href="jsp/admin/DoModifyAccessibilityMode.jsp" title="#i18n{portal.users.admin_header.labelActivateAccessibilityMode}"><i class="fa fa-eye-close"></i>&nbsp;#i18n{portal.users.admin_header.labelActivateAccessibilityMode}</a>
                    </li>
                </#if>
                <li class="divider"></li>
                <li>
                  <a href="javascript:return false;">
                    <i class="fa fa-language"></i>&nbsp;#i18n{portal.admin.admin_home.language}
                  </a>
                  <ul class="list-inline">
                    <#list languages_list as lang>
                      <li>
                        <#if current_language==lang.code>
                          <span class="label label-success">
                        </#if>
                        <a href="jsp/admin/DoChangeLanguage.jsp?language=${lang.code}">
                          ${lang.name}&nbsp;
                        </a>
                        <#if current_language==lang.code>
                          </span>
                        </#if>
                      </li>
                    </#list>
                  </ul>
                </li>
                <li class="divider"></li>
                <#if user.userLevel==0>
                  <li>
                    <a href="jsp/admin/AdminTechnicalMenu.jsp" title="#i18n{portal.users.admin_header.title.technicalMenu}">
                      <i class="fa fa-wrench"></i>&nbsp;#i18n{portal.users.admin_header.technicalMenu}
                    </a>
                  </li>
                </#if>
                <#if admin_summary_documentation_url?exists>
                  <li>
                    <a href="${admin_summary_documentation_url}" title="#i18n{portal.users.admin_header.title.documentation}">
                      <i class="fa fa-question-circle"></i>&nbsp;#i18n{portal.users.admin_header.documentation}
                    </a>
                  </li>
                </#if>
              </ul>
            </li>
            <#if admin_logout_url?has_content>
              <li>
                <a href="${admin_logout_url}" title="#i18n{portal.users.admin_header.deconnectionLink}">
                  <i class="fa fa-power-off fa-fw"></i> <span class="visible-xs">#i18n{portal.users.admin_header.deconnectionLink}</span>
                </a>
              </li>
            </#if>
            <!--
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i> </a>
            </li>
          -->
          </ul>
        </div>
    </nav>
  </header>
  <!-- Wrapper -->
  <div id="admin-wrapper">
      <!-- Close in footer -->
