<!-- end container -->
</div>
<!-- footer menu -->
<footer>
<div id="footer" class="navbar navbar-fixed-bottom  hidden-phone">
	<div class="pull-right">
			<a href="http://fr.lutece.paris.fr" title="#i18n{portal.site.portal_footer.labelPortal}">
		<img src="images/poweredby.jpg" alt="#i18n{portal.site.portal_footer.labelMadeBy}" />
			<a href="http://fr.lutece.paris.fr" target="lutece">
				<small>version ${version}</small>
			</a>
	</div>
</div>
</footer>
<!-- Included JS Files -->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
