<div class="container">
<div class="row well">
	<div class="span1">
		<img src="images/local/skin/poweredby.jpg" alt="powered by Lutece" title="powered by Lutece" >
	</div>
	<div class="span5 offset5">
		<a href="http://fr.lutece.paris.fr" class="pull-right" target="lutece">Lutece version : ${version}</a>
	</div>
</div>
</div>
<!-- Included JS Files -->
<script src="js/jquery/jquery.min.js"></script>
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<!-- A SUPPRIMER script type="text/javascript" src="js/tools.js"></script -->
<!-- A REDISPATCHER DANS LES PLUGINS 
<script src="js/jquery/plugins/ui/jstree/jquery.cookie.js" type="text/javascript"></script>
<script src="js/jquery/plugins/ui/jstree/jquery.jstree.js" type="text/javascript"></script>
<script src="js/jquery/plugins/ui/jstree/jquery.hotkeys.js" type="text/javascript"></script>
<script src="js/jquery/plugins/ui/datepicker/ui.datepicker.js" type="text/javascript"></script>
<script src="js/jquery/plugins/ui/datepicker/ui.datepicker-fr.js" type="text/javascript"></script>
<script src="js/jquery/plugins/jpassword/jquery.jpassword.pack.js" type="text/javascript"></script>
<script src="js/jquery/plugins/autocomplete/jquery.autocomplete.pack.js" type="text/javascript"></script>
<script src="js/jquery/plugins/generatepassword/jquery.password.min.js" type="text/javascript"></script>
-->

<!-- end container -->
</div>