<div class="container">
<div class="row">
<#if dashboard_zone_3?has_content>
<div class="span9">
${dashboard_zone_3}
</div>
<#else>
 <div class="span9">
<#list feature_group_list as feature_group >
<div class="content-box">
<h2 class="clearfix">
<img src="images/admin/skin/plugin_link.png" alt="Retour vers le haut" />
${feature_group.label}
<span class="pull-right">
<a href="jsp/admin/AdminMenu.jsp#top" class="top"><i class="icon-arrow-up icon-white"></i></a>
</span>
</h2>
<ul >
	<#list feature_group.features as feature >
	<li>
	<a href="${feature.url}?plugin_name=${feature.pluginName}">
	<img src="${feature.iconUrl}" alt="" align="left" hspace="15" />
	</a>
	<h3><a href="${feature.url}?plugin_name=${feature.pluginName}">${feature.name}</a></h3>
	<p> ${feature.description} </p>
	</li>
	</#list>
</ul>
</div>
</#list>
</div>
</#if>
<!--
<div class="span4">
<#if url_modify_password?has_content >
<h3>
<img src="images/admin/skin/change_password.png" alt="#i18n{portal.admin.admin_home.changePassword}" align="middle" />                           #i18n{portal.admin.admin_home.password}</h3>
<form method="post"  action="${url_modify_password}">
<input type="submit" class="button" value="#i18n{portal.admin.admin_home.changePassword}" />
</form>
</#if>
-->
<#if dashboard_zone_1?has_content>
<!--


<h3><img src="images/admin/skin/change_language.png" alt="#i18n{portal.admin.admin_home.language}"  align="middle"/>#i18n{portal.admin.admin_home.language}</h3>
<form method="post"  action="jsp/admin/DoChangeLanguage.jsp">
<@comboSorted name="language" default_value="${current_language}" items=languages_list />
<input type="submit" class="button" value="#i18n{portal.admin.admin_home.button.changeLanguage}" />
</form>
</div>
-->
<div class="span3">
<div class="content-box">
<h2>#i18n{portal.admin.admin_home.dashboard}</h2>
<div class="content-box">
${dashboard_zone_1}
</div>

</#if>
<#if dashboard_zone_2?has_content>
<div class="content-box">
${dashboard_zone_2}
</#if>
</div>
</div>
</div>
</div>

