		<!-- end content section -->
		</section>
	<!--  end admin-wrapper -->
	</div>
<!-- end wrapper -->
</div>
<!-- footer menu -->
<footer class="hidden-xs">
	<nav id="footer" class="navbar navbar-default" role="navigation">
		<div class="navbar-text navbar-right">
			<a class="navbar-link" href="http://fr.lutece.paris.fr" target="lutece" title="#i18n{portal.site.portal_footer.labelPortal}">
				<img src="images/poweredby.jpg" alt="#i18n{portal.site.portal_footer.labelMadeBy}">
				<small>version ${version}</small>
			</a>
		</div>
	</nav>
</footer>
<!-- Included JS Files -->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
${javascript_files}
<script>
var AdminLTEOptions = {
	//Bootstrap.js tooltip
	enableBSToppltip: false
};
</script>
