<div class="highlight-box">
	<p>#i18n{portal.users.manage_advanced_parameters.securityParameters}</p>
	<form method="post" name="password_global_security" action="jsp/admin/user/DoModifyDefaultUserSecurityParameterValues.jsp#footer">
		<p>
			<label for="password_minimum_length">#i18n{portal.users.manage_advanced_parameters.labelMinimumPasswordLength} * : </label>
			<input type="text" name="password_minimum_length" value="${password_minimum_length!}" />
			<br />
			<br />
			<#if use_advanced_security_parameters>
			
			<label for="password_format">#i18n{portal.users.manage_advanced_parameters.labelPasswordFormat} : </label>
			<input type="checkbox" name="password_format" value="true" <#if password_format?? && password_format>checked="checked"</#if> />
			<br />
			<br />
			<label for="password_duration">#i18n{portal.users.manage_advanced_parameters.labelPasswordDuration} : </label>
			<input type="text" name="password_duration" value="${password_duration!}" />
			<br />
			<br />
			</#if>
			<label for="force_change_password_reinit">#i18n{portal.users.manage_advanced_parameters.labelForcePasswordAfterReset} : </label>
			<input type="checkbox" name="force_change_password_reinit" value="true" <#if force_change_password_reinit>checked="checked"</#if> />
			<br />
			<br />
		</p>
		<#if use_advanced_security_parameters>
		<br />
		<p>
			<label for="password_history_size">#i18n{portal.users.manage_advanced_parameters.labelPasswordHistorySize} : </label>
			<input type="text" name="password_history_size" value="${password_history_size!}" />
			<br />
			<br />
			
			<label for="maximum_number_password_change">#i18n{portal.users.manage_advanced_parameters.labelMaxNumberPasswordChange} : </label>
			<input type="text" name="maximum_number_password_change" value="${maximum_number_password_change!}" />
			<br />
			<br />
			
			<label for="tsw_size_password_change">#i18n{portal.users.manage_advanced_parameters.labelPasswordChangeTSWSize} : </label>
			<input type="text" name="tsw_size_password_change" value="${tsw_size_password_change!}" />
			<br />
			<br />
		</p>
		</#if>
		<br />
		<p>
			<label for="access_failures_max">#i18n{portal.users.manage_advanced_parameters.labelAccesFailuresMax} : </label>
			<input type="text" name="access_failures_max" value="${access_failures_max!}" />
			<br />
			<br />
			
			<label for="access_failures_interval">#i18n{portal.users.manage_advanced_parameters.labelAccesFailuresInterval} : </label>
			<input type="text" name="access_failures_interval" value="${access_failures_interval!}" />
			<br />
			<br />
		</p>
		<p>
			<label for="account_life_time">#i18n{portal.users.manage_advanced_parameters.labelAccountLifeTime} : </label>
			<input type="text" name="account_life_time" value="${account_life_time!}" />
			<br />
			<br />
			
			<label for="time_before_alert_account">#i18n{portal.users.manage_advanced_parameters.labelTimeBeforeAlert} : </label>
			<input type="text" name="time_before_alert_account" value="${time_before_alert_account!}" />
			<br />
			<br />
			
			<label for="nb_alert_account">#i18n{portal.users.manage_advanced_parameters.labelNbAlert} : </label>
			<input type="text" name="nb_alert_account" value="${nb_alert_account!}" />
			<br />
			<br />
			
			<label for="time_between_alerts_account">#i18n{portal.users.manage_advanced_parameters.labelTimeBetweenAlerts} : </label>
			<input type="text" name="time_between_alerts_account" value="${time_between_alerts_account!}" />
			<br />
			<br />
		</p>
		<p>
			<input type="submit" class="button" value="#i18n{portal.util.labelModify}" />
			<a name="footer"></a>
		</p>
	</form>
</div>
<div class="highlight-box">
	<p>#i18n{portal.users.accountLifeTime.labelLifeTimeNotifications}</p>
	<form method="post" action="jsp/admin/user/ModifyAccountLifeTimeEmails.jsp">
		<p>
			<label for="email_type">#i18n{portal.users.accountLifeTime.labelSelectEmail} :</label>
	    	<select name="email_type" >
	    		<option value="first" selected="selected" >#i18n{portal.users.accountLifeTime.labelFirstEmail}</option>
	    		<option value="other" >#i18n{portal.users.accountLifeTime.labelOtherEmail}</option>
	    		<option value="expired" >#i18n{portal.users.accountLifeTime.labelAccountDeactivatedEmail}</option>
	    		<option value="reactivated" >#i18n{portal.users.accountLifeTime.labelAccountUpdatedEmail}</option>
	    	</select>
			<input type="submit" class="button" value="#i18n{portal.users.accountLifeTime.labelEditEmail}" />
		</p>
	</form>
</div>