<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"></h3>
				<div class="box-tools">
					<form class="form-inline" action="jsp/admin/user/GetChangeUseAdvancedSecurityParameters.jsp">
						<#if use_advanced_security_parameters>
							<button class="btn btn-danger btn-flat btn-xs" type="submit" >
								<i class="fa fa-remove"></i>	#i18n{portal.users.manage_advanced_parameters.removeAdvancedParameters}
							</button>
						<#else>
							<button class="btn btn-primary btn-flat btn-xs" type="submit" >
								<i class="fa fa-check"></i>	#i18n{portal.users.manage_advanced_parameters.useAdvancedParameters}
							</button>
						</#if>
					</form>
				</div>
			</div>
			<div class="box-body">
				<!-- PASSWORD ENCRYPTION -->
				<#if enable_password_encryption?exists>
					<form class="form-horizontal" method="post" name="password_encryption" action="jsp/admin/user/ModifyPasswordEncryption.jsp">
					<fieldset>
						<legend>#i18n{portal.users.manage_advanced_parameters.labelEnablePasswordEncryption}</legend>
						<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3">#i18n{portal.users.manage_advanced_parameters.labelEnablePasswordEncryption} :</label>
							<#if enable_password_encryption = "false">
								<div class="col-xs-12 col-sm-9">
									<label class="radio-inline">
										<input type="radio" name="enable_password_encryption" value="false" <#if use_advanced_security_parameters>disabled="disabled"</#if> checked="checked">
										#i18n{portal.users.manage_advanced_parameters.buttonPasswordEncryptionOff}
									</label>
									<label class="radio-inline">
										<input type="radio" name="enable_password_encryption" value="true" <#if use_advanced_security_parameters>disabled="disabled"</#if>>
										#i18n{portal.users.manage_advanced_parameters.buttonPasswordEncryptionOn}
									</label>
								</div>
							<#else>
								<div class="col-xs-12 col-sm-9">
									<label class="radio-inline">
										<input type="radio" name="enable_password_encryption" value="false" <#if use_advanced_security_parameters>disabled="disabled"</#if>> #i18n{portal.users.manage_advanced_parameters.buttonPasswordEncryptionOff}
									</label>
									<label class="radio-inline">
										<input type="radio" name="enable_password_encryption" value="true" <#if use_advanced_security_parameters>disabled="disabled"</#if> checked="checked">
										#i18n{portal.users.manage_advanced_parameters.buttonPasswordEncryptionOn}
									</label>
								</div>
							</#if>
						</div>
						<#if use_advanced_security_parameters>
							<input type="hidden" name="enable_password_encryption" value="<#if enable_password_encryption?? && enable_password_encryption! = 'true'>true<#else>false</#if>">
						</#if>
						<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3" for="encryption_algorithm">#i18n{portal.users.manage_advanced_parameters.labelEncryptionAlgorithm} :</label>
							<div class="col-xs-12 col-sm-9">
								<select id="encryption_algorithm" name="encryption_algorithm" class="form-control" <#if use_advanced_security_parameters>disabled="disabled"</#if>>
								<#if !encryption_algorithm?has_content>
									<option value="noValue" selected="selected">#i18n{portal.users.manage_advanced_parameters.labelNoAlgorithm}</option>
								<#else>
									<option value="noValue">#i18n{portal.users.manage_advanced_parameters.labelNoAlgorithm}</option>
								</#if>
								<#list encryption_algorithms_list as algorithm>
									<#if algorithm = encryption_algorithm>
										<option value="${algorithm}" selected="selected">${algorithm}</option>
									<#else>
										<option value=${algorithm}>${algorithm}</option>
									</#if>
								</#list>
								</select>
								<#if use_advanced_security_parameters>
								<input type="hidden" name="encryption_algorithm" value="${encryption_algorithm!}">
								</#if>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 col-sm-offset-3 col-sm-9">
							<button class="btn btn-primary btn-xs btn-flat" type="submit" >
								<i class="fa fa-check"></i> #i18n{portal.users.manage_advanced_parameters.buttonModify}
							</button>
							</div>
						</div>
						</fieldset>
					</form>
					</#if>
					<!-- DEFAULT USER PARAMETERS -->
					<form class="form-horizontal" method="post" name="default_user_parameters" action="jsp/admin/user/DoModifyDefaultUserParameterValues.jsp">
						<fieldset>
							<legend>#i18n{portal.users.manage_advanced_parameters.defaultUserParameterValues}</legend>
							<!-- USER LEVEL -->
							<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3" for="user_level">#i18n{portal.users.manage_advanced_parameters.userLevelLabel}</label>
								<div class="col-xs-12 col-sm-9">
									<select class="form-control" id="user_level" name="user_level">
										<#list user_levels as user_level>
											<#if user_level.id = default_user_level.id>
												<option value="${user_level.id}" selected="selected">${user_level.name}</option>
											<#else>
												<option value="${user_level.id}">${user_level.name}</option>
											</#if>
										</#list>
									</select>
								</div>
							</div>
							<!-- USER NOTIFICATION -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3">#i18n{portal.users.manage_advanced_parameters.labelNotify} </label>
								<#if default_user_notification = 1>
									<div class="col-xs-12 col-sm-9">
										<label class="radio-inline">
											<input type="radio" name="notify_user" value="1" checked="checked">	#i18n{portal.util.labelYes}
										</label>
										<label class="radio-inline">
											<input type="radio" name="notify_user" value="0">	#i18n{portal.util.labelNo}
										</label>
									</div>
								<#else>
									<div class="col-xs-12 col-sm-9">
										<label class="radio-inline">
											<input type="radio" name="notify_user" value="1"> #i18n{portal.util.labelYes}
										</label>
										<label class="radio-inline">
											<input type="radio" name="notify_user" value="0" checked="checked">	#i18n{portal.util.labelNo}
										</label>
									</div>
								</#if>
							</div>
							<!-- USER LANGUAGE -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3" for="language">#i18n{portal.users.manage_advanced_parameters.labelLanguage} </label>
								<div class="col-xs-12 col-sm-9">
									<@comboSortedWithParams name="language" default_value="${default_user_language}" additionalParameters="class=\"form-control\" " items=languages_list />
								</div>
							</div>
							<!-- USER STATUS -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3" for="status">#i18n{portal.users.manage_advanced_parameters.labelStatus}</label>
								<div class="col-xs-12 col-sm-9">
									<select id="status" name="status" class="form-control">
										<#if default_user_status = 1>
											<option value="0">#i18n{portal.users.manage_advanced_parameters.statusLabelEnabled}</option>
											<option value="1" selected="selected" >#i18n{portal.users.manage_advanced_parameters.statusLabelDisabled}</option>
										<#else>
											<option value="0" selected="selected" >#i18n{portal.users.manage_advanced_parameters.statusLabelEnabled}</option>
											<option value="1">#i18n{portal.users.manage_advanced_parameters.statusLabelDisabled}</option>
										</#if>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12 col-sm-offset-3 col-sm-9">
									<button class="btn btn-primary btn-xs btn-flat" type="submit" >
										<i class="fa fa-check"></i> #i18n{portal.users.manage_advanced_parameters.buttonModify}
									</button>
								</div>
							</div>
						</fieldset>
					</form>
					<!-- EMAIL PATTERN -->
					<form class="form-horizontal" method="post" name="email_pattern_form" action="jsp/admin/user/DoModifyEmailPattern.jsp">
						<fieldset>
						<legend>#i18n{portal.users.manage_advanced_parameters.labelModifyEmailPattern}</legend>
						<#if email_pattern??>
							<#if plugin_regularexpression>
								<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3" for="is_email_pattern_set_manually">#i18n{portal.users.manage_advanced_parameters.labelIsEmailPatternSetManually} :</label>
									<div class="col-xs-12 col-sm-9">
										<div class="checkbox">
											<label>
												<input type="checkbox" name="is_email_pattern_set_manually" value="1"<#if is_email_pattern_set_manually> checked="checked"</#if>>	#i18n{portal.users.manage_advanced_parameters.labelIsEmailPatternSetManuallyComment}
											</label>
										</div>
									</div>
								</div>
							<#else>
								<input type="hidden" name="is_email_pattern_set_manually" value="1">
							</#if>
							<#if is_email_pattern_set_manually>
								<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3" for="email_pattern">#i18n{portal.users.manage_advanced_parameters.labelEmailPattern} :</label>
									<div class="col-xs-12 col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="email_pattern" name="email_pattern" value="${email_pattern?html}">
											<span class="input-group-btn">
												<a href="jsp/admin/user/DoResetEmailPattern.jsp" class="btn btn-primary btn-flat">
													<i class="fa fa-refresh"></i> #i18n{portal.users.manage_advanced_parameters.buttonResetEmailPattern}
												</a>
											</span>
										</div>
									</div>
								</div>
							<#else>
								<input type="hidden" name="email_pattern" value="${email_pattern}">
							</#if>
							<div class="form-group">
								<div class="col-xs-12 col-sm-offset-3 col-sm-9">
									<button class="btn btn-primary btn-xs btn-flat" type="submit" >
										<i class="fa fa-check"></i> #i18n{portal.users.manage_advanced_parameters.buttonModify}
									</button>
								</div>
							</div>
						</fieldset>
					</form>
				<#if plugin_regularexpression && !is_email_pattern_set_manually>
					<form class="form-horizontal" method="post" action="jsp/admin/user/DoInsertRegularExpression.jsp#list-regularexpressions">
					<fieldset>
						<legend>#i18n{portal.users.manage_advanced_parameters.labelRegularExpression}</legend>
						<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3" for="id_expression">#i18n{portal.users.manage_advanced_parameters.labelRegularExpression} :</label>
								<div class="col-xs-12 col-sm-9">
									<@comboSortedWithParams name="id_expression" items=available_regularexpressions additionalParameters="class=\"form-control\" " default_value=-1 />
								</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 col-sm-offset-3 col-sm-9">
								<button class="btn btn-primary btn-xs btn-flat" type="submit" >
									#i18n{portal.users.manage_advanced_parameters.buttonInsert}
								</button>
								<p class="help-text">#i18n{portal.users.manage_advanced_parameters.labelInsertComment}</p>
							</div>
						</div>
					</fieldset>
					</form>
					<a name="list-regularexpressions" id="list-regularexpressions"></a>
					<table class="table table-striped table-striped">
						<tr>
							<th>#i18n{portal.users.manage_advanced_parameters.rowTitle}</th>
							<th>#i18n{portal.users.manage_advanced_parameters.rowInformationMessage}</th>
							<th>#i18n{portal.users.manage_advanced_parameters.rowValidExample}</th>
							<th>#i18n{portal.users.manage_advanced_parameters.rowActions}</th>
						</tr>
							<#list selected_regularexpressions as expression>
						<tr>
							<td>${expression.title}</td>
							<td>${expression.informationMessage}</td>
							<td>${expression.validExemple}</td>
							<td>
								<a class="btn btn-danger btn-sm" href="jsp/admin/user/DoRemoveRegularExpression.jsp?id_expression=${expression.idExpression}#list-regularexpressions"  title="#i18n{portal.users.manage_advanced_parameters.buttonDelete}" >
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
							</#list>
					</table>
					</#if>
				</#if>
				<!--  SECURITY PARAMETERS -->
				<#include "advanced_security_parameters.html" />
			</div>
		</div>
	</div>
</div>
