<#function displayFieldset user_levels attributes_list>
	<#assign var = false>
	<#list attributes_list as attribute>
		<#if attribute.plugin?exists && attribute.plugin.name =="profiles">
			<#assign var = true>
			<#break>
		</#if>
	</#list>
	<#if user_levels?has_content || var = true>
		<#return true>
	</#if>
	<#return false>
</#function>
<@row>
	<@columns>
		<@box color='success'>
			<@boxBody>
				<@tform method='post' name='create_user' action='jsp/admin/user/DoCreateUser.jsp' params='enctype="multipart/form-data"'>
					<@input type='hidden' name='token' value='${token}' />
					<@row>
						<@columns md=4 lg=4>
							<@fieldSet legend='#i18n{portal.users.create_user.labelIdentity}' >
							<@formGroup labelKey='#i18n{portal.users.create_user.labelLastName}' labelFor='last_name' rows=2 mandatory=true>
								<@inputGroup>
									<@inputGroupItem type='text'>
										<@icon style='user' />
									</@inputGroupItem>
									<@input type='text' id='last_name' name='last_name' value='' maxlength=100 />
								</@inputGroup>
							</@formGroup>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelFirstName}' labelFor='first_name' rows=2 mandatory=true>
								<@inputGroup>
									<@inputGroupItem type='text'>
										<@icon style='user' />
									</@inputGroupItem>
									<@input type='text' id='first_name' name='first_name' value='' maxlength=100 />
								</@inputGroup>
							</@formGroup>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelEmail}' labelFor='email' rows=2 mandatory=true>
								<@inputGroup>
									<@inputGroupItem type='text'>
										<@icon style='envelope' />
									</@inputGroupItem>
									<@input type='text' id='email' name='email' value='' maxlength=100 />
								</@inputGroup>
							</@formGroup>
							</@fieldSet>
						</@columns>
						<@columns md=4 lg=4>
							<@fieldSet legend='#i18n{portal.users.create_user.labelAccount}'>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelAccessCode}' labelFor='access_code' rows=2 mandatory=true>
								<@inputGroup>
									<@inputGroupItem type='text'>
										<@icon style='star' />
									</@inputGroupItem>
									<@input type='text' id='access_code' name='access_code' value='' maxlength=100 />
								</@inputGroup>
							</@formGroup>
							<@formGroup labelFor='first_password' labelKey='#i18n{portal.users.create_user.labelFirstPassword}' helpKey='${i18n("portal.users.message.password.minimumPasswordLength",minimumPasswordSize)}' mandatory=true rows=2>
								<@inputGroup>
									<@inputGroupItem type='text'>
										<@icon style='lock' />
									</@inputGroupItem>
									<@input type='password' id='first_password' name='first_password' maxlength=100 value='' />
									<@inputGroupItem>
										<@button type='button' id='generate_password' title='#i18n{portal.users.create_user.buttonLabelGeneratePassword}' hideTitle=['all'] buttonIcon='cog' size='' color='secondary' />
									</@inputGroupItem>
								</@inputGroup>
							</@formGroup>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelSecondPassword}' labelFor='second_password' rows=2 helpKey='#i18n{portal.users.create_user.passwordComplexity}' mandatory=true>
								<@inputGroup>
									<@inputGroupItem type='text'>
										<@icon style='lock' />
									</@inputGroupItem>
									<@input type='password' id='second_password' name='second_password' maxlength=100 value='' />
								</@inputGroup>
							</@formGroup>
							<@formGroup rows=2>
								<@progressBar />
							</@formGroup>
							<div class="clearfix">&nbsp;</div>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelNotify}' rows=2>
								<#if default_user_notification = 1>
									<@radioButton orientation='horizontal' labelKey='#i18n{portal.util.labelYes}' name='notify_user' value='1' checked=true />
									<@radioButton orientation='horizontal' labelKey='#i18n{portal.util.labelNo}' name='notify_user' value='0' />
								<#else>
									<@radioButton orientation='horizontal' labelKey='#i18n{portal.util.labelYes}' name='notify_user' value='1' />
									<@radioButton orientation='horizontal' labelKey='#i18n{portal.util.labelNo}' name='notify_user' value='0' checked=true />
								 </#if>								
							</@formGroup>
							</@fieldSet>
						</@columns>
						<@columns md=4 lg=4>
						<@fieldSet legend='#i18n{portal.users.create_user.labelComplementaryAttributes}'>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelStatus}' labelFor='status' rows=2>
								<@select id='status' name='status'>
									<#if default_user_status = 1>
									<option value="0">#i18n{portal.users.create_user.statusLabelEnabled}</option>
									<option value="1" selected="selected">#i18n{portal.users.create_user.statusLabelDisabled}</option>
									<#else>
									<option value="0" selected="selected">#i18n{portal.users.create_user.statusLabelEnabled}</option>
									<option value="1">#i18n{portal.users.create_user.statusLabelDisabled}</option>
									</#if>
								</@select>
							</@formGroup>
							<#if displayFieldset( user_levels attributes_list )>
								<#if (user_levels?has_content)>
									<@formGroup labelKey='#i18n{portal.users.create_user.userLevelLabel}' labelFor='user_level' rows=2>
										<@select name='user_level'>
											<#list user_levels as user_level>
												<#if user_level.id = default_user_level.id>
												<option value="${user_level.id}" selected="selected">${user_level.name}</option>
												<#else>
												<option value="${user_level.id}">${user_level.name}</option>
												</#if>
											</#list>
										</@select>
									</@formGroup>
									<@formGroup labelKey='#i18n{portal.role.create_role.labelWorkgroupKey}' rows=2 mandatory=true>
										<@select name='workgroup_key' default_value='${workgroup_key_default_value}' items=workgroup_key_list sort=true />
									</@formGroup>
									<@formGroup labelKey='#i18n{portal.users.create_user.labelLanguage}' labelFor='language' rows=2>
										<@select name='language' default_value='${default_user_language}' items=languages_list sort=true />									
									</@formGroup>
								</#if>
								<#list attributes_list as attribute>
									<#if attribute.plugin?exists && attribute.plugin.name =="profiles">
										${attribute.getHtmlFormAttribute( locale )}
										<#break>
									</#if>
								</#list>
							</#if>
							<#if attributes_list?has_content>
								<#list attributes_list as attribute>
									<#if !attribute.plugin?exists || ( attribute.plugin?exists && attribute.plugin.name !="profiles" )>
										${attribute.getHtmlFormAttribute( locale )}
									</#if>
								</#list>
							</#if>
							<@formGroup labelKey='#i18n{portal.users.create_user.labelTheme}' labelFor='accessibility_mode' rows=2>
								<@checkBox name='accessibility_mode' id='accessibility_mode' orientation='horizontal' value='1' labelKey='#i18n{portal.users.create_user.labelAccessibilityMode}' />
							</@formGroup>
						</@fieldSet>
						</@columns>
					</@row>
					<@row>
						<@columns md=4 lg=4>
							<@formGroup rows=2>
								<@button size='' type='submit' buttonIcon='check' title='#i18n{portal.users.manage_users.buttonLabelAddUser}'  />
								<@aButton size='' href='jsp/admin/user/ManageUsers.jsp' color='secondary' buttonIcon='times' title='#i18n{portal.util.labelBack}'  />
							</@formGroup>
						</@columns>
					</@row>
				</@tform>	
			</@boxBody>
		</@box>
	</@columns>
</@row>
<script src="js/admin/jquery/plugins/jquery.complexify.js"></script>
<script src="js/admin/jquery/plugins/generatepassword/jquery.password.min.js"></script>
<script>
$(document).ready(function(){	
	$("#generate_password").click(function(){
		var pwd = $.password(${randomPasswordSize}, true);
		$("#first_password").val(pwd);
		$("#second_password").val(pwd);
		$("#first_password").trigger("propertychange");
    });

	$("#first_password").complexify({}, function (valid, complexity) {
		var progressBar = $('#progressbar');
		progressBar.toggleClass('progress-bar-success', valid);
		progressBar.toggleClass('progress-bar-danger', !valid);
		progressBar.css({'width': complexity + '%'});
		$('#complexity').html(Math.round(complexity) + '%');
	});
})</script>
