
<#function displayFieldset user_levels attributes_list>
	<#assign var = false>
	<#list attributes_list as attribute>
		<#if attribute.plugin?exists && attribute.plugin.name =="profiles">
			<#assign var = true>
			<#break>
		</#if>
	</#list>
	<#if user_levels?has_content || var = true>
		<#return true>
	</#if>
	<#return false>
</#function>

<@row>
	<@columns>
		<#if import_user?has_content>
			<@box>
				<@boxBody>
					<@tform name='create_user' action='jsp/admin/user/DoCreateUser.jsp' params='enctype="multipart/form-data"' >
				  	<@input type='hidden' name='token' value='${token}' />
				  	<@row>
						<@columns md=4>
							<@fieldSet legend='#i18n{portal.users.create_user.labelAccount}'>
								<@formGroup labelFor='access_code' labelKey='${i18n("portal.users.modify_password_default_module.form.password.new")}' mandatory=true rows=2>
									<@input type='text' name='access_code' id='access_code' value='${import_user.accessCode!}' />
								</@formGroup>   
							</@fieldSet>
							<@fieldSet legend='#i18n{portal.users.create_user.labelIdentity}'>
								<@formGroup labelFor='last_name' labelKey='${i18n("portal.users.modify_user.labelLastName")}' mandatory=true rows=2>
									<@input type='text' name='last_name' id='last_name' value='${import_user.lastName!}' maxlength=100 />
								</@formGroup>  
								<@formGroup labelFor='first_name' labelKey='${i18n("portal.users.modify_user.labelFirstName")}' mandatory=true rows=2>
									<@inputGroup>
										<@inputGroupItem type='text'>
											<@icon style='user' />
										</@inputGroupItem>
										<@input type='text' name='first_name' id='first_name' value='${import_user.firstName!}' maxlength=100 />
									</@inputGroup>
                            	</@formGroup>   
                            	<@formGroup labelFor='email' labelKey='${i18n("portal.users.modify_user.labelEmail")}' mandatory=true rows=2>
                                	<@input type='email' name='email' id='email' value='${import_user.email!}' maxlength=100 />
                            	</@formGroup>  
							</@fieldSet>
						</@columns>
						<@columns md=4>
							<@fieldSet legend='#i18n{portal.users.create_user.labelAttributes}'>
								<#if displayFieldset( user_levels attributes_list )>
									<#if (user_levels?has_content)>
										<@formGroup labelFor='user_level' labelKey='${i18n("portal.users.create_user.userLevelLabel")}' rows=2>
											<@select class='input-sm' name='user_level'>
												<#list user_levels as user_level>
													<#if user_level.id = default_user_level.id>
														<option value="${user_level.id}" selected="selected">${user_level.name}</option>
													<#else>
														<option value="${user_level.id}">${user_level.name}</option>
													</#if>
												</#list>
											</@select>
										</@formGroup>  
										<@formGroup labelFor='workgroup_key' labelKey='${i18n("portal.role.create_role.labelWorkgroupKey")}' mandatory=true rows=2>
											<@select name='workgroup_key' default_value='${workgroup_key_default_value}' items=workgroup_key_list sort=true />
										</@formGroup> 	
										<@formGroup labelFor='workgroup_key' labelKey='${i18n("portal.users.create_user.labelLanguage")}' rows=2>
											<@select name='language' default_value='${default_user_language}' items=languages_list sort=true />
										</@formGroup> 	
									</#if>
								</#if>
								<@formGroup labelFor='accessibility_mode' hideLabel=['all'] rows=2>
									<@checkBox name='accessibility_mode' id='accessibility_mode' value='1' labelKey='#i18n{portal.users.create_user.labelAccessibilityMode}' labelFor='accessibility_mode' checked=ischecked />
								</@formGroup>
							</@fieldSet>
						</@columns>
						<@columns md=4>
							<@fieldSet legend='#i18n{portal.users.create_user.labelComplementaryAttributes}'>
								<@formGroup labelFor='status' labelKey='${i18n("portal.users.modify_user.labelStatus")}' rows=2>
									<@select name="status">
										<#if default_user_status = 1>
											<option value="0">#i18n{portal.users.create_user.statusLabelEnabled}</option>
											<option value="1" selected="selected">#i18n{portal.users.create_user.statusLabelDisabled}</option>
										<#else>
											<option value="0" selected="selected">#i18n{portal.users.create_user.statusLabelEnabled}</option>
											<option value="1">#i18n{portal.users.create_user.statusLabelDisabled}</option>
										</#if>
									</@select>
								</@formGroup>
								<#if displayFieldset( user_levels attributes_list )>
									<#list attributes_list as attribute>
										<#if attribute.plugin?exists && attribute.plugin.name =="profiles">
											${attribute.getHtmlFormAttribute( locale )}
											<#break>
										</#if>
									</#list>
								</#if>
								<#if attributes_list?has_content>
									<#list attributes_list as attribute>
										<#if !attribute.plugin?exists || ( attribute.plugin?exists && attribute.plugin.name !="profiles" )>
											${attribute.getHtmlFormAttribute( locale )}
										</#if>
									</#list>
								</#if>
							</@fieldSet>
						</@columns>
					</@row>
					<@row>
						<@columns offsetMd=4 md=4>	
							<@button type='submit' style='btn-block' buttonIcon='check' title='#i18n{portal.users.manage_users.buttonLabelAddUser}' />
						</@columns>
					</@row>
					</@tform>
				</@boxBody>
			</@box>
		<#else>
			<@alert color="danger">#i18n{portal.users.create_user.error.accessCodeNotFound}</@alert>
		</#if>
    </@columns>
</@row>
