<div class="content-box">
	<h2>#i18n{portal.users.create_user.titleCreationForm}</h2>
	
	<#if import_user?has_content>
		<form method="post" name="create_user" action="jsp/admin/user/DoCreateUser.jsp"  >
			<#if (user_levels?has_content)>
			<p>
                            <label for="user_level">#i18n{portal.users.create_user.userLevelLabel} :</label>
				<select id="user_level" name="user_level">
                                <#list user_levels as user_level>
                                    <option value="${user_level.id}">${user_level.name}</option>
                                </#list>
                                </select>
                        </p>			
			</#if>                    
			<p>
				<label for="access_code" >#i18n{portal.users.create_user.labelAccessCode} * :</label>
				<input type="hidden" id="access_code" name="access_code" value="${import_user.accessCode?if_exists}" />
				<strong>${import_user.accessCode?if_exists}</strong>
			</p>
			<p>
				<label for="last_name" >#i18n{portal.users.create_user.labelLastName} * :</label>
				<input type="text"  id="last_name" name="last_name" value="${import_user.lastName?if_exists}" maxlength="100" size="35" tabindex="2" />
			</p>
			<p>
				<label for="first_name">#i18n{portal.users.create_user.labelFirstName} * :</label>
				<input type="text" id="first_name" name="first_name" value="${import_user.firstName?if_exists}" maxlength="100" size="35" tabindex="3" />
			</p>
			<p>
				<label for="email">#i18n{portal.users.create_user.labelEmail} :</label>
				<input type="text" id="email" name="email" value="${import_user.email?if_exists}" maxlength="100" size="35" tabindex="4" />
			</p>
                        <p>
                             <label for="language">#i18n{portal.users.create_user.labelLanguage} :</label>
                             <@combo name="language" default_value="${current_language}" items=languages_list />
                        </p>
			<p>
                            <label for="status">#i18n{portal.users.create_user.labelStatus} :</label>
                            <select id="status" name="status" tabindex="5">
                                <option value="0" selected="selected" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
				<option value="1" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
                            </select>
			</p>
			<p>
                            <input type="submit" value="#i18n{portal.users.create_user.buttonLabelCreate}" tabindex="6" class="button" />   
                        </p>
	    
			<script language="JavaScript">
				window.onload = create_user.access_code.focus
			</script>
			
		</form>
	<#else>
			<p>#i18n{portal.users.create_user.error.accessCodeNotFound}</p>
	
	</#if>

</div>
