<div class="row-fluid">
	<form class="form-horizontal" method="post" name="import_users_from_file" action="jsp/admin/user/DoImportUsersFromFile.jsp">
		<fieldset>
		    <legend>#i18n{portal.users.export_users.pageTitle}</legend> 
			<ul class="nav nav-tabs">
				<li>
					<a href="jsp/admin/user/ImportUsersFromFile.jsp" >#i18n{portal.users.import_users_from_file.labelImportUsers}</a>
				</li>
				<li class="active">
					<a href="jsp/admin/user/ExportUsers.jsp">#i18n{portal.users.export_users.labelExportUsers}</a>
				</li>
			</ul>
<!-- 			<div class="control-group"> -->
<!-- 				<label class="control-label" for="import_file">#i18n{portal.users.import_users_from_file.labelImportFile} :</label> -->
<!-- 				<div class="controls"> -->
<!-- 					<input type="file" id="import_file" name="import_file"/> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="control-group"> -->
<!-- 				<label class="control-label" for="ignore_first_line">#i18n{portal.users.import_users_from_file.labelIgnoreFirstLine} :</label> -->
<!-- 				<div class="controls"> -->
<!-- 					<input type="checkbox" id="ignore_first_line" name="ignore_first_line"/> -->
<!-- 					<span class="help-block">#i18n{portal.users.import_users_from_file.labelHelpIgnoreFirstLine}</span> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="form-actions">
				<button class="btn btn-primary btn-small" type="submit">#i18n{portal.util.labelValidate}</button>
				<a class="btn btn-small" href="jsp/admin/user/ManageUsers.jsp">
					<i class="icon-remove-circle"></i>
					 #i18n{portal.util.labelCancel}
				</a>
			</div>
		</fieldset>
	</form>
</div>


	    
	    
	    
	