<@row>
	<@columns>
		<@tform role='form' method='post' name='anonymize_user' action='jsp/admin/user/DoChangeFieldAnonymizeAdminUsers.jsp'>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.users.anonymize_user.titleAnonymizeUser}' boxTools=true>
				<@button type='submit' buttonIcon='check' title='#i18n{portal.users.anonymize_user.buttonSave}'  size='' />
			</@boxHeader>
		</@box>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.users.create_user.labelIdentity}' boxTools=true>
				<@button style='btn-box-tool' params='data-widget="collapse"' buttonIcon='minus' />
			</@boxHeader>
			<@boxBody>
					<fieldset>
						<@formGroup>
							<#if access_code?? && access_code>
								<#assign checked = true>
							<#else>
								<#assign checked = false>
							</#if>
							<@checkBox id='access_code' name='access_code' value='true' checked=checked labelKey='#i18n{portal.users.create_user.labelAccessCode}' labelFor='access_code' />
						</@formGroup>
						<@formGroup>
							<#if last_name?? && last_name>
								<#assign checked = true>
							<#else>
								<#assign checked = false>
							</#if>
							<@checkBox id='last_name' name='last_name' value='true' checked=checked labelKey='#i18n{portal.users.create_user.labelLastName}' labelFor='last_name' />
						</@formGroup>
						<@formGroup>
							<#if first_name?? && first_name>
								<#assign checked = true>
							<#else>
								<#assign checked = false>
							</#if>
							<@checkBox id='first_name' name='first_name' value='true' checked=checked labelKey='#i18n{portal.users.create_user.labelFirstName}' labelFor='first_name' />
						</@formGroup>
						<@formGroup>
							<#if email?? && email>
								<#assign checked = true>
							<#else>
								<#assign checked = false>
							</#if>
							<@checkBox id='email' name='email' value='true' checked=checked labelKey='#i18n{portal.users.create_user.labelEmail}' labelFor='email' />
						</@formGroup>
					</fieldset>	
			</@boxBody>
		</@box>
		<#if attributes_list?has_content>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.users.create_user.labelComplementaryAttributes}' boxTools=true>
				<@button style='btn-box-tool' params='data-widget="collapse"' buttonIcon='minus' />
			</@boxHeader>
			<@boxBody>
				<fieldset>
					<#list attributes_list as attribute>
						<#if !attribute.plugin?exists || ( attribute.plugin?exists && attribute.plugin.name != "profiles" )>
						<@formGroup labelFor='attribute_${attribute.idAttribute}' labelKey='${attribute.title}'>
							<#if attribute.anonymize>
								<#assign checked = true>
							<#else>
								<#assign checked = false>
							</#if>
							<@checkBox id='attribute_${attribute.idAttribute}' name='attribute_${attribute.idAttribute}' value='true' checked=checked />
						</@formGroup>
						</#if>
					</#list>
				<fieldset>
			</@boxBody>
		</@box>			
		</#if>
	</@tform>
	</@columns>
</@row>