<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="box box-success">
			<div class="box-body">
				<form class="form-horizontal" enctype="multipart/form-data" method="post" name="import_users_from_file" action="jsp/admin/user/DoImportUsersFromFile.jsp">
					<ul class="nav nav-tabs">
						<li>
							<a href="jsp/admin/user/ExportUsers.jsp">#i18n{portal.users.export_users.labelExportUsers}</a>
						</li>
						<li class="active">
							<a href="jsp/admin/user/ImportUsersFromFile.jsp" >#i18n{portal.users.import_users_from_file.labelImportUsers}</a>
						</li>
					</ul>
					<div class="form-group">
						<label class="col-xs-12 col-sm-12 col-md-2 col-lg-3" for="import_file">#i18n{portal.users.import_users_from_file.labelImportFile} * :</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
							<input type="file" id="import_file" name="import_file"/>
							<span class="help-block">#i18n{portal.users.import_users_from_file.labelCSVSeparator} "<strong>${csv_separator}</strong>".<br />
							#i18n{portal.users.import_users_from_file.labelListColumns}<br />
							#i18n{portal.users.import_users_from_file.labelComplementaryAttributes} "<strong>${attributes_separator}</strong>".<br />
							#i18n{portal.users.import_users_from_file.labelRightsRolesWorkgroup}</span>
							<span class="help-block">#i18n{portal.users.import_users_from_file.labelFileEncoding}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-12 col-md-2 col-lg-3" for="ignore_first_line"></label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="ignore_first_line" name="ignore_first_line">
									#i18n{portal.users.import_users_from_file.labelIgnoreFirstLine}
								</label>
							</div>
							<p class="help-block">#i18n{portal.users.import_users_from_file.labelHelpIgnoreFirstLine}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-12 col-md-2 col-lg-3" for="update_existing_users"></label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="update_existing_users" name="update_existing_users">
									#i18n{portal.users.import_users_from_file.labelUpdateExistingUsers}
								</label>
							</div>	
							<p class="help-block">#i18n{portal.users.import_users_from_file.labelHelpUpdateExistingUsers}</p>
						</div>
					</div>
					<#if messages?? && messages?has_content>
						<#list messages as message>
							<div <#if message.messageLevel?string == "ERROR">class="alert-danger"</#if>>
								<#if 0 < message.lineNumber >#i18n{portal.users.import_users_from_file.lineNumber} ${message.lineNumber} - </#if>${message.messageContent}
							</div>
						</#list>
					</#if>
					<div class="form-group">
						<div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-3">
							<button class="btn btn-primary btn-flat" type="submit">
								<i class="glyphicon glyphicon-ok"></i> #i18n{portal.util.labelValidate}
							</button>
							<a class="btn btn-default btn-flat" href="jsp/admin/user/ManageUsers.jsp">
								<i class="glyphicon glyphicon-remove-circle"></i> #i18n{portal.util.labelBack}
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


	    
	    
	    
	