<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">#i18n{portal.users.import_module_user.searchBoxTitle}</h3>
			</div>
			<div class="box-body">
				<form class="form-horizontal" method="post"  name="searchUsers" action="jsp/admin/user/ImportUser.jsp">
				  <div class="form-group">
						<label class="col-xs-12 col-sm-12 col-md-2 col-lg-3" for="last_name" >#i18n{portal.users.import_module_user.searchBoxLabelLastName} :</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
							<input type="text" id="last_name"  name="last_name" value="${last_name?if_exists}" maxlength="100" size="35">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-12 col-md-2 col-lg-3" for="first_name" >#i18n{portal.users.import_module_user.searchBoxLabelFirstName} :</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
							<input type="text" id="first_name"  name="first_name" value="${first_name?if_exists}" maxlength="100" size="35">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-12 col-md-2 col-lg-3" for="email" >#i18n{portal.users.import_module_user.searchBoxLabelEmail} :</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
							<input type="text" id="email"  name="email" value="${email?if_exists}" maxlength="100" size="100">
						</div>
					</div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-3">
					       <button class="btn btn-primary btn-sm" type="submit" >#i18n{portal.users.import_module_user.searchBoxbuttonLabelSearch}</button>
                        </div>
                    </div>
				</fieldset>
				</form>
				<#if import_user_list?has_content>
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">#i18n{portal.users.import_module_user.resultBoxTitle}</h3>
						</div><!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover table-condensed">
								<thead>
									<tr>
										<th>#i18n{portal.users.import_module_user.resultColumnTitleLastName}</th>
										<th>#i18n{portal.users.import_module_user.resultColumnTitleFirstName}</th>
										<th>#i18n{portal.users.import_module_user.resultColumnTitleEmail}</th>
										<th>#i18n{portal.users.import_module_user.resultColumnTitleActions}</th>
										<th>
									</tr>
								</thead>
								<tbody>
								<#list import_user_list as user >
									<tr>
										<td>${user.lastName?if_exists}</td>
										<td>${user.firstName?if_exists}</td>
										<td>${user.email?if_exists}</td>
										<td>
										<form class="form-inline" method="post"  name="importUsers" action="jsp/admin/user/DoSelectImportUser.jsp">
											<input type="hidden" name="access_code" value="${user.accessCode}">
											<button class="btn btn-primary btn-xs btn-flat" type="submit">#i18n{portal.users.import_module_user.resultButtonLabelImportUser}</button>
										</form>
										</td>
									</tr>
								</#list>
								</tbody>
							</table>
						</div>
					</div>
				</#if>
			</div>	
		</div>	
	</div>	
</div>
