<@pageContainer>
    <@pageColumn>
        <@pageHeader title=' ${user.lastName} ${user.firstName}'>
            <@item_navigation item_navigator=item_navigator hideButtonTitle=['xs','sm'] buttonSize='' />
        </@pageHeader>
		<@tabs>
			<@tabList>
				<@tabLink href='jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelUser}' />
				<@tabLink href='jsp/admin/user/ModifyUserPassword.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelPassword}' />
				<@tabLink href='jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelRights}' />
				<@tabLink active=true href='jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelRoles}' />
				<@tabLink href='jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelWorkgroups}' />
			</@tabList>
			<@tabContent>
				<@div class='d-flex justify-content-between'>
					<h2>#i18n{portal.users.manage_user_roles.titleRoleList}</h2>
					<@tform align='right' method='post' name='modifyform' action='jsp/admin/user/ModifyUserRoles.jsp'>
						<@input type='hidden' name='id_user' value='${user.userId}' />
						<@input type='hidden' name='delegate_rights' value='false' />
						<#if can_modify>
							<@button type='submit' buttonIcon='edit' title='#i18n{portal.users.manage_user_roles.buttonLabelModifyRoles}' size='' hideTitle=['xs','sm'] />
						</#if>
						<#if can_delegate>
							<@button type='submit' buttonIcon='users-plus' title='#i18n{portal.users.manage_user_roles.buttonLabelDelegateRoles}' size='' hideTitle=['xs','sm'] params=' data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="#i18n{portal.users.modify_user_rights.informationRightModification}"' />
						</#if>
					</@tform>
				</@div>
				<@table headBody=true >
					<@tr>
						<@th>#i18n{portal.users.manage_user_roles.columnTitleKey}</@th>
						<@th>#i18n{portal.users.manage_user_roles.columnTitleDescription}</@th>
					</@tr>
					<@tableHeadBodySeparator />
					<#list user_role_list?sort_by('key') as role>
					<@tr>
						<@td>${role.key}</@td>
						<@td>${role.description}</@td>            
					</@tr>
					</#list>
				</@table>
			</@tabContent>
		</@tabs>
	</@pageColumn>
</@pageContainer>
<@initToolTip />