<@pageContainer>
    <@pageColumn>
		<#assign userImg>
		<#if adminAvatar??>
			<@img url='servlet/plugins/adminavatar/avatar?id_user=${user.userId}' class='img-fluid thumbnail me-2 bg-primary rounded' alt='' style='max-width:80px' title='Avatar' />
		<#else>    
			<@img url='themes/admin/shared/images/unknown.svg' class='img-fluid thumbnail me-2 bg-primary rounded' alt='' title='' />
		</#if>
		</#assign>
        <@pageHeader title='${userImg} ${user.lastName} ${user.firstName}'>
            <@item_navigation item_navigator=item_navigator />
        </@pageHeader>
		<@tabs>
			<@tabList>
				<@tabLink href='jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelUser}' />
				<@tabLink href='jsp/admin/user/ModifyUserPassword.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelPassword}' />
				<@tabLink active=true href='jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelRights}' />
				<@tabLink href='jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelRoles}' />
				<@tabLink href='jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelWorkgroups}' />
			</@tabList>
			<@tabContent>
				<@div class='d-flex justify-content-between mb-2'>
					<@h level=3>#i18n{portal.users.manage_user_right.titleRightList}</@h>
					<@tform method='post' name='modifyform' action='jsp/admin/user/ModifyUserRights.jsp' class='d-flex justify-content-end is-flex is-justify-content-end'>
					<@input type='hidden' name='id_user' value='${user.userId}' />
					<@input type='hidden' name='delegate_rights' value='false' />
					<#if can_modify>
						<@button type='submit' buttonIcon='edit' title='#i18n{portal.users.manage_user_rights.buttonLabelModifyRights}' class='me-2' hideTitle=['xs','sm'] />
					</#if>
					<#if can_delegate>
						<@button type='submit' buttonIcon='users-plus' title='#i18n{portal.users.manage_user_rights.buttonLabelDelegateRights}' hideTitle=['xs','sm'] params=' data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="#i18n{portal.users.modify_user_rights.informationRightModification}"' />
					</#if>
					</@tform>
				</@div>
				<#-- #i18n{portal.users.manage_user_rights.columnTitleName} / #i18n{portal.users.manage_user_rights.columnTitleDescription} / "i18n{portal.users.manage_user_rights.columnTitleLevel} -->
				<@listGroup id="user-right-list">
					<#list user_right_list?sort_by('name') as right>
						<@listGroupItem><@p>${right.name} - <strong>#i18n{portal.users.manage_user_rights.columnTitleLevel} : ${right.level}</strong></@p><@p>${right.description}</@p></@listGroupItem>
					</#list>
				</@listGroup >
			</@tabContent>
		</@tabs>
	</@pageColumn>
</@pageContainer>
<@initToolTip />