<div id="content-box-actions">
	<form method="post" action="jsp/admin/user/attribute/ManageAttributes.jsp">
   		<input type="submit" class="button bt-toolbar" value="#i18n{portal.users.manage_advanced_parameters.buttonLabelAttributeManagement}" />
   	</form>
	<form method="post" action="jsp/admin/user/ChangeFieldAnonymizeAdminUsers.jsp">
   		<input type="submit" class="button bt-toolbar" value="#i18n{portal.users.manage_advanced_parameters.buttonLabelAnonymizationOptions}" />
   	</form>
</div>
<div class="content-box">
	<h2>#i18n{portal.users.manage_advanced_parameters.pageTitle}</h2> 
	<#include "advanced_parameters.html" />
</div>