<div class="row">
	<div class="container">
	<fieldset>
    <legend>#i18n{portal.users.manage_advanced_parameters.pageTitle}
		<div class="btn-group pull-right">
			<form class="form-inline" method="post" action="jsp/admin/user/attribute/ManageAttributes.jsp">
			<button class="btn btn-primary pull-right" type="submit" >
				<i class="icon-plus icon-white" ></i>
				<span class="hidden-phone" >#i18n{portal.users.manage_advanced_parameters.buttonLabelAttributeManagement}</span>
			</button>
			</form>
			<form class="form-inline" method="post" action="jsp/admin/user/ChangeFieldAnonymizeAdminUsers.jsp">
			<button class="btn btn-primary pull-right" type="submit" >
				<i class="icon-plus icon-white" ></i>
				<span class="hidden-phone" >&nbsp;#i18n{portal.users.manage_advanced_parameters.buttonLabelAnonymizationOptions}</span>
			</button>
			</form>
		</div>
	</legend> 
    <#include "advanced_parameters.html" />
	</fieldset>
	</div>
</div>