<div class="row-fluid">
	<div class="span12">
		<div class="well well-small"><i class="icon-user"></i>&nbsp;${user.lastName} ${user.firstName}</div>
        <span class="pull-right"><small><@item_navigation item_navigator=item_navigator /></small></span>
        <ul class="nav nav-tabs">
			<li>
				<a href="jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}" >#i18n{portal.users.actions.labelUser}</a>
            </li>
            <li><a href="jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelRights}</a></li>
            <li class="active"><a href="jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelRoles}</a></li>
            <li><a href="jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelWorkgroups}</a></li>
        </ul>
        <form method="post" name="modifyform" action="jsp/admin/user/ModifyUserRoles.jsp" class="form-inline pull-right">               
        <input type="hidden" name="id_user" value="${user.userId}" />
        <input type="hidden" name="delegate_rights" value="false"/>
        <#if can_modify>
        <button type="submit"class="btn btn-primary btn-small" ><i class="icon-edit icon-white"></i>&nbsp;#i18n{portal.users.manage_user_roles.buttonLabelModifyRoles}</button>
        </#if>
        <#if can_delegate>
        <button type="submit" class="btn btn-primary btn-small" ><i class="icon-share icon-white"></i>&nbsp;#i18n{portal.users.manage_user_roles.buttonLabelDelegateRoles}</button>      
        </#if>
        </form>
		<div class="row-fluid">
            <div class="span10 ">
			<h3>#i18n{portal.users.manage_user_roles.titleRoleList}</h3>         
            <table class="table table-striped table-condensed">
				<tr>
					<th>#i18n{portal.users.manage_user_roles.columnTitleKey}</th>
                    <th>#i18n{portal.users.manage_user_roles.columnTitleDescription}</th>
                </tr>
                <#list user_role_list?sort_by('key') as role>
                <tr>
					<td>${role.key}</td>
                    <td>${role.description}</td>			
                </tr>
                </#list>		
            </table>
			</div>
		</div>
	</div>
</div>
