<@pageContainer>
    <@pageColumn>
		<#assign userImg>
		<#if adminAvatar??>
			<@img url='servlet/plugins/adminavatar/avatar?id_user=${user.userId}' class='img-fluid thumbnail me-2 bg-primary rounded' alt='' style='max-width:80px' title='Avatar' />
		<#else>    
			<@img url='themes/admin/shared/images/unknown.svg' class='img-fluid thumbnail me-2 bg-primary rounded' alt='' title='' />
		</#if>
		</#assign>
        <@pageHeader title='${userImg} ${user.lastName} ${user.firstName}'>
            <@item_navigation item_navigator=item_navigator />
        </@pageHeader>
		<@tabs>
			<@tabList>
				<@tabLink href='jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelUser}' />
				<@tabLink href='jsp/admin/user/ModifyUserPassword.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelPassword}' />
				<@tabLink href='jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelRights}' />
				<@tabLink href='jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelRoles}' />
				<@tabLink active=true href='jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}' title='#i18n{portal.users.actions.labelWorkgroups}' />
			</@tabList>
			<@tabContent>
				<@div class='d-flex justify-content-between'>
					<h2>#i18n{portal.users.manage_user_workgroups.titleRightList}</h2>
					<@tform type='inline' class='mt-1' method='post' name='modifyform' action='jsp/admin/user/ModifyUserWorkgroups.jsp'>
						<@input type='hidden' name='id_user' value='${user.userId}' />
						<@input type='hidden' name='delegate_rights' value='false' />
						<#if can_delegate>
							<@button type='submit' buttonIcon='users-plus' title='#i18n{portal.users.manage_user_workgroups.buttonLabelDelegate}' params='data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="#i18n{portal.users.modify_user_rights.informationRightModification}"' />
						</#if>
					</@tform>
				</@div>
				<@listGroup id="user-workgroup-list">
					<#list user_workgroup_list?sort_by('code') as workgroup>
						<@listGroupItem>
							<@p>#i18n{portal.users.manage_user_workgroups.columnTitleName} : <strong>${workgroup.code}</strong> - #i18n{portal.users.manage_user_workgroups.columnTitleDescription} :	 ${workgroup.name}</@p>
						</@listGroupItem>
					</#list>
				</@listGroup>
			</@tabContent>
		</@tabs>
	</@pageColumn>
</@pageContainer>
<@initToolTip />