<@pageWrapper>
<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.users.modify_password_default_module.form.title}'/>
        <@row>
            <@columns xs=12 sm=8>
                <@tform action='jsp/admin/user/DoModifyDefaultUserPassword.jsp' method='post' role='form' boxed=true boxClass='h-100'>
                    <@input type='hidden' name='token' value='${token}' />
                    <@formGroup labelKey='#i18n{portal.users.modify_password_default_module.form.password.current}' labelFor='password_current' mandatory=true rows=2>
                        <@row>
                            <@columns xs=12 sm=6 class='pe-0'>
                                <@div class='input-icon'>
                                    <@span class='input-icon-addon'><@icon style='lock' /></@span>
                                    <@input type='password' id='password_current' name='password_current' placeHolder='#i18n{portal.users.modify_password_default_module.form.password.current}' params='autocomplete="off" required="required"' />
                                </@div>
                            </@columns>
                            <@div class='col-auto ps-1'>
                                <@button color='secondary' class='btn btn-2 btn-icon'  title='#i18n{portal.admin.admin_login.passwordShow}' id='lutece-password-toggler' >
                                    <@icon style='eye' />
                                </@button>
                            </@div>
                        </@row>
                    </@formGroup>
                    <@formGroup labelFor='new_password' labelKey='#i18n{portal.users.modify_password_default_module.form.password.new}' helpKey='${i18n("portal.users.message.password.minimumPasswordLength",minimumPasswordSize)}' mandatory=true rows=2>
                        <@row>
                            <@columns xs=12 sm=6 class='pe-0'>
                                <@div class='input-icon'>
                                    <@span class='input-icon-addon'><@icon style='lock' /></@span>
                                    <@input type='password' name='new_password' id='new_password' params='autocomplete="off"' placeHolder='#i18n{portal.users.modify_password_default_module.form.password.new}' helpKey='${i18n("portal.users.message.password.minimumPasswordLength",minimumPasswordSize)}' />
                                </@div>
                            </@columns>
                            <@div class='col-auto pe-0'>
                                <@button class='btn-icon' title='#i18n{portal.admin.admin_login.passwordShow}' id='new-password-toggler' color='default' type='button'>
                                <@icon style='eye' />
                                </@button>
                            </@div>
                            <@div class='col-auto ps-0'>
                                <@button class='btn-icon px-2' type='button' id='generate_password' title='#i18n{portal.users.create_user.buttonLabelGeneratePassword}' buttonIcon='password-user me-2' color='default' />
                            </@div>
                        </@row>
                    </@formGroup>
                    <@formGroup labelKey='#i18n{portal.users.modify_password_default_module.form.password.confirm}' labelFor='confirm_new_password' mandatory=true rows=2>
                        <@row>
                            <@columns xs=12 sm=6 class='pe-0'>
                                <@div class='input-icon'>
                                    <@span class='input-icon-addon'><@icon style='lock' /></@span>
                                    <@input type='password' id='confirm_new_password' name='confirm_new_password' placeHolder='#i18n{portal.users.modify_password_default_module.form.password.confirm}' params='autocomplete="off" required="required"' />
                                </@div>
                            </@columns>
                        </@row>
                    </@formGroup>
                    <@formGroup labelKey='#i18n{portal.users.create_user.passwordComplexity}' rows=2>
                        <@row>
                            <@columns xs=12 sm=6>
                                <@passwordComplexity id="progress_bar_new_password" inputId="new_password" />
                            </@columns>
                        </@row>
                    </@formGroup>
                    <@formGroup>
                        <@button type='submit' buttonIcon='check' title='#i18n{portal.users.modify_password_default_module.form.button}'  size='' />
                    </@formGroup>
                </@tform>
            </@columns>
            <@columns xs=12 sm=4>
                <@alert color='info' class='h-100' iconTitle='info-circle fs-1' titleLevel='h3' title='#i18n{portal.users.modify_password_default_module.message.info.title}'>
                    ${i18n("portal.users.message.password.minimumPasswordLength",minimumPasswordSize)}
                    <#if use_advanced_security_parameters?? && use_advanced_security_parameters>
                        <@p class='my-2'>#i18n{portal.users.modify_password_default_module.message.info.constraints}</@p>
                        <@ul>
                            <#if password_format_upper_lower_case?? && password_format_upper_lower_case>
                                <@li>#i18n{portal.users.manage_advanced_parameters.passwordFormatUpperLowerCase.label}</@li>
                            </#if>
                            <#if password_format_numero?? && password_format_numero>
                                <@li>#i18n{portal.users.manage_advanced_parameters.passwordFormatNumero.label}</@li>
                            </#if>
                            <#if password_format_special_characters?? && password_format_special_characters>
                                <@li>#i18n{portal.users.manage_advanced_parameters.passwordFormatSpecialCharacters.label}</@li>
                            </#if>
                        </@ul>
                    </#if>
                    <@p class='text-center'>
                        <@img url='themes/admin/tabler/images/policy.png' class='img-fluid w-75' alt='#i18n{portal.users.modify_password_default_module.message.info.title}' />
                    </@p>
                </@alert>
            </@columns>
        </@row>
    </@pageColumn>
</@pageContainer>
</@pageWrapper>
<script type="module">
import { LutecePassword } from './themes/shared/modules/lutecePassword.js';
const password = new LutecePassword();
const generator = document.getElementById('generate_password');
const currentPassword = document.getElementById('password_current');
const newPassword = document.getElementById('new_password');
const newConfirmPassword = document.getElementById('confirm_new_password');

generator.addEventListener('click', () => {
    const newPassValue = password.generatePassword();
    newPassword.value = newPassValue
    newConfirmPassword.value = newPassValue
    newPassword.dispatchEvent(new Event('input'));
    newConfirmPassword.dispatchEvent(new Event('input'));
});

password.passwordInput = '#password_current'
password.initPassToggler( );

password.passwordInput = '#new_password,#confirm_new_password'
password.passTogglerBtn = '#new-password-toggler'
password.initPassToggler( );
</script>