<#assign boxtitle>
<@icon style='user/> ${user.lastName} ${user.firstName}
</#assign>
<@row>
	<@columns>
		<@box color='success'>
			<@boxHeader title=boxtitle>
				<@item_navigation item_navigator=item_navigator />
			</@boxHeader>
			<@boxBody>
				<@tabList>
					<li class="active">
						<@link href='jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}'>#i18n{portal.users.actions.labelUser}</@link>
					</li>
					<li><@link href='jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}'>#i18n{portal.users.actions.labelRights}</@link></li>
					<li><@link href='jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}'>#i18n{portal.users.actions.labelRoles}</@link></li>
					<li><@link href='jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}'>#i18n{portal.users.actions.labelWorkgroups}</@link></li>
				</@tabList>
				<@tform name='modify_user' id='modify_user' action='jsp/admin/user/DoModifyUser.jsp' params='enctype="multipart/form-data"'>
				<@input type='hidden' name='id_user' value='${user.userId}' />
				<@input type='hidden' name='token' value='${token}' />
				<@row>
					<#if attributes_list?has_content><@columns sm=4><#else><@columns sm=6></#if>
					<@fieldSet legend='#i18n{portal.users.modify_user.labelIdentity}'>
						<@formGroup labelFor='access_code' labelKey='${i18n("portal.users.modify_password_default_module.form.password.new")}' mandatory=true rows=2>
							<@input type='text' name='access_code' id='access_code' value="${user.accessCode!''}" />
						</@formGroup>   
						<@formGroup labelFor='last_name' labelKey='${i18n("portal.users.modify_user.labelLastName")}' mandatory=true rows=2>
							<@input type='text' name='last_name' id='last_name' value="${user.lastName!''}" />
						</@formGroup>   
						<@formGroup labelFor='first_name' labelKey='${i18n("portal.users.modify_user.labelFirstName")}' mandatory=true rows=2>
							<@input type='text' name='first_name' id='first_name' value="${user.firstName!''}" />
						</@formGroup>   
						<@formGroup labelFor='email' labelKey='${i18n("portal.users.modify_user.labelEmail")}' mandatory=true rows=2>
							<@input type='email' name='email' id='email' value="${user.email!''}" />
						</@formGroup>   
					</@fieldSet>
					</@columns>
						<#if attributes_list?has_content><@columns sm=4><#else><@columns sm=6></#if>
							<@fieldSet legend='#i18n{portal.users.modify_user.labelAttributes}'>
									<@formGroup labelKey='${i18n("portal.users.create_user.userLevelLabel")}' rows=2>
										<@staticText>${level.name}</@staticText>
									</@formGroup> 
									<@formGroup labelFor='workgroup_key' labelKey='${i18n("portal.role.create_role.labelWorkgroupKey")}' rows=2>
										<@select name='workgroup_key' default_value='${user.workgroupKey!}' items=workgroup_key_list sort=true />
									</@formGroup> 
									<@formGroup labelFor='status' labelKey='${i18n("portal.users.modify_user.labelStatus")}' rows=2>
										<@select name="status">
											<#if user.status == 0 >
												<option value="0" selected >#i18n{portal.users.modify_user.statusLabelEnabled}</option>
												<option value="1" >#i18n{portal.users.modify_user.statusLabelDisabled}</option>
											<#else>
												<option value="0" >#i18n{portal.users.modify_user.statusLabelEnabled}</option>
												<option value="1" selected >#i18n{portal.users.modify_user.statusLabelDisabled}</option>
											</#if>
										</@select>
									</@formGroup> 
									<@formGroup labelFor='language' labelKey='${i18n("portal.users.modify_user.labelLanguage")}' rows=2>
										<@select name='language' default_value='${current_language!}' items=languages_list sort=true />
									</@formGroup>
									<@formGroup labelFor='accessibility_mode' hideLabel=['all'] rows=2>
										<#assign ischecked=false />
										<#if user.accessibilityMode>
												<#assign ischecked=true />
										 </#if>
										<@checkBox name='accessibility_mode' id='accessibility_mode' labelKey='#i18n{portal.users.create_user.labelAccessibilityMode}' labelFor='accessibility_mode' checked=ischecked />
									</@formGroup>
							</@fieldSet>
					</@columns>
					<#if attributes_list?has_content>
						<@columns sm=4>
							<@fieldSet legend='#i18n{portal.users.modify_user.labelComplementaryAttributes}'>
								<@formGroup labelFor='language' labelKey='${i18n("portal.users.modify_user.labelLanguage")}' rows=2>
									<#list attributes_list as attribute>
										<#if !attribute.plugin?exists || ( attribute.plugin?exists && attribute.plugin.name != "profiles" )>
											<#assign idAttribute = "" + attribute.idAttribute>
											${attribute.getHtmlFormAttribute( locale, map_list_attribute_default_values[idAttribute] )}
										</#if>
									</#list>
								</@formGroup>
								<@formGroup labelFor='language' labelKey='${i18n("portal.users.modify_user.labelLanguage")}' rows=2>
									<#list attributes_list as attribute>
										<#if attribute.plugin?exists && attribute.plugin.name == "profiles">
											<#assign idAttribute = "" + attribute.idAttribute>
											${attribute.getHtmlFormAttribute( locale, map_list_attribute_default_values[idAttribute] )}
										 <#break>
										</#if>
									</#list>
								</@formGroup>
							</@fieldSet>
						</@columns>
					</#if>
					<@row>
						<@columns md=4 offsetMd=4>
							<@button type='submit' style='btn-block' buttonIcon='check' title='#i18n{portal.users.modify_user.buttonLabelModify}' />
						</@columns>    
					</@row>  
					</@columns>
					</@row>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>