<div id="left">
<div class="well">
<h2>#i18n{portal.users.modify_user.titleUser}</h2>
    <p class="title">
     #i18n{portal.users.modify_user.labelLastName} - #i18n{portal.users.modify_user.labelFirstName}
    </p>
    <p>${user.lastName} ${user.firstName}</p>
    <p class="title">#i18n{portal.users.modify_user.labelAccessCode}</p>
   <p><#assign userCode = user.accessCode>
      <#if userCode?length <= 20 >
     ${userCode?right_pad(20, " ")}
     <#else>
     ${userCode[0..17]}...
     </#if>
    </p>
    <p class="title">#i18n{portal.users.modify_user.actions}</p>
    <@item_navigation item_navigator=item_navigator />
    <p>
                    <a href="jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}" >
                        <img src="images/admin/skin/actions/user.png" alt="#i18n{portal.users.actions.labelUser}" title="#i18n{portal.users.actions.labelUser}" />
                    </a>                    
                    <a href="jsp/admin/user/ManageUserRights.jsp?id_user=${user.userId}" >
                        <img src="images/admin/skin/actions/right.png" alt="#i18n{portal.users.actions.labelRights}" title="#i18n{portal.users.actions.labelRights}" />
                    </a>                    
                    <a href="jsp/admin/user/ManageUserWorkgroups.jsp?id_user=${user.userId}" >
    	                <img src="images/admin/skin/actions/group.png" alt="#i18n{portal.users.actions.labelWorkgroups}" title="#i18n{portal.users.actions.labelWorkgroups}" />
	                </a>
                </p>
    </div>
</div>
<div id="right">
<form method="post"  action="jsp/admin/user/DoModifyUserRoles.jsp" >	
    <div class="well">
         <h2>#i18n{portal.users.modify_user_roles.titleRoleModificationForm}</h2>              
                <#list all_role_list?sort_by('key') as role>
                <p>
                    <#assign checked = "" >
                    <#list user_role_list as user_role>
                    
                    <#if user_role.key = role.key >
                    <#assign checked >checked="checked"</#assign>
                    <#break>
                    </#if>
                    
                    </#list>
                    
                    <input class="checkbox" type="checkbox" name="roles" value="${role.key}" ${checked} />
                           <strong>${role.key}</strong> (${role.description})		
                </p>
                </#list>
                
                <input type="hidden" name="id_user" value="${user.userId}" />
                <input type="submit"  value="#i18n{portal.users.modify_user_roles.buttonLabelModifyRoles}"  class="button" />
    </div>
</form>    
</div>