<div class="row-fluid">
        <div class="span12">
            <div class="well well-small"><i class="icon-user"></i>&nbsp;${user.lastName} ${user.firstName}
            <span class="pull-right"><small><@item_navigation item_navigator=item_navigator /></small></span></div>
            <ul class="nav nav-tabs">
                <li>
                    <a href="jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}" >#i18n{portal.users.actions.labelUser}</a>
                </li>
                <li><a href="jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelRights}</a></li>
                <li><a href="jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelRoles}</a></li>
                <li class="active"><a href="jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelWorkgroups}</a></li>
            </ul>
            <form class="form-horizontal" method="post"  action="jsp/admin/user/DoModifyUserWorkgroups.jsp" >
                <fieldset>	
                    <legend>#i18n{portal.users.modify_user_workgroups.titleRightModificationForm}</legend>
                    <input type="hidden" name="delegate_rights" value="${can_delegate}" />
                    <#list all_workgroup_list?sort_by('code') as workgroup>
                    <#if workgroup.checked>
                    <#assign checked = "checked='checked'"/>
                    <#else>
                    <#assign checked = ""/>
                    </#if>
                    <div class="controls">
                        <label class="checkbox">${workgroup.name}
                            <input class="checkbox" type="checkbox" name="workgroup" value="${workgroup.code}" ${checked}/>
                        </label>
                    </div>
                    </#list>        
                    <input type="hidden" name="id_user" value="${user.userId}" />
                    <div class="form-actions">                
                        <button class="btn btn-primary btn-small" type="submit" >#i18n{portal.users.modify_user_workgroups.buttonLabelModifyWorkgroups}</button>
                    </div>	
            </fieldset>
        </form>
    </div>
</div>