<@row>
	<@columns>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.users.modify_password_default_module.form.title}' />
			<@boxBody>
				<@tform action='jsp/admin/user/DoModifyDefaultUserPassword.jsp' method='post' role='form'>
					<@input type='hidden' name='token' value='${token}' />
					<@formGroup labelKey='#i18n{portal.users.modify_password_default_module.form.password.current}' labelFor='password_current' mandatory=true>
						<@inputGroup>
							<@inputGroupItem type='text'>
								<@icon style='lock' />
							</@inputGroupItem>
							<@input type='password' id='password_current' name='password_current' placeHolder='#i18n{portal.users.modify_password_default_module.form.password.current}' params='autocomplete="off" required="required"' />
						</@inputGroup>
					</@formGroup>
					<@formGroup labelFor='new_password' labelKey='#i18n{portal.users.modify_password_default_module.form.password.new}' helpKey='${i18n("portal.users.message.password.minimumPasswordLength",minimumPasswordSize)}' mandatory=true>
						<@inputGroup>
							<@inputGroupItem type='text'>
								<@icon style='lock' />
							</@inputGroupItem>
							<@input type='password' name='new_password' id='new_password' params='autocomplete="off"' placeHolder='#i18n{portal.users.modify_password_default_module.form.password.new}' />
						</@inputGroup>
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.users.modify_password_default_module.form.password.confirm}' labelFor='confirm_new_password' mandatory=true>
						<@inputGroup>
							<@inputGroupItem type='text'>
								<@icon style='lock' />
							</@inputGroupItem>
							<@input type='password' id='confirm_new_password' name='confirm_new_password' placeHolder='#i18n{portal.users.modify_password_default_module.form.password.confirm}' params='autocomplete="off" required="required"' />
						</@inputGroup>
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.users.create_user.passwordComplexity}'>
						<@progressBar />
					</@formGroup>
					<@formGroup>
						<@button type='submit' buttonIcon='check' title='#i18n{portal.users.modify_password_default_module.form.button}'  size='' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<script src="js/admin/jquery/plugins/jquery.complexify.js"></script>
<script>
$(document).ready(function(){
	$("#new_password").complexify({}, function (valid, complexity) {
		var progressBar = $('#progressbar');
		progressBar.toggleClass('progress-bar-success', valid);
		progressBar.toggleClass('progress-bar-danger', !valid);
		progressBar.css({'width': complexity + '%'});
		$('#complexity').html(Math.round(complexity) + '%');
	});
});
</script>