<div class="row-fluid">
	<div class="span8 ">
        <fieldset>
        <legend>#i18n{portal.users.modify_password_default_module.form.title}</legend>
		<form action="jsp/admin/user/DoModifyDefaultUserPassword.jsp" method="post" class="well form" >
        <label for="password_current">#i18n{portal.users.modify_password_default_module.form.password.current} *</label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password_current" id="password_current" autocomplete="off" required="required" placeholder="#i18n{portal.users.modify_password_default_module.form.password.current}"  tabindex="1" />
                    </div>
                    <label for="password">#i18n{portal.users.modify_password_default_module.form.password.new} *</label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password" id="password" autocomplete="off" required="required" placeholder="#i18n{portal.users.modify_password_default_module.form.password.new}"  tabindex="2" />
                    </div>
					<div id="status">
						#i18n{portal.users.create_user.passwordComplexity} : 
					</div>
					<div id="progressbar" class="progress progress-striped" style="width:250px;">
						<div id="progress" ><div id="complexity">0%</div></div>
					</div>
					<label for="confirm_new_password">#i18n{portal.users.modify_password_default_module.form.password.confirm} *</label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span><input type="password" name="confirm_new_password" id="confirm_new_password" autocomplete="off" required="required" placeholder="#i18n{portal.users.modify_password_default_module.form.password.confirm}"  tabindex="3" />
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary btn-small" tabindex="4" type="submit">
							<i class="icon-ok-sign icon-white"></i>&nbsp;#i18n{portal.users.modify_password_default_module.form.button}
						</button>
                    </div>
        </form>
        </fieldset>
    </div>
</div>
<script src="js/jquery.complexify.js"></script>
<script>
$(document).ready(function(){
	$("#password").complexify({}, function (valid, complexity) {
		if (!valid) {
			$('#progress').css({'width':complexity + '%'}).removeClass('bar bar-success').addClass('bar bar-danger');
		} else {
			$('#progress').css({'width':complexity + '%'}).removeClass('bar bar-danger').addClass('bar bar-success');
			}
		$('#complexity').html(Math.round(complexity) + '%');
	});
});
</script>