<div class="row">
    <div class="span12">
        <div class="well well-small"><i class="icon-user"></i>&nbsp;${user.lastName} ${user.firstName}</div>
		<span class="pull-right"><small><@item_navigation item_navigator=item_navigator /></small></span>
		
        <ul class="nav nav-tabs">
            <li>
                <a href="jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}" >#i18n{portal.users.actions.labelUser}</a>
            </li>
            <li><a href="jsp/admin/user/ModifyUserRights.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelRights}</a></li>
            <li  class="active"><a href="jsp/admin/user/ModifyUserRoles.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelRoles}</a></li>
            <li><a href="jsp/admin/user/ModifyUserWorkgroups.jsp?id_user=${user.userId}">#i18n{portal.users.actions.labelWorkgroups}</a></li>
        </ul>
        <h2>#i18n{portal.users.modify_user_role.titleRoleModificationForm}</h2>
        <form class="form-horizontal" method="post"  action="jsp/admin/user/DoModifyUserRoles.jsp" >
			<fieldset>	
            <legend>#i18n{portal.users.modify_user_roles.titleRoleModificationForm}
			<button class="btn btn-primary btn-small pull-right" type="submit" >
						<i class="icon-ok icon-white"></i>&nbsp;#i18n{portal.users.modify_user_roles.buttonLabelModifyRoles}
					</button>
			</legend> 
				<ul class="unstyled">
                <#list all_role_list?sort_by('key') as role>
                    <#assign checked = "" >
                    <#list user_role_list as user_role>
                        <#if user_role.key = role.key >
							<#assign checked >checked="checked"</#assign>
                        <#break>
						</#if>
                    </#list>
                    <li>
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <label class="checkbox">${role.key} - ${role.description}
                                <input class="checkbox" type="checkbox" name="roles" value="${role.key}" ${checked} />
                            </label>
                        </div>
                    </li>
                </#list>
                </ul>  
                <input type="hidden" name="id_user" value="${user.userId}" />
                <div class="form-actions">
                    <button class="btn btn-primary btn-small" type="submit" >
						<i class="icon-ok icon-white"></i>&nbsp;#i18n{portal.users.modify_user_roles.buttonLabelModifyRoles}
					</button>
                </fieldset>
				</div>
        </form>    
    </div>
</div>