<div class="well span3">
<div class="well">
<legend>#i18n{portal.users.modify_user.titleUser}</legend>
    <p class="title">
     #i18n{portal.users.modify_user.labelLastName} - #i18n{portal.users.modify_user.labelFirstName}
    
    ${user.lastName} ${user.firstName}
    <p class="title">#i18n{portal.users.modify_user.labelAccessCode}
   <#assign userCode = user.accessCode>
      <#if userCode?length <= 20 >
     ${userCode?right_pad(20, " ")}
     <#else>
     ${userCode[0..17]}...
     </#if>
    
    <p class="title">#i18n{portal.users.modify_user.actions}
    <@item_navigation item_navigator=item_navigator />
    
        <a href="jsp/admin/user/ModifyUser.jsp?id_user=${user.userId}" >
          <img src="images/admin/skin/actions/user.png" alt="#i18n{portal.users.actions.labelUser}" title="#i18n{portal.users.actions.labelUser}" />
         </a>
         <a href="jsp/admin/user/ManageUserRoles.jsp?id_user=${user.userId}" >
            <img src="images/admin/skin/actions/rbac.png" alt="#i18n{portal.users.actions.labelRoles}" title="#i18n{portal.users.actions.labelRoles}" />
         </a>
         <a href="jsp/admin/user/ManageUserWorkgroups.jsp?id_user=${user.userId}" >
    	    <img src="images/admin/skin/actions/group.png" alt="#i18n{portal.users.actions.labelWorkgroups}" title="#i18n{portal.users.actions.labelWorkgroups}" />
	</a>
     
    </div>
</div>
<div class="well span8 offset4">
    
<div class="well">    
    <legend>#i18n{portal.users.modify_user_rights.titleRightModificationForm}</legend>
    <#if can_delegate = 'true'>
	    #i18n{portal.users.modify_user_rights.informationRightModification}
	    
    </#if>
    <form class="form-horizontal" method="post"  action="jsp/admin/user/ModifyUserRights.jsp" >
	<fieldset>    
    	<input type="hidden" name="delegate_rights" value="${can_delegate}" />
        <input type="hidden" name="id_user" value="${user.userId}" />
        <input type="hidden" name="select" value="all" />
        <button class="btn btn-primary" type="submit" >#i18n{portal.users.modify_user_rights.buttonLabelSelectAll}</button>
	
    </fieldset>
</form>
    <form class="form-horizontal" method="post"  action="jsp/admin/user/DoModifyUserRights.jsp" >
	<fieldset>    
    	<input type="hidden" name="delegate_rights" value="${can_delegate}" />
            <#list all_right_list?sort_by('name') as right>
            
                <#if select_all = true >
                        <#assign checked >checked="checked"</#assign>
                <#else>
                    <#assign checked = "" >
                    <#list user_right_list as user_right>
                        <#if user_right.id = right.id >
                            <#assign checked >checked="checked"</#assign>
                            <#break>
                        </#if>
                    </#list>
                </#if>
				
                <div class="controls">
	<input class="checkbox" type="checkbox" name="right" value="${right.id}" ${checked} />
		</div>
	</div>
                <strong>${right.name}</strong> (#i18n{portal.users.modify_user_rights.labelLevel} ${right.level}) - ${right.description}	
            
            </#list>        
            
                <input type="hidden" name="id_user" value="${user.userId}" />
                <button class="btn btn-primary" type="submit" >#i18n{portal.users.modify_user_rights.buttonLabelModifyRights}</button>
	
                    
        </div>
    </fieldset>
</form>
</div>