<!DOCTYPE html>
<html>
	<head>
		<title>[${site_name}] #i18n{portal.users.notify_user.email.title}</title>
	</head>
	<body>
		<#if site_link?has_content>
			<h2>${site_link}</h2>
		</#if>
		#i18n{portal.users.notify_user.email.hello} ${user.firstName} ${user.lastName},<br /><br />
		#i18n{portal.users.notify_user.email.textIntro}. #i18n{portal.users.notify_user.email.textInfo} :
		 <br/>----------------------------------------------------------<br />    
		&nbsp;&nbsp;&nbsp;#i18n{portal.users.notify_user.email.codeAcces} : ${user.accessCode}
		<br />
		&nbsp;&nbsp;&nbsp;#i18n{portal.users.notify_user.email.password} : ${password}
		<br/>----------------------------------------------------------<br />
		#i18n{portal.users.notify_user.email.textLoginUrl} : <@link href='${login_url}'>${login_url}</@link>
	</body>
</html>
