<!-- 
<div class="small-box bg-yellow">
	<div class="inner">
		<h3>${users_count}</h3>
        <p>#i18n{portal.users.dashboard.usersCount}</p>
    </div>
    <div class="icon">
		<i class="fa fa-user"></i>
    </div>
    <a href="${url}" class="small-box-footer">
		#i18n{portal.users.adminFeature.users_management.name} <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>
-->
<div class="info-box">
  <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">#i18n{portal.users.dashboard.usersCount}</span>
    <span class="info-box-number">${users_count}</span>

  </div>
</div>
