<@row>
    <@columns>
      	<@accordionContainer id='users_advanced_parameters'>
            <@accordionPanel color='success' collapsed=true childId='users_advanced_parameters_management'>
                <@accordionHeader title='#i18n{portal.users.adminDashboard.pageTitle}' headerIcon='users' />
                <@accordionBody>
                    <#include "advanced_parameters.html" />
                </@accordionBody>
            </@accordionPanel>
        </@accordionContainer>
	</@columns>
</@row>