<!DOCTYPE html>
<html>
    <head>
    <title>[${site_name}] #i18n{portal.users.user_change_status.email.title}</title>
    </head>
    <body>
    <#if site_link?has_content>
		<h2>${site_link}</h2>
	</#if>
    #i18n{portal.users.user_change_status.email.textChangeStatus}<br />
    ----------------------------------------------------------<br />
    #i18n{portal.users.user_change_status.email.textNewStatus} : 
    <#if user.status == 0 >
    	#i18n{portal.users.modify_user.statusLabelEnabled}<br />
   		----------------------------------------------------------<br />
   		#i18n{portal.users.user_change_status.email.textLoginUrl} :<br />
   		<@link href='${login_url}'>${login_url}</@link>
	<#else>
		#i18n{portal.users.modify_user.statusLabelDisabled}
	</#if>
    </body>
</html>

