<form method="post" name="search_advanced_parameters" action="jsp/admin/search/DoModifyAdvancedParameters.jsp" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="type_filter">#i18n{portal.search.advanced_parameters.typeFilter.label}</label>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <select id="type_filter" name="type_filter" class="form-control">
        <#list [ "none", "option", "radio" "checkbox"] as display_option>
          <option value="${display_option}" <#if type_filter=display_option>selected="selected"</#if>> #i18n{portal.search.advanced_parameters.typeFilter.${display_option}}</option>
        </#list>
      </select>
    </div>
  </div>
  <!-- DATE FILTER -->
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="date_filter">#i18n{portal.search.advanced_parameters.dateFilter.label}</label>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <select id="date_filter" name="date_filter" class="form-control">
        <#list [ "0", "1"] as b_active>
          <option value="${b_active}" <#if date_filter=b_active>selected="selected"</#if>> #i18n{portal.search.advanced_parameters.activeLabel.${b_active}}</option>
        </#list>
      </select>
    </div>
  </div>
  <!-- TAG FILTER -->
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="tag_filter">#i18n{portal.search.advanced_parameters.tagFilter.label}</label>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <select id="tag_filter" name="tag_filter" class="form-control">
        <#list [ "0", "1"] as b_active>
          <option value="${b_active}" <#if tag_filter=b_active>selected="selected"</#if>> #i18n{portal.search.advanced_parameters.activeLabel.${b_active}}</option>
        </#list>
      </select>
    </div>
  </div>
  <!-- DEFAULT OPERATOR -->
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="default_operator">#i18n{portal.search.advanced_parameters.defaultOperator.label}</label>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <select id="default_operator" name="default_operator" class="form-control">
        <#list [ "OR", "AND"] as operator>
          <option value="${operator}" <#if default_operator=operator>selected="selected"</#if>> #i18n{portal.search.advanced_parameters.defaultOperator.${operator}}</option>
        </#list>
      </select>
    </div>
  </div>
  <!-- HELP MESSAGE -->
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2 col-md-2" for="help_message"> #i18n{portal.search.advanced_parameters.helpMessage.label}</label>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <textarea name="help_message" id="help_message" rows="10" class="form-control richtext">${help_message!}</textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10">
      <button type="submit" name="submit" class="btn btn-primary btn-flat">
        <i class="fa fa-check"></i> #i18n{portal.search.advanced_parameters.buttonValidate}
      </button>
      <button type="button" name="cancel" class="btn btn-default btn-flat" onclick="javascript:window.history.back();">
        <i class="fa fa-remove"></i> #i18n{portal.search.advanced_parameters.buttonCancel}
      </button>
    </div>
  </div>
</form>
<#include "/admin/util/editor/editor.html" />
<@initEditor />
