<#include "/admin/util/editor/editor.html" />
<div class="row">
<div class="container">
<form method="post" name="search_advanced_parameters" action="jsp/admin/search/DoModifyAdvancedParameters.jsp" class="form-horizontal">
<div class="span3">
<div class="container">
<!-- TYPE FILTER -->
<label for="type_filter">#i18n{portal.search.advanced_parameters.typeFilter.label} :</label>
<select id="type_filter" name="type_filter">
<#list ["none", "option", "radio" "checkbox"] as display_option>
<option value="${display_option}" <#if type_filter = display_option>selected="selected"</#if> >#i18n{portal.search.advanced_parameters.typeFilter.${display_option}}</option>
</#list>
</select>
<!-- DATE FILTER -->
<label for="date_filter">#i18n{portal.search.advanced_parameters.dateFilter.label} :</label>
<select id="date_filter" name="date_filter">
<#list ["0", "1"] as b_active>
    <option value="${b_active}" <#if date_filter = b_active>selected="selected"</#if> >#i18n{portal.search.advanced_parameters.activeLabel.${b_active}}</option>
</#list>
</select>
<!-- TAG FILTER -->
<label for="tag_filter">#i18n{portal.search.advanced_parameters.tagFilter.label} :</label>
<select id="tag_filter" name="tag_filter">
<#list ["0", "1"] as b_active>
   <option value="${b_active}" <#if tag_filter = b_active>selected="selected"</#if> >#i18n{portal.search.advanced_parameters.activeLabel.${b_active}}</option>
</#list>
</select>
<!-- DEFAULT OPERATOR -->
<label for="default_operator">#i18n{portal.search.advanced_parameters.defaultOperator.label} :</label>
<select id="default_operator" name="default_operator">
<#list ["OR", "AND"] as operator>
	<option value="${operator}" <#if default_operator = operator>selected="selected"</#if> >#i18n{portal.search.advanced_parameters.defaultOperator.${operator}}</option>
</#list>
</select>
</div>
</div>
<div class="span8">
<div class="container">
<!-- HELP MESSAGE -->
<label for="help_message">#i18n{portal.search.advanced_parameters.helpMessage.label} :</label>
<textarea name="help_message" id="help_message" rows="20" class="richtext">${help_message!}</textarea>
</div>
<div class="form-actions">
<input type="submit" name="submit" class="btn btn-primary" value="#i18n{portal.search.advanced_parameters.buttonValidate}" />
<input type="submit" name="cancel" class="btn" value="#i18n{portal.search.advanced_parameters.buttonCancel}" /> 
</div>
</div>
</form>
</div>
</div>


<@initEditor />       