<@pageContainer>
	<@pageColumn>
		<@pageHeader title='#i18n{portal.search.manage_indexer.labelIndexersList}'>
			<@tform method='get' name='doIndexing' action='jsp/admin/search/DoIndexing.jsp'>
				<@input type='hidden' name='token' value='${token}' />
				<@button type='submit' buttonIcon='redo' title='#i18n{portal.search.manage_indexer.buttonDoIndex}' name='total' />
				<@button type='submit' buttonIcon='sync' title='#i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}' name='incremental' />
			</@tform>
		</@pageHeader>
		<@manageFeature>
			<#list indexers_list as indexer>
			<@manageFeatureItem>
				<@manageFeatureItemColumn auto=true>
				<#if indexer.enable>
					<@tag color='success' title='${indexer.name} #i18n{portal.search.manage_indexer.IndexerEnable}'>
						#i18n{portal.search.manage_indexer.IndexerEnable}
					</@tag>
				<#else>
					<@tag color='danger' title='${indexer.name} #i18n{portal.search.manage_indexer.IndexerDisable}'>
						#i18n{portal.search.manage_indexer.IndexerDisable}
					</@tag>
				</#if>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn>
					<@p>#i18n{portal.search.manage_indexer.columnIndexerName} : <strong>${indexer.name}</strong></@p>
					<@p>#i18n{portal.search.manage_indexer.columnIndexerVersion} : <strong>${indexer.version}</strong></@p>
					<@p>#i18n{portal.search.manage_indexer.columnIndexerDescription} : <strong>${indexer.description}</strong></@p>
				</@manageFeatureItemColumn>
			</@manageFeatureItem>
			</#list>
		</@manageFeature>
	</@pageColumn>
</@pageContainer>
