<@row>
	<@columns>
		<@box color='danger'>
			<@boxHeader title='#i18n{portal.search.manage_search.tableLabel}' boxTools=true>
				<#if permission_manage_advanced_parameters>
					<@aButton href='jsp/admin/search/ManageAdvancedParameters.jsp' buttonIcon='cog' title='#i18n{portal.search.manage_search.button_manage_advanced_parameters}' showTitle=false size='' />
				</#if>
			</@boxHeader>
		<@boxBody>
			<@unstyledList>
					<li class="${liClass}">
						<#assign title>
							#i18n{portal.search.manage_search.tagsManagment.label} [ #i18n{portal.search.manage_search.tagsManagement.description} <#if tag_filter = "0"> <em>(#i18n{portal.search.manage_search.tagsManagement.unactiveFilter})</em> ]</#if>
						</#assign>
						<@aButton href='jsp/admin/search/ModifyTagList.jsp' title=title  size='lg' color='secondary' />
					</li>
			</@unstyledList>
		</@boxBody>
		</@box>
	</@columns>
</@row>