<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box box-danger">
			<div class="box-header">
				<h3 class="box-title">#i18n{portal.search.modify_taglist.tableLabel}</h3>
				<div class="box-tools"></div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<form method="post" action="jsp/admin/search/DoModifyTagList.jsp" enctype="multipart/form-data" name="modify_taglist" class="form-horizontal" role="form">
					<fieldset>
					<legend>#i18n{portal.system.modify_properties.boxTitle}</legend>  
					<div class="form-group">
						<label for="taglist" class="col-sm-2 control-label">#i18n{portal.search.modify_taglist.labelName}&nbsp;:&nbsp;</label>
						<div class="col-sm-10">
							<input type="text" value="${(taglist!)?html}" class="form-control input-sm" id="taglist" name="taglist" maxlength="255">
						</div>
                    </div>
					<#if tag_filter = "0">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<p class="label label-warning"><em>#i18n{portal.search.modify_taglist.unactiveFilter}</em></p>
							</div>
                        </div>	
                       <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<a href="jsp/admin/search/ManageSearch.jsp" name="cancel" class="btn btn-default btn-sm">
									<i class="glyphicon glyphicon-remove-circle"></i>&nbsp;#i18n{portal.search.modify_taglist.buttonCancel}
								</a>
							</div>
                        </div>
                    <#else>
                       <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" name="submit" class="btn btn-primary btn-sm">
									<i class="glyphicon glyphicon-ok"></i>&nbsp;#i18n{portal.search.modify_taglist.buttonValidate}
								</button>
							</div>
                        </div>
                    </#if>
					</fieldset>
                </form>
			</div>
		</div>
	</div>
</div>