<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
			<fieldset>
            <legend><img src="images/admin/skin/features/plugin.png" alt=" " title=" ">&nbsp;#i18n{portal.search.modify_taglist.tableLabel}</legend>
            <form method="post" action="jsp/admin/search/DoModifyTagList.jsp" enctype="multipart/form-data" name="modify_taglist" class="form-inline well">
				<fieldset>
                <legend>#i18n{portal.system.modify_properties.boxTitle}</legend>  
                    <label for="taglist">#i18n{portal.search.modify_taglist.labelName}&nbsp;:&nbsp;</label>
					<input type="text" value="${taglist!}" class="form-control input-sm" id="taglist" name="taglist" maxlength="255">
                    <#if tag_filter = "0">
                    <p class="label label-warning"><em>#i18n{portal.search.modify_taglist.unactiveFilter}</em></p>
                        <div class="form-actions">
                            <a href="jsp/admin/search/ManageSearch.jsp" name="cancel" class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-remove-circle"></i>&nbsp#i18n{portal.search.modify_taglist.buttonCancel}
							</a>
                        </div>
                    <#else>
                        <div class="form-actions">
                            <button type="submit" name="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;#i18n{portal.search.modify_taglist.buttonValidate}</button>
                            <button type="submit" name="cancel" class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-remove-circle"></i>&nbsp;#i18n{portal.search.modify_taglist.buttonCancel}
							</button>
                        </div>
                    </#if>
                    </fieldset>
                </form>
			</fieldset>
	</div>
</div>