<@row>
	<@columns>
		<@box color='danger'>
			<@boxHeader title='#i18n{portal.search.indexer_logs.titleIndexerLogs}' boxTools=true skipHeader=true>
				<@aButton href="jsp/admin/search/ManageSearchIndexation.jsp" buttonIcon='times' title='#i18n{portal.util.labelBack}'  size='sm' color='secondary' />
			</@boxHeader>
			<@boxBody>
				<@pre class="index-logs">${logs}</@pre>
				<@aButton href="jsp/admin/search/ManageSearchIndexation.jsp" buttonIcon='times' title='#i18n{portal.util.labelBack}' color='secondary' />
			</@boxBody>
		</@box>
	</@columns>
</@row>
