<div class="row-fluid">
    <div class="container">
        <div class="span12">
            <div class="content-box">
                <h2 class="clearfix">#i18n{portal.search.indexer_logs.titleIndexerLogs}</h2>
                <pre>${logs}</pre>  
                <form method="post" name="return" action="">
                    <button class="btn btn-small" type="button" onclick="javascript:window.history.back();" >
                        <i class="icon-remove-circle"></i>&nbsp;#i18n{portal.util.labelBack}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>