[data-bs-theme=light] {
    --bs-blue: #3A9DFE;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #eb0a4d;
    --bs-orange: #fd7e14;
    --bs-yellow: #f5b800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #d2dae7;
    --bs-success: #198754;
    --bs-info: #0d6efd;
    --bs-warning: #f5b800;
    --bs-danger: #eb0a4d;
    --bs-light: rgb(242, 247, 255);
    --bs-dark: #041C4C;
    --bs-primary-rgb: 58, 157, 254;
    --bs-secondary-rgb: 210, 218, 231;
    --bs-success-rgb: 32, 201, 151;
    --bs-info-rgb: 58, 157, 254;
    --bs-warning-rgb: 245, 115, 0;
    --bs-danger-rgb: 235, 10, 77;
    --bs-light-rgb: 242, 247, 255;
    --bs-dark-rgb: 4, 28, 76;
    --bs-primary-text: #0d6efd;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #0d6efd;
    --bs-warning-text: #f57300;
    --bs-danger-text: #eb0a4d;
    --bs-light-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #f0f5ff;
    --bs-secondary-bg-subtle: #fff;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cfe2ff;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #0d6efd;
    --bs-warning-border-subtle: #ffd0a7;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #0d6efd;
    --bs-warning-text-emphasis: #f57300;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    --bs-body-color: #212529;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 88, 105, 126;
    --bs-secondary-color: rgba(33, 37, 41, .75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #d1dae8;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, .5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: rgb(234, 238, 248);
    --bs-tertiary-bg-rgb: 234, 238, 248;
    --bs-body-bg: #fff;
    --bs-body-bg-light: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #297eff;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, .175);
    --bs-box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), .15);
    --bs-box-shadow-sm: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), .175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), .075);
    --bs-emphasis-color: #000;
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highlight-bg: #fff3cd;
    --bs-accessibility-border-light-focus: #fff;
    --bs-accessibility-border-dark-focus: #0d6efd
}

body[data-bs-theme=light] .bg-secondary {
    background: linear-gradient(to right, #e0eafc, #cfdef3) !important
}

body[data-bs-theme=light] .img-grey {
    filter: grayscale(100%) saturate(0) brightness(.7) contrast(3)
}

body[data-bs-theme=light] .card-header {
    border-bottom: var(--bs-card-border-width) solid rgba(0, 0, 0, .075)
}

body[data-bs-theme=light] .card {
    border: var(--bs-card-border-width) solid rgba(0, 0, 0, .075)
}

body[data-bs-theme=light] .offcanvas {
    border-color: rgba(0, 0, 0, .075)
}

body[data-bs-theme=light] #pageHeader .form-control,
body[data-bs-theme=light] #pageHeader .form-select {
    background-color: #fff !important;
    box-shadow: 0 0 20px rgb(8 21 66/5%)
}

body[data-bs-theme=light] #menu {
    background: linear-gradient(to top, #000428, #004e92)
}

body[data-bs-theme=light] {
    background: #f2f7ff
}

body[data-bs-theme=light] footer {
    background: rgba(242, 247, 255, .4);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px)
}

body[data-bs-theme-menu=top][data-bs-theme=light] #top-menu .btn-light {
    background-color: #ffffff3f;
    border-color: rgba(var(--bs-light-rgb), 1);
    color: #fff !important;
    border: 0 !important
}

@media (max-width:1199px) {
    body[data-bs-theme=light] #top-menu {
        background: linear-gradient(to right, #13417b, #004e92) !important
    }
}

@media (min-width:1199px) {
    body[data-bs-theme=light] #top-menu {
        background: #fff !important
    }
}

body[data-bs-theme=light] .bg-body-tertiary {
    background-color: #fff !important
}

body[data-bs-theme=light] #menu .bg-body-tertiary {
    background-color: #d3d3d325 !important
}

body[data-bs-theme=light] #menu .nav-pills .nav-link.active {
    background-color: #d3d3d325 !important
}

body[data-bs-theme=light] .offcanvas-backdrop,
body[data-bs-theme=light] #child-menu.child-menu-show+#page::after {
    background-color: #6f7aac36
}

body[data-bs-theme=light] td>.btn,
body[data-bs-theme=light] td form>.btn,
body[data-bs-theme=light] td>.button-container>.btn,
body[data-bs-theme=light] td>.button-container>form>.btn,
body[data-bs-theme=light] .card-footer .btn,
body[data-bs-theme=light] .button-container>form>.btn-group>.btn {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    background-color: var(--bs-light) !important;
    color: var(--bs-body-color) !important
}

body[data-bs-theme=light] .btn-primary {
    background-color: rgba(var(--bs-primary-rgb), 1) !important;
    border-color: rgba(var(--bs-primary-rgb), 1) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-primary:hover,
body[data-bs-theme=light] .btn-primary:focus,
body[data-bs-theme=light] .btn-primary:active {
    background-color: rgba(var(--bs-primary-rgb), .9) !important;
    border-color: rgba(var(--bs-primary-rgb), .9) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-secondary {
    background-color: rgba(var(--bs-secondary-rgb), 1) !important;
    border-color: rgba(var(--bs-secondary-rgb), 1) !important;
    color: var(--bs-secondary-text) !important
}

body[data-bs-theme=light] .btn-secondary:hover,
body[data-bs-theme=light] .btn-secondary:focus,
body[data-bs-theme=light] .btn-secondary:active {
    background-color: rgba(var(--bs-secondary-rgb), .9) !important;
    border-color: rgba(var(--bs-secondary-rgb), .9) !important;
    color: var(--bs-secondary-text)
}

body[data-bs-theme=light] .box-widget .btn-success,
body[data-bs-theme=light] .btn-success {
    background-color: rgba(var(--bs-success-rgb), 1) !important;
    border-color: rgba(var(--bs-success-rgb), 1) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-success:hover,
body[data-bs-theme=light] .btn-success:focus,
body[data-bs-theme=light] .btn-success:active {
    background-color: rgba(var(--bs-success-rgb), .9) !important;
    border-color: rgba(var(--bs-success-rgb), .9) !important;
    color: #fff !important
}

body[data-bs-theme=light] .box-widget .btn-info,
body[data-bs-theme=light] .btn-info {
    background-color: rgba(var(--bs-info-rgb), 1) !important;
    border-color: rgba(var(--bs-info-rgb), 1) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-info:hover,
body[data-bs-theme=light] .btn-info:focus,
body[data-bs-theme=light] .btn-info:active {
    background-color: rgba(var(--bs-info-rgb), .9) !important;
    border-color: rgba(var(--bs-info-rgb), .9) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-warning {
    background-color: rgba(var(--bs-warning-rgb), 1) !important;
    border-color: rgba(var(--bs-warning-rgb), 1) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-warning:hover,
body[data-bs-theme=light] .btn-warning:focus,
body[data-bs-theme=light] .btn-warning:active {
    background-color: rgba(var(--bs-warning-rgb), .9) !important;
    border-color: rgba(var(--bs-warning-rgb), .9) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-danger {
    background-color: rgba(var(--bs-danger-rgb), 1);
    border-color: rgba(var(--bs-danger-rgb), 1)
}

body[data-bs-theme=light] .btn-danger:hover,
body[data-bs-theme=light] .btn-danger:focus,
body[data-bs-theme=light] .btn-danger:active {
    background-color: rgba(var(--bs-danger-rgb), .9) !important;
    border-color: rgba(var(--bs-danger-rgb), .9) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-light {
    background-color: var(--bs-light);
    border-color: rgba(var(--bs-light-rgb), 1)
}

body[data-bs-theme=light] .btn-light:hover,
body[data-bs-theme=light] .btn-light:focus,
body[data-bs-theme=light] .btn-light:active {
    background-color: rgba(var(--bs-primary-rgb), .9) !important;
    border-color: rgba(var(--bs-primary-rgb), .9) !important;
    color: #fff !important
}

body[data-bs-theme=light] .btn-dark {
    background-color: rgba(var(--bs-dark-rgb), 1);
    border-color: rgba(var(--bs-dark-rgb), 1)
}

body[data-bs-theme=light] .btn-dark:hover,
body[data-bs-theme=light] .btn-dark:focus,
body[data-bs-theme=light] .btn-dark:active {
    background-color: rgba(var(--bs-dark-rgb), .9) !important;
    border-color: rgba(var(--bs-dark-rgb), .9) !important;
    color: #fff !important
}

.body[data-bs-theme=light] .btn {
    border: 0 !important
}