/* Borders */
.border-sm,
.border-lg,
.border-xl,
.border-md {
	border-style: solid;
}

.border-sm {
	border-width: var(--lutece-ds-border-width-sm) !important;
}

.border-md {
	border-width: var(--lutece-ds-border-width-md) !important;
}

.border-lg {
	border-width: var(--lutece-ds-border-width-lg) !important;
}

.border-b-sm {
	border-bottom-width: var(--lutece-ds-border-width-sm) !important;
}

.border-b-md {
	border-bottom-width: var(--lutece-ds-border-width-md) !important;
}

.border-b-lg {
	border-bottom-width: var(--lutece-ds-border-width-lg) !important;
}

.border-t-sm {
	border-top-width: var(--lutece-ds-border-width-sm) !important;
}

.border-t-md {
	border-top-width: var(--lutece-ds-border-width-md) !important;
}

.border-t-lg {
	border-top-width: var(--lutece-ds-border-width-lg) !important;
}

/* TODO DEPRECATED ??? */
/* Borders */
.border-medium {
	border-width: 1rem !important;
}

.border-wide {
	border-width: 2rem !important;
}

/* END TODO DEPRECATED ??? */