/*** 										***/
/***	Breadcrumb 							***/
/*** 										***/

/*********************************************/
/** 	Breadcrumb							**/
/*********************************************/
.breadcrumb-nav {
	margin: 0;
}

.breadcrumb-nav .breadcrumb {
    display: flex;
    align-items: center;
    gap: var(--lutece-ds-sp-2xs);
    font-size: var(--lutece-ds-fs-lg);
    color: var(--lutece-ds-blue-700);
}

.breadcrumb-item,
.breadcrumb-item a {
	font-family: var(--lutece-ds-font-family-base);
	font-weight: 400;
	font-size: var(--lutece-ds-fs-lg); 
	line-height: var( --lutece-ds-sp-md );
	color: var( ---lutece-ds-blue-700 );
	text-decoration: none;
	padding-inline-end: var(--lutece-ds-sp-2xs);
	margin-block-start: 0;
}

.breadcrumb-item a {
	color: var( ---lutece-ds-blue-700 );
	text-decoration: none;
	padding-inline-end:var(--lutece-ds-blue-700);
	margin-block-start: 0;
}

.breadcrumb-item::before {
	padding-inline-end: 1rem;
	float: none;
}


.breadcrumb-item+.breadcrumb-item::before {
	content: "/";
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
	color: var(--text-primary );
	text-decoration: underline;
	text-underline-offset: 3px;
}

.breadcrumb-item.active {
	max-width: 85rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--lutece-ds-text);
}

.breadcrumb-item.active::before {
	filter: invert(1);
}


@media (min-width: 576px) and (max-width: 767.98px) {
	/* Breadcrumb */
	.breadcrumb-item.active {
		max-width: 35rem;
	}
}


@media (max-width: 767.98px) {
	/* Breadcrumb */
	.breadcrumb-nav {
		padding-block-end: 0 !important;
		margin-block-start: var(--lutece-ds-sp-xs );
	}
	
	.breadcrumb-nav .breadcrumb {
		background-color: var(--lutece-ds-white);
		border-radius: 0;
		padding: var(--lutece-ds-sp-xs) 0 0;
	}
		
	.breadcrumb-item,
	.breadcrumb-item a {
		font-size: var(--lutece-ds-fs-lg);
		padding-inline-end: 0;
	}

	.breadcrumb-item.active::before {
		padding-inline-end: .5rem;
	}

}

@media (max-width: 575.98px) {
	/* Breadcrumb */
	.breadcrumb-item,
	.breadcrumb-item a {
		font-size: var(--lutece-ds-fs-sm);
	}

	.breadcrumb-item.active {
		max-width: 25rem;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.breadcrumb-item.active {
		max-width: 45rem;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.breadcrumb-item.active {
		max-width: 60rem;
	}
}

/* Extra large devices (large desktops, 1200 and up) */
@media (min-width: 1200px) and (max-width: 1424.98px) {
	.breadcrumb-item.active {
		max-width: 60rem;
	}
}

@media (min-width: 1425px) and (max-width: 1619.98px) {
	.breadcrumb-item.active {
		max-width: 80rem;
	}
}