/*** 										***/
/*** Spacing 								***/
/*** 										***/

.mb-10 {
margin-bottom: 10px !important;
}

.mb-20 {
margin-bottom: 20px !important;
}

.mb-30 {
margin-bottom: 30px !important;
}

.mb-40 {
margin-bottom: 40px !important;
}

.mb-50 {
margin-bottom: 50px !important;
}

.mb-60 {
margin-bottom: 60px !important;
}

.mb-70 {
margin-bottom: 70px !important;
}

.mb-80 {
margin-bottom: 80px !important;
}

.mb-90 {
margin-bottom: 90px !important;
}

.mb-100 {
margin-bottom: 100px !important;
}

/* Margin and Padding */
/* xs --lutece-ds-spacing-2xs : .4rem; */
.p-xs {
	padding: var(--lutece-ds-spacing-2xs) !important;
}

.px-xs {
	padding-inline: var(--lutece-ds-spacing-2xs) !important;
}

.py-xs {
	padding-block: var(--lutece-ds-spacing-2xs) !important;
}

.pt-xs {
	padding-block-start: var(--lutece-ds-spacing-2xs) !important;
}

.pb-xs {
	padding-block-end: var(--lutece-ds-spacing-2xs) !important;
}

.ps-xs {
	padding-inline-start: var(--lutece-ds-spacing-2xs) !important;
}

.pe-xs {
	padding-inline-end: var(--lutece-ds-spacing-2xs) !important;
}

/* margin */
.m-xs {
	margin: var(--lutece-ds-spacing-2xs) !important;
}

.mx-xs {
	margin-inline: var(--lutece-ds-spacing-2xs) !important;
}

.my-xs {
	margin-block: var(--lutece-ds-spacing-2xs) !important;
}

.mt-xs {
	margin-block-start: var(--lutece-ds-spacing-2xs) !important;
}

.mb-xs {
	margin-block-end: var(--lutece-ds-spacing-2xs) !important;
}

.ms-xs {
	margin-inline-start: var(--lutece-ds-spacing-2xs) !important;
}

.me-xs {
	margin-inline-end: var(--lutece-ds-spacing-2xs) !important;
}

/* sm --lutece-ds-spacing-xs */
.p-sm {
	padding: var(--lutece-ds-spacing-xs) !important;
}

.px-sm {
	padding-inline: var(--lutece-ds-spacing-xs) !important;
}

.py-sm {
	padding-block: var(--lutece-ds-spacing-xs) !important;
}

.pt-sm {
	padding-block-start: var(--lutece-ds-spacing-xs) !important;
}

.pb-sm {
	padding-block-end: var(--lutece-ds-spacing-xs) !important;
}

.ps-sm {
	padding-inline-start: var(--lutece-ds-spacing-xs) !important;
}

.pe-sm {
	padding-inline-end: var(--lutece-ds-spacing-xs) !important;
}

/* margin */
.m-sm {
	margin: var(--lutece-ds-spacing-xs) !important;
}

.mx-sm {
	margin-inline: var(--lutece-ds-spacing-xs) !important;
}

.my-sm {
	margin-block: var(--lutece-ds-spacing-xs) !important;
}

.mt-sm {
	margin-block-start: var(--lutece-ds-spacing-xs) !important;
}

.mb-sm {
	margin-block-end: var(--lutece-ds-spacing-xs) !important;
}

.ms-sm {
	margin-inline-start: var(--lutece-ds-spacing-xs) !important;
}

.me-sm {
	margin-inline-end: var(--lutece-ds-spacing-xs) !important;
}

/* m --lutece-ds-spacing-sm */
.p-m {
	padding: var(--lutece-ds-spacing-sm) !important;
}

.px-m {
	padding-inline: var(--lutece-ds-spacing-sm) !important;
}

.py-m {
	padding-block: var(--lutece-ds-spacing-sm) !important;
}

.pt-m {
	padding-block-start: var(--lutece-ds-spacing-sm) !important;
}

.pb-m {
	padding-block-end: var(--lutece-ds-spacing-sm) !important;
}

.ps-m {
	padding-inline-start: var(--lutece-ds-spacing-sm) !important;
}

.pe-m {
	padding-inline-end: var(--lutece-ds-spacing-sm) !important;
}

/* margin */
.m-m {
	margin: var(--lutece-ds-spacing-sm) !important;
}

.mx-m {
	margin-inline: var(--lutece-ds-spacing-sm) !important;
}

.my-m {
	margin-block: var(--lutece-ds-spacing-sm) !important;
}

.mt-m {
	margin-block-start: var(--lutece-ds-spacing-sm) !important;
}

.mb-m {
	margin-block-end: var(--lutece-ds-spacing-sm) !important;
}

.ms-m {
	margin-inline-start: var(--lutece-ds-spacing-sm) !important;
}

.me-m {
	margin-inline-end: var(--lutece-ds-spacing-sm) !important;
}

/* l --lutece-ds-spacing-md */
.p-l {
	padding: var(--lutece-ds-spacing-md) !important;
}

.px-l {
	padding-inline: var(--lutece-ds-spacing-md) !important;
}

.py-l {
	padding-block: var(--lutece-ds-spacing-md) !important;
}

.pt-l {
	padding-block-start: var(--lutece-ds-spacing-md) !important;
}

.pb-l {
	padding-block-end: var(--lutece-ds-spacing-md) !important;
}

.ps-l {
	padding-inline-start: var(--lutece-ds-spacing-md) !important;
}

.pe-l {
	padding-inline-end: var(--lutece-ds-spacing-md) !important;
}

/* margin */
.m-l {
	margin: var(--lutece-ds-spacing-md) !important;
}

.mx-l {
	margin-inline: var(--lutece-ds-spacing-md) !important;
}

.my-l {
	margin-block: var(--lutece-ds-spacing-md) !important;
}

.mt-l {
	margin-block-start: var(--lutece-ds-spacing-md) !important;
}

.mb-l {
	margin-block-end: var(--lutece-ds-spacing-md) !important;
}

.ms-l {
	margin-inline-start: var(--lutece-ds-spacing-md) !important;
}

.me-l {
	margin-inline-end: var(--lutece-ds-spacing-md) !important;
}

/* xl --lutece-ds-spacing-md-loose */
.p-xl {
	padding: var(--lutece-ds-spacing-md-loose) !important;
}

.px-xl {
	padding-inline: var(--lutece-ds-spacing-md-loose) !important;
}

.py-xl {
	padding-block: var(--lutece-ds-spacing-md-loose) !important;
}

.pt-xl {
	padding-block-start: var(--lutece-ds-spacing-md-loose) !important;
}

.pb-xl {
	padding-block-end: var(--lutece-ds-spacing-md-loose) !important;
}

.ps-xl {
	padding-inline-start: var(--lutece-ds-spacing-md-loose) !important;
}

.pe-xl {
	padding-inline-end: var(--lutece-ds-spacing-md-loose) !important;
}

/* margin */
.m-xl {
	margin: var(--lutece-ds-spacing-md-loose) !important;
}

.mx-xl {
	margin-inline: var(--lutece-ds-spacing-md-loose) !important;
}

.my-xl {
	margin-block: var(--lutece-ds-spacing-md-loose) !important;
}

.mt-xl {
	margin-block-start: var(--lutece-ds-spacing-md-loose) !important;
}

.mb-xl {
	margin-block-end: var(--lutece-ds-spacing-md-loose) !important;
}

.ms-xl {
	margin-inline-start: var(--lutece-ds-spacing-md-loose) !important;
}

.me-xl {
	margin-inline-end: var(--lutece-ds-spacing-md-loose) !important;
}

/* xl --lutece-ds-spacing-lg */
.p-xxl {
	padding: var(--lutece-ds-spacing-lg) !important;
}

.px-xxl {
	padding-inline: var(--lutece-ds-spacing-lg) !important;
}

.py-xxl {
	padding-block: var(--lutece-ds-spacing-lg) !important;
}

.pt-xxl {
	padding-block-start: var(--lutece-ds-spacing-lg) !important;
}

.pb-xxl {
	padding-block-end: var(--lutece-ds-spacing-lg) !important;
}

.ps-xxl {
	padding-inline-start: var(--lutece-ds-spacing-lg) !important;
}

.pe-xxl {
	padding-inline-end: var(--lutece-ds-spacing-lg) !important;
}

/* margin */
.m-xxl {
	margin: var(--lutece-ds-spacing-lg) !important;
}

.mx-xxl {
	margin-inline: var(--lutece-ds-spacing-lg) !important;
}

.my-xxl {
	margin-block: var(--lutece-ds-spacing-lg) !important;
}

.mt-xxl {
	margin-block-start: var(--lutece-ds-spacing-lg) !important;
}

.mb-xxl {
	margin-block-end: var(--lutece-ds-spacing-lg) !important;
}

.ms-xxl {
	margin-inline-start: var(--lutece-ds-spacing-lg) !important;
}

.me-xxl {
	margin-inline-end: var(--lutece-ds-spacing-lg) !important;
}

/* XXXL --lutece-ds-spacing-xl */
/* padding */
.p-xxxl {
	padding: var(--lutece-ds-spacing-xl) !important;
}

.px-xxxl {
	padding-inline: var(--lutece-ds-spacing-xl) !important;
}

.py-xxxl {
	padding-block: var(--lutece-ds-spacing-xl) !important;
}

.pt-xxxl {
	padding-block-start: var(--lutece-ds-spacing-xl) !important;
}

.pb-xxxl {
	padding-block-end: var(--lutece-ds-spacing-xl) !important;
}

.ps-xxxl {
	padding-inline-start: var(--lutece-ds-spacing-xl) !important;
}

.pe-xxxl {
	padding-inline-end: var(--lutece-ds-spacing-xl) !important;
}
/* margin */
.m-xxxl {
	margin: var(--lutece-ds-spacing-xl) !important;
}

.mx-xxxl {
	margin-inline: var(--lutece-ds-spacing-xl) !important;
}

.my-xxxl {
	margin-block: var(--lutece-ds-spacing-xl) !important;
}

.mt-xxxl {
	margin-block-start: var(--lutece-ds-spacing-xl) !important;
}

.mb-xxxl {
	margin-block-end: var(--lutece-ds-spacing-xl) !important;
}

.ms-xxxl {
	margin-inline-start: var(--lutece-ds-spacing-xl) !important;
}

.me-xxxl {
	margin-inline-end: var(--lutece-ds-spacing-xl) !important;
}

/* margin */
.m-xxxxl {
	margin: var(--lutece-ds-spacing-2xl) !important;
}

.mx-xxxxl {
	margin-inline: var(--lutece-ds-spacing-2xl) !important;
}

.my-xxxxl {
	margin-block: var(--lutece-ds-spacing-2xl) !important;
}

.mt-xxxxl {
	margin-block-start: var(--lutece-ds-spacing-2xl) !important;
}

.mb-xxxxl {
	margin-block-end: var(--lutece-ds-spacing-2xl) !important;
}

.ms-xxxxl {
	margin-inline-start: var(--lutece-ds-spacing-2xl) !important;
}

.me-xxxxl {
	margin-inline-end: var(--lutece-ds-spacing-2xl) !important;
}

/* VH and VW utilities */
.vh-25{ 
	height:25vh; 
}

.vh-50{ 
	height:50vh; 
}

.vh-80{ 
	height:80vh; 
}

.vw-25{ 
	width:25vw; 
}

.vw-50{ 
	width:50vw; 
}

.vw-80{ 
	width:80vw; 
}
