/******************************************
/* SPECIFIC LUTECE DEFAULT THEME STYLES   *
******************************************/
/* ADMIN STYLES */
body#tinymce{padding-top:0;}

.admin_column_outline:hover {outline: 1px dotted grey;}
.admin_column_id {display: none;}
.admin_column_outline:hover .admin_column_id {display: block;	position: absolute;height 20px;	width: 10em;	top: -10px;	z-index: 9000;	padding-left: 0.5em;	background: rgba(200, 200, 200, 0.75);	border-top-left-radius: 5px;	border-top-right-radius: 5px;}
.admin_column_outline > div:empty {height:20px;}
.admin_column_outline .portlet:hover{box-shadow: -2px 12px 53px #000000;}

.btn-group-portlet{position:relative;z-index:9999;}
.btn-group-portlet button{margin:2px}
.btn-group-portlet .btn.btn-circle {width:28px;height:28px;text-align:left;border-radius:50px;}
.btn-group-portlet .btn.btn-circle .fa{margin-bottom:6px;margin-right:10px}
