/********************************
/* Body 						*
********************************/
/* Fix for fixed-nav-bar*/
body{padding-top:60px;}

/* Fix accessibility issue on links */
a:hover,a:active { outline:thin dotted;}
 
/* Lutece styles */
a.brand img.logo{height:16px;}
h1.header{display:none;}
img.thumblist{width:24px;}
form.spaced{margin:0 2px;}
.navbar-inverse .nav-collapse .nav > li.home{background-color:#3399FF;} 
.msg-admin{margin:10em 0; }

