body, h1, h2, h3, h4, h5, h6, .info-box-text, .info-box-number {font-size:200%;}

/* Apply contrasted colors to links and features titles */ 
a{color: #363636;}
legend small{color:#363636;}

/* Apply contrasted colors to menus */ 
.navbar-inverse .brand, .navbar-inverse .nav > li > a{ color: #363636;}
.navbar-inverse .dropdown-menu a {color: #363636;}

.navbar-inverse .nav-collapse .nav > li > a { color: #F5F5F5;}
.navbar-inverse .nav-collapse .dropdown-menu a { color: #363636;}

/* Apply inverse style to primary */ 
.btn  {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #222222;
}

.box.box-solid > .box-header {
    color: #000;
    background: #e2e2e2;
    background-color: #e2e2e2;
}

.navbar {background-color:#222222;}