/* Buttons are not usefull in printed page... */
input {
	display: none;
}

.button {
	display: none;
}

content-box {
     width:100%
}

/* use this class if an element should not be printed */
.no_print {
	display: none;
}

/* page breaks : new page before this element */
.page_break {
	page-break-before: always;
}

#admin-header, #content-header, #main-footer{
	display: none;
}

label {
	font-weight: bold;
}