/* =======================================================================
 * This stylesheet gathers styles used to define the struture of the html
 * documents.
 *
 * The styles here are related to the positionning of the main elements in
 * the page :
 * - the position of header, footer, menus, banners is defined here ;
 * - the general layout of the page is defined here ( eg. one, two or
 * three columns) ;
 * - styles for positionning other elements (eg. the site map levels).
 *
 * The stylesheet "page_template_styles.css" is to be used for formatting
 * styles related to colors, fonts, aspect of the page elements.
 *
 * ========================================================================
 */


body div {
	margin: 0;
	padding: 0;
}

body.pop-up
{
    text-align: left;
    padding: 10px;
}

/* To be able to center a page on all browsers, we use a container for al  the elements on the page */
#global-container 
{
	/* used to center the page */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left; /* to bring back the normal alignment */
	
}


/* */
.clear {
	clear:both;
	height:1px;
	font-size:1px;
	border:none;
	margin:0; 
	padding:0;
	background:transparent;
}

/* =====================================================================
 * ---------------------     Style for banner     ----------------------
 * ===================================================================== */
#banner {
	background-image:url("../images/local/skin/header_background.png");
	width: 1020px;
	height: 80px;
	margin: 0 auto;
	padding: 1px;

	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}

/* Logo */

#logo {
	float: left;
	margin: 24px;
}


/* =====================================================================
 * -----------------     Style for quick-search     --------------------
 * ===================================================================== */
#search {
	float: right;
	width: 280px;
	padding-top: 5px;
	text-align: right;
}

#banner-header {
	padding-right: 15px;
  padding-top: 10px;
}
#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin-right: 15px;
	padding: 0;
	border: none;
}

#search legend {
	display: none;
}

#searchinput, #searchsubmit {
	border: 1px solid #81ADD7;
	font: bold 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5693C0;
	-moz-border-radius: 5px;
}

#searchinput {
	padding: 2px 5px; 
	width: 140px;
}

#searchsubmit {
	width: 100px;
}


#searchsubmit {
	background: #FFFFFF ;
	
}

/* =====================================================================
 * -----------------     Style for  auth    --------------------
 * ===================================================================== */
#login {
  cursor: pointer;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	color:white;
	display:inline;
	text-align: right;
}

#login a {
	color:white;
}

#personnalisation {
  cursor: pointer;
	float: right;
	width: 100px;
	padding-top: 10px;
	color:white;
	display:inline;
}

#auth {
	display:none;
	width:98%;
	background-color:#a4a6a9;
	padding-left:2%;
	padding-top:10px;
}

#perso-menu {
	display:none;
	width:98%;
	background-color:#a4a6a9;
	padding-left:2%;
	padding-top:10px;
}

.input {
	border:1px solid #EEEEEE;
	width:120px;
	-moz-border-radius:4px;
}

#auth {
  text-align: center;
}

#auth h3{
  font-size: 120%;
}

#auth-lutece {
  clear: both;
	float:left;
	width:33%;
}

#auth-openid {
	float:left;
	width:33%;
}

#auth-register {
	float:left;
	width:33%;
}


/* =====================================================================
 * -----------------     Style for menu-tools     ----------------------
 * ===================================================================== */
#menu-tools
{
	height:20px;
}
#menu-tools, #menu-tools ul
{
	margin: 0;
	padding:0;
}
#menu-tools li 
{
	display: inline;
	background-image: url(../images/local/skin/banner_bullet.gif);
	background-repeat: no-repeat;
	background-position:  center left;
	padding-left:10px;
}

#menu-tools a 
{
	margin: 0 2px;
	color: #5693C0;
	text-decoration: none;
}
#menu-tools a:hover 
{
	color: #5693C0;
	text-decoration: underline;
}




/* =====================================================================
 * -------------------    Style for page-path    -----------------------
 * ===================================================================== */
#page-path 
{
	margin: 0 0 0 -60px;
}


/* =====================================================================
 * -----------------    Style for page-content    ----------------------
 * ===================================================================== */
/* The page-content area should contain the main content of the page organized depending on the layout wanted */

#page {
/*	clear:both; */
	width: 1022px;
	margin: 0 auto;
}

/* Content */
#content {
  clear: both;
	width: 100%;
	background-color:#444;
}

/* Sidebar */
#sidebar {
	display:none;
	float: left;
	width: 20%;	
}

/* =====================================================================
 * --------------     styles for a 1 zone layout     -----------------
 * ===================================================================== */
/* Positioning style for a one-zone layout */
/*
 * > one-zone-first
 * 		>> one-zone-first-content
 */
#one-zone-first 
{
	width: auto;
}

#one-zone-first-content 
{
	background-color:#444;
	padding: 30px;
/*	margin: 10px; */

}

/* ====================================================================
 * ------------     styles for a 2 zones layout     -----------------
 * ==================================================================== */
/* Positioning styles for a two-zones layout */
/*
 * > two-zones-first
 * 		>> two-zones-first-content
 * > two-zones-second
 * 		>> two-zones-second-content
 */

#two-zones-first 
{
	float: left;
	width:70%;
}

#two-zones-second 
{
	float: left;
	width: 30%;
}

#two-zones-first-content
{
	padding-left: 14px;
	padding-right: 7px;
	
}

#two-zones-second-content
{
    padding-left: 7px;
	padding-right: 14px;
}

/* ====================================================================
 * ------------     styles for a 2 zones equals     -----------------
 * ==================================================================== */
/* Positioning styles for a two-zones layout */
/*
 * > two-zones-first
 * 		>> two-zones-first-content
 * > two-zones-second
 * 		>> two-zones-second-content
 */

#two-zones-equals-first 
{
	float: left;
	width: 50%;
}

#two-zones-equals-second 
{
	margin-left: 50%;
}

/* ====================================================================
 * ------------     styles for a 3 zones layout     -----------------
 * ==================================================================== */
/* Positioning styles for a three-zones layout */
/* > three-zones-first-and-second
 * 		>> three-zones-first
 * 			>>> three-zones-first-content
 * 		>> three-zones-second
 * 			>>> three-zones-second-content
 * > three-zones-third
 * 		>> three-zones-third-content
 */
#three-zones-first-and-second
{
	float: left;
	width: 66%;
	background-color:#444;
}
#three-zones-first 
{
	float: left;
	width: 50%;
	background-color:#444;
}
#three-zones-second 
{
	margin-left: 50%;
	background-color:#444;
}
#three-zones-third 
{
	margin-left: 66%;
	background-color:#444;
}
#three-zones-first-content 
{
	padding-left: 10px;
	padding-right: 8px;
	background-color:#444;
}
#three-zones-second-content
{
   padding-left: 8px;
	padding-right: 8px;
	background-color:#444;
}
#three-zones-third-content 
{
   padding-left: 8px;
	padding-right: 10px;
	margin-top: 5px;
}


/* ====================================================================
 * ------------     styles for a 3 zones layout     -----------------
 * ==================================================================== */
#three-zones-left {
    float: left;
    width: 31%;
    background-color: #444;
    margin-left: 15px; 
}

#three-zones-right {
    float: right;
    width: 31%;
    background-color: #444;
    margin-right: 15px; 
}

#three-zones-middle {
    margin-left: 34%;
    margin-right: 34%;
    background-color: #444;
}


/* ====================================================================
 * ----------     styles for a 3 different zones layout  --------------
 * ==================================================================== */
/* Positioning styles for a three-zones layout */
/* > three-zones-first-and-second
 * 		>> three-zones-first
 * 			>>> three-zones-first-content
 * 		>> three-zones-second
 * 			>>> three-zones-second-content
 * > three-zones-third
 * 		>> three-zones-third-content
 */
#three-different-zones-first-and-second
{
	float: left;
	width: 77%;
}
#three-different-zones-first 
{
	float: left;
	width: 30%;
}
#three-different-zones-second 
{
	margin-left: 30%;
}
#three-different-zones-third 
{
	margin-left: 77%;
}
#three-different-zones-first-content 
{
    padding-left: 10px;
	padding-right: 5px;
}
#three-different-zones-second-content
{
    padding-left: 5px;
	padding-right: 5px;
}
#three-different-zones-third-content 
{
   padding-left: 5px;
	padding-right: 10px;
}

/* =====================================================================
 * --------------     styles for a middle column layout     -----------------
 * ===================================================================== */
/*
 /*
 * > middle-column-col1
 * 		>> middle-column-col1-content
 * > middle-column-col2
 * 		>> middle-column-col2-content
 */
 
 #middle-columns-float
{
	float: left;
	width: 100%;
}

#middle-columns-col1
{
	float: left;
	width: 50%;
}

#middle-columns-col2
{
/*	margin-left: 50%;*/
	 float: left; 
	 width: 50%;
}

#middle-columns-col1-content
{
	color: #000000;
}
#middle-columns-col2-content
{
	border: none;
	color: #000000;
	padding-left:5px;
	padding-right:10px;
}

/* =====================================================================
 * -------------          styles for the footer         ----------------
 * ===================================================================== */

#footer1 {
   clear: both;
   width: 1022px;
   margin: 0 auto;
}

#footer2 {
   clear: both;
 	 width: 1022px;
   margin: 0 auto;
}



