.-lutece-border-radius-top {
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
}
.-lutece-border-radius-bottom {
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-left-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.-lutece-border-radius {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}
.-lutece-border-radius-mini {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.-lutece-clear-both {
	clear: both;
}
.-lutece-center {
	margin-left: auto;
	margin-right: auto;
}
.-lutece-full-width {
	width: 100%;
}
.-lutece-800px-width {/* useful for insert-album gallery view panel only */ 
	width: 800px;
}
.-lutece-input {
	border:1px solid #81ADD7;
	color:#5693C0;
}
/**************************************************************************************************************/
#banner {
	background-color: #333333;
	height: 7em;
	margin-top: 2px;
	background-image: url("../images/local/skin/header_background.png");	
}

#search {
	text-align: right;
}

#page {
	background-color: #333333;
	padding:2em 0;
}
/***************************************************/
.portlet-background-header {
	background-image: url("../images/local/skin/title_background.png");
	background-color:#2178B3;
	font-size:1.4em;
	font-weight:bold;
	color:#EEEEEE;
	padding:0.28em 1em;
	border-bottom: 1px solid #efefef;
}
.portlet-background-content {
	background-image: url("../images/local/skin/portlet_background2.png");
	background-color: white;
	background-repeat: repeat-x;
	padding:1em;
}
.portlet {
	background-image: url("../images/local/skin/portlet_background2.png");
	background-color: white;
	background-repeat: repeat-x;
	padding:1em;
}
.portlet-header{
	font-size:1.4em;
	font-weight:bold;
}
/***************************************************/
#footer1 {
	background-color: #333333;
}

#footer1-subelement {
	background-color: #333333;
	color: #1F4772;
	height:20em;
	margin:1.5%;
	width:97%;
}

.footer1-column {
	margin-top: 1em;
	width: 33%;
	float: right;
}

a.first-level {
	color: #1F4772;
	font-size:1.4em;
	font-weight:bold;
	text-decoration:none;
}

a.last-level {
	color: #1F4772;
	font-size:0.9em;
	text-decoration:none;
	padding-left: 2em;
}

/***************************************************/
#footer2 {
	background-color: #444444;
	height: 5em;
	margin-bottom: 2px;
}

#footer-links {
	text-align: right;
}

#footer-rss {
	text-align: right;
}

#footer2 a {
	color: #dddddd;
}

