body {
	background-color: #5A5A5A;
	color: #FF9900;
}

#banner {
	background-color: #333333;
	height: 7em;
	margin-top: 2px;
	background-image: url("../images/local/skin/header_background.png");	
}

#search {
	text-align: right;
}

#header-link {
	text-align: right;
	display: inline;
}

#header-menu {
	background-color:#757779;
	padding: 30px 0px;
}
#menu-auth-label {
	text-decoration: underline;
	cursor: pointer;
	color: #ddd;
}
#menu-auth-label-logged a, #menu-auth-label-logged {
	text-transform: capitalize;
	color: #ddd;
}
/***************************************************/
#page {
	background-color: #333;
	padding-top: 1.4em;
}

#page a {
	color: #fff;
}

.portlet-background-header {
	background-image: url("../images/local/skin/title_background.png");
	background-color:#2178B3;
	font-size:1.4em;
	font-weight:bold;
	color:#FF9900;
	padding:0.28em 1em;
	border-bottom: 1px solid #efefef;
}
.portlet-background-content {
	background-image: url("../images/local/skin/portlet_background2.png");
	background-color: #606060;
	background-repeat: repeat-x;
	padding:1em;
}
.portlet {
	background-image: url("../images/local/skin/portlet_background2.png");
	background-color: #606060;
	background-repeat: repeat-x;
	padding:1em;
}
.portlet-header{
	font-size:1.4em;
	font-weight:bold;
}
.portlet-background-colored-content {
	background-image: url("../images/local/skin/portlet_background.png");
	background-repeat: repeat-x;
	background-color: #7b7b7b;
}
/***************************************************/
#footer1 {
	background-color: #171717;
}

#footer1-subelement {
	background-color: #515151;
	color: #1F4772;
	height:20em;
	margin:1.5%;
	width:97%;
}

.footer1-column {
	margin-top: 1em;
	width: 33%;
	float: right;
}

a.first-level {
	color: #FF9900;
	font-size:1.4em;
	font-weight:bold;
	text-decoration:none;
}

a.last-level {
	color: #fff;
	font-size:0.9em;
	text-decoration:none;
	padding-left: 2em;
}

/***************************************************/
#footer2 {
	background-color: #444444;
	height: 5em;
	margin-bottom: 2px;
}

#footer-links {
	text-align: right;
}

#footer-rss {
	text-align: right;
}

#footer2 a {
	color: #ddd;
}

.-lutece-framed {
	border: 1px solid #fff;
	padding:0.8em;
}
.-lutece-input {
	border:1px solid #81ADD7;
	color:#5693C0;
}