<@coreAdminCSSLinks />
<@tform method='post' name='form' id='form-portlet' action='jsp/admin/${portletType.doCreateUrl}' params='target="_top"'>  
<@input type='hidden' name='page_id' value='${portlet_page_id}' />
<@input type='hidden' name='portlet_type_id' value='${portletType.id}' />
<@box class='manage-portlet'>
	<@boxBody>
		<@row>
			<@columns>
				<@row class='portlet-toolbar'>
					<@columns sm=3>
						<@formGroup labelFor='portlet_name' helpKey='#i18n{portal.site.create_portlet.labelPortletTitle} [ ${portletType.name} ]' rows=2>
							<@input type='text' name='portlet_name' value='' maxlength=dskey('portal.site.site_property.portlet.title.maxlength')?number!70  />
						</@formGroup>
					</@columns>
					<@columns sm=2 class='portlet-options'>
						<@formGroup labelFor='role' formStyle='inline' helpKey='#i18n{portal.site.create_portlet.labelDisplayPortletTitle}' rows=2>
							<@radioButton name='display_portlet_title' id='display_portlet_title_yes' value='0' checked=true labelKey='#i18n{portal.site.create_portlet.radioButtonDisplayPortletTitleYes}' labelFor='display_portlet_title_yes'/>
							<@radioButton name='display_portlet_title' id='display_portlet_title_no' value='1'  labelKey='#i18n{portal.site.create_portlet.radioButtonDisplayPortletTitleNo}' labelFor='display_portlet_title_no'/>
						</@formGroup>
					</@columns>
					<#if !portletType.id?starts_with('ALIAS') && !portletType.id?starts_with('BLOG') && !portletType.id?starts_with('HTML_UNTRANSFORMED') >
						<@columns sm=1>
							<@formGroup labelFor='style' helpKey='#i18n{portal.site.create_portlet.labelStyle}' rows=2>
								<@select name='style' default_value='0' items=portlet_style_combo />
							</@formGroup>
						</@columns>
					</#if>
					<@columns sm=1 class='portlet-options'>
						<@formGroup labelFor='page_id' helpKey='<small>#i18n{portal.site.modify_portlet.labelPortletPageId}</small>' rows=2>
							<@input type='text' name='page_id' disabled=true readonly=true value='${portlet_page_id}' />
						</@formGroup>
					</@columns>
					<@columns sm=1 class='portlet-options'>
						<@formGroup labelFor='column' helpKey='#i18n{portal.site.create_portlet.labelColumn}' rows=2>
							<@select name='column' default_value='1' items=portlet_columns_combo />
						</@formGroup>
					</@columns>
					<@columns sm=1 class='portlet-options'>	
						<@formGroup labelFor='order' helpKey='#i18n{portal.site.create_portlet.labelOrder}' rows=2>
							<@select name='order' default_value='1' items=portlet_order_combo />
						</@formGroup>
					</@columns>
					<@columns sm=2 class='portlet-options'>
						<@formGroup formStyle='inline' helpKey='#i18n{portal.site.create_portlet.labelAlias}' rows=2>	
							<@radioButton name='accept_alias' id='accept_alias_yes' value='1' labelKey='#i18n{portal.util.labelYes}' labelFor='accept_alias_yes' />
							<@radioButton name='accept_alias' id='accept_alias_no' value='0' checked=true labelKey='#i18n{portal.util.labelNo}' labelFor='accept_alias_no' />
						</@formGroup>
					</@columns>
					<@columns sm=3>
						<@formGroup class='display-options' helpKey='#i18n{portal.site.create_portlet.labelDisplayOnDevice}' rows=2>
							<@checkBox orientation='switch' name='display_on_small_device' id='display_on_small_device' value='1' checked=true labelKey='#i18n{portal.site.create_portlet.checkboxSmallDevice}' />
							<@checkBox orientation='switch' name='display_on_normal_device' id='display_on_normal_device' value='1' checked=true labelKey='#i18n{portal.site.create_portlet.checkboxNormalDevice}' />
							<@checkBox orientation='switch' name='display_on_large_device' id='display_on_large_device' value='1' checked=true labelKey='#i18n{portal.site.create_portlet.checkboxLargeDevice}' />
							<@checkBox orientation='switch' name='display_on_xlarge_device' id='display_on_xlarge_device'value='1' checked=true labelKey='#i18n{portal.site.create_portlet.checkboxXLargeDevice}' />
						</@formGroup>
					</@columns>
					<@columns sm=1>
						<@formGroup labelFor='role' helpKey='#i18n{portal.site.create_portlet.labelRole}' rows=2>
							<@select name='role' default_value='none' items=portlet_role_combo />
						</@formGroup>
					</@columns>
					<@columns sm=1>
						<@button type='submit' buttonIcon='check' title='#i18n{portal.site.create_portlet.buttonValidate}' size='' />
					</@columns>	
				</@row>
				
			</@columns>
		</@row>
		<@row class='m-1'>
			<@columns class='is-flex-grow-5'>
			<#if portletType.modifySpecificTemplate != "" ><#include portletType.createSpecificTemplate /></#if>
			<#if portletType.modifySpecificFormTemplate != "" ><#include portletType.createSpecificFormTemplate /></#if>
			</@columns>
		</@row>
		<@row class='m-1'>
			<@columns>
				<@formGroup rows=2>
					<@button type='submit' buttonIcon='check' title='#i18n{portal.site.create_portlet.buttonValidate}' size='' />
					<@aButton href='jsp/admin/site/AdminSite.jsp?page_id=${portlet_page_id}' params='target="_top"' color='secondary' buttonIcon='close' title='#i18n{portal.site.create_portlet.buttonBack}' size=''  />
				</@formGroup>
			</@columns>	
		</@row>
	</@boxBody>
</@box>
</@tform>
<#if portletType.createScriptTemplate != "" ><#include portletType.createScriptTemplate! /></#if>
<script>
const portletOptions = document.querySelectorAll( '.portlet-options' )
for(var i=0; i< portletOptions.length; i++) {
	portletOptions[i].style.display = "none"
}
const btn = document.getElementById( 'toggle-portlet-options' )
const btnIcon = btn.querySelector( '.fas' )
btn.onclick = function () {
	for(var i=0; i< portletOptions.length; i++) {
		if ( portletOptions[i].style.display !== 'none') {
			 portletOptions[i].style.display = 'none'
		} else {
			portletOptions[i].style.display = 'block'
		}
	}
	btnIcon.classList.toggle('fa-angle-double-right')
	btnIcon.classList.toggle('fa-angle-double-left')
}
</script>