
<#if portletType.modifyScriptTemplate != "" >
	<#include portletType.modifyScriptTemplate />
</#if>
<div class="row-fluid">
	<div class="span12">
    <fieldset>
    <legend>&nbsp;#i18n{portal.site.portletType.labelModify} ${portletType.name}</legend>
    <form method="post" name="form" action="${portletType.doModifyUrl}"  target="_top" class="form">
    <input type="hidden" name="portlet_id" value="${portlet.id}" />
    <input type="hidden" name="portlet_type_id" value="${portletType.id}" />
    <div id="panel" class="span3">
		<div class="well">
			<label>#i18n{portal.site.modify_portlet.labelPortletPageId}</label>
			<input type="text" name="page_id" value="${portlet.pageId}" class="input-mini" />
			<label for="order">#i18n{portal.site.modify_portlet.labelOrder}</label>
			<@comboSortedWithParams name="order" default_value="${portlet.order}" additionalParameters="class=\"span5\"" items=portlet_order_combo />
			<label for="column">#i18n{portal.site.modify_portlet.labelColumn}</label>
			<@comboSortedWithParams name="column" default_value="${portlet.column}" additionalParameters="class=\"span5\"" items=portlet_columns_combo />
			<label for="style">#i18n{portal.site.modify_portlet.labelStyle}</label>
			<@comboSortedWithParams name="style" default_value="${portlet.styleId}" additionalParameters="class=\"span10\"" items=portlet_style_combo />
			<label for="role">#i18n{portal.site.modify_portlet.labelRole}</label>
			<@comboSortedWithParams name="role" default_value="${portlet.role}" additionalParameters="class=\"span10\"" items=portlet_role_combo />
			<label>#i18n{portal.site.modify_portlet.labelAlias}</label>
			<#if portlet.acceptAlias = 1 >
				<input type= "radio" class="radio" name="accept_alias" value="1" checked="checked" />#i18n{portal.site.modify_portlet.radioButtonAcceptAliasYes}
				<input type= "radio" class="radio" name="accept_alias" value="0" /> #i18n{portal.site.modify_portlet.radioButtonAcceptAliasNo}
			<#else>
				<input type= "radio" class="radio" name="accept_alias" value="1" />#i18n{portal.site.modify_portlet.radioButtonAcceptAliasYes}
				<input type= "radio" class="radio" name="accept_alias" value="0" checked="checked" /> #i18n{portal.site.modify_portlet.radioButtonAcceptAliasNo}
			</#if>
			
			<label>#i18n{portal.site.create_portlet.labelDisplayOnDevice}</label>
			<label for="display_on_small_device">
				<input class="checkbox" type="checkbox" name="display_on_small_device" value="1" ${small_checked} > #i18n{portal.site.create_portlet.checkboxSmallDevice} &nbsp;
			</label>
			<label for="display_on_normal_device">
				<input class="checkbox" type="checkbox" name="display_on_normal_device" value="1" ${normal_checked} > #i18n{portal.site.create_portlet.checkboxNormalDevice} &nbsp;
			</label>
			<label for="display_on_large_device">
				<input class="checkbox" type="checkbox" name="display_on_large_device" value="1" ${large_checked}> #i18n{portal.site.create_portlet.checkboxLargeDevice} &nbsp;
			</label>
			<label for="display_on_xlarge_device">
				<input class="checkbox" type="checkbox" name="display_on_xlarge_device" value="1" ${xlarge_checked}> #i18n{portal.site.create_portlet.checkboxXLargeDevice} &nbsp;
			</label>
		</div>
    </div>
    <div id="content-portlet" class="span8">
		<label>#i18n{portal.site.modify_portlet.labelPortletTitle}</label>
		<input type="text" name="portlet_name" value="${portlet.name}" class="input-xxlarge" />
		<label>#i18n{portal.site.modify_portlet.labelDisplayPortletTitle}           
		<#if portlet.displayPortletTitle = 0 >
			<input type="radio" class="radio inline" name="display_portlet_title" value="0" checked="checked"/>#i18n{portal.site.modify_portlet.radioButtonDisplayPortletTitleYes}
			<input type="radio" class="radio inline" name="display_portlet_title" value="1"/> #i18n{portal.site.modify_portlet.radioButtonDisplayPortletTitleNo}
		<#else>
			<input type="radio" class="radio inline" name="display_portlet_title" value="0"/>#i18n{portal.site.modify_portlet.radioButtonDisplayPortletTitleYes}
			<input type="radio" class="radio inline" name="display_portlet_title" value="1" checked="checked"/> #i18n{portal.site.modify_portlet.radioButtonDisplayPortletTitleNo}
		</#if>
		</label>     
		<#if portletType.modifySpecificTemplate != "" >
			<#include portletType.modifySpecificTemplate />
		</#if>
		<#if portletType.modifySpecificFormTemplate != "" >
			<#include portletType.modifySpecificFormTemplate />
		</#if>
        <div class="row-fluid">
			<div class="span12">
				<div class="form-actions">
					<button type="submit" class="btn btn-primary btn-small">
						<i class="icon-ok icon-white"></i>
						<span class="hidden-phone" >#i18n{portal.site.create_portlet.buttonValidate}</span>
					</button>                       
					<a href="site/AdminSite.jsp?page_id=${portlet.pageId}" class="btn btn-primary btn-small" target="_top">            
						<i class="icon-remove-circle icon-white"></i>
						<span class="hidden-phone" >#i18n{portal.site.create_portlet.buttonBack}</span>
					</a>                          
				</div> 
			</div> 
		</div>
	</div>
	</form>			
	</fieldset>
	<a id="trigger" class="active" href="#" title="#i18n{portal.site.portletType.labelModify}">&nbsp;</a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	/*$("#panel").hide();*/
	$("#trigger").click(function(){
		$("#panel").toggle("fast");
		$(this).toggleClass("active");
		return false;
	});
});
</script>
