/******************************************************************************/
/*                     STYLES DU MODULE ADMINISTRATION           pour IE7        */
/******************************************************************************/


/* =====================================================================
 * -----------------     Style for quick-search     --------------------
 * ===================================================================== */

BODY, TD, FONT, A, SPAN, P, LI, UL, BR, HR, DIV, TD, TH
{
	font-family : Tahoma, Verdana, Geneva, Arial;
   font-size:13px;  
}

#menu-main {
	margin-top: -38px;
}
