/******************************************************************************/
/*                     STYLES DU MODULE ADMINISTRATION           pour IE7        */
/******************************************************************************/


#admin-header 
{
	height: 53px;
}

div#feature-title {
	
   margin-top: 35px;
}

div.content-box {
	background: #DEE8F1  url(../../images/admin/skin/roundbox_tl.gif) top left no-repeat;
}

.preview {
	margin-right: 30px;
}

/* Form  */

form  span.form-field-column ul {
    margin-left: 26%;
}

form  span.form-field-ligne ul {
    margin-left: 26%;

}