.-lutece-border-radius-top {
	-moz-border-radius-topleft:0.8em;
	-moz-border-radius-topright:0.8em;
	-webkit-border-top-left-radius:0.8em;
	-webkit-border-top-right-radius:0.8em;
	border-top-left-radius:0.8em;
	border-top-right-radius:0.8em;
}

.-lutece-border-radius-bottom {
	-moz-border-radius-bottomleft:0.8em;
	-moz-border-radius-bottomright:0.8em;
	-webkit-border-bottom-left-radius:0.8em;
	-webkit-border-bottom-right-radius:0.8em;
	border-bottom-left-radius:0.8em;
	border-bottom-right-radius:0.8em;
}

.-lutece-border-radius {
	-moz-border-radius:0.8em;
	-webkit-border-radius:0.8em;
	border-radius:0.8em;
}

/**************************************************************************************************************/

#banner {
	background-color: #2178B3;
	height: 7em;
	margin-top: 5px;
}

#search {
	text-align: right;
}

#page {
	background-color: #f8f8f8;
	padding:2em 0;
}

/***************************************************/
#footer1 {
	background-color: #757779;
}

#footer1-subelement {
	background-color: #f1f1f1;
	height:20em;
	margin:1.5%;
	width:97%;
}

.footer1-column {
	margin-top: 1em;
	width: 33%;
	float: right;
}

a.first {
	color:#1F4772;
	font-size:1.4em;
	font-weight:bold;
	text-decoration:none;
}

a.last {
	font-size:1em;
	font-weight:normal;
}
/***************************************************/
#footer2 {
	background-color: #444444;
	height: 5em;
	margin-bottom: 5px;
}

#footer-links {
	text-align: right;
}

#footer-rss {
	text-align: right;
}

#footer2 a {
	color: #dddddd;
}