/**************************************** */
/* SPECIFIC LUTECE DEFAULT THEME STYLES   */
/* ************************************** */
/* ADMIN STYLES                           */
/* Icon classes                           */
@import 'tabler-icons.min.css';

/* Variables 									*/
:root {
	--main-color: #071F32;
	--main-danger-color: #E22C3F;
	--main-success-color: #248619;
	--main-warning-color: #D14800;

	--black-color: #000;
	--dark-color: #1A1A1A;
	--gray-color: #A1A1A1;
	--white-color: #FFF;

    --black-color-op5:  #00000080;
    
	--main-color-shadow: #071f321a;
	--card-color-shadow: #00000029;
	--switch-color-shadow: #0088dd40;

    --border-size: 1px;
    --border-size-large: 2px;

    --height-small: 25vh;

	--size-mini: .4rem;
	--size-tiny: .5rem;
	--size-tiny-less: -.5rem;
	--size-small: .75rem;
	--size-normal: 1rem;
	--size-medium: 1.25rem;
	--size-large: 1.5rem;
	--size-xlarge: 2rem;
	--size-xslarge: 2.5rem;
	--size-xslarge-less: -2.5rem;
	--size-xmlarge: 3rem;
	--size-xxlarge: 3.5rem;
}

/* Utility classes                        */
.visually-hidden {
    display: none
}

.me-2 {
    margin-right: var( --size-small )
}

.fs-0 {
    font-size: var( --size-xxlarge ) !important;
}

/* Dialog */
.lutece-dialog{
    background-color: var( --white-color );
}

.lutece-dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var( --black-color-op5 );
    animation: none;
}

.lutece-dialog .lutece-dialog-fullscreen {
    max-width: none;
    width: 100vw;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left:0;
    display: grid;
    place-items: center;
}

.lutece-dialog .lutece-dialog-fullscreen .lutece-dialog-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
 
.lutece-dialog .lutece-dialog-content {
    border: var(--border-size) solid var( --gray-color );
}

.lutece-dialog .lutece-dialog-content .lutece-dialog-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-size-large) solid var( --gray-color );
    padding: var( --size-normal) var( --size-xlarge);
}

.lutece-dialog .lutece-dialog-content .lutece-dialog-body{
    padding: var( --size-normal) var( --size-xlarge)
}

.lutece-dialog .lutece-dialog-content .lutece-dialog-body .btn-new-portlet{
    height: auto !important;
}

/* TODO */
/*
.lutece-dialog .lutece-dialog-content .lutece-dialog-footer{
}
*/

/* Admin Layout classes                    */
/* Column Layout classes                   */
.lutece-admin-column {
    padding: var( --size-tiny );
    position: relative;
    border: var( --border-size-large ) dotted transparent;
    border-radius: var( --size-large);
}

.lutece-admin-column:has( .lutece-admin-column-outline:empty ),
.lutece-admin-column:hover {
    border-color: var( --gray-color )
}

.lutece-admin-column:has( .lutece-admin-column-outline:empty ){
    height: var( --height-small );
}

.lutece-admin-column:has( .lutece-admin-column-outline:empty )::before{
    content: attr( data-no-content );
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: var( --size-xmlarge );
    text-align: center;
}

.lutece-admin-column .lutece-admin-column-outline {
    padding: var( --size-tiny);
}

.lutece-admin-column .lutece-column-toolbar {
    display: none;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    padding: var( --size-mini );
}

.lutece-admin-column:has( .lutece-admin-column-outline:empty ) .lutece-column-toolbar,
.lutece-admin-column:hover .lutece-column-toolbar {
    display: flex;
}

.lutece-admin-column:has( .lutece-admin-column-outline:empty ) .lutece-admin-column-id, 
.lutece-admin-column:hover .lutece-column-toolbar .lutece-admin-column-id {
    position: absolute;
    top: .25rem;
    left: .25rem;
    border-radius: var( --size-large );
    padding: var( --size-small );
    color: var( --white-color );
    box-shadow: rgb(114, 114, 114) var( --size-mini ) var( --size-mini ) 15px;
}

.lutece-admin-column .lutece-column-toolbar .btn-column-add-portlet {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    padding: .75rem 1.4rem;
    border-top-right-radius: 15px;
    transition: border-bottom-left-radius .5s ease-out;
 }

 .lutece-admin-column .lutece-column-toolbar .btn-column-add-portlet:hover {
    border-bottom-left-radius: 15px;
}

.lutece-admin-column:hover .lutece-column-toolbar .btn-column-add-portlet::before {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Portlet Layout classes                  */
.lutece-admin-portlet {
    padding: 1rem;
    border: var( --border-size-large );
    border-style: dashed;
    border-color: transparent;
    border-radius: var( --size-normal );
    position: relative;
    margin-bottom: var( --size-normal );
    min-height: auto;
    transition: min-height 2s ease-in-out;
}

.lutece-admin-portlet:hover {
    border-color: var( --gray-color);
    min-height: 270px;
}

/* Portlet toolbar Layout classes          */
.lutece-admin-portlet .lutece-admin-toolbar {
    position: absolute;
    right: -1.5rem;
    top: 4.5rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lutece-admin-portlet .lutece-admin-toolbar {
    opacity: 0;
    transition: opacity 1s ease-out;
    background-color: var( --white-color);
    padding: 7.5px;
    border: var( --border-size-large ) solid var( --gray-color);
    border-radius: var( --size-large);
}

.lutece-admin-portlet:hover .lutece-admin-toolbar {
    opacity: 1;
}

.lutece-admin-portlet .lutece-admin-toolbar .badge {
    color: var( --white-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: grid;
    place-items: center;
    margin-bottom: 5px
}

.lutece-admin-portlet .lutece-admin-toolbar .btn {
    font-size: 1.5rem;
    padding: .35rem 0 .15rem .75rem !important;
    margin-bottom: 5px;
    border-radius: 50%;
    height: 3.5rem !important;
}