/******************************************
/* SPECIFIC LUTECE DEFAULT THEME STYLES   *
******************************************/
/* CORE STYLES */
/* Fix for fixed-nav-bar*/
body{padding-top:60px;}

.container{min-height:600px;}

/* img list styles */
img.thumblist-mini{width:24px;height:24px;}
img.thumblist-small{width:32px;height:32px;}
img.thumblist-medium{width:64px;height:64px;}
img.thumblist-large{width:128px;height:128px;}
/* END CORE STYLES */

/* avatar default styles */
.avatar{margin:2px; border:1px solid #000;padding:2px;margin-right:10px; }
.avatar-mini{width:18px;height:18px;}
.avatar-small{width:32px;height:32px;}
.avatar-large{width:64px;height:64px;}
.avatar-huge{width:128px;height:128px;}

/* ADMIN STYLES */
/* Lutece admin style do not remove ! */
.btn-group-portlet{float:right;margin:5px 0 0 0;padding:4px;background-color:#DEDEDE;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn-group-portlet form{margin-bottom:2px !important; }
.btn-group-portlet button{opacity:0.6;margin:0 1px;background-color:#DEDEDE !important;}
.btn-group-portlet button:hover{opacity:1;background-color:#DEDEDE !important;}

.form-in-dropdown{color:#555555;padding:5px;margin:0px;}
.form-in-dropdown button{width:100%;}
/*
div.btn-group-portlet + [class^="portlet"]:hover,div.btn-group-portlet + [class*=" portlet"]:hover  > [class^="btn-group-portlet"]{background-color:#DEDEDE; }
*/
/* Lutece admin style do not remove ! */