body, div {
margin:0px;
padding:0px;
}

#global-container {
margin-left:auto;
margin-right:auto;
text-align:left;
width:100%;
}

.clear {
background:transparent;
border:none;
clear:both;
font-size:1px;
height:1px;
margin:0;
padding:0;
}

#banner {
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background-image:url(../images/local/skin/header_background.png);
height:80px;
margin:0 auto;
padding:1px;
width:1020px;
}

#logo {
float:left;
margin:24px;
}

#search {
float:right;
padding-top:5px;
text-align:right;
width:280px;
}

#banner-header {
padding-right:15px;
padding-top:10px;
}

#search fieldset {
border:none;
margin-right:15px;
padding:0;
}

#search legend {
display:none;
}

#searchinput,#searchsubmit {
-moz-border-radius:5px;
border:1px solid #81ADD7;
color:#5693C0;
font:bold 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#searchinput {
padding:2px 5px;
width:140px;
}

#searchsubmit {
background:#FFF;
width:100px;
}

#login {
color:#FFF;
cursor:pointer;
display:inline;
float:right;
padding-right:10px;
padding-top:10px;
text-align:right;
}

#login a {
color:#FFF;
}

#personnalisation {
color:#FFF;
cursor:pointer;
display:inline;
float:right;
padding-top:10px;
width:100px;
}

#auth {
background-color:#a4a6a9;
display:none;
padding-left:2%;
padding-top:10px;
text-align:center;
width:98%;
}

#perso-menu {
background-color:#a4a6a9;
display:none;
padding-left:2%;
padding-top:10px;
width:98%;
}

.input {
-moz-border-radius:4px;
border:1px solid #EEE;
width:120px;
}

#auth h3 {
font-size:120%;
}

#auth-lutece {
clear:both;
float:left;
width:33%;
}

#menu-tools {
height:20px;
}

#menu-tools li {
background-image:url(../images/local/skin/banner_bullet.gif);
background-position:center left;
background-repeat:no-repeat;
display:inline;
padding-left:10px;
}

#menu-tools a {
color:#5693C0;
margin:0 2px;
text-decoration:none;
}

#menu-tools a:hover {
color:#5693C0;
text-decoration:underline;
}

#page-path {
/* margin:0 0 0 -60px; */
}

#page {
margin:0 auto;
width:1022px;
padding:0px;
}

#content {
background-color:#DBDBDB;
clear:both;
width:100%;
}

#sidebar {
display:none;
float:left;
width:20%;
}

#one-zone-first {
width:auto;
}

#one-zone-first-content {
background-color:#DBDBDB;
padding:30px;
}

#two-zones-first {
float:left;
width:70%;
}

#two-zones-first-content {
padding-left:14px;
padding-right:7px;
}

#two-zones-second-content {
padding-left:7px;
padding-right:14px;
}

#two-zones-equals-second {
margin-left:50%;
}

#three-zones-first-and-second {
background-color:#DBDBDB;
float:left;
width:66%;
}

#three-zones-first {
background-color:#DBDBDB;
float:left;
width:50%;
}

#three-zones-second {
background-color:#DBDBDB;
margin-left:50%;
}

#three-zones-third {
background-color:#DBDBDB;
margin-left:66%;
}

#three-zones-first-content {
background-color:#DBDBDB;
padding-left:10px;
padding-right:8px;
}

#three-zones-second-content {
background-color:#DBDBDB;
padding-left:8px;
padding-right:8px;
}

#three-zones-third-content {
margin-top:5px;
padding-left:8px;
padding-right:10px;
}

#three-zones-left {
background-color:#DBDBDB;
float:left;
margin-left:15px;
width:31%;
}

#three-zones-right {
background-color:#DBDBDB;
float:right;
margin-right:15px;
width:31%;
}

#three-zones-middle {
background-color:#DBDBDB;
margin-left:34%;
margin-right:34%;
}

#three-different-zones-first-and-second {
float:left;
width:77%;
}

#three-different-zones-second {
margin-left:30%;
}

#three-different-zones-third {
margin-left:77%;
}

#three-different-zones-first-content {
padding-left:10px;
padding-right:5px;
}

#three-different-zones-second-content {
padding-left:5px;
padding-right:5px;
}

#three-different-zones-third-content {
padding-left:5px;
padding-right:10px;
}

#middle-columns-float {
float:left;
width:100%;
}

#middle-columns-col1-content {
color:#000;
}

#middle-columns-col2-content {
border:none;
color:#000;
padding-left:5px;
padding-right:10px;
}


#auth-openid,#auth-register {
float:left;
width:33%;
}

#two-zones-second,#three-different-zones-first {
float:left;
width:30%;
}

#two-zones-equals-first,#middle-columns-col1,#middle-columns-col2 {
float:left;
width:50%;
}

#footer1,#footer2 {
clear:both;
margin:0 auto;
width:1022px;
}