/************************************************/
/* SPECIFIC LUTECE DEFAULT THEME STYLES         */
/************************************************/
/* Variables 									*/
:root {
	--main-color: #071F32;
  --alt-main-color : var(  --alt-main-color );
	--main-info-color: #3C67FF;
	--main-success-color: #248619;
	--alt-success-color: #3ECD2E;
	--main-error-color: #FF3300;

	--black-color: #000;
	--white-color: #FFF;

  --box-shadow-dark-color : rgba(0, 0, 0, .1);
  --box-shadow-gray-color : rgba(210, 210, 210, .5 );

  --bg-gray-color : rgba(255, 255, 255, .5 );

	--size-small: .75rem;
	--size-normal: 1rem;
	--size-medium: 1.25rem;
	--size-large: 2.5rem;
	--size-xlarge: 3.2rem;
	--size-xxlarge: 4.5rem;
	--size-xxxlarge: 6rem;
}

html { scroll-behavior: smooth; }
body { font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 62.5%; line-height: 1.15; color: var( --main-color ); overflow-x: hidden; }

* { margin: 0; padding: 0; box-sizing: border-box; }
a:focus, input:focus, textarea:focus, button:focus, .btn:focus, .btn.focus, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {  text-decoration: none; outline: none; box-shadow: none; }

a:hover {  color: var(--main-info-color );}
/* a {  transition: all 0.3s ease-out 0s; } */

a, a:focus, a:hover { text-decoration: none; }

i, span, a {  display: inline-block; }

h1,h2,h3{ font-weight: 700; margin: 0px; color: var( --main-color ); }

h1 a, h2 a, h3 a { color: inherit; }
h1 { font-size: var(--size-large); }

@media (max-width: 767px) {
  h1 {
    font-size: 34px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 25px;
}

ul, ol {  margin: 0px;  padding: 0px; list-style-type: none; }

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.error {
  color: var(--main-error-color);
}

.success {
  color: var(--main-success-color);
}

/*===== NAVBAR =====*/
.navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  background: var(--white-color );
}

.navbar {
  transition: all 0.3s ease-out 0s;
  padding: 5px 0;
}

@media only screen and ( min-width: 768px ) and ( max-width: 991px ) {
  .navbar {
    padding: 17px 0;
  }
}

@media ( max-width: 767px ) {
  .navbar {
    padding: 17px 0;
  }
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 180px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  transform: rotate(135deg);
  top: -7px;
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color );
    z-index: 9;
    box-shadow: 0px 15px 20px 0px var( --box-shadow-dark-color );
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color );
    z-index: 9;
    box-shadow: 0px 15px 20px 0px var( --box-shadow-dark-color );
    padding: 5px 12px;
  }
} 

.navbar-nav .nav-item {
  position: relative;
  margin-left: 40px;
}

.navbar-nav .nav-item a {
  font-size: 18px;
  font-weight: 400;
  color: var( --main-color );
  transition: all 0.3s ease-out 0s;
  padding: 1rem;
  position: relative;
}

.navbar-nav .nav-item a:hover{
  color: var( --white-color );
  background-color: var( --main-info-color );
}

@media only screen and ( min-width: 768px ) and ( max-width: 991px ) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: var( --main-color );
  }
}

@media ( max-width: 767px ) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: var( --main-color );
  }
}

.lutece {
  position: relative;
  z-index: 1;
  padding: 100px 0 0 50px;
  background-image: url( "../images/site/home-bg.svg" );
  background-repeat: no-repeat;
  background-position: 0 0;
}

.lutece .lutece-content p {
  background-color: var( --bg-gray-color );
}

@media only screen and (min-width: 1400px) {
  .lutece .home-lutece p {
    padding-right: 100px;
  }
}

.lutece-content {
  margin-top: 12rem
}

.lutece-content .list-lutece {
  display: flex;
  align-items: center;
}

.lutece-content .list-lutece li:first-child {
  margin-right: 20px;
}

.lutece-content .list-lutece li:first-child a {
  background: var(--main-info-color );
  color: var(--white-color );
}

.lutece-content .list-lutece li:first-child a .icon {
  color: var(--white-color );
}

.lutece-content .list-lutece li:first-child a .text {
  color: var(--white-color );
}

.lutece-content .list-lutece li:first-child a .text b {
  color: var(--white-color );
}

.lutece-content .list-lutece li a {
  display: inline-flex;
  background: var(--white-color );
  border-radius: 10px;
  padding: 15px 25px;
  margin-bottom: 15px;
  align-items: center;
  box-shadow: 0px 3px 23px var( --box-shadow-gray-color );
}

.lutece-content .list-lutece li a .icon {
  font-size: 30px;
  color: var( --main-color );
  margin-right: 10px;
}

.lutece-content .list-lutece li a .text {
  font-size: 10px;
  color: var( --main-color );
}

.lutece-content .list-lutece li a .text b {
  color: var( --main-color );
  font-size: 16px;
  font-weight: 700;
  display: block;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer .lutece-wrapper .footer-lutece {
  margin-bottom: 40px;
}

.footer .lutece-wrapper .footer-lutece .logo {
  margin-bottom: 30px;
}

.footer .lutece-wrapper .footer-lutece p.desc {
  padding-right: 100px;
  margin-bottom: 35px;
}

.footer .lutece-wrapper .footer-lutece h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer .lutece-wrapper .footer-lutece .contact {
  display: flex;
}

.footer .lutece-wrapper .footer-lutece .contact li {
  margin-right: 20px;
}

.footer .lutece-wrapper .footer-lutece .contact li:last-child {
  margin-right: 0;
}

.footer .lutece-wrapper .footer-lutece .contact li a {
  width: var( --size-xxlarge );
  height: var( --size-xxlarge );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var( --bg-gray-color );
  color: var(--black-color );
}

.footer .lutece-wrapper .footer-lutece .contact li a .ti {
  font-size: var( --size-xlarge );
}

.footer .lutece-wrapper .footer-lutece .contact li a:hover {
  background: var( --main-info-color );
  color: var( --white-color );
}

.footer .lutece-wrapper .footer-lutece .links li a {
  color: var( --main-color );
  line-height: 33px;
}

.footer .lutece-wrapper .footer-lutece .links li a:hover {
  color: var(--main-info-color );
}

footer .social-pics{ max-width:40px; padding:5px; display: inline-block;}


