<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box box-info">
			<div class="box-header">
				<h3 class="box-title">#i18n{portal.style.create_mode.boxTitle}</h3>
				<div class="box-tools"></div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<form class="form-horizontal" role="form" method="post" name="create_mode" action="jsp/admin/style/DoCreateMode.jsp">
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_description"> #i18n{portal.style.create_mode.labelModeName}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_description" name="mode_description" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_path"> #i18n{portal.style.create_mode.labelXslDirectory}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_path" name="mode_path" class="form-control" maxlength="50" />
							<p class="help-block">#i18n{portal.style.create_mode.xslDirectorySampleMessage}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 col-sr-only"></label>
						<div class="col-sm-10">
							<p class="form-control-static"><strong>#i18n{portal.style.modify_mode.xslParameterValues}</strong></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_method"> #i18n{portal.style.create_mode.labelMethod}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_method" name="mode_output_xsl_method" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_version"> #i18n{portal.style.create_mode.labelVersion}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_version" name="mode_output_xsl_version" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_media_type"> #i18n{portal.style.create_mode.labelMediaType}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_media_type" name="mode_output_xsl_media_type" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_encoding"> #i18n{portal.style.create_mode.labelEncoding}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_encoding" name="mode_output_xsl_encoding" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_indent"> #i18n{portal.style.create_mode.labelIndent}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_indent" name="mode_output_xsl_indent" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_omit_xml_declaration"> #i18n{portal.style.create_mode.labelOmitXmlDeclaration}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_omit_xml_declaration" name="mode_output_xsl_omit_xml_declaration" class="form-control" maxlength="50" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="mode_output_xsl_standalone"> #i18n{portal.style.create_mode.labelStandalone}</label>
						<div class="col-sm-10">
							<input type="text" id="mode_output_xsl_standalone" name="mode_output_xsl_standalone" class="form-control" maxlength="50" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-sm-10">
							<button class="btn btn-primary btn-flat" type="submit" >
								<i class="glyphicon glyphicon-ok"></i> #i18n{portal.style.create_mode.buttonLabelCreate}
							</button>
							<a  class="btn btn-default btn-flat" href="jsp/admin/style/ManageModes.jsp" >
								<i class="glyphicon glyphicon-remove-circle"></i> #i18n{portal.util.labelCancel}
							</a>
						</div>	
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>
