<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="box box-info">
			<div class="box-header">
				<h3 class="box-title">#i18n{portal.style.create_style.title}</h3>
			</div>
			<div class="box-body">
				<form class="form-horizontal" method="post"  name="create_style" action="jsp/admin/style/DoCreateStyle.jsp">
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="style_id"> #i18n{portal.style.create_style.labelId} * </label>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<input type="text" class="form-control" id="style_id" name="style_id" size="5" maxlength="10">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="style_name"> #i18n{portal.style.create_style.labelName} * </label>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<input type="text" class="form-control" id="style_name" name="style_name" size="60" maxlength="100">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="portal_component"> #i18n{portal.style.create_style.labelComponentType} </label>
						<#assign javascriptComboParams>onChange="javascript:if( document.create_style.portal_component.value == '0' ) {document.create_style.portlet_type.disabled=false;} else {document.create_style.portlet_type.disabled=true;}"</#assign>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<@comboWithParams name="portal_component" default_value="0" additionalParameters="${javascriptComboParams} class=\"form-control\" " items=portal_component_list />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="portlet_type"> #i18n{portal.style.create_style.labelPortletType}</label>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<@comboSortedWithParams name="portlet_type" default_value="0" additionalParameters=" class=\"form-control\" " items=portlet_type_list />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12 col-sm-offset-3 col-sm-6">
							<button class="btn btn-primary btn-flat" type="submit" >
								<i class="fa fa-plus"></i>&nbsp;#i18n{portal.style.create_style.buttonCreate}
							</button>
							<a class="btn btn-default btn-flat" href="jsp/admin/style/ManageStyles.jsp">
								<i class="fa fa-remove"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
if( document.create_style.portal_component.value == '0' ) {
	document.create_style.portlet_type.disabled=false;
} else {
	document.create_style.portlet_type.disabled=true;
}
</script>
