<div class="content-box" >

    <h2>#i18n{portal.style.create_mode.boxTitle}</h2>
			       
    <form method="post" name="create_mode" action="jsp/admin/style/DoCreateMode.jsp">		
        <p>
            <label>#i18n{portal.style.create_mode.labelModeName}</label>
            <input type="text" name="mode_description" tabindex="1" size="60" maxlength="50" />
        </p>		
        <p>
            <label>#i18n{portal.style.create_mode.labelXslDirectory}</label>
            <input type="text" name="mode_path" size="60" tabindex="2" maxlength="50" />
            <em>#i18n{portal.style.create_mode.xslDirectorySampleMessage}</em>   
        </p>       
        <p style="padding-left:15%">
            <strong>#i18n{portal.style.create_mode.xslParametersValues}</strong>
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelMethod}</label>
            <input type="text" name="mode_output_xsl_method" tabindex="3" size="60" maxlength="50" />
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelVersion}</label>
            <input type="text" name="mode_output_xsl_version" tabindex="4" size="60" maxlength="50" />
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelMediaType}</label>
            <input type="text" name="mode_output_xsl_media_type" tabindex="5" size="60" maxlength="50" />
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelEncoding}</label>
            <input type="text" name="mode_output_xsl_encoding" tabindex="6" size="60" maxlength="50" />
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelIndent}</label>
            <input type="text" name="mode_output_xsl_indent" tabindex="7" size="60" maxlength="50" />
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelOmitXmlDeclaration}</label>
            <input type="text" name="mode_output_xsl_omit_xml_declaration" tabindex="8" size="60" maxlength="50" />
        </p>
        <p>
            <label>#i18n{portal.style.create_mode.labelStandalone}</label>
            <input type="text" name="mode_output_xsl_standalone" tabindex="9" size="60" maxlength="50" />
        </p>
        <p>
            <input type="submit" value="#i18n{portal.style.create_mode.buttonLabelCreate}" tabindex="10" class="button" />
        </p>
    </form>
</div>
