<@row>
	<@columns>
		<@box color='info'>
			<@boxHeader title='#i18n{portal.style.create_mode.boxTitle}' />
			<@boxBody>
				<@tform method='post' action='jsp/admin/style/DoCreateMode.jsp' name='create_mode'>
					<input type="hidden" name="token" value="${token}">
					<@formGroup labelFor='mode_description' labelKey='#i18n{portal.style.create_mode.labelModeName}' mandatory=true>
						<@input type='text' id='mode_description' name='mode_description' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='mode_path' labelKey='#i18n{portal.style.create_mode.labelXslDirectory}' helpKey='#i18n{portal.style.create_mode.xslDirectorySampleMessage}' mandatory=true>
						<@input type='text' id='mode_path' name='mode_path' maxlength=50 />
					</@formGroup>
					<fieldset>
					<legend>#i18n{portal.style.modify_mode.xslParameterValues}</legend>
					<@formGroup labelFor='mode_output_xsl_method' labelKey='#i18n{portal.style.create_mode.labelMethod}'>
						<@input type='text' id='mode_output_xsl_method' name='mode_output_xsl_method' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='mode_output_xsl_version' labelKey='#i18n{portal.style.create_mode.labelVersion}'>
						<@input type='text' id='mode_output_xsl_version' name='mode_output_xsl_version' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='mode_output_xsl_media_type' labelKey='#i18n{portal.style.create_mode.labelMediaType}'>
						<@input type='text' id='mode_output_xsl_media_type' name='mode_output_xsl_media_type' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='mode_output_xsl_encoding' labelKey='#i18n{portal.style.create_mode.labelEncoding}'>
						<@input type='text' id='mode_output_xsl_encoding' name='mode_output_xsl_encoding' />
					</@formGroup>
					<@formGroup labelFor='mode_output_xsl_indent' labelKey='#i18n{portal.style.create_mode.labelIndent}'>
						<@input type='text' id='mode_output_xsl_indent' name='mode_output_xsl_indent' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='mode_output_xsl_omit_xml_declaration' labelKey='#i18n{portal.style.create_mode.labelOmitXmlDeclaration}'>
						<@input type='text' id='mode_output_xsl_omit_xml_declaration' name='mode_output_xsl_omit_xml_declaration' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='mode_output_xsl_standalone' labelKey='#i18n{portal.style.create_mode.labelStandalone}'>
						<@input type='text' id='mode_output_xsl_standalone' name='mode_output_xsl_standalone' maxlength=50 />
					</@formGroup>
					</fieldset>
					
					<@formGroup>
						<@button type='submit' buttonIcon='check' title='#i18n{portal.style.create_mode.buttonLabelCreate}'  size='' />
						<@aButton href='jsp/admin/style/ManageModes.jsp' buttonIcon='times' title='#i18n{portal.util.labelCancel}'  size='' color='btn-secondary' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>