<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.style.manage_page_templates.pageTitle}'>
            <@offcanvas targetUrl="jsp/admin/style/CreatePageTemplate.jsp" targetElement="#create-template-form" redirectForm=false id="template-create" title="#i18n{portal.style.create_page_template.boxTitle}" btnTitle="#i18n{portal.style.manage_page_templates.buttonLabelCreate}" btnIcon="plus" position="end" hideTitle=['xs'] />
        </@pageHeader>
        <@table headBody=true>
            <@tr>
                <@th>#i18n{portal.style.manage_page_templates.columnTitleDescription}</@th>
                <@th>#i18n{portal.style.manage_page_templates.columnTitleFile}</@th>
                <@th>#i18n{portal.style.manage_page_templates.columnTitleActions}</@th>
            </@tr>
            <@tableHeadBodySeparator />
            <#list page_templates_list as page_templates>
                <@tr>
                    <@td>
                        <@img url='themes/admin/shared/images/page_templates/${page_templates.picture}' class='thumbnail-sm me-2' alt='${i18n("portal.style.manage_page_templates.picturealt",page_templates.description?html)}' />
                        ${page_templates.description}
                    </@td>
                    <@td>${page_templates.file}</@td>
                    <@td>
                        <@offcanvas targetUrl="jsp/admin/style/ModifyPageTemplate.jsp?page_template_id=${page_templates.id}" targetElement="#modify-template-form" redirectForm=false id="template-${page_templates.id}" title="#i18n{portal.util.labelModify} ${page_templates.description}" btnTitle="#i18n{portal.util.labelModify}" btnIcon="edit me-1" position="end" hideTitle=['all'] btnSize='sm' />
                        <@aButton href='jsp/admin/style/RemovePageTemplate.jsp?page_template_id=${page_templates.id}' buttonIcon='trash me-1' size='sm' title='#i18n{portal.style.manage_styles.actionDelete}' hideTitle=['all'] color='danger' />
                    </@td>
                </@tr>
            </#list>
        </@table>
    </@pageColumn>
</@pageContainer>