<div class="row" >

    <form class="form-horizontal" method="post"  action="jsp/admin/style/CreateMode.jsp">
        <fieldset>
            <button class="btn btn-primary pull-right" type="submit" >
                <i class="icon-plus icon-white" ></i>
                <span class="hidden-phone" >#i18n{portal.style.manage_modes.buttonLabelCreate}</span>
            </button>
        </fieldset>
    </form>

    <legend>#i18n{portal.style.manage_modes.boxTitle}</legend>

    <table class="table table-striped table-condensed">
        <tr>            
            <th>#i18n{portal.style.manage_modes.columnTitleId}</th>
            <th>#i18n{portal.style.manage_modes.columnTitleDescription}</th>
            <th>#i18n{portal.style.manage_modes.columnTitleXslPath}</th>
            <th>#i18n{portal.util.labelActions}</th>
        </tr>

        <#list mode_list as mode >
        <tr>
            <td>${mode.id}</td>
            <td>${mode.description}</td>
            <td>${mode.path}</td>
            <td>
                <a class="btn btn-primary btn-mini" href="jsp/admin/style/ModifyMode.jsp?mode_id=${mode.id}"  title="#i18n{portal.util.labelModify}" >
                    <i class="icon-edit icon-white"></i>
                </a>
            </td>
        </tr>			
        </#list>
    </table>

</div>