<div id="left">
	<div class="content-box">
		<h2>#i18n{portal.style.manage_themes.previewLabel} : </h2>
		<label>#i18n{portal.style.manage_themes.name}</label> : ${theme_default.themeDescription}<br />
		<label>#i18n{portal.style.manage_themes.author}</label> : <a href="${theme_default.themeAuthorUrl}" target="_author_url">${theme_default.themeAuthor}</a><br />
		<label>#i18n{portal.style.manage_themes.version}</label> : ${theme_default.themeVersion}<br />
		<label>#i18n{portal.style.manage_themes.licence}</label> : ${theme_default.themeLicence}<br />
		<br />
		<label>#i18n{portal.style.manage_themes.preview}</label> : <br />
		<img src="${theme_default.pathImages}preview.png" width="322px" />
	</div>
</div>
<div id="right">
<div class="content-box">
	<form method="post" action="jsp/admin/style/DoModifyGlobalTheme.jsp">
	<p>
		<h2>#i18n{portal.style.manage_themes.labelGlobalTheme} : </h2>
		<table>
		<tbody>
			<tr>
				<th width="20%">#i18n{portal.style.manage_themes.globalTheme}</th>
				<th>#i18n{portal.style.manage_themes.themeName}</th>
				<th>#i18n{portal.style.manage_themes.actions}</th>
			</tr>
		<#list themes_list as theme>
			<tr>
			<td>
				<input type="radio" name="theme" value="${theme.codeTheme}" <#if theme_default.codeTheme = theme.codeTheme >checked="checked"</#if> />
			</td>
			<td align="left">
				${theme.themeDescription}
			</td>
			<td>
			<a href="${base_url}jsp/site/Portal.jsp?theme_test=${theme.codeTheme}" target="_preview_${theme.codeTheme}">
				<img src="images/admin/skin/actions/publish.png" alt="Preview" title="Preview" border="0" />
			</a>
			<a href="${base_url}jsp/admin/style/ModifyTheme.jsp?code_theme=${theme.codeTheme}" >
				<img src="images/admin/skin/actions/modify.png" alt="Edit" title="Edit" border="0" />
			</a>
			</td>
			</tr>
		</#list>
		</tbody>
		</table>
	</p>
	<p id="validationButtons">
		<input type="submit" tabindex="1" value="#i18n{portal.style.manage_themes.buttonChangeChoose}" class="button" />
		<input 
			type="button" 
			value="#i18n{portal.style.manage_themes.buttonCreate}" 
			onclick="document.forms.createtheme.submit();" 
			class="button" 
			/>
	</p>
	</form>
	<form method="get" action="jsp/admin/style/CreateTheme.jsp" name="createtheme" >
	</form>

</div>
</div>

