<@row>
	<@columns>
		<@box color='info'>
			<@boxHeader title='#i18n{portal.style.manage_mode.pageTitle}' boxTools=true>
				<@tform method='post' action='jsp/admin/style/CreateMode.jsp'>
					<@button type='submit' buttonIcon='plus' title='#i18n{portal.style.manage_modes.buttonLabelCreate}' size='' />
				</@tform>
			</@boxHeader>
			<@boxBody>
				<@table>
					<thead>
						<tr>            
							<th>#i18n{portal.style.manage_modes.columnTitleId}</th>
							<th>#i18n{portal.style.manage_modes.columnTitleDescription}</th>
							<th>#i18n{portal.style.manage_modes.columnTitleXslPath}</th>
							<th>#i18n{portal.util.labelActions}</th>
						</tr>
					</thead>
					<tbody>
						<#list mode_list as mode >
						<tr>
							<td>${mode.id}</td>
							<td>${mode.description}</td>
							<td>${mode.path}</td>
							<td>
								<@aButton href='jsp/admin/style/ModifyMode.jsp?mode_id=${mode.id}' buttonIcon='edit' title='#i18n{portal.util.labelModify}' showTitle=false />
							</td>
						</tr>			
						</#list>
					</tbody>
        </@table>
      </@boxBody>
    </@box>
  </@columns>
</@row>