<div class="row-fluid" >
    <legend>#i18n{portal.style.modify_style.title}</legend>
    <form class="form-horizontal" method="post" name="modify_style" action="jsp/admin/style/DoModifyStyle.jsp" >
        <fieldset>

            <div class="control-group">
                <label class="control-label" for="style_id" >#i18n{portal.style.modify_style.labelId} * : </label>
                <div class="controls">
                    <input type="text" id="style_id" name="style_id" readonly="readonly" value="${style.id}" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="style_name" >#i18n{portal.style.modify_style.labelName} * : </label>
                <div class="controls">
                    <input type="text" id="style_name" name="style_name" value="${style.description}" size="60" maxlength="100" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="portal_component" >#i18n{portal.style.modify_style.labelComponentType} :</label>
                <#assign javascriptComboParams>onChange="javascript:if( document.modify_style.portal_component.value == '0' ) {document.modify_style.portlet_type.disabled=false;} else {document.modify_style.portlet_type.disabled=true;}"</#assign>
                <div class="controls">
                    <@comboWithParams name="portal_component" default_value="${style.portalComponentId}" additionalParameters="${javascriptComboParams}" items=portal_component_list />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="portlet_type" >#i18n{portal.style.modify_style.labelPortletType} :</label>
                <div class="controls">
                    <@comboSorted name="portlet_type" default_value="${style.portletTypeId}"  items=portlet_type_list />
                </div>
            </div>


            <div class="form-actions">
                <button class="btn btn-primary btn-small" type="submit" >#i18n{portal.style.modify_style.buttonModify}</button>

                <button class="btn btn-small" onClick="javascript:history.go(-1)" >#i18n{portal.admin.message.buttonCancel}</button>
            </div>

        </fieldset>
    </form>

    <script language="JavaScript">
        window.onload = modify_style.style_name.focus
    </script>
    <script language="javascript">
        if( document.modify_style.portal_component.value == '0' )
        {
            document.modify_style.portlet_type.disabled=false;
        }
        else
        {
            document.modify_style.portlet_type.disabled=true;
        }
    </script>
</div>