<div class="row-fluid">	
    <legend>#i18n{portal.style.modify_page_template.boxTitle} ${page_template.description}</legend>
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="jsp/admin/style/DoModifyPageTemplate.jsp" name="modify_page_template">
        <fieldset>
            <input type="hidden" name="page_template_id" value="${page_template.id}" />

            <div class="control-group">
                <label class="control-label" > #i18n{portal.style.modify_page_template.labelDescription}</label>
                <div class="controls">
                    <input type="text" name="page_template_description" value="${page_template.description}" size="78" maxlength="50" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >#i18n{portal.style.modify_page_template.labelFileTitle}</label>
                <div class="controls">
                    <input type="file" name="page_template_file" maxlength="100" />
                    <p class="help-block" >#i18n{portal.style.modify_page_template.labelCurrentFile} : ${page_template.file}</p>
                    <input class="checkbox" type="checkbox" name="update_file"> #i18n{portal.style.modify_page_template.labelReloadFile}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >#i18n{portal.style.modify_page_template.labelPictureTitle}</label>
                <div class="controls">
                    <input type="file" name="page_template_picture" maxlength="100" />
                    <p class="help-block" >#i18n{portal.style.modify_page_template.labelCurrentPicture} <img src="images/admin/page_templates/${page_template.picture}" align="middle"></p>
                    <input class="checkbox" type="checkbox" name="update_image">
                    #i18n{portal.style.modify_page_template.labelReloadPicture}</label>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary btn-small" type="submit" ><i class="icon-ok icon-white"></i> #i18n{portal.style.modify_mode.buttonLabelValidate}</button>
                <a href="jsp/admin/style/ManagePageTemplates.jsp" class="btn btn-small" ><i class="icon-remove-circle"></i> #i18n{portal.util.labelCancel}</a>
            </div>	

        </fieldset>
    </form>
</div>