<#assign imageHelpKey>#i18n{portal.style.modify_page_template.labelCurrentPicture}</#assign>
<@row>
    <@columns>
        <@box color='info'>
            <@boxHeader title='#i18n{portal.style.modify_page_template.boxTitle} <strong>${page_template.description}</strong>' skipHeader=true boxTools=true>
                <@img url='themes/admin/shared/images/page_templates/${page_template.picture}' alt='' title='${i18n("portal.style.manage_page_templates.picturealt",page_template.description?html)}' />
            </@boxHeader>
            <@boxBody>
                <@tform method='post' params='enctype="multipart/form-data"' id="modify-template-form" action='jsp/admin/style/DoModifyPageTemplate.jsp' name='modify_page_template'>
                    <@input type='hidden' name='page_template_id' value='${page_template.id}' />
                    <@input type='hidden' name='token' value='${token}' />
                    <@formGroup labelKey='#i18n{portal.style.modify_page_template.labelDescription}' labelFor='page_template_description' mandatory=true>
                        <@input type='text' name='page_template_description' id='page_template_description' value='${page_template.description?html}' maxlength=50 />
                    </@formGroup>
                    <@formGroup>
                        <@button type='submit' buttonIcon='check' title='#i18n{portal.style.modify_mode.buttonLabelValidate}' size='' />
                        <@aButton href='jsp/admin/style/ManagePageTemplates.jsp' buttonIcon='times' title='#i18n{portal.util.labelCancel}' size='' color='danger' />
                    </@formGroup>
                </@tform>
            </@boxBody>
        </@box>
    </@columns>
</@row>