<@pageContainer>
	<@pageColumn>
		<@pageHeader title='#i18n{portal.style.modify_portlet_template.pageTitle}'>
			<@aButton href='jsp/admin/style/ManagePortletTemplates.jsp' buttonIcon='arrow-left' title='#i18n{portal.util.labelBack}' />
		</@pageHeader>
		<@messages errors=errors![] />
		<@tform method='post' name='modify_portlet_template' action='jsp/admin/style/ManagePortletTemplates.jsp' boxed=true>
			<@input type='hidden' name='action' value='modifyPortletTemplate' />
			<@input type='hidden' name='template_id' value='${template.id?c}' />
			<@formGroup labelFor='portlet_type_id' labelKey='#i18n{portal.style.create_portlet_template.labelPortletType}' helpKey='#i18n{portal.style.create_portlet_template.helpPortletType}' mandatory=true rows=2>
				<@select id='portlet_type_id' name='portlet_type_id' items=portlet_types_list empty=false default_value='${template.portletTypeId!}' mandatory=true />
			</@formGroup>
			<@formGroup labelFor='template_description' labelKey='#i18n{portal.style.modify_portlet_template.labelDescription}' mandatory=true rows=2>
				<@input type='text' name='template_description' id='template_description' value='${template.description!}' maxlength=255 mandatory=true />
			</@formGroup>
			<@formGroup labelFor='template_path' labelKey='#i18n{portal.style.modify_portlet_template.labelTemplatePath}' helpKey='#i18n{portal.style.modify_portlet_template.helpTemplatePath}' rows=2>
				<@input type='text' name='template_path' id='template_path' value='${template.templatePath!}' maxlength=255 disabled=true />
			</@formGroup>
			<@formGroup rows=2>
				<@button type='submit' buttonIcon='check' title='#i18n{portal.util.labelValidate}' color='primary' />
				<@aButton href='jsp/admin/style/ManagePortletTemplates.jsp' buttonIcon='x' title='#i18n{portal.util.labelCancel}' color='danger' />
			</@formGroup>
		</@tform>
	</@pageColumn>
</@pageContainer>
