<div class="row-fluid">	
    <legend>#i18n{portal.style.modify_mode.boxTitle} ${mode.description}</legend>
    <form class="form-horizontal" method="post" action="jsp/admin/style/DoModifyMode.jsp" name="modify_mode">
        <fieldset>

            <div class="control-group">
                <label class="control-label" > #i18n{portal.style.modify_mode.labelId}&nbsp;*&nbsp;:</label>
                <div class="controls">
                    <input type="text" name="mode_id" value="${mode.id}"  disabled="disabled" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_description" >#i18n{portal.style.modify_mode.labelDescription}</label>
                <div class="controls">
                    <input type="text" name="mode_description" value="${mode.description}" tabindex="1" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" > #i18n{portal.style.modify_mode.labelXslPath}</label>
                <div class="controls">
                    <input type="text" name="path" value="${mode.path}"  disabled="disabled" />
                </div>
            </div>


            <h3>#i18n{portal.style.modify_mode.xslParameterValues}</h3>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_method" >#i18n{portal.style.modify_mode.labelMethod}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_method" value="${mode.outputXslPropertyMethod}" tabindex="2" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_version" >#i18n{portal.style.modify_mode.labelVersion}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_version" value="${mode.outputXslPropertyVersion}" tabindex="3" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_mediatype" >#i18n{portal.style.modify_mode.labelMediaType}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_mediatype" value="${mode.outputXslPropertyMediaType}" tabindex="4" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_encoding" >#i18n{portal.style.modify_mode.labelEncoding}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_encoding" value="${mode.outputXslPropertyEncoding}" tabindex="5" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_indent" >#i18n{portal.style.modify_mode.labelIndent}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_indent" value="${mode.outputXslPropertyIndent}" tabindex="6" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_omitxmldeclaration" >#i18n{portal.style.modify_mode.labelOmitXmlDeclaration}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_omitxmldeclaration" value="${mode.outputXslPropertyOmitXmlDeclaration}" tabindex="7" size="60" maxlength="50" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="mode_output_xsl_standalone" >#i18n{portal.style.modify_mode.labelStandalone}</label>
                <div class="controls">
                    <input type="text" name="mode_output_xsl_standalone" value="${mode.outputXslPropertyStandalone}" tabindex="8" size="60" maxlength="50" />
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary btn-small" type="submit" >#i18n{portal.style.modify_mode.buttonLabelValidate}</button>
                <button class="btn btn-small" onclick="javascript:history.go(-1)" >#i18n{portal.admin.message.buttonCancel}</button>
            </div>

        </fieldset>
    </form>
</div>