<div class="row-fluid">
    <legend>#i18n{portal.style.view_mode.boxTitle} ${mode.description}</legend>
    <strong>#i18n{portal.style.view_mode.labelId}</strong> ${mode.id}
    <strong>#i18n{portal.style.view_mode.labelDescription}</strong>  ${mode.description}
    <strong>#i18n{portal.style.view_mode.labelXslPath}</strong> ${mode.path}
    <strong>#i18n{portal.style.view_mode.xslParameterValues}</strong>        
    <strong>#i18n{portal.style.view_mode.labelMethod}</strong>  ${mode.outputXslPropertyMethod}
    <strong>#i18n{portal.style.view_mode.labelVersion}</strong>  ${mode.outputXslPropertyVersion}
    <strong>#i18n{portal.style.view_mode.labelMediaType}</strong>  ${mode.outputXslPropertyMediaType}
    <strong>#i18n{portal.style.view_mode.labelEncoding}</strong>  ${mode.outputXslPropertyEncoding}
    <strong>#i18n{portal.style.view_mode.labelIndent}</strong>  ${mode.outputXslPropertyIndent}
    <strong>#i18n{portal.style.view_mode.labelOmitXmlDeclaration}</strong>  ${mode.outputXslPropertyOmitXmlDeclaration}
    <strong>#i18n{portal.style.view_mode.labelStandalone}</strong>  ${mode.outputXslPropertyStandalone}
    <form class="form-horizontal" method="post" name="view_mode" action="jsp/admin/style/ModifyMode.jsp" >
        <fieldset>

            <input type="hidden" name="mode_id" value="${mode.id}" />
            <button class="btn btn-primary" type="submit" >#i18n{portal.style.view_mode.buttonLabelModify}</button>


        </fieldset>
    </form>
</div>