/* =======================================================================
 * This stylesheet gathers styles used to define the struture of the html
 * documents.
 *
 * The styles here are related to the positionning of the main elements in
 * the page :
 * - the position of header, footer, menus, banners is defined here ;
 * - the general layout of the page is defined here ( eg. one, two or
 * three columns) ;
 * - styles for positionning other elements (eg. the site map levels).
 *
 * The stylesheet "page_template_styles.css" is to be used for formatting
 * styles related to colors, fonts, aspect of the page elements.
 *
 * ========================================================================
 */


body
{
   margin: 0; /* to avoid margins */ 
   text-align: center; /* to correct IE centering bug */
}

body.pop-up
{
    text-align: left;
    padding: 10px;
}

/* To be able to center a page on all browsers, we use a container for al  the elements on the page */
#global-container 
{
	/* used to center the page */
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	text-align: left; /* to bring back the normal alignment */
}


/* */
.clear {
	clear:both;
	height:1px;
	font-size:1px;
	border:none;
	margin:0; 
	padding:0;
	background:transparent;
}



/* =====================================================================
 * ---------------------     Style for banner     ----------------------
 * ===================================================================== */
#banner {
	margin: 0;
	background-image: url('../images/local/skin/banner_middle.gif');
	background-position: top right;
	background-repeat: repeat-x;
	height: 70px;
	overflow: hidden;
}
#banner-content {
	background-image: url('../images/local/skin/banner_right.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

#banner-content img {

	height: 70px;
	border: none;
	
}

/* =====================================================================
 * -----------------     Style for quick-search     --------------------
 * ===================================================================== */
#quick-search 
{
	float: right;
	height:20px;
	border-left: 1px solid #333366;
	padding-left:2px;
	padding-right:2px;
}
#quick-search form, #quick-search label,#quick-search input, #quick-search p
{ 
	margin: 0px;
}
#quick-search label
{
    color: #260650;
    font-weight: bold;
}
#searchfield
{ 
	height: 13px;	
	vertical-align: middle;
}
#searchbutton
{ 
	color: white;
	background-color: #EE9C00;
	border: none;
	font-size: 90%;
	font-weight: bold;
	padding: 0;
	vertical-align: middle;
	height: 15px;
	margin:0;
	cursor: pointer;
	cursor: hand;
}


/* =====================================================================
 * -----------------     Style for menu-tools     ----------------------
 * ===================================================================== */
#menu-tools
{
	height:20px;
}
#menu-tools, #menu-tools ul
{
	margin: 0;
	padding:0;
}
#menu-tools li 
{
	display: inline;
	background-image: url(../images/local/skin/banner_bullet.gif);
	background-repeat: no-repeat;
	background-position:  center left;
	padding-left:10px;
}
#menu-tools a 
{
	margin: 0 2px;
	color: #260650;
	text-decoration: none;
}
#menu-tools a:hover 
{
	color: #260650;
	text-decoration: underline;
}


/* =====================================================================
 * -------------------    Style for menu-main    -----------------------
 * ===================================================================== */
#menu-main 
{
	margin: 0;
}

#page-path 
{
	margin: 0;
}


/* =====================================================================
 * -----------------    Style for page-content    ----------------------
 * ===================================================================== */
/* The page-content area should contain the main content of the page organized depending on the layout wanted */
#page-content 
{
	clear:both;
	padding-top:10px;
}

/* =====================================================================
 * --------------     styles for a 1 zone layout     -----------------
 * ===================================================================== */
/* Positioning style for a one-zone layout */
/*
 * > one-zone-first
 * 		>> one-zone-first-content
 */
#one-zone-first 
{
	width: 98%;
}
#one-zone-first-content 
{
	padding-left: 20px;
	padding-right: 20px;
}

/* ====================================================================
 * ------------     styles for a 2 zones layout     -----------------
 * ==================================================================== */
/* Positioning styles for a two-zones layout */
/*
 * > two-zones-first
 * 		>> two-zones-first-content
 * > two-zones-second
 * 		>> two-zones-second-content
 */

#two-zones-first 
{
	float: left;
	width: 65%;
}
#two-zones-second 
{
	margin-left: 65%;
}
#two-zones-first-content
{
	padding-left: 14px;
	padding-right: 7px;
	
}
#two-zones-second-content
{
    padding-left: 7px;
	padding-right: 14px;
}

/* ====================================================================
 * ------------     styles for a 2 zones equals     -----------------
 * ==================================================================== */
/* Positioning styles for a two-zones layout */
/*
 * > two-zones-first
 * 		>> two-zones-first-content
 * > two-zones-second
 * 		>> two-zones-second-content
 */

#two-zones-equals-first 
{
	float: left;
	width: 50%;
}
#two-zones-equals-second 
{
	margin-left: 50%;
}

/* ====================================================================
 * ------------     styles for a 3 zones layout     -----------------
 * ==================================================================== */
/* Positioning styles for a three-zones layout */
/* > three-zones-first-and-second
 * 		>> three-zones-first
 * 			>>> three-zones-first-content
 * 		>> three-zones-second
 * 			>>> three-zones-second-content
 * > three-zones-third
 * 		>> three-zones-third-content
 */
#three-zones-first-and-second
{
	float: left;
	width: 66%;
}
#three-zones-first 
{
	float: left;
	width: 50%;
}
#three-zones-second 
{
	margin-left: 50%;
}
#three-zones-third 
{
	margin-left: 66%;
}
#three-zones-first-content 
{
    padding-left: 10px;
	padding-right: 5px;
}
#three-zones-second-content
{
    padding-left: 5px;
	padding-right: 5px;
}
#three-zones-third-content 
{
   padding-left: 5px;
	padding-right: 10px;
}


/* =====================================================================
 * --------------     styles for a middle column layout     -----------------
 * ===================================================================== */
/*
 /*
 * > middle-column-col1
 * 		>> middle-column-col1-content
 * > middle-column-col2
 * 		>> middle-column-col2-content
 */
 
 #middle-columns-float
{
	float: left;
	width: 100%;
}

#middle-columns-col1
{
	float: left;
	width: 50%;
}

/* CSS HACK: Caio hide from NN4 since NN4's float model is all wrong */
/*/*/
#middle-columns-col2
{
	margin-left: 50%;
}
/* */

#middle-columns-col1-content
{
	border: none;
	color: #000000;
	padding-left:10px;
	padding-right:5px;
}
#middle-columns-col2-content
{
	border: none;
	color: #000000;
	padding-left:5px;
	padding-right:10px;
}

/* CSS HACK:  position:relative needed by IE6 otherwise the header and col 2 don't show up on initial rendering - they're there but you have to minimise the window or switch to another app and back to see the full effect. But IE5(pc) doesn't like it. And nor does NN4.
NB. the use of pos:rel has to go way beyond skin-deep - any nested element that needs a background colour appears to require to be be relatively positioned */
/*/*/
#middle-columns-float, #middle-columns-col1, #middle-columns-col2, h2
{ p\osition: relative; }
/* */

