/*  BULMA    */
/* Variables */
:root {
    --light: #f4f6fa;
    --dark-light: #dadcde;
      --dark-gray: #555;
    --dark: #232e3c;
    --blue: #206bc4;
    --dark-blue: #071F32;
    --primary: var( --dark-blue );
    --azure: #4299e1;
    --indigo: #4263eb;
    --info: var( --indigo );
    --purple: #ae3ec9;
    --pink: #d6336c;
    --red: #d63939;
    --danger: var( --red );
    --orange: #f76707;
    --warning: var( --orange );
    --yellow: #f59f00;
    --lime: #74b816;
    --green: #2fb344;
    --success: var( --green );
    --teal: #0ca678;
    --cyan: #17a2b8;
    --black: #000000;
    --white: #ffffff;
}

/*  Login page              */
#login .footer{ display: none;} /* Footer not displayed in login page */
#login-page { background: var( --dark-blue ) url("../../images/admin/skin/bg_login1.svg"); background-size: cover; background-attachment: fixed; min-height: 922px; height: 100vh; overflow: hidden; }
#login-page .avatar { margin-top: -70px; padding-bottom: 20px; }
#login-page .avatar img { padding: 5px; background: #fff; border-radius: 50%; -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1); box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1); }

/* Wrapper              */
.wrapper{ display: flex; flex-direction: column; min-height: 100vh; padding: 0 1vw; }
.footer{ margin-top: -20vh; }

/* Navbar               */
/* Fixed navbar         */
.logo{ background-color: #0d6dfd; margin-right: 10px; border: 1px solid #0d6dfd; border-radius: 5px; }
.main-header{ padding-top: 15px;}
.user-image{ background-color: hsl(0, 0%, 71%); margin: 0 15px; border-radius: 15px; }

/* Dashboard Card Button */
.box-tools{ position: absolute; top: 5px; right: 5px;}
.widget.lutece-dashboard .card{ margin-bottom: 1rem }

/* Classes updates */
.select.is-multiple, .select select[multiple]{ width: 100%; }
.field{ margin-left:.25rem}
.field>.label:not(:last-child){margin-bottom: 0}
.field:not(:last-child) {margin-bottom: 0;}

/* Language Menu        */
.fr{ text-transform: capitalize; background: transparent url( ../../../../images/fr.png ) no-repeat right/contain; width: 24px; height: 24px; padding: 0;}
.en{ background: transparent url( ../../../../images/en.png ) no-repeat right/contain; width: 24px; height: 24px; padding: 0;}

/* Helpers classes      */
/* Msg styles           */
.msg-success{ color: hsl(153, 53%,  53%); font-weight: 700; }
.msg-warning{ color: hsl(44,  100%, 77%); font-weight: 700; }
.msg-danger{ color: hsl(348, 86%, 61%); font-weight: 700; }
.msg-info{ color: hsl(207, 61%,  53%); font-weight: 700; }

.empty{ display: flex; justify-content: center;  flex-direction: column;  align-items: center; }
.empty-title{ margin-top: 15px;}

.body-hidden{position: fixed; left: -99999px; display: none}

/* thumbnail list                           */
/* Image size for thumbnails                */
.thumbnail-xs{ width:16px; }
.thumbnail-sm{ width:32px; }
.thumbnail-md{ width:64px; }
.thumbnail-lg{ width:128px; }

/* Default */
td{ vertical-align: middle;}
.table-hover.hoverable-click tr{ cursor: pointer;}

/* CSS for copyElementToClipboard commons Freemarker Macro */
.copy-content{ position: relative; width:100%; display: inline-block;}
.copy-content:hover{  cursor: copy; }
.copy-icon:after, .copy-content:hover:after{ content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>'); position: absolute; width: 15px; top:3px; right:3px;}
.copy-content.copy-btn:after{ border: 1px solid #000; border-radius: 5px; padding: 1px 3px; content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>');position: absolute; margin-left: 5px; top: 0; width: 20px;}
.copy-content.no-hover:hover:after{ content: '';}

/* Editor                                                  */
.tox.tox-tinymce{ width: 100% !important; }

/* Documentation        */
#lutece-doc-link{ position: fixed; bottom: 0; right: 0; z-index: 2 }
#lutece-doc-link:hover span{ position: relative; width:auto; height:auto ;}

/* Admin Site           */
.admin-site{  padding: .2rem .5rem;}
.admin-menu{ display: flex; justify-content: space-between; align-items: center;}
.admin-menu > nav { margin: 0 !important;}
.admin-menu .field.is-grouped{ align-items: center; }
.admin-site .breadcrumb-item{ font-size: 1.4rem }
.admin-site .breadcrumb a i{ padding: .25em .75em; }
.admin-site-toolbar{ margin-top: -1rem }
.extend-menu-item{ width: 100%; display: flex; justify-content: space-between; align-items: center; min-width: 180px; }
iframe#preview { display: block; overflow: auto; padding: 0;  margin:-10px auto;  border:2px solid #DEDEDE;  max-height:400px }
#preview.open{ position:fixed; width:100% !important; height:100vh !important; max-height:100vh !important; top:0; left:0; z-index: 9999; }
#fullscreen.open{ position:fixed; top:0; right: 15px; z-index: 10000; padding: 5px; }

/* 	Insert services                          */
.media-selector{ height: 90vh; margin: 0 -15px;}
.media-selector .nav.nav-tabs{ margin: 5px }
.media-selector .nav.nav-tabs .navbar-right button{ margin-right: 30px }
.media-selector .tab-content{ margin: 15px 30px }
.media-selector .media-container{ display: flex; flex-wrap: wrap; justify-content: flex-start; border-radius: 4px; overflow: hidden; padding: 5px; }
.media-selector .media { display: flex; flex-direction: column; border-radius: 4px; align-items: left; margin: 5px; padding: 0; width: 130px; background: #fff; box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);}
.media-selector .media-image { position: relative; width: 100%;  display: block; max-width: 130px; height: 95px; border-top-left-radius: 4px; border-top-right-radius: 4px; overflow: hidden;}
.media-selector .media-image img { width: 100%;  display: block;}
.media-selector .media-image:hover { cursor: pointer;}
.media-selector .media-image:hover:after { bottom: 0; color: #fff; text-shadow: 1px 0px 12px #000000;; transition: all 0.15s; }
.media-selector .media-image:hover .image-overlay { background-color: #16ff0170; transition: all 0.15s; }
.media-selector .media-image:after { display: flex; justify-content: center; align-items: center; bottom: -4em; position: absolute; width: 100%; height: 100%; font-family: "FontAwesome"; font-size: 1em; text-align: center; content: "ï£"; transition: all 0.15s;}
.media-selector .media-image .image-overlay { display: block; position: absolute; width: 100%; height: 95px; top: 0; left: 0; content: ""; background-color: rgba 255, 255, 255, 0; transition: backgroundColor, 0.15s; }
.media-selector .media-desc{ text-align: center; padding: 5px; color: #000; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis; }
.media-selector .media-desc:hover{ color: rgb(99, 99, 99); transition: all 0.15s; }
.media-selector .footer{ margin: 0 0 0 5px; padding: 0; position: absolute; bottom: 0; width: 100%; }

/* Portlets             */
li.portlet-type a:hover{ background:#6D84CB; color:#fff; }
#content-portlet{ padding:0 10px;}
#preview{ left:0; width:100%; height:850px; min-height:850px; position:relative; z-index:0;}
.richtext{ width:100%;}
.manage-portlet label{ font-size: .8em;}
.manage-portlet > .card-content{ padding: 5px 0 0 5px }
.portlet-options.column.is-1, .portlet-options.column.is-1-tablet { width: 4.333%; } 
.portlet-options.column.is-2, .portlet-options.column.is-2-tablet { width: 6.333%; }
.portlet-options.column.is-2 .help { margin-top: .6rem; }
.portlet-toolbar{ position: relative; background-color: var( --dark-light ); }
.display-options{ display: inline-flex; }

/* Site Map             */
.sitemap{ min-height:650px;}
.sitemap #map{ margin-top:20px;}
.jstree-classic a.jstree-search ,.jstree-default a.jstree-search ,.jstree-apple a.jstree-search {  background-color:#6277B6 !important; color:#fff !important; font-style:normal; text-decoration:underline; padding:0 10px !important;}
.jstree-classic .jstree-clicked {  padding:0 5px !important;}

/* HTML defaults */
pre{ white-space: pre-wrap;}

/* index log */
.index-logs:empty{ display: none; }

/* Pagination */
/* Accordion            */
.accordion .accordion-header .title{ font-size: inherit ;}

/* Tabs */
.tab-pane{ display: none;}
.tab-pane.show{ display: block;}
.tabs-parent .is-active > a{ font-weight: 700; border-left: 4px solid var( --indigo ); color: var( --indigo ) !important }

/* PLUGINS              */
/* Plugin THEME         */
#preview-frame-container{  display:none }
#back-to-preview{ position:fixed; right:150px; top:80px; z-index:999 }
#back-to-preview a{ display: block; padding:15px 20px; background: #000; color: #FFF; text-decoration: none; border-radius: 100px; -moz-border-radius: 100px;-webkit-border-radius: 100px }
#preview-frame{border-radius: 50px; -moz-border-radius: 50px;   -webkit-border-radius: 50px; border: 8px solid #7c7c7c; position:fixed; background:#7c7c7c; width:90%; height:800px;top:60px;left:60px; overflow: auto;  z-index: 999;  box-shadow: -3px 3px 50px #7c7; -webkit-box-shadow: -3px 3px 50px #7c7; -moz-box-shadow: -3px 3px 50px #7c7; padding: 20px }
.oyh { overflow-y: hidden }
.callout-theme{	padding: 6px 30px 6px 15px; margin-right: 15px }
.card-theme{ overflow: hidden; position: relative; border: 1px solid #CCC; border-radius: 8px; text-align: center; padding: 0; background-color: #3C8DBC; color: #FFF;  margin: 15px auto }
.card-theme.header-bg{ position: absolute; top: 0; left: 0; width: 100%; height: 70px; border-bottom: 1px #FFF solid; z-index: 1 }
.card-theme .card-header{ border-bottom: 4px solid #000 }
.card-theme.default-theme .card-header{ border-bottom-color: #3C763D }
.card-theme.default-theme { border: 1px solid #3C763D }
.card-theme .avatar { position: relative; padding: 15px 0; z-index: 100 }
.card-theme .card-content{ padding: 20px 0 }
.card-theme .card-content h2{ padding: 10px 0; font-weight: bold; border-bottom: 2px solid #fff; color:#fff }
.card-theme .card-content h2 a{ color: #fff }
.card-theme ul li{ margin-left: 20%; text-align: left }
.card-theme li a{color: #fff}
.card-theme .avatar img{ width: 100px; height: 100px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 5px solid rgba(0,0,30,0.8) }
.card-theme.default-theme .avatar img{ border-color:  #3C763D }
.theme-selected{ display: none }
.card-theme.default-theme .theme-selected{  display: block; width: 200px; background: #3C763D; text-align: center; line-height: 50px;  letter-spacing: 1px; font-weight: bold; font-size: 16px; color: #fff; box-shadow: 0 0 3px rgba(0,0,0,.3); position: absolute; top: 25px; right: -50px; left: auto; transform: rotate(45deg); -webkit-transform: rotate(45deg);}

/* Spaces between elements when display is set to flex. intended for buttons */
.card-header .d-flex > * + *,.card-body .d-flex > * + * {	margin-left: 0.2rem;}

/* Extend                                                                     */
#extender-content .extend-action-menu{ display: flex; justify-content: space-between; align-items: center; flex-grow: 1;}
#extender-content .panel-block{ padding:.5rem; font-size: .8rem }
#extender-content .panel-block .form-submenu{ padding: 0; font-size: .8rem; width: 100% }
#extender-content .panel-block .form-submenu .extend-action-menu span{ display: inline-block; width: 100% }
#extender-content .panel-block .extend-action-menu .button{ padding-right:.5em; }
.dropdown-menu { top:60%; }
.dropdown-content { padding-bottom: 0; padding-top: 0; }

/* Asynchronous Upload                                                        */
.list-file-item{ display: flex; align-items: center; padding-bottom: 5px }
.list-file-item div > label{ display: flex; justify-content: space-between; margin: 0 5px; }
.list-file-item div > label > .uploaded_check{ margin: auto 5px }
.list-file-item div .truncate{ margin-right: auto } 
.list-file-item figure{ flex-shrink: 0; }
.list-file-item figure + div{ flex-grow: 1 ; margin-left: auto }

/* Forms Help                                                                
.help{ display: flex; font-weight: 600; align-items: center; justify-content: center; width: 1.5rem; height: 1.5rem; font-size: .75rem; color: var( --light ); text-align: center; text-decoration: none; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: var(--blue );border-radius: 50%; transition: background-color .3s,color .3s; }
*/

/* Form Help */
.help{ display: inline-flex; font-weight: 600; align-items: center; justify-content: center; width: 1.5rem; height: 1.5rem; font-size: .75rem; color: #626976; text-align: center; text-decoration: none; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: var(--tblr-border-color-light); border-radius: 100rem; transition: background-color .3s,color .3s; }
.help:hover{ color: #fff; background: #206bc4;}
