<#-- WARNING : be careful to white-space and lines break in FreeMarker macros.
 # This macro template can be used to output white-space-sensitive formats (like RSS files).
 # See http://dev.lutece.paris.fr/jira/browse/LUTECE-765
-->
<#include "util/standard/macro_standard.html" />
<#include "util/calendar/macro_datepicker.html" />
<#-- Do not remove this comment -->


<#macro paginationSite paginator combo=0 form=1 nb_items_per_page=nb_items_per_page >
	<#if (paginator.pagesCount > 1) >
		<@paginationSitePageLinks paginator=paginator />
	</#if>
	<#if form == 1 >
		<form method="post" action="">
	</#if>
		<div class="row-fluid">
			<div class="pull-right" >
				<div class="form-inline">
					<@paginationSiteItemCount paginator=paginator combo=combo nb_items_per_page=nb_items_per_page/>
				</div>
			</div>
		</div>
	<#if form == 1 >
		</form>
	</#if>
	<div class="table"></div>
 </#macro>

 <#macro paginationSitePageLinks paginator >
	<#assign nbLinkPagesToDisplay = 10 />
	<#assign offsetPrev = nbLinkPagesToDisplay / 2 />
	<#assign offsetNext = nbLinkPagesToDisplay / 2 />
	<#if ( paginator.pageCurrent <= nbLinkPagesToDisplay - offsetPrev )>
		<#assign offsetPrev = paginator.pageCurrent - 1 />
		<#assign offsetNext = nbLinkPagesToDisplay - offsetPrev />
	<#elseif ( paginator.pageCurrent + offsetNext > paginator.pagesCount )>
		<#assign offsetNext = paginator.pagesCount - paginator.pageCurrent />
		<#assign offsetPrev = nbLinkPagesToDisplay - offsetNext />
	</#if>
	<div class="pagination pagination-centered">
		<ul>
			<#if ( paginator.pageCurrent - offsetPrev > 1 )>
				<li>
					<a href="${paginatorSite.firstPageLink?xhtml}">
						${paginator.labelFirst}
					</a>
				</li>
			</#if>
			<#if (paginator.pageCurrent > 1) >
				<li class="previous">
					<a href="${paginator.previousPageLink?xhtml}">
						${paginator.labelPrevious}
					</a>
				</li>
			<#else>
				<li class="disabled">
					<a href="${paginator.firstPageLink?xhtml}">${paginator.labelPrevious}</a>
				</li>
			</#if>
			<#if ( paginator.pageCurrent - offsetPrev > 1 )>
				<li>
					<a href="${(paginator.pagesLinks?first).url?xhtml}"><strong>...</strong></a>
				</li>
			</#if>
			<#list paginator.pagesLinks as link>
				<#if ( link.index == paginator.pageCurrent )>
					<li class="active">
						<a href="${link.url?xhtml}">${link.name}</a>
					</li>
				<#else>
					<li>
						<a href="${link.url?xhtml}">${link.name}</a>
					</li>
				</#if>
			</#list>
			<#if ( paginator.pageCurrent + offsetNext < paginator.pagesCount )>
				<li>
					<a href="${(paginator.pagesLinks?last).url?xhtml}"><strong>...</strong></a>
				</li>
			</#if>
			<#if (paginator.pageCurrent < paginator.pagesCount) >
				<li class="next">
					<a href="${paginator.nextPageLink?xhtml}">
					${paginator.labelNext}
					</a>
				</li>
				<#if ( paginator.pageCurrent + offsetNext < paginator.pagesCount )>
					<li class="next">
						<a href="${paginator.lastPageLink?xhtml}">
							${paginator.labelLast}
						</a>
					</li>
				</#if>
			<#else>
				<li class="disabled">
					<a href="${paginator.lastPageLink?xhtml}">${paginator.labelNext}</a>
				</li>
			</#if>
		</ul>
	</div>
 </#macro>
 
<#macro paginationSiteCombo paginator nb_items_per_page=nb_items_per_page>
	<span class="add-on">${paginator.labelItemCountPerPage}</span>
	<select class="input-mini" name="${paginator.itemsPerPageParameterName}" id="${paginator.itemsPerPageParameterName}" title="${paginator.labelItemCountPerPage}">
		<#list [ "10" , "20" , "50" , "100" ] as nb>
			<#if nb_items_per_page = nb >
				<option selected="selected" value="${nb}">${nb}</option>
			<#else>
			  	<option value="${nb}">${nb}</option>
			</#if>
		</#list>
	</select>
	<button class="btn btn-small" type="submit" title="#i18n{portal.util.labelRefresh}"/>
		<i class="icon-repeat"></i>
	</button>
	&nbsp;-&nbsp;
</#macro>

<#macro paginationSiteItemCount paginator combo=0 nb_items_per_page=nb_items_per_page>
	<#-- Display combo -->
	<#if combo == 1 >
		<@paginationSiteCombo paginator=paginator nb_items_per_page=nb_items_per_page/>
	</#if>
	<#-- Display item count -->
	<#if (paginator.labelItemCount)?? && paginator.labelItemCount?has_content>${paginator.labelItemCount} : </#if>${paginator.itemsCount}
</#macro>


<#macro item_navigationSite item_navigator>
	<div id="item-navigator">
		<#if (item_navigator.currentItemId > 0)>
			<a href="${item_navigator.previousPageLink?xhtml}" title="#i18n{portal.util.labelPrevious}">
				<i class="icon-circle-arrow-left"></i>
				#i18n{portal.util.labelPrevious}
			</a>
		<#else>
			&nbsp;&nbsp;
		</#if>
		<#if (item_navigator.currentItemId < item_navigator.listItemSize - 1) >
			<a href="${item_navigator.nextPageLink?xhtml}" title="#i18n{portal.util.labelNext}">
				#i18n{portal.util.labelNext}
				<i class="icon-circle-arrow-right"></i>
			</a>
		<#else>
			&nbsp;&nbsp;
		</#if>
	</div>
</#macro>
