<#-- WARNING : be careful to white-space and lines break in FreeMarker macros.
 # This macro template can be used to output white-space-sensitive formats (like RSS files).
 # See http://dev.lutece.paris.fr/jira/browse/LUTECE-765
-->
<#-- Do not remove this comment -->
<#-- Information about this commons file -->
<#macro commonsFile>commons_corporate.html</#macro>
<#macro commonsName>Corporate</#macro>
<#macro commonsPreview>themes/admin/corporate/images/preview.png</#macro>
<#macro commonsDescription>The Corporate theme is a classic administration dashboard theme designed to be versatile in scaling its navigation and usage to different contexts.</#macro>
<#-- Path               -->
<#assign commonsJsPath='js/' /> 
<#assign commonsCssPath='css/' /> 
<#-- Shared Path        -->
<#assign commonsSharedPath='themes/admin/shared/' /> 
<#assign commonsSharedFtlPath='admin/themes/shared/' /> 
<#-- Theme Code         -->
<#assign commonsThemeCode='corporate' /> 
<#-- Theme All Path     -->
<#assign commonsThemePath='themes/admin/${commonsThemeCode}/' /> 
<#-- Theme FTL Path     -->
<#assign commonsFtlPath='admin/themes/${commonsThemeCode}/' /> 
<#assign commonsAdminLayout=dskey('portal.site.site_property.layout.code') /> 
<#-- Theme Variables    -->
<#assign commonsAdminLayoutClass=dskey('portal.site.site_property.layout.class') /> 
<#-- Theme Macros       -->
<#macro coreAdminCSSLinks>
<!-- Shared CSS -->
<link href="css/admin/style/tabler/all.min.css" rel="stylesheet"> <!-- Font-Awesome 5.8.1 -->
<link href="css/admin/style/tabler/bootstrap-colorpicker.min.css" rel="stylesheet"><!-- BS colorpicker -->
<link href="css/admin/jquery-ui.min.css" rel="stylesheet" > <!-- provided by core -->
<link href="css/admin/jquery-ui.structure.min.css" rel="stylesheet" > <!-- provided by core -->
<link href="css/admin/jquery-ui.theme.min.css" rel="stylesheet" > <!-- provided by core -->
<link href="${commonsSharedPath}${commonsCssPath}vendor/bootstrap/bootstrap-icons.min.css" rel="stylesheet" > <#-- Bootstrap Icons -->
<link href="${commonsSharedPath}${commonsCssPath}vendor/tabler/tabler-icons.min.css" rel="stylesheet"><#-- Tabler icons -->
<link href="${commonsSharedPath}${commonsCssPath}vendor/tabler/tabler-flags.min.css" rel="stylesheet"><#-- Tabler flags -->
<link href="${commonsSharedPath}${commonsCssPath}vendor/tabler/tabler-payments.min.css" rel="stylesheet"><#-- Tabler payment -->
<link href="${commonsSharedPath}${commonsJsPath}lib/polipop/css/polipop.core.min.css" rel="stylesheet"><#-- Polipop main -->
<link href="${commonsSharedPath}${commonsJsPath}lib/polipop/css/polipop.default.min.css" rel="stylesheet"><#-- Polipop theme -->
<link href="${commonsSharedPath}${commonsCssPath}partials/portal_progress_admin.min.css" rel="stylesheet"><#-- Progress theme -->
<!-- <link href="${commonsSharedPath}${commonsCssPath}portal_admin.min.css" rel="stylesheet"><#-- Lutece main admin CSS --> -->
<!-- Theme <@commonsName /> CSS -->
<link href="themes/admin/corporate/css/corporate.css?ver=0.0.1" rel="stylesheet">
<script src="js/admin/jquery/jquery-3.6.0.min.js"></script> <!-- main JQuery file -->
</#macro>
<#macro coreAdminJSLinks>
<!-- Shared JS -->
<script src="js/admin/jquery/jquery-migrate-1.4.1.min.js"></script> <!-- Compat JQuery file -->
<script src="js/admin/jquery/jquery-ui.min.js"></script>
<script src="js/admin/style/tabler/bootstrap-filestyle.min.js"></script> 
<script src="js/admin/style/tabler/bootstrap-colorpicker.js"></script> 
<script src="js/util/progress-manager.js"></script>
<script src="${commonsSharedPath}${commonsJsPath}lib/bootstrap/bootstrap.bundle.min.js"></script><#-- Bootstrap main -->
<script src="${commonsSharedPath}${commonsJsPath}lib/sortable/Sortable.min.js"></script> <#-- Sortable lib main -->
<script src="${commonsSharedPath}${commonsJsPath}lib/polipop/polipop.min.js"></script><#-- Polipop main -->
<script type="module" src="themes/admin/corporate/js/corporate.js?ver=0.0.1"></script>
<!-- Theme <@commonsName /> JS -->
</#macro>
<#include "commons_macros.html" />