<#-- WARNING : be careful to white-space and lines break in FreeMarker macros.
 # This macro template can be used to output white-space-sensitive formats (like RSS files).
 # See http://dev.lutece.paris.fr/jira/browse/LUTECE-765
-->
<#include "util/standard/macro_standard.html" />
<#include "util/calendar/macro_datepicker.html" />
<#-- Do not remove this comment -->
<#macro comboWithParams name default_value additionalParameters items >
	<select id="${name}" name="${name}" ${additionalParameters} >			
			<#list items as item>	
				<#if default_value="${item.code}"> 			
      				<option selected="selected" value="${item.code}" >${item.name}</option>    			    			
      			<#else>
      				<option value="${item.code}" >${item.name}</option>
      			</#if>
    		</#list>		
	</select>
</#macro>


<#macro comboWithParamsAndLength name default_value additionalParameters items max_length >
	<select id="${name}" name="${name}" ${additionalParameters} >			
		<#list items as item>
    	    <#if max_length < item.name?length >
            	<#assign item_new = "..." + "${item.name?substring(item.name?length-max_length+3)}" >
            <#else>
              	<#assign item_new = "${item.name}">
            </#if>	
			<#if default_value="${item.code}"> 			
      			<option selected="selected" value="${item.code}" >${item_new}</option>    			    			
      		<#else>
      			<option value="${item.code}" >${item_new}</option>
      		</#if>
    	</#list>		
	</select>
</#macro>


<#macro combo name default_value items >
	<@comboWithParams name="${name}" default_value="${default_value}" additionalParameters="" items=items />
</#macro>
	
	
<#macro radioImageList name default_value items >
        <#list items as item>
            <#if default_value="${item.code}"> 			
                <input checked="checked" class="radio" type="radio" name="${name}" value="${item.code}" /><img src="${item.name}" alt="" />
            <#else>
                <input class="radio" type="radio" name="${name}" value="${item.code}" /><img src="${item.name}" alt="" />
            </#if>
        </#list>
</#macro>

<#macro checkboxList name default_values items >
        <#list items as item>
        <p>
            <#if item.checked > 			
                <label for="document_type"> &nbsp;</label>
                <input checked class="checkbox" type="checkbox" name="${name}" value="${item.code}" /> ${item.name}
            <#else>
                <label for="document_type"> &nbsp;</label>
                <input class="checkbox" type="checkbox" name="${name}" value="${item.code}" /> ${item.name}
            </#if>
        </p>
        </#list>
</#macro>                


<#macro sort jsp_url attribute >
	<a id="sort" href="${jsp_url}?sorted_attribute_name=${attribute}&asc_sort=true#sort" >
		<img src="images/admin/skin/actions/sort_asc.gif" style="vertical-align: text-bottom;" alt="#i18n{portal.util.sort.asc}" title="#i18n{portal.util.sort.asc}" />
	</a>
	<a href="${jsp_url}?sorted_attribute_name=${attribute}&asc_sort=false#sort" >
    	<img src="images/admin/skin/actions/sort_desc.gif" style="vertical-align: text-bottom;" alt="#i18n{portal.util.sort.desc}" title="#i18n{portal.util.sort.desc}" />
    </a>
</#macro>

<#macro pagination paginator >
	<#assign nbLinkPages = 10 />
	<#assign offsetPrev = nbLinkPages/2 />
	<#assign offsetNext = nbLinkPages/2 />
	
	<#if paginator.pageCurrent &lt; nbLinkPages-offsetPrev>
		<#assign offsetPrev = nbLinkPages - paginator.pageCurrent />
		<#assign offsetNext = nbLinkPages - offsetPrev />
	<#elseif paginator.pageCurrent &gt; paginator.pagesCount - (nbLinkPages - offsetNext) >
		<#assign offsetNext = nbLinkPages - (paginator.pagesCount - paginator.pageCurrent) />
		<#assign offsetPrev = nbLinkPages - offsetNext />
	</#if>
    <#if (paginator.pagesCount > 1) >
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <a href="${paginator.firstPageLink?xhtml}">
            <img src="images/admin/skin/first.png" alt="&lt;" style="vertical-align: baseline;" />
        </a>
        </#if>
        <#if (paginator.pageCurrent > 1) >
        <a href="${paginator.previousPageLink?xhtml}">
            <img src="images/admin/skin/prev.png" alt="&lt;" style="vertical-align: baseline;" />
        </a>
        <#else>
            &nbsp;&nbsp;
        </#if>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        	<strong>...</strong>
        </#if>
        <#list paginator.pagesLinks as link>
			<#if ( link.index == paginator.pageCurrent )>
				<strong>${link.name}</strong>
			<#else>
				<a href="${link.url?xhtml}">${link.name}</a>
			</#if>
        </#list>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        	<strong>...</strong>
        </#if>
        <#if (paginator.pageCurrent < paginator.pagesCount) > 
        <a href="${paginator.nextPageLink?xhtml}">
            <img src="images/admin/skin/next.png" alt="&gt;" style="vertical-align: baseline;" />
        </a>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <a href="${paginator.lastPageLink?xhtml}">
            <img src="images/admin/skin/last.png" alt="&lt;" style="vertical-align: baseline;" />
        </a>
        </#if>
        <#else>
            &nbsp;&nbsp;
        </#if>
    </#if>
</#macro>

<#macro paginationAdmin paginator >
	<#assign nbLinkPages = 10 />
	<#assign offsetPrev = nbLinkPages/2 />
	<#assign offsetNext = nbLinkPages/2 />

	<#if paginator.pageCurrent &lt; nbLinkPages-offsetPrev>
		<#assign offsetPrev = nbLinkPages - paginator.pageCurrent />
		<#assign offsetNext = nbLinkPages - offsetPrev />
	<#elseif paginator.pageCurrent &gt; paginator.pagesCount - (nbLinkPages - offsetNext) >
		<#assign offsetNext = nbLinkPages - (paginator.pagesCount - paginator.pageCurrent) />
		<#assign offsetPrev = nbLinkPages - offsetNext />
	</#if>
    <#if (paginator.pagesCount > 1) >
    <div id="lutece-paginator">
        <p>
        <span>
        <ul>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <li>
        <a href="${paginator.firstPageLink?xhtml}">
            ${paginator.labelFirst}
        </a>
        </li>
        </#if>
        <#if (paginator.pageCurrent > 1) >
        <li class="previous">
        <a href="${paginator.previousPageLink?xhtml}">
            ${paginator.labelPrevious}
        </a>
        </li>
        <#else>
        <li class="previous-off">
            ${paginator.labelPrevious}
        </li>
        </#if>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <li>
        	<strong>...</strong>
        </li>
        </#if>
        <#list paginator.pagesLinks as link>
			<#if ( link.index == paginator.pageCurrent )>
                        <li class="active">
				<strong>${link.name}</strong>
                        </li>
			<#else>
                        <li>
				<a href="${link.url?xhtml}">${link.name}</a>
                        </li>
			</#if>
        </#list>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <li>
        	<strong>...</strong>
        </li>
        </#if>
        <#if (paginator.pageCurrent < paginator.pagesCount) >
        <li class="next">
        <a href="${paginator.nextPageLink?xhtml}">
            ${paginator.labelNext}
        </a>
        </li>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <li class="next">
        <a href="${paginator.lastPageLink?xhtml}">
            ${paginator.labelLast}
        </a>
        </li>
        </#if>
        <#else>
        <li class="next-off">
            ${paginator.labelNext}
        </li>
        </#if>
        </ul>
    </span>
            ${paginator.labelItemCount} : ${paginator.itemsCount}
        </p>

    </div>
    </#if>
</#macro>



<#macro paginationAdminCombo paginator >
	<#assign nbLinkPages = 10 />
	<#assign offsetPrev = nbLinkPages/2 />
	<#assign offsetNext = nbLinkPages/2 />

	<#if paginator.pageCurrent &lt; nbLinkPages-offsetPrev>
		<#assign offsetPrev = nbLinkPages - paginator.pageCurrent />
		<#assign offsetNext = nbLinkPages - offsetPrev />
	<#elseif paginator.pageCurrent &gt; paginator.pagesCount - (nbLinkPages - offsetNext) >
		<#assign offsetNext = nbLinkPages - (paginator.pagesCount - paginator.pageCurrent) />
		<#assign offsetPrev = nbLinkPages - offsetNext />
	</#if>
    <#if (paginator.pagesCount > 1) >
    <div id="lutece-paginator">
    <form method="post" action="">
        <p>
        <span>
        <ul>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <li>
        <a href="${paginator.firstPageLink?xhtml}">
            ${paginator.labelFirst}
        </a>
        </li>
        </#if>
        <#if (paginator.pageCurrent > 1) >
        <li class="previous">
        <a href="${paginator.previousPageLink?xhtml}">
            ${paginator.labelPrevious}
        </a>
        </li>
        <#else>
        <li class="previous-off">
            ${paginator.labelPrevious}
        </li>
        </#if>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <li>
        	<strong>...</strong>
        </li>
        </#if>
        <#list paginator.pagesLinks as link>
			<#if ( link.index == paginator.pageCurrent )>
                        <li class="active">
				<strong>${link.name}</strong>
                        </li>
			<#else>
                        <li>
				<a href="${link.url?xhtml}">${link.name}</a>
                        </li>
			</#if>
        </#list>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <li>
        	<strong>...</strong>
        </li>
        </#if>
        <#if (paginator.pageCurrent < paginator.pagesCount) >
        <li class="next">
        <a href="${paginator.nextPageLink?xhtml}">
            ${paginator.labelNext}
        </a>
        </li>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <li class="next">
        <a href="${paginator.lastPageLink?xhtml}">
            ${paginator.labelLast}
        </a>
        </li>
        </#if>
        <#else>
        <li class="next-off">
            ${paginator.labelNext}
        </li>
        </#if>
        </ul>
        </span>
        ${paginator.labelItemCountPerPage} :
        <select name="items_per_page">
            <#list [ "10" , "20" , "50" , "100" ] as nb>
             <#if nb_items_per_page = nb >
             	<option selected="selected" value="${nb}">${nb}</option>
             <#else>
             	<option value="${nb}">${nb}</option>
             </#if>
            </#list>
        </select>
        <input type="submit" class="refresh" value="" />
        &nbsp;-&nbsp;
        ${paginator.labelItemCount} : ${paginator.itemsCount}
        </p>
    </form>
    </div>
    </#if>
</#macro>


<#macro paginationAdminComboWithoutForm paginator >
	<#assign nbLinkPages = 10 />
	<#assign offsetPrev = nbLinkPages/2 />
	<#assign offsetNext = nbLinkPages/2 />

	<#if paginator.pageCurrent &lt; nbLinkPages-offsetPrev>
		<#assign offsetPrev = nbLinkPages - paginator.pageCurrent />
		<#assign offsetNext = nbLinkPages - offsetPrev />
	<#elseif paginator.pageCurrent &gt; paginator.pagesCount - (nbLinkPages - offsetNext) >
		<#assign offsetNext = nbLinkPages - (paginator.pagesCount - paginator.pageCurrent) />
		<#assign offsetPrev = nbLinkPages - offsetNext />
	</#if>
    <#if (paginator.pagesCount > 1) >
    <div id="lutece-paginator">
         <p>
        <span>
        <ul>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <li>
        <a href="${paginator.firstPageLink?xhtml}">
            ${paginator.labelFirst}
        </a>
        </li>
        </#if>
        <#if (paginator.pageCurrent > 1) >
        <li class="previous">
        <a href="${paginator.previousPageLink?xhtml}">
            ${paginator.labelPrevious}
        </a>
        </li>
        <#else>
        <li class="previous-off">
            ${paginator.labelPrevious}
        </li>
        </#if>
        <#if paginator.pageCurrent &gt; nbLinkPages-offsetPrev >
        <li>
        	<strong>...</strong>
        </li>
        </#if>
        <#list paginator.pagesLinks as link>
			<#if ( link.index == paginator.pageCurrent )>
                        <li class="active">
				<strong>${link.name}</strong>
                        </li>
			<#else>
                        <li>
				<a href="${link.url?xhtml}">${link.name}</a>
                        </li>
			</#if>
        </#list>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <li>
        	<strong>...</strong>
        </li>
        </#if>
        <#if (paginator.pageCurrent < paginator.pagesCount) >
        <li class="next">
        <a href="${paginator.nextPageLink?xhtml}">
            ${paginator.labelNext}
        </a>
        </li>
        <#if paginator.pageCurrent &lt; paginator.pagesCount - (nbLinkPages-offsetNext) >
        <li class="next">
        <a href="${paginator.lastPageLink?xhtml}">
            ${paginator.labelLast}
        </a>
        </li>
        </#if>
        <#else>
        <li class="next-off">
            ${paginator.labelNext}
        </li>
        </#if>
        </ul>
        </span>
        ${paginator.labelItemCountPerPage} :
        <select name="items_per_page">
            <#list [ "10" , "20" , "50" , "100" ] as nb>
             <#if nb_items_per_page = nb >
             	<option selected="selected" value="${nb}">${nb}</option>
             <#else>
             	<option value="${nb}">${nb}</option>
             </#if>
            </#list>
        </select>
        <input type="submit" class="refresh" value="" />
        &nbsp;-&nbsp;
        ${paginator.labelItemCount} : ${paginator.itemsCount}
        </p>
    </div>
    </#if>
</#macro>


<#macro item_navigation item_navigator>
	<div id="item-navigator">
		<#if (item_navigator.currentItemId > 1)>
			<a href="${item_navigator.previousPageLink?xhtml}">
	            <img src="images/admin/skin/prev.png" alt="&lt;" style="vertical-align: baseline;" />
	            #i18n{portal.util.labelPrevious}
	        </a>
	    <#else>
	    	&nbsp;&nbsp;
		</#if>
		<#if (item_navigator.currentItemId < item_navigator.listItemSize) >
	         <a href="${item_navigator.nextPageLink?xhtml}">
	         	#i18n{portal.util.labelNext}
	            <img src="images/admin/skin/next.png" alt="&gt;" style="vertical-align: baseline;" />
	        </a>
	    <#else>
	    	&nbsp;&nbsp;
		</#if>
	</div>
</#macro>
