<@row>
	<@columns>
		<@box>
			<@boxHeader title='#i18n{portal.workgroup.manage_workgroups.pageTitle}' boxTools=true skipHeader=true>
				<@aButton href='jsp/admin/workgroup/CreateWorkgroup.jsp' buttonIcon='plus' title='#i18n{portal.workgroup.manage_workgroups.buttonLabelNewGroup}'  />
			</@boxHeader>
			<@boxBody>
			<@tform type='inline' class='border-bottom' method='post' name='search_workgroups' action='jsp/admin/workgroup/ManageWorkgroups.jsp' id='workgroupSearch'>
				<@formGroup title='#i18n{portal.workgroup.manage_workgroups.search_workgroups.labelKey}' labelFor='key' rows=2>
					<@input type='text' id='key' name='search_key' value='${search_admin_workgroup_filter.key}' maxlength=50  placeHolder='#i18n{portal.workgroup.manage_workgroups.search_workgroups.labelKey}'  size=''/>
				</@formGroup>
				<@formGroup title='#i18n{portal.workgroup.manage_workgroups.search_workgroups.labelDescription}' labelFor='description'  rows=2>
					<@input type='text' id='description' name='search_description' value='${search_admin_workgroup_filter.description}' maxlength=50 placeHolder='#i18n{portal.workgroup.manage_workgroups.search_workgroups.labelDescription}' size=''/>
				</@formGroup>
				<@formGroup rows=2>
					<@button type='submit' buttonIcon='search' name='search_is_search' title='#i18n{portal.workgroup.manage_workgroups.search_workgroups.buttonSearch}' color='primary' size='' />
				</@formGroup>
			</@tform>
			<@tform method='post' action='jsp/admin/workgroup/ManageWorkgroups.jsp'>
				<#if search_is_search >
					<@input type='hidden' name='search_is_search' value='true' />
					<@input type='hidden' name='search_key' value='${search_admin_workgroup_filter.key}' />
					<@input type='hidden' name='search_description' value='${search_admin_workgroup_filter.description}' />
				</#if>
			</@tform>
			<#if workgroups_list?size gt 0>
				<@table>
					<@tr>
						<@th>#i18n{portal.workgroup.manage_workgroups.columnTitleKey} <@sort jsp_url="jsp/admin/workgroup/ManageWorkgroups.jsp" attribute="key${sort_search_attribute}" /></@th>
						<@th>#i18n{portal.workgroup.manage_workgroups.columnTitleDescription} <@sort jsp_url="jsp/admin/workgroup/ManageWorkgroups.jsp" attribute="description${sort_search_attribute}" /></@th>
						<@th>#i18n{portal.workgroup.manage_workgroups.columnTitleActions}</@th>
					</@tr>
					<@tableHeadBodySeparator />
					<#list workgroups_list as workgroup >
					<@tr>
						<@td>${workgroup.key}</@td>
						<@td>${workgroup.description}</@td>
						<@td>
							<@aButton href='jsp/admin/workgroup/ModifyWorkgroup.jsp?workgroup_key=${workgroup.key}' title='#i18n{portal.workgroup.manage_workgroups.buttonLabelModify} (${workgroup.key})' buttonIcon='edit' hideTitle=['all'] size='sm' />
							<@aButton href='jsp/admin/workgroup/AssignUsersWorkgroup.jsp?workgroup_key=${workgroup.key}' title='#i18n{portal.workgroup.manage_workgroups.buttonLabelAssignUsers} (${workgroup.key})' buttonIcon='user' hideTitle=['all'] size='sm' />
							<@aButton href='jsp/admin/workgroup/RemoveWorkgroup.jsp?workgroup_key=${workgroup.key}' title='#i18n{portal.workgroup.manage_workgroups.buttonLabelDelete} (${workgroup.key})' buttonIcon='trash' hideTitle=['all'] color='danger' size='sm' />
						</@td>
					</@tr>
					</#list>
				</@table>
				<@paginationAdmin paginator=paginator combo=1 />
			<#else>
				<@empty />
			</#if>
			</@boxBody>
		</@box>
	</@columns>
</@row>