<div id="content-box-actions">
    <form method="post"  action="jsp/admin/workgroup/CreateWorkgroup.jsp">
        <p><input type="submit" value="#i18n{portal.workgroup.manage_workgroups.buttonLabelNewGroup}"  class="button bt-toolbar" /></p>
    </form>
</div>
<div class="content-box">
    <h2 class="content-box-header">#i18n{portal.workgroup.manage_workgroups.pageTitle}</h2>
    <div class="highlight-box">
		<div id="search-wokgroups">
			<form method="post" name="search_workgroups" action="jsp/admin/workgroup/ManageWorkgroups.jsp"  >
				<p>
					<label for="key" >#i18n{portal.workgroup.manage_workgroups.search_workgroups.labelKey} :</label>
					<input type="text" id="key" name="search_key" value="${search_admin_workgroup_filter.key}" maxlength="50" size="20" />
				</p>
				<p>
					<label for="description" >#i18n{portal.workgroup.manage_workgroups.search_workgroups.labelDescription} :</label>
					<input type="text" id="description" name="search_description" value="${search_admin_workgroup_filter.description}" maxlength="250" size="50" tabindex="2" />
				</p>
				<p>
		           	<input type="submit" value="#i18n{portal.workgroup.manage_workgroups.search_workgroups.buttonSearch}" tabindex="6" class="button" name="search_is_search"/>   
		        </p>
			</form>
    	</div>
    </div>
    <form method="post" action="jsp/admin/workgroup/ManageWorkgroups.jsp">
        <@paginationAdmin paginator=paginator combo=1 form=0 />
        <#if search_is_search >
   			<input type="hidden" name="search_is_search" value="true"/>
   			<input type="hidden" name="search_key" value="${search_admin_workgroup_filter.key}"/>
   			<input type="hidden" name="description" value="${search_admin_workgroup_filter.description}"/>
        </#if>
    </form>
	<table>
        <tr>
            <th>
            	#i18n{portal.workgroup.manage_workgroups.columnTitleKey}
            	<@sort jsp_url="jsp/admin/workgroup/ManageWorkgroups.jsp" attribute="key${sort_search_attribute}" />
            </th>
            <th>
            	#i18n{portal.workgroup.manage_workgroups.columnTitleDescription}
            	<@sort jsp_url="jsp/admin/workgroup/ManageWorkgroups.jsp" attribute="description${sort_search_attribute}" />
            </th>
            <th>#i18n{portal.workgroup.manage_workgroups.columnTitleActions}</th>
        </tr>
        <#list workgroups_list as workgroup >
        <tr>
            <td><a href="jsp/admin/workgroup/ModifyWorkgroup.jsp?workgroup_key=${workgroup.key}" class="bullet-link" >${workgroup.key}</a></td>
            <td>${workgroup.description}</td>
            <td>
                <form method="post"  action="jsp/admin/workgroup/RemoveWorkgroup.jsp">
                    <input type="hidden" name="workgroup_key"  value="${workgroup.key}" />
                    <input type="image" src="images/admin/skin/actions/group.png"  style="border:0;vertical-align:bottom;" alt="#i18n{portal.workgroup.manage_workgroups.buttonLabelAssignUsers}" title="#i18n{portal.workgroup.manage_workgroups.buttonLabelAssignUsers}" onclick="this.form.action='jsp/admin/workgroup/AssignUsersWorkgroup.jsp';" />
                    <input type="image" src="images/admin/skin/actions/delete.png"  style="border:0;vertical-align:bottom;" alt="#i18n{portal.workgroup.manage_workgroups.buttonLabelDelete}" title="#i18n{portal.workgroup.manage_workgroups.buttonLabelDelete}" onclick="this.form.action='jsp/admin/workgroup/RemoveWorkgroup.jsp';" />
                </form>
            </td>
        </tr>
        </#list>
    </table>
	<@paginationAdmin paginator=paginator />
</div>
