<#assign alerttype="yellow" />
<#assign icontype="fa-info-circle" />
<#if message.type == 2 >
   <#assign alerttype="red" />
   <#assign icontype="fa-question-circle" />
<#elseif message.type == 3 >
   <#assign alerttype="yellow" />
   <#assign icontype="fa-exclamation-circle" />
<#elseif message.type == 5 >
   <#assign alerttype="red" />
   <#assign icontype="fa-ban" />
</#if>
<div class="login-box" id="message-box">
  <div class="login-logo bg-${alerttype}">
		<b><span class="fa ${icontype}"></span> ${title!"Info"}</b>
	</div>
  <div class="login-box-body bg-${alerttype}">
		<p class="lead text-center">${text}</p>
  	<div class="footer bg-${alerttype} text-center">
  	<div class="row">
  		<#if message.cancel>
  			<div class="col-md-6">
  				<#if url?has_content>
  					<form method="post" action="${url}" <#if target?has_content>target="${target}"</#if> class="form-inline">
  						<#if list_parameters?exists>
  							<#assign keys = list_parameters?keys>
  							<#list keys as key>
  								<input type="hidden" name="${key}" value="${list_parameters[key]}">
  							</#list>
  						</#if>
  						<button class="btn btn-default btn-block" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;#i18n{portal.admin.message.buttonValidate}</button>
  					</form>
  				</#if>
  			</div>
  			<div class="col-md-6">
  				<#if back_url?has_content>
  					<form method="post" action="${back_url}" class="form-inline" >
  					<#if list_parameters?exists>
  						<#list keys as key>
  							<input type="hidden" name="${key}" value="${list_parameters[key]}">
  						</#list>
  					</#if>
  					<button class="btn btn-block btn-default " type="submit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}</button>
  					</form>
  				<#else>
  					<button class="btn btn-block btn-default" type="button" onclick="javascript:window.history.back();"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}</button>
  				</#if>
  			</div>
  		<#else>
  			<div class="col-md-12">
  			<#if url?has_content>
  				<form method="post" action="${url}" target="${target}" class="form-inline">
  					<#if list_parameters?exists>
  						<#assign keys = list_parameters?keys>
  						<#list keys as key>
  							<input type="hidden" name="${key}" value="${list_parameters[key]}">
  						</#list>
  					</#if>
  					<button class="btn btn-default btn-block" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;#i18n{portal.admin.message.buttonValidate}</button>
  				</form>
  			</#if>
  			</div>
  		</#if>
  		</div>
  	</div>
  	<div class="margin text-center">
  		<button class="btn btn-link">
  			<img src="images/poweredby.jpg" class="thumbnails" alt="logo lutece" title="Lutece">
  		</button>
  	</div>
  </div>
</div>
