<#assign alerttype="info" />
<#assign icontype="icon-info-sign" />
<#if message.type == 2 >
<#assign alerttype="error" />
<#assign icontype="icon-question-sign" />
<#elseif message.type == 3 >
<#assign alerttype="block" />
<#assign icontype="icon-exclamation-sign" />
<#elseif message.type == 5 >
<#assign alerttype="error" />
<#assign icontype="icon-minus-sign" />
</#if>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="jsp/site/Portal.jsp" title="#i18n{portal.users.admin_header.title.viewSite} " target="_blank" class="brand">
            <img src="images/logo-header.png" title="#i18n{portal.users.admin_header.title.viewSite} "  alt="" />
        </a>
        <div class="nav-collapse">
            <ul class="nav pull-right">
                <li class="home">
                    <a href="jsp/admin/AdminMenu.jsp" title="&nbsp;#i18n{portal.users.admin_header.homePage}"><i class="icon-home icon-white"></i></a>
                </li> 
        </div><!-- /.nav-collapse -->
    </div> <!-- /navbar-inner -->
</div>
<h1 class="header"><a name="top">&nbsp;</a></h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 hidden-phone">
            &nbsp;
        </div>
        <div class="span6">
            <div class="alert alert-${alerttype} msg-admin clearfix">
                <h5><i class="${icontype}"></i>&nbsp;${title}</h5>
                <p class="lead">${text}</p>
                <div class="pull-left">
                    <#if url?has_content>
                    <form method="post" action="${url}" target="${target}" class="form-inline pull-left spaced"> 
                        <#if list_parameters?exists>
                        <#assign keys = list_parameters?keys>
                        <#list keys as key>
                        <input type="hidden" name="${key}" value="${list_parameters[key]}" />
                        </#list>
                        </#if>
                        <button class="btn btn-small" type="submit"><i class="icon-ok"></i>&nbsp;#i18n{portal.admin.message.buttonValidate}</button> 
                    </form>
                    <#if message.cancel>
                    <#if back_url?has_content>
                    <form method="post" action="${back_url}" class="form-inline pull-left" >
                        <#if list_parameters?exists>
                        <#list keys as key>
                        <input type="hidden" name="${key}" value="${list_parameters[key]}" />
                        </#list>	
                        </#if>
                        <button class="btn btn-small" type="submit"><i class="icon-remove-circle"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}</button> 
                    </form>		
                    <#else>
                    <button class="btn btn-small" type="button" onclick="javascript:window.history.back();"><i class="icon-remove-circle"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}</button> 
                    </#if>	
                    </#if>
                    </#if>
                </div>
            </div>
        </div>
    </div>
</div>
