<@pageContainer>
	<@pageColumn>
	<#assign headerTitle>#i18n{portal.theme.manage_themes.globalTheme} <@tag>${theme_default.themeDescription}</@tag></#assign>
		<@pageHeader title=headerTitle />
		<@row class='row-cols-1 row-cols-md-5 g-2'>
		<#list themes_list as theme>
			<#assign colClass><#if theme_default.codeTheme==theme.codeTheme>order-1<#else>order-2</#if></#assign>
			<@columns class=colClass>
				<#assign titleClass='mb-0'>
				<#assign cardClass>mb-0</#assign>
				<#if theme_default.codeTheme==theme.codeTheme><#assign cardClass += ' opacity-75' /></#if>	
				<#assign headerContent><h2 class="${titleClass}">${theme.themeDescription}</h2></#assign>
				<@box class=cardClass> 
					<@boxHeader title=headerContent />
					<@boxBody class='p-0' params='style="position:relative;background-position:center;background-size:contain;background-repeat:no-repeat;width:100%;height:210px;top:0;left:0; background-image: url(\'themes/skin/${theme.codeTheme}/${theme.pathImages}thumbnail.png\');"' />
					<@boxFooter class='bg-light'>
						<p class="text-center my-3">
						<#if theme_default.codeTheme!=theme.codeTheme>
							<#if permission_modify_global_theme>
							<a class="btn btn-outline-primary" href="jsp/admin/theme/DoModifyGlobalTheme.jsp?theme=${theme.codeTheme}&theme_version=${theme.themeVersion}" title="#i18n{portal.theme.manage_themes.buttonChangeChoose}">
								#i18n{portal.theme.manage_themes.themeSelection} <i class="ti ti-click ms-2"></i> 
							</a>
							</#if>
						<#else>
							<span class="status status-green my-2"><span class="status-dot status-dot-animated"></span> #i18n{portal.theme.manage_themes.themeRunning}</span>
						</#if>
						</p>
						<@row>
							<@columns>
								<p class="text-center mb-0"><strong>#i18n{portal.theme.manage_themes.author}</strong> </p>
								<p class="text-center mb-0"><a class="link-info link-offset-2" href="${theme.themeAuthorUrl}" target="_author_url">${theme.themeAuthor}</a></p>
							</@columns>
							<@columns>
								<p class="text-center mb-0"><strong>#i18n{portal.theme.manage_themes.version}</strong></p> 
								<p class="text-center mb-0">${theme.themeVersion}</p>
							</@columns>
							<@columns>
								<p class="text-center mb-0"><strong>#i18n{portal.theme.manage_themes.licence}</strong> </p>
								<p class="text-center mb-0">${theme.themeLicence}</p>
							</@columns>
						</@row>
					</@boxFooter>
				</@box>
			</@columns>
		</#list>
		</@row>
	</@pageColumn>
</@pageContainer>