<#include "utils.html">
<@header title='Alert' />

<@h2># Colors</@h2>

<@row>
    <@columns>
		<@alert>Default</@alert>
		<@alert color='primary'>Primary</@alert>
		<@alert color='info'>Info</@alert>
		<@alert color='success'>Success</@alert>
		<@alert color='warning'>Warning</@alert>
		<@alert color='danger'>Danger</@alert>
    </@columns>

    <@columns>
<pre>    
&lt;@alert&gt;Default&lt;@alert&gt;
&lt;@alert color='primary'&gt;Primary&lt;@alert&gt;
&lt;@alert color='info'&gt;Info&lt;@alert&gt;
&lt;@alert color='success'&gt;Success&lt;@alert&gt;
&lt;@alert color='warning'&gt;Warning&lt;@alert&gt;
&lt;@alert color='danger'&gt;Danger&lt;@alert&gt;
</pre>
    </@columns>
</@row>

<@h2># Dismissible</@h2>

<@row>
    <@columns>
		<@alert color='info' dismissible=true>Info</@alert>
    </@columns>
    <@columns>
		<pre>    
&lt;@alert color='info' dismissible=true&gt;Default&lt;@alert&gt;
		</pre>
    </@columns>
</@row>

<@h2># Parameters documentation</@h2>

<@table>
  <@tr>
      <@th>Parameter</@th>
      <@th>Value</@th>
      <@th>Default</@th>
      <@th>Use</@th>
  </@tr>
  <@tr>
      <@th>class</@th>
      <@td>string</@td>
      <@td>none</@td>
      <@td>CSS class to apply to the alert title.</@td>
  </@tr>
  <@tr>
      <@th>color</@th>
      <@td>string</@td>
      <@td>none</@td>
      <@td>CSS class to apply to the alert icon.</@td>
  </@tr>
  <@tr>
      <@th>titleLevel</@th>
      <@td>string</@td>
      <@td>h4</@td>
      <@td>Defines the heading level for the alert title (e.g., H1, H2, H3, H4).</@td>
  </@tr>
  <@tr>
      <@th>title</@th>
      <@td>string</@td>
      <@td>none</@td>
      <@td>Title of the alert.</@td>
  </@tr>
  <@tr>
      <@th>iconTitle</@th>
      <@td>string</@td>
      <@td>none</@td>
      <@td>The icon to display in the alert.</@td>
  </@tr>
  <@tr>
      <@th>dismissible</@th>
      <@td>boolean</@td>
      <@td>0</@td>
      <@td>Indicates whether the alert can be dismissed by the user.</@td>
  </@tr>
  <@tr>
      <@th>id</@th>
      <@td>string</@td>
      <@td>none</@td>
      <@td>Unique identifier for the alert. If not provided, a default ID will be generated.</@td>
  </@tr>
  <@tr>
      <@th>params</@th>
      <@td>string</@td>
      <@td>none</@td>
      <@td>Additional parameters for the alert.</@td>
  </@tr>
</@table>

<@footer />