<#include "utils.html">
<@header title='Button'/>

<p>
    These macros allow to display buttons in different sizes, colors with behaviors according to the size of the screen
</p>
<@h2># Colors</@h2>
<p>
    Here are the available colors.
</p>
<@row>
<@columns xs=12 sm=6>
<@button color='default' title='default' />
<@button color='primary' title='primary' />
<@button color='secondary' title='secondary' />
<@button color='link' title='link' />
<@button color='info' title='info' />
<@button color='success' title='success' />
<@button color='warning' title='warning' />
<@button color='danger' title='danger' />
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@button color='default' title='default' /&gt;
&lt;@button color='primary' title='primary' /&gt;
&lt;@button color='secondary' title='secondary' /&gt;
&lt;@button color='link' title='link' /&gt;
&lt;@button color='info' title='info' /&gt;
&lt;@button color='success' title='success' /&gt;
&lt;@button color='warning' title='warning' /&gt;
&lt;@button color='danger' title='danger' /&gt;
</pre>
</@columns>
</@row>


<@h2># Sizes </@h2>
<p>
    Here are the available sizes.
</p>
<@row>
<@columns xs=12 sm=6>
<@button size='xs' title='Extra Small' />
<@button size='sm' title='Small' />
<@button title='Default' />
<@button size='md' title='Medium' />
<@button size='lg' title='Large' />
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@button size='xs' title='Extra Small' /&gt;
&lt;@button size='sm' title='Small' /&gt;
&lt;@button title='Default' /&gt;
&lt;@button size='md' title='Medium' /&gt;
&lt;@button size='lg' title='Large' /&gt;
</pre>
</@columns>
</@row>


<@h2># Icons </@h2>
<p>
    Here are some examples of icons.
</p>
<@row>
<@columns xs=12 sm=6>
<@button buttonIcon='github' title='Github' />
<@button buttonIcon='twitter' title='Twitter' />
<@button buttonIcon='times' title='Cancel' />
<@button buttonIcon='check' title='Validate' />
<@button buttonIcon='trash' title='Delete' />
<@button buttonIcon='external-link-alt' title='External link' iconPosition='right'/>
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@button buttonIcon='github' title='Extra Small' /&gt;
&lt;@button buttonIcon='twitter' title='Twitter' /&gt;
&lt;@button buttonIcon='times' title='Cancel' /&gt;
&lt;@button buttonIcon='check' title='Validate' /&gt;
&lt;@button buttonIcon='trash' title='Delete' /&gt;
&lt;@button buttonIcon='external-link-alt' title='External link' iconPosition='right' /&gt;
</pre>
</@columns>
</@row>



<@h2># Just icon with tooltip </@h2>
<p>
    Display only the icon with a tooltip when the mouse is over the button. Used for toolbar or actions list.
</p>
<@row>
<@columns xs=12 sm=6>
<@button buttonIcon='github' title='Github' hideTitle=['all'] />
<@button buttonIcon='twitter' title='Twitter' hideTitle=['all'] />
<@button buttonIcon='times' title='Cancel' hideTitle=['all'] />
<@button buttonIcon='check' title='Validate' hideTitle=['all'] />
<@button buttonIcon='trash' title='Delete' hideTitle=['all'] />
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@button buttonIcon='github' title='Extra Small' hideTitle=['all'] /&gt;
&lt;@button buttonIcon='twitter' title='Twitter' hideTitle=['all'] /&gt;
&lt;@button buttonIcon='times' title='Cancel' hideTitle=['all'] /&gt;
&lt;@button buttonIcon='check' title='Validate' hideTitle=['all'] /&gt;
&lt;@button buttonIcon='trash' title='Delete' hideTitle=['all'] /&gt;
</pre>
</@columns>
</@row>

<@h2># Responsive</@h2>
<p>
    Display or hide labels according the size of the screen
</p>
<@row>
<@columns xs=12 sm=6>
<@button buttonIcon='github' title='Github' hideTitle=['xs','sm'] />
<@button buttonIcon='twitter' title='Twitter' hideTitle=['xs','sm'] />
<@button buttonIcon='times' title='Cancel' hideTitle=['xs','sm'] />
<@button buttonIcon='check' title='Validate' hideTitle=['xs','sm'] />
<@button buttonIcon='trash' title='Delete' hideTitle=['xs','sm'] />
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@button buttonIcon='github' title='Extra Small' hideTitle=['xs','sm'] /&gt;
&lt;@button buttonIcon='twitter' title='Twitter' hideTitle=['xs','sm'] /&gt;
&lt;@button buttonIcon='times' title='Cancel' hideTitle=['xs','sm'] /&gt;
&lt;@button buttonIcon='check' title='Validate' hideTitle=['xs','sm'] /&gt;
&lt;@button buttonIcon='trash' title='Delete' hideTitle=['xs','sm'] /&gt;
</pre>
</@columns>
</@row>

<@h2># Parameters documentation</@h2>

<@table>
<@tr>
    <@th>Parameter</@th>
    <@th>Value</@th>
    <@th>Default</@th>
</@tr>
<@tr>
    <@th>name</@th>
    <@td></@td>
    <@td></@td>
</@tr>
<@tr>
    <@th>id</@th>
    <@td></@td>
    <@td></@td>
</@tr>
<@tr>
    <@th>type</@th>
    <@td>button/submit</@td>
    <@td>button</@td>
</@tr>
<@tr>
    <@th>size</@th>
    <@td>xs/sm/md/lg</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>color</@th>
    <@td>primary/info/warning/danger/success</@td>
    <@td>primary</@td>
</@tr>
<@tr>
    <@th>style</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>title</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>hideTitle</@th>
    <@td>sequence</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>buttonIcon</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>disabled</@th>
    <@td>boolean</@td>
    <@td>false</@td>
</@tr>
<@tr>
    <@th>iconPosition</@th>
    <@td>string</@td>
    <@td>left</@td>
</@tr>
<@tr>
    <@th>dropdownMenu</@th>
    <@td>boolean</@td>
    <@td>false</@td>
</@tr>
<@tr>
    <@th>cancel</@th>
    <@td>boolean</@td>
    <@td>false</@td>
</@tr>
<@tr>
    <@th>form</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
</@table>


<@h2>Anchor buttons</@h2>
<p>
This macro displays anchor links as buttons. 
</p>

<@h2># Colors</@h2>
<p>
    Here are the available colors.
</p>

<@row>
<@columns xs=12 sm=6>
<@aButton href='#' title='default' />
<@aButton href='#' color='primary' title='primary' />
<@aButton href='#' color='secondary' title='secondary' />
<@aButton href='#' color='link' title='link' />
<@aButton href='#' color='info' title='info' />
<@aButton href='#' color='success' title='success' />
<@aButton href='#' color='warning' title='warning' />
<@aButton href='#' color='danger' title='danger' />
</@columns>

<@columns xs=12 sm=6>
<pre> 
&lt;@aButton href='#' title='default' /&gt;
&lt;@aButton href='#' color='primary' title='primary' /&gt;
&lt;@aButton href='#' color='secondary' title='secondary' /&gt;
&lt;@aButton href='#' color='link' title='link' /&gt;
&lt;@aButton href='#' color='info' title='info' /&gt;
&lt;@aButton href='#' color='success' title='success' /&gt;
&lt;@aButton href='#' color='warning' title='warning' /&gt;
&lt;@aButton href='#' color='danger' title='danger' /&gt;
</pre>
</@columns>
</@row>


<@h2># Sizes </@h2>
<p>
    Here are the available sizes.
</p>
<@row>
<@columns xs=12 sm=6>
<@aButton href='#' size='xs' title='Extra Small' />
<@aButton href='#' size='sm' title='Small' />
<@aButton href='#' title='Default' />
<@aButton href='#' size='md' title='Medium' />
<@aButton href='#' size='lg' title='Large' />
</@columns>

<@columns xs=12 sm=6>
<pre>    
&lt;@aButton href='#' size='xs' title='Extra Small' /&gt;
&lt;@aButton href='#' size='sm' title='Small' /&gt;
&lt;@aButton href='#' title='Default' /&gt;
&lt;@aButton href='#' size='md' title='Medium' /&gt;
&lt;@aButton href='#' size='lg' title='Large' /&gt;
</pre>
</@columns>
</@row>


<@h2># Icons </@h2>
<p>
    Here are some examples of icons.
</p>
<@row>
<@columns xs=12 sm=6>
<@aButton href='#' buttonIcon='github' title='Github' />
<@aButton href='#' buttonIcon='twitter' title='Twitter' />
<@aButton href='#' buttonIcon='times' title='Cancel' />
<@aButton href='#' buttonIcon='check' title='Validate' />
<@aButton href='#' buttonIcon='trash' title='Delete' />
<@aButton href='#' buttonIcon='external-link-alt' title='External link' iconPosition='right'/>
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@aButton href='#' buttonIcon='github' title='Extra Small' /&gt;
&lt;@aButton href='#' buttonIcon='twitter' title='Twitter' /&gt;
&lt;@aButton href='#' buttonIcon='times' title='Cancel' /&gt;
&lt;@aButton href='#' buttonIcon='check' title='Validate' /&gt;
&lt;@aButton href='#' buttonIcon='trash' title='Delete' /&gt;
&lt;@aButton href='#' buttonIcon='external-link-alt' title='External link' iconPosition='right' /&gt;
</pre>
</@columns>
</@row>

<@h2># Just icon with tooltip </@h2>
<p>
    Display only the icon with a tooltip when the mouse is over the button. Used for toolbar or actions list.
</p>
<@row>
<@columns xs=12 sm=6>
<@aButton href='#' buttonIcon='github' title='Github' hideTitle=['all'] />
<@aButton href='#' buttonIcon='twitter' title='Twitter' hideTitle=['all'] />
<@aButton href='#' buttonIcon='times' title='Cancel' hideTitle=['all'] />
<@aButton href='#' buttonIcon='check' title='Validate' hideTitle=['all'] />
<@aButton href='#' buttonIcon='trash' title='Delete' hideTitle=['all'] />
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@aButton href='#' buttonIcon='github' title='Extra Small' hideTitle=['all'] /&gt;
&lt;@aButton href='#' buttonIcon='twitter' title='Twitter' hideTitle=['all'] /&gt;
&lt;@aButton href='#' buttonIcon='times' title='Cancel' hideTitle=['all'] /&gt;
&lt;@aButton href='#' buttonIcon='check' title='Validate' hideTitle=['all'] /&gt;
&lt;@aButton href='#' buttonIcon='trash' title='Delete' hideTitle=['all'] /&gt;
</pre>
</@columns>
</@row>

<@h2># Responsive </@h2>
<p>
    Display or hide labels according the size of the screen
</p>
<@row>
<@columns xs=12 sm=6>
<@aButton href='#' buttonIcon='github' title='Github' hideTitle=['xs','sm'] />
<@aButton href='#' buttonIcon='twitter' title='Twitter' hideTitle=['xs','sm'] />
<@aButton href='#' buttonIcon='times' title='Cancel' hideTitle=['xs','sm'] />
<@aButton href='#' buttonIcon='check' title='Validate' hideTitle=['xs','sm'] />
<@aButton href='#' buttonIcon='trash' title='Delete' hideTitle=['xs','sm'] />
</@columns>

<@columns xs=12 sm=6>
<pre>
&lt;@aButton href='#' buttonIcon='github' title='Github' hideTitle=['xs','sm'] /&gt;
&lt;@aButton href='#' buttonIcon='twitter' title='Twitter' hideTitle=['xs','sm'] /&gt;
&lt;@aButton href='#' buttonIcon='times' title='Cancel' hideTitle=['xs','sm'] /&gt;
&lt;@aButton href='#' buttonIcon='check' title='Validate' hideTitle=['xs','sm'] /&gt;
&lt;@aButton href='#' buttonIcon='trash' title='Delete' hideTitle=['xs','sm'] /&gt;
</pre>
</@columns>
</@row>

<@h2># Parameters documentation</@h2>

<@table>
<@tr>
    <@th>Parameter</@th>
    <@th>Value</@th>
    <@th>Default</@th>
</@tr>
<@tr>
    <@th>name</@th>
    <@td></@td>
    <@td></@td>
</@tr>
<@tr>
    <@th>id</@th>
    <@td></@td>
    <@td></@td>
</@tr>
<@tr>
    <@th>href</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>size</@th>
    <@td>xs/sm/md/lg</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>color</@th>
    <@td>primary/info/warning/danger/success</@td>
    <@td>primary</@td>
</@tr>
<@tr>
    <@th>class</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>params</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>title</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>hideTitle</@th>
    <@td>sequence</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>buttonIcon</@th>
    <@td>string</@td>
    <@td>none</@td>
</@tr>
<@tr>
    <@th>disabled</@th>
    <@td>boolean</@td>
    <@td>false</@td>
</@tr>
<@tr>
    <@th>iconPosition</@th>
    <@td>string</@td>
    <@td>left</@td>
</@tr>
<@tr>
    <@th>dropdownMenu</@th>
    <@td>boolean</@td>
    <@td>false</@td>
</@tr>
</@table>

<@footer />