<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title" id="manage_xsl_export">#i18n{portal.xsl.manage_xsl_export.title}</h3>
        <#if right_create>
          <div class="box-tools pull-right">
            <form class="form-inline" method="post" action="jsp/admin/xsl/CreateXslExport.jsp">
              <button class="btn btn-primary btn-xs btn-flat" type="submit" title="#i18n{portal.xsl.manage_xsl_export.button_create}">
                <i class="fa fa-plus"></i> <span class="hidden-xs"> #i18n{portal.xsl.manage_xsl_export.button_create}</span>
              </button>
            </form>
          </div>
        </#if>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table class="table table-hover table-striped" aria-describedby="manage_xsl_export">
          <caption>&nbsp;</caption>
          <thead>
          <tr>
            <th>#i18n{portal.xsl.manage_xsl_export.row_title}</th>
            <th class="hidden-xs">#i18n{portal.xsl.manage_xsl_export.row_description}</th>
            <th class="hidden-xs">#i18n{portal.xsl.manage_xsl_export.row_extension}</th>
            <th>#i18n{portal.xsl.manage_xsl_export.row_actions}</th>
          </tr>
        </thead>
        <tbody>
        <#list xsl_export_list as xsl_export>
          <tr>
            <td>${xsl_export.title}</td>
            <td class="hidden-xs">${xsl_export.description}</td>
            <td class="hidden-xs">${xsl_export.extension}</td>
            <td>
              <#if right_modify>
                <a class="btn btn-primary btn-xs btn-flat" href="jsp/admin/xsl/ModifyXslExport.jsp?id_xsl_export=${xsl_export.idXslExport}" title="#i18n{portal.xsl.manage_xsl_export.title_modify} (${xsl_export.title?html})">
                  <i class="fa fa-pencil"></i>
                </a>
              </#if>
              <#if right_delete>
                <a class="btn btn-danger btn-xs btn-flat" href="jsp/admin/xsl/ConfirmRemoveXslExport.jsp?id_xsl_export=${xsl_export.idXslExport}" title="#i18n{portal.xsl.manage_xsl_export.title_delete} (${xsl_export.title?html})">
                  <i class="fa fa-trash"></i>
                </a>
              </#if>
            </td>
          </tr>
        </#list>
        </tbody>
      </table>
    </div>
    <div class="box-footer">
      <@paginationAdmin paginator=paginator combo=1 />
    </div>
  </div>
  </div>
</div>
