<@pageContainer>
  	<@pageColumn>
    	<@pageHeader title='#i18n{portal.xsl.modify_xsl_export.title}' skipHeader=true />
		<@tform method='post' action='jsp/admin/xsl/DoModifyXslExport.jsp' params='enctype="multipart/form-data"' boxed=true >
			<@input type='hidden' name='id_xsl_export' value='${xsl_export.idXslExport}' />
			<@input type='hidden' name='token' value='${token}' />
			<@row>
				<@columns sm=12 md=8>
					<@formGroup labelFor='xsl_title' labelKey='#i18n{portal.xsl.create_xsl_export.label_title}' mandatory=true>
						<@input type='text' id='xsl_title' name='title' maxlength=255 value='${xsl_export.title?html}' />
					</@formGroup>
				</@columns>
				<@columns sm=12 md=2>
					<@formGroup labelFor='extension' labelKey='#i18n{portal.xsl.create_xsl_export.label_extension}' mandatory=true>
						<@input type='text' id='extension' name='extension' maxlength=10 value='${xsl_export.extension?html}' />
					</@formGroup>
				</@columns>
				<@columns sm=12 md=2>
					<@formGroup labelFor='plugin' labelKey='#i18n{portal.xsl.create_xsl_export.label_plugin}' mandatory=true>
						<@select name='plugin' items=list_plugins default_value=xsl_export.plugin />
					</@formGroup>
				</@columns>
			</@row>
			<@row>
				<@columns>
					<@formGroup labelFor='description' labelKey='#i18n{portal.xsl.create_xsl_export.label_description}' mandatory=true>
						<@input type='text' id='description' name='description' maxlength=255 value='${xsl_export.description?html}' />
					</@formGroup>
					<@formGroup>
						<@button type='submit' buttonIcon='check' title='#i18n{portal.xsl.create_xsl_export.button_save}' size='' />
						<@button buttonIcon='x' title='#i18n{portal.xsl.create_xsl_export.button_cancel}' color='secondary' size='' params=' onclick="history.back();"' />
					</@formGroup>
				</@columns> 
				<@columns> 
					<@formGroup labelFor='id_file' labelKey='#i18n{portal.xsl.create_xsl_export.label_file}' mandatory=true>
						<@inputGroup>
						<@input type='file' id='id_file' name='id_file' />
						
						</@inputGroup>
					</@formGroup>
					<@formGroup>
						<#if xsl_export.file?exists>
							<@aButton href='jsp/admin/xsl/DoDownloadXslExport.jsp?id_xsl_export=${xsl_export.idXslExport}' buttonIcon='download' title='#i18n{portal.util.labelDownload} ${xsl_export.file.title} (${xsl_export.file.size} o)' size='' color='info' />
						</#if>
					</@formGroup>
				</@columns> 
			</@row>
		</@tform>
	</@pageColumn>
</@pageContainer>