<@tabPanel id='xslexportManagement'>
    <#assign tabTitle>#i18n{portal.xsl.manage_xsl_export.page_title}</#assign>
    <@pageHeader title="${tabTitle}">
        <@tform type='inline' method='post' action='jsp/admin/xsl/CreateXslExport.jsp'>
            <@btnGroup align='right'>
                <@button type='submit' title='#i18n{portal.xsl.manage_xsl_export.button_create}' buttonIcon='plus'  />
            </@btnGroup>
        </@tform>
    </@pageHeader>
    <!-- 
    
    
    
    -->
    <@manageFeature params='aria-describedby="manage_xsl_export"'>
        <#list xsl_export_list as xsl_export>
            <@manageFeatureItem>
                <@manageFeatureItemColumn auto=true><@span class="badge bg-blue text-blue-fg">#i18n{portal.xsl.manage_xsl_export.row_extension}  ${xsl_export.extension?trim}</@span> </@manageFeatureItemColumn>
                <@manageFeatureItemColumn>#i18n{portal.xsl.manage_xsl_export.row_title} : ${xsl_export.title} - <br>#i18n{portal.xsl.manage_xsl_export.row_description} : ${xsl_export.description}</@manageFeatureItemColumn>
                <@manageFeatureItemColumn auto=true>
                    <#if right_modify>
                        <@aButton href='jsp/admin/xsl/ModifyXslExport.jsp?id_xsl_export=${xsl_export.idXslExport}' title='#i18n{portal.xsl.manage_xsl_export.title_modify}' buttonIcon='edit' />
                    </#if>
                    <#if right_delete>
                        <@aButton href='jsp/admin/xsl/ConfirmRemoveXslExport.jsp?id_xsl_export=${xsl_export.idXslExport}' title='#i18n{portal.xsl.manage_xsl_export.title_delete}' buttonIcon='trash' color='danger' />
                    </#if>
                </@manageFeatureItemColumn>
            </@manageFeatureItem>
        </#list>
    </@manageFeature>
</@tabPanel>