<div class="content-box">

	<h2>#i18n{portal.group.modify_group.boxTitle} ${group.groupKey}</h2>

	<form method="post" action="jsp/admin/group/DoModifyGroup.jsp" name="modify_group">
		<p>
			<label for="group_description">#i18n{portal.group.modify_group.labelDescription} :</label>
			<input type="text" id="group_description" name="group_description" value="${group.groupDescription}" size="70" maxlength="200" />
		</p>
        <p>
        	<input type="submit" value="#i18n{portal.group.modify_group.buttonLabelValidate}" class="button" />
		    <input class="button" type="button" onclick="javascript:history.go(-1)" value="#i18n{portal.admin.message.buttonCancel}" />
       	</p>
	<input type="hidden" name="group_key" value="${group.groupKey}" />
	</form>
</div>
