<@pageContainer>
	<@pageColumn>
	<#list services_list as service>
		<@pageHeader title='${service.name}' />
		<@div id="cache-infos">
			<@h level=3 class='h4'>Configuration</@h>
			<@pre>${service.infos}</@pre>
			<#if service.cacheEnable && service.statistics??>
			<@h level=3>Statistics</@h>
			<@pre>${service.statistics?html}</@pre>
			</#if>
			<@h level=3>Keys</@h>
			<@ul><#list service.keys?sort as key ><@li>${key?html}</@li></#list></@ul>
		</@div>
	</#list>
	</@pageColumn>
</@pageContainer>