################################################################################
# Configuration file for Lutece (to update while deploying)


################################################################################
# AutoInit for first deployment
autoInit=${autoinit}

################################################################################
# Default values for first deployment
init.webapp.prod.url=http://127.0.0.1/lutece

################################################################################
# Portal Lutece identifier
lutece.prod.url=${lutece_prod_url}

# To force The Base URL use the following entry
#lutece.base.url=${lutece_prod_url}

# deprecated entries since v1.4 : lutece.domain, lutece.url, lutece.webapp.url, lutece.standalone.url

################################################################################
# Statistical optional inclusion
lutece.statistical.include.enable=false
lutece.statistical.include.template.head=/skin/site/statistical_include_head.html
lutece.statistical.include.template=/skin/site/statistical_include.html
lutece.statistical.site.id=0
# PhpMyVisit Server
lutece.statistical.server.url=http://localhost/phpmyvisites/phpmyvisites.php


################################################################################
# Portal and Plugins parameters
plugin.param.source.id=id_source
plugin.param.language=fr.fr

################################################################################
# Mail sending parameters (ip address of the mail server)
mail.server=
mail.list.separator=;
mail.type.plain=text/plain;charset=
mail.type.html=text/html;charset=
mail.noreply.email=noreply@nowhere.org

mail.charset=utf-8

################################################################################
# Paths
# Absolute path of the WebApp
# webapp.path deprecated since v1.4


################################################################################
# Properties files
file.lutece.properties=${webapp_home}/WEB-INF/conf/lutece.properties
file.webmaster.properties=${webapp_home}/WEB-INF/conf/webmaster.properties
file.jtidy.properties=${webapp_home}/WEB-INF/conf/jtidy.properties
file.dir.plugins=${webapp_home}/WEB-INF/conf/plugins


################################################################################
# Logs files
file.lutece.error.log=${webapp_home}/WEB-INF/logs/errors.log
file.lutece.app.log=${webapp_home}/WEB-INF/logs/application.log
file.pool.log=${webapp_home}/WEB-INF/logs/pool.log


################################################################################
# Error page management
# Values of error.page.debug :
#             true      Displays the exception
#             false     Displays the message : error.page.message
#
error.page.debug=true
error.page.message=Veuillez contacter immédiatement l'administrateur de l'application


################################################################################
# Caches management
# In production mode all values should be set to true
service.templates.cache.enable=false
service.pages.cache.enable=false
service.articles.cache.enable=false

################################################################################
# Debug
# In production mode all values should be set to false
lutece.debug.tracePortletXml=false

################################################################################
# Site validation
file.validation.flag=${webapp_home}/WEB-INF/exploit/validation.flag
file.amin.validation.flag=${webapp_home}/WEB-INF/exploit/admin_validation.flag


################################################################################
# log4j parameters
# The following loggers should be set to ERROR level in production mode

########                         L O G G E R S                         #########                            
# Syntax log4j.logger.<logger name>=<level>, <appender 1>, <appender 2>, ...

log4j.rootLogger=ERROR, Error
log4j.logger.lutece=DEBUG, Console
log4j.logger.lutece.event=INFO, Application, Console
log4j.logger.lutece.error=ERROR, Error, Console
log4j.logger.lutece.debug=ERROR, Console
log4j.logger.lutece.debug.portlet.xmlContent=ERROR, Console
log4j.logger.lutece.debug.sql=ERROR, Console
log4j.logger.lutece.pool=INFO, Pool
log4j.logger.lutece.mail=INFO, Mail
log4j.logger.servlet=ERROR, Error
log4j.logger.session=ERROR, Error
log4j.logger.compiler=ERROR, Error
log4j.logger.digester=ERROR, Error
log4j.logger.beanutils=ERROR, Error
log4j.logger.freemarker=ERROR, Error
log4j.logger.net.sf.ehcache=ERROR, Error
log4j.logger.httpclient=ERROR, Error
log4j.logger.org.pdfbox=ERROR, PDF

########                       A P P E N D E R S                       #########                            

# File "error.log"
log4j.appender.Error=org.apache.log4j.RollingFileAppender
log4j.appender.Error.File=${webapp_home}/WEB-INF/logs/error.log
log4j.appender.Error.Append=true
log4j.appender.Error.layout=org.apache.log4j.PatternLayout
log4j.appender.Error.layout.ConversionPattern=%d{dd/MM/yy HH:mm:ss} %-5p [%t] %c{2} - %m%n
log4j.appender.Error.MaxFileSize=1000KB
log4j.appender.Error.MaxBackupIndex=5

# File "application.log"
log4j.appender.Application=org.apache.log4j.RollingFileAppender
log4j.appender.Application.File=${webapp_home}/WEB-INF/logs/application.log
log4j.appender.Application.Append=true
log4j.appender.Application.layout=org.apache.log4j.PatternLayout
log4j.appender.Application.layout.ConversionPattern=%d{dd/MM/yy HH:mm:ss} %-5p [%t] %c{2} - %m%n
log4j.appender.Application.MaxFileSize=1000KB
log4j.appender.Application.MaxBackupIndex=5

# File "pool.log"
log4j.appender.Pool=org.apache.log4j.RollingFileAppender
log4j.appender.Pool.File=${webapp_home}/WEB-INF/logs/pool.log
log4j.appender.Pool.Append=true
log4j.appender.Pool.layout=org.apache.log4j.PatternLayout
log4j.appender.Pool.layout.ConversionPattern=%d{dd/MM/yy HH:mm:ss} %-5p [%t] %c{2} - %m%n
log4j.appender.Pool.MaxFileSize=1000KB
log4j.appender.Pool.MaxBackupIndex=5

# File "mail.log"
log4j.appender.Mail=org.apache.log4j.RollingFileAppender
log4j.appender.Mail.File=${webapp_home}/WEB-INF/logs/mail.log
log4j.appender.Mail.Append=true
log4j.appender.Mail.layout=org.apache.log4j.PatternLayout
log4j.appender.Mail.layout.ConversionPattern=%d{dd/MM/yy HH:mm:ss} %-5p [%t] %c{2} - %m%n
log4j.appender.Mail.MaxFileSize=1000KB
log4j.appender.Mail.MaxBackupIndex=5

# File "PDF.log"
log4j.appender.PDF=org.apache.log4j.RollingFileAppender
log4j.appender.PDF.File=${webapp_home}/WEB-INF/logs/PDF.log
log4j.appender.PDF.Append=true
log4j.appender.PDF.layout=org.apache.log4j.PatternLayout
log4j.appender.PDF.layout.ConversionPattern=%d{dd/MM/yy HH:mm:ss} %-5p [%t] %c{2} - %m%n
log4j.appender.PDF.MaxFileSize=1000KB
log4j.appender.PDF.MaxBackupIndex=5


# Console
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d{dd/MM/yy HH:mm:ss} %-5p [%t] %c{2} - %m%n






