<!DOCTYPE html>
<html>
    <head>
        <title>
            Lutece - Configuration
        </title>
    </head>
    <body>
        <h1>
            Lutece - Configuration         </h1>
        <h3>${init_confirmation}</h3>
            <@table>
                <tr>
                    <td>Domaine de Lutece :</td>
                    <td>${lutece_domain}</td>
                </tr>
                <tr>
                    <td>URL :</td>
                    <td>${lutece_url}</td>
                </tr>
                               <tr>
                    <td>Webapp URL :</td>
                    <td>${lutece_webapp_url}</td>
                </tr> 
                <tr>
                    <td>URL de La prod :</td>
                    <td>${lutece_prod_url}</td>
                </tr>
                <tr>
                    <td>Chemin de la webapp :</td>
                    <td>${webapp_home}</td>
                </tr>
            </@table>
            <br/>
            <b>Ces propriétés sont définies dans le fichier config.properties (../WEB-INF/conf/config.properties).
            <br/>Le chemin de la webapp doit être valide pour que Lutece demarre correctement.</b>
        <br/><br/><@link href='index.html'>Retour à la page d'accueil de Lutece</@link>
    </body>
</html>