<@pageContainer>
<@pageColumn>
	<@pageHeader title='#i18n{portal.system.manage_security_headers.titleSecurityHeadersList}' description='#i18n{portal.system.manage_security_headers.featureDescription}'>
		<@offcanvas targetUrl="jsp/admin/system/ManageSecurityHeaders.jsp?view=createSecurityHeader" targetElement="#create-securityheader-form" redirectForm=false id="template-create-securityheader" title="#i18n{portal.securityheader.create_securityheader.title}" btnTitle="#i18n{portal.securityheader.create_securityheader.title}" btnIcon="plus me-1" position="end" />
	</@pageHeader>
		<#assign id=0>
		<@manageFeature>
			<#list security_headers_list as security_header>
			<@manageFeatureItem>
				<@manageFeatureItemColumn auto=true>
					<#if security_header.active>
						<@tag color='success' title='#i18n{portal.system.manage_security_headers.imgAltEnable}'><@icon style='check' /></@tag>
					<#else>
						<@tag color='danger' title='#i18n{portal.system.manage_security_headers.imgAltDisable}'><@icon style='times' /></@tag>
					</#if>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn params='title="${security_header.description}"'>
					<@p>#i18n{portal.system.manage_security_headers.columnTitleName} : <strong>${security_header.name}</strong></@p>
					<@p>#i18n{portal.system.manage_security_headers.columnTitleType} : <strong>#i18n{${"portal.securityheader.type.label."+"${security_header.type}"}}</strong></@p>
					<#if (security_header.pageCategory??)>
						<@p>#i18n{portal.system.manage_security_headers.columnTitlePageCategory} : <strong>#i18n{${"portal.securityheader.category.label."+"${security_header.pageCategory}"}}</strong></@p>
					</#if>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn cols='12 col-md-5' >
					<pre><code>${security_header.value}</code></pre>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn auto=true>
					 <@tform method='post' type='inline' align='middle' action='jsp/admin/system/ManageSecurityHeaders.jsp'>
						<@input type='hidden' name='id_securityheader' value='${security_header.id}' />
						<#if security_header.active>
							<@button type='submit' title='#i18n{portal.system.manage_security_headers.actionDisable}' name='action' value='disableSecurityHeader' buttonIcon='stop' color='danger' />
						<#else>
							<@button type='submit' title='#i18n{portal.system.manage_security_headers.actionEnable}' name='action' value='enableSecurityHeader' buttonIcon='play' color='success' />
						</#if>
					 </@tform> 
					 <#if security_header.active>
					     <@aButton href='jsp/admin/system/ManageSecurityHeaders.jsp?view=messageNotEditableSecurityHeader' buttonIcon='edit' title='#i18n{portal.securityheader.modify_securityheader.buttonModify}'/>
					 <#else>
                         <@aButton href='jsp/admin/system/ManageSecurityHeaders.jsp?view=modifySecurityHeader&id_securityheader=${security_header.id}' buttonIcon='edit' title='#i18n{portal.securityheader.modify_securityheader.buttonModify}' />
					 </#if>				 				 				
					 <@aButton href='jsp/admin/system/ManageSecurityHeaders.jsp?view=confirmRemoveSecurityHeader&id_securityheader=${security_header.id}' buttonIcon='trash' title='#i18n{portal.securityheader.modify_securityheader.linkLabelRemove}' color='danger' />
				</@manageFeatureItemColumn>
			</@manageFeatureItem>
			<#assign id=id + 1>
		</#list>
	</@manageFeature>
</@pageColumn>
</@pageContainer>