<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>
                #i18n{portal.system.manage_caches.titleCacheList}
                <div class="pull-right">
                    <form method="post" action="jsp/admin/system/DoReloadProperties.jsp" class="form-inline pull-left spaced">
                        <button class="btn btn-primary btn-sm" type="submit" id="reload" title="#i18n{portal.system.manage_caches.titleReloadProperties}">
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;<!-- #i18n{portal.system.manage_caches.buttonReload} -->#i18n{portal.system.manage_caches.titleReloadProperties}
                        </button>
                    </form>
                    <a class="btn btn-primary btn-sm" href="jsp/admin/system/CacheInfos.jsp"> <i class="glyphicon glyphicon-eye-open"></i>&nbsp;#i18n{portal.system.manage_caches.buttonViewKeys}</a>
                    <a class="btn btn-danger btn-sm" href="jsp/admin/system/DoResetCaches.jsp"> <i class="glyphicon glyphicon-trash "></i>&nbsp;#i18n{portal.system.manage_caches.buttonFlush}</a>
                </div>
            </legend>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>#i18n{portal.system.manage_caches.columnTitleName}</th>
                    <th>#i18n{portal.system.manage_caches.columnTitleCacheSize}</th>
                    <th>#i18n{portal.system.manage_caches.columnTitleMemorySize}</th>
                    <th>#i18n{portal.system.manage_caches.columnTitleActions}</th>
                </tr>
                <#assign id = 0>
                <#list services_list as service>
                <tr>
                    <td>
                        <#if service.cacheEnable >
                        <span class="label label-success" title="#i18n{portal.system.manage_caches.imgAltEnable}"><i class="glyphicon glyphicon-ok-sign"></i></span>
                        <#else>
                        <span class="label label-danger" title="#i18n{portal.system.manage_caches.imgAltDisable}"><i class="glyphicon glyphicon-remove-sign"></i></span>
                        </#if>
                        &nbsp;<strong>${service.name}</strong>
                        <br>
                        <i class="glyphicon glyphicon-info-sign"></i>&nbsp;#i18n{portal.system.manage_caches.columnTitleMaxElements}: ${service.maxElements!"-"}
                        &nbsp;|&nbsp;<i class="glyphicon glyphicon-time"></i>&nbsp;#i18n{portal.system.manage_caches.columnTitleTimeToLive} : ${service.timeToLive!"-"}
                    </td>

                    <td>${service.cacheSize}</td>
                    <td>${service.memorySize}</td>
                    <td>
                        <#if service.cacheEnable >
                        <a href="jsp/admin/system/DoToggleCache.jsp?id_cache=${id}" class="btn btn-danger btn-xs" title="#i18n{portal.system.manage_caches.actionToggle}">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                        <#else>
                        <a href="jsp/admin/system/DoToggleCache.jsp?id_cache=${id}" class="btn btn-success btn-xs" title="#i18n{portal.system.manage_caches.actionToggle}">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        </#if>
                        <a href="jsp/admin/system/CacheInfos.jsp?id_cache=${id}" class="btn btn-primary btn-xs" title="#i18n{portal.system.manage_caches.actionViewKeys}">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" href="jsp/admin/system/DoResetCaches.jsp?id_cache=${id}" title="#i18n{portal.system.manage_caches.actionClear}">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>

                    </td>
                </tr>
                <#assign id = id + 1>
                </#list>
            </table>
        </fieldset>
    </div>
</div>