<@row>
	<@columns>
		<@box color='primary'>
			<#assign logo>
				<img src="${core.iconUrl}" alt="logo" title="${core.name}">
			</#assign>
			<@boxHeader title='#i18n{portal.system.manage_plugins.titleCorePlugin} ${logo} ${core.name} ${core.version}' boxTools=true>
				<@tform method='post' class='form-inline pull-right' action='jsp/admin/system/ViewPluginDescription.jsp?plugin_name=${core.name}'>
					<@button type='submit' title='#i18n{portal.system.manage_plugins.actionDisplay}' buttonIcon='info-circle' showTitle=false />
				</@tform>
			</@boxHeader>
		</@box>
	</@columns>
</@row>
		
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='Liste des plugins' boxTools=true>
				<@tform method='post' class='form-inline pull-left'>
					<@formGroup labelFor='plugin_type' labelKey='#i18n{portal.system.manage_plugins.buttonFilter}' showLabel=false formStyle='inline'>
						<@inputGroup>
							<@input type='text' name='search_plugins' id='search_plugins' placeHolder='#i18n{portal.system.manage_plugins.buttonFilter}' params='autocomplete="off"' />
							<@inputGroupItem>
								<@button type='submit' title='#i18n{portal.system.manage_plugins.buttonFilter}' buttonIcon='filter' showTitle=false />
							</@inputGroupItem>
						</@inputGroup>
					</@formGroup>
        </@tform>
				<@tform method='post' name='FilterPluginsForm' action='jsp/admin/system/ManagePlugins.jsp' class='form-inline pull-right hidden-xs spaced'>
					<@formGroup labelKey='#i18n{portal.system.manage_plugins.labelComboFilter}' labelFor='plugin_type' showLabel=false formStyle='inline'>
						<@inputGroup>
							<@select sort=true name='plugin_type' default_value='${current_filter}' items=filter_list />
							<@inputGroupItem>
							<@button type='submit' buttonIcon='search' title='Search' showTitle=false />
							</@inputGroupItem>
						</@inputGroup>
						<@button type='button' buttonIcon='list' title='Layout' showTitle=false id='th'/>
					</@formGroup>
				</@tform>
			</@boxHeader>

      <@boxBody>
       <#if plugins_list?has_content >
				<@row id='plugins'>
					<#list plugins_list as plugin >
          <@columns sm=6 md=4 lg=4 class='plugins'>
						<@box id='plugin_${plugin.name}_${plugin.version}' params='data-plugin="${plugin.name}"' class='plugin-box plugin'>
							<#assign logo>
								<img src="${plugin.iconUrl}" alt="logo" title="${plugin.name}" class="thumbnails thumb-list">
							</#assign>
              <@boxHeader title='${logo} ${plugin.name}'boxTools=true>
								<#if plugin.installed>
									<@tag color='success' title='#i18n{portal.system.manage_caches.imgAltEnable}'>
										<@icon style='check-circle' />
										#i18n{portal.system.manage_caches.imgAltEnable}
									</@tag>
                <#else>
									<@tag color='danger' title='#i18n{portal.system.manage_caches.imgAltDisable}'>
										<@icon style='times-circle' />
										#i18n{portal.system.manage_caches.imgAltDisable}
									</@tag>
								</#if>
							</@boxHeader>
              <@boxBody>
                                <p>#i18n{portal.system.manage_plugins.labelVersion}: ${plugin.version}</p>
                                <p>#i18n{${plugin.description}}</p>
                                <p>
                                    <@icon style='user' />&nbsp;
                                    <em>#i18n{portal.system.manage_plugins.labelAuthor} : #i18n{${plugin.provider}}</em>&nbsp;
                                </p>	
                                <p>	
                                    <@icon style='globe' />&nbsp;
                                    <em>#i18n{portal.system.manage_plugins.labelAuthorUrl} : <a href="${plugin.providerUrl}" target="_blank">${plugin.providerUrl}</a></em>
                                </p> 

              </@boxBody>
							<@boxFooter>
								<#if plugin.installed>
									<#if plugin.dbPoolRequired>
								<@tform method='post' class='form-inline pull-right' action='jsp/admin/system/DoModifyPluginPool.jsp#plugin_${plugin.name}_${plugin.version}'>
									<@select name='db_pool_name' default_value='${plugin.dbPoolName}' items=pools_list sort=true />
									<input type="hidden" name="plugin_name" value="${plugin.name}">
									<@button type='submit' title='#i18n{portal.system.manage_plugins.buttonModifyDbPool}' buttonIcon='check' showTitle=false />
                </@tform>
								&nbsp;
								</#if>   
								</#if>
								
                <@tform method='post' class='form-inline pull-right spaced' action='jsp/admin/system/ViewPluginDescription.jsp?plugin_name=${plugin.name}'>
									<@button type='submit' title='' buttonIcon='info-circle' showTitle=false />
                 </@tform>
								
                <#if plugin.installed >
									<@tform method='post' class='form-inline pull-right spaced' action='jsp/admin/system/ConfirmUninstallPlugin.jsp'>
                    <input type="hidden" name="plugin_name" value="${plugin.name}" />
										<@button type='submit' title='#i18n{portal.system.manage_plugins.buttonDisable}' buttonIcon='stop' showTitle=false color='btn-danger' />
                  </@tform>
                <#else>
									<@tform method='post' class='form-inline pull-right spaced' action='jsp/admin/system/DoInstallPlugin.jsp#plugin_${plugin.name}_${plugin.version}'>
										<input type="hidden" name="plugin_name" value="${plugin.name}" />
										<@button type='submit' title='#i18n{portal.system.manage_plugins.buttonEnable}' buttonIcon='play' showTitle=false color='btn-success' />
                  </@tform>
								</#if>
							</@boxFooter>
						</@box>
					</@columns>
        </#list>	
      </@row>
			<#else>
				<@alert class='alert-danger'>#i18n{portal.system.manage_plugins.filterNoResult}</@alert>
			</#if>
      </@boxBody>
    </@box>
  </@columns>
</@row>

<script>
    function switchList(){
        var addOrRemove;
        $(".plugins").toggleClass("col-xs-12 col-sm-12 col-md-12 col-lg-12", addOrRemove).toggleClass("col-xs-12 col-sm-6 col-md-4 col-lg-4", addOrRemove);
        $(".box").toggleClass("pull-left", addOrRemove);
        $(".plugin-box").toggleClass("plugin", addOrRemove);
        $(".plugin-box > div").toggleClass("pull-left", addOrRemove).toggleClass("col-xs-12 col-sm-4 col-md-4 col-lg-4", addOrRemove);
    }
    
    /* Get list or box plugin's presentation */
    $("#th").click( function(){
        switchList();
    });
    
    /* Filter plugins list */
    $("#search_plugins").on("keyup", function () {
        var addOrRemove;
        var search = $("#search_plugins").val();
        $(".plugin-box").each(function (index) {
            var pluginName = $(this).attr("data-plugin");
            if (pluginName.match(search) == null) {
                console.log(search + "|" + pluginName + " | " + pluginName.match(search));
                $(this).parent().slideUp(200).fadeOut(500);
            } else {
                console.log(search + "|" + pluginName + " | " + pluginName.match(search));
                $(this).parent().slideDown(200).fadeIn(500);
            }
        });
    });
    
    $(document).ready( function(){
         switchList();
    });
</script>