<div class="row-fluid">
	<div class="span12">
        <fieldset>
        <legend>
        <img src="images/local/skin/plugins/plugin.png" alt="" title="">
        #i18n{portal.system.manage_properties.boxTitle}               
        </legend>
		<form method="post" action="jsp/admin/ModifyProperties.jsp" class="form-horizontal">
        <div class="control-group">
        <label class="label-group" for="">#i18n{portal.system.modify_properties.boxTitle}</label>
			<div class="controls">
				<pre>${webmaster_properties}</pre>
			</div>
        </div>
        <div class="form-actions">
		<button type="submit" class="btn btn-primary btn-small" tabindex="1">
			<i class=" icon-edit icon-white"></i>
			<span class="hidden-phone">#i18n{portal.system.manage_properties.buttonLabel}</span>
        </button> 
		</div>
        </form>
		</fieldset>
    </div>
</div>
