<div class="row">
        <div class="col-md-12">
            <fieldset>
            <legend>
                    <img src="images/admin/skin/features/plugin.png" alt=" " title=" ">#i18n{portal.system.manage_files_system.boxTitle}
            </legend>
            <table class="table table-striped table-condensed">
                    <tr>
                        <th>#i18n{portal.system.manage_files_system.labelCategory}</th>
                        <th>#i18n{portal.system.manage_files_system.labelDescription}</th>
                        <th></th>
                    </tr>
                    <#list files_list as file >
                    <tr>
                        <td>${file.name}</td>
                        <td>${file.description}</td>
                        <td>
                            <a href="jsp/admin/system/ManageFilesSytemDir.jsp?dir=${file.directory}" class="btn btn-primary btn-xs" title="${file.name}">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                        </td>
                    </tr>
                    </#list>
            </table>
    </div>
</div>