<div class="row">
    <div class="col-md-12">
		<div class="box box-danger">
			<div class="box-header">
				<h3 class="box-title"> #i18n{portal.system.manage_caches.titleCacheList}</h3>
				<div class="box-tools">
					<form method="post" action="jsp/admin/system/DoReloadProperties.jsp" class="form-inline pull-right">
						<button class="btn btn-primary btn-xs" type="submit" id="reload" title="#i18n{portal.system.manage_caches.titleReloadProperties}">
							<i class="fa fa-refresh"></i><span class="hidden-xs">&nbsp;<!-- #i18n{portal.system.manage_caches.buttonReload} -->#i18n{portal.system.manage_caches.titleReloadProperties}</span>
						</button>
						<a class="btn btn-primary btn-xs" href="jsp/admin/system/CacheInfos.jsp">
							<i class="fa fa-eye-open"></i><span class="hidden-xs">&nbsp;#i18n{portal.system.manage_caches.buttonViewKeys}</span>
						</a>
						<a class="btn btn-danger btn-xs" href="jsp/admin/system/DoResetCaches.jsp">
							<i class="fa fa-trash "></i><span class="hidden-xs">&nbsp;#i18n{portal.system.manage_caches.buttonFlush}</span>
						</a>
					</form>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tr>
						<th>#i18n{portal.system.manage_caches.columnTitleName}</th>
						<th class="hidden-xs hidden-sm"></th>
						<th class="hidden-xs">#i18n{portal.system.manage_caches.columnTitleCacheSize}</th>
						<th class="hidden-xs">#i18n{portal.system.manage_caches.columnTitleMemorySize}</th>
						<th>#i18n{portal.system.manage_caches.columnTitleActions}</th>
					</tr>
					<#assign id = 0>
					<#list services_list as service>
					<tr>
						<td>
							<#if service.cacheEnable >
							<span class="label label-success" title="#i18n{portal.system.manage_caches.imgAltEnable}"><i class="glyphicon glyphicon-ok-sign"></i></span>
							<#else>
							<span class="label label-danger" title="#i18n{portal.system.manage_caches.imgAltDisable}"><i class="glyphicon glyphicon-remove-sign"></i></span>
							</#if>
							&nbsp;<strong>${service.name}</strong>
							<div class="visible-xs">
							<blockquote>
								<#if service.cacheEnable >
									<a href="jsp/admin/system/DoToggleCache.jsp?id_cache=${id}" class="btn btn-danger btn-xs" title="#i18n{portal.system.manage_caches.actionDisable}">
										<i class="fa fa-stop"></i>
									</a>
								<#else>
									<a href="jsp/admin/system/DoToggleCache.jsp?id_cache=${id}" class="btn btn-success btn-xs" title="#i18n{portal.system.manage_caches.actionEnable}">
										<i class="fa fa-play"></i>
									</a>
								</#if>
								<a href="jsp/admin/system/CacheInfos.jsp?id_cache=${id}" class="btn btn-primary btn-xs" title="#i18n{portal.system.manage_caches.actionViewKeys}">
									<i class="fa fa-eye"></i>
								</a>
								<a class="btn btn-danger btn-xs" href="jsp/admin/system/DoResetCaches.jsp?id_cache=${id}" title="#i18n{portal.system.manage_caches.actionClear}">
									<i class="fa fa-trash"></i>
								</a>
							</blockquote>
							</div>
						</td>
						<td class="hidden-xs hidden-sm">
							[
							<i class="fa fa-info-circle"></i>&nbsp;#i18n{portal.system.manage_caches.columnTitleMaxElements}: ${service.maxElements!"-"}
							&nbsp;|&nbsp;<i class="fa fa-time"></i>&nbsp;#i18n{portal.system.manage_caches.columnTitleTimeToLive} : ${service.timeToLive!"-"}
							]
						</td>
						<td class="hidden-xs">${service.cacheSize}</td>
						<td class="hidden-xs">${service.memorySize}</td>
						<td>
							<#if service.cacheEnable >
								<a href="jsp/admin/system/DoToggleCache.jsp?id_cache=${id}" class="btn btn-danger btn-xs" title="#i18n{portal.system.manage_caches.actionDisable}">
									<i class="fa fa-stop"></i>
								</a>
							<#else>
								<a href="jsp/admin/system/DoToggleCache.jsp?id_cache=${id}" class="btn btn-success btn-xs" title="#i18n{portal.system.manage_caches.actionEnable}">
									<i class="fa fa-play"></i>
								</a>
							</#if>
							<a href="jsp/admin/system/CacheInfos.jsp?id_cache=${id}" class="btn btn-primary btn-xs" title="#i18n{portal.system.manage_caches.actionViewKeys}">
								<i class="fa fa-eye"></i>
							</a>
							<a class="btn btn-danger btn-xs" href="jsp/admin/system/DoResetCaches.jsp?id_cache=${id}" title="#i18n{portal.system.manage_caches.actionClear}">
								<i class="fa fa-trash"></i>
							</a>

						</td>
					</tr>
					<#assign id = id + 1>
					</#list>
				</table>
			</div>
		</div>
    </div>
</div>
