<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.system.manage_files_system.boxTitle}' />
        <@table headBody=true >
            <@tr>
                <@th>#i18n{portal.system.manage_files_system.labelCategory}</@th>
                <@th>#i18n{portal.system.manage_files_system.labelDescription}</@th>
                <@th>#i18n{portal.system.manage_files_system.labelView}</@th>
            </@tr>
			<@tableHeadBodySeparator />
            <#list files_list as file >
                <@tr>
                    <@td>${file.name}</@td>
                    <@td>${file.description}</@td>
                    <@td>
                    <@offcanvas targetUrl="jsp/admin/system/ManageFilesSytemDir.jsp?dir=${file.directory}" targetElement="#table-files" id="cat-${file?index}"  btnIcon="eye" btnColor="primary" position="end" title="#i18n{portal.system.view_files_system.boxTitle} ${file.directory}" size="auto"/>
                    </@td>
                </@tr>
            </#list>
        </@table>
    </@pageColumn>
</@pageContainer>
