<@pageContainer>
<@pageColumn>
	<@pageHeader title='#i18n{portal.system.manage_security_headers.titleSecurityHeadersList}' description='#i18n{portal.system.manage_security_headers.featureDescription}'>
	<@aButton color='primary' class='me-1' class='me-1' size='' href='jsp/admin/system/CreateSecurityHeader.jsp' title='#i18n{portal.securityheader.create_securityheader.title}' buttonIcon='plus' hideTitle=['xs','sm'] />	
	</@pageHeader>
		#i18n{portal.system.manage_security_headers.imgAltEnable} / #i18n{portal.system.manage_security_headers.imgAltDisable}
		
		#i18n{portal.system.manage_security_headers.columnTitleValue}
		
		
		#i18n{portal.system.manage_security_headers.columnTitleActions}
	
		<#assign id=0>
		<@manageFeature>
			<#list security_headers_list as security_header>
			<@manageFeatureItem>
				<@manageFeatureItemColumn auto=true>
					<#if security_header.active>
						<@tag color='success' title='#i18n{portal.system.manage_security_headers.imgAltEnable}'><@icon style='check' /></@tag>
					<#else>
						<@tag color='danger' title='#i18n{portal.system.manage_security_headers.imgAltDisable}'><@icon style='times' /></@tag>
					</#if>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn params='title="${security_header.description}"'>
					<@p>#i18n{portal.system.manage_security_headers.columnTitleName} : <strong>${security_header.name}</strong></@p>
					<@p>#i18n{portal.system.manage_security_headers.columnTitleType} : <strong>#i18n{${"portal.securityheader.type.label."+"${security_header.type}"}}</strong></@p>
					<#if (security_header.pageCategory??)>
						<@p>#i18n{portal.system.manage_security_headers.columnTitlePageCategory} : <strong>#i18n{${"portal.securityheader.category.label."+"${security_header.pageCategory}"}}</strong></@p>
					</#if>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn cols='12 col-md-5' >
					<pre><code>${security_header.value}</code></pre>
				</@manageFeatureItemColumn>
				<@manageFeatureItemColumn auto=true>
					 <@tform method='post' type='inline' align='middle' action='jsp/admin/system/DoSecurityHeaderAction.jsp'>
						<@input type='hidden' name='id_securityheader' value='${security_header.id}' />
						<@input type='hidden' name='token' value='${token}' />
						<#if security_header.active>
							<@button type='submit' title='#i18n{portal.system.manage_security_headers.actionDisable}' name='action' value='DISABLE' buttonIcon='stop' color='danger' />
						<#else>
							<@button type='submit' title='#i18n{portal.system.manage_security_headers.actionEnable}' name='action' value='ENABLE' buttonIcon='play' color='success' />
						</#if>
					 </@tform> 
					 <#if security_header.active>
					     <@aButton href='jsp/admin/system/NotEditableSecurityHeader.jsp?id_securityheader=${security_header.id}' buttonIcon='edit' title='#i18n{portal.securityheader.modify_securityheader.buttonModify}'/>
					 <#else>
                         <@aButton href='jsp/admin/system/ModifySecurityHeader.jsp?id_securityheader=${security_header.id}' buttonIcon='edit' title='#i18n{portal.securityheader.modify_securityheader.buttonModify}' />
					 </#if>				 				 				
					 <@aButton href='jsp/admin/system/RemoveSecurityHeader.jsp?id_securityheader=${security_header.id}' buttonIcon='trash' title='#i18n{portal.securityheader.modify_securityheader.linkLabelRemove}' color='danger' />
				</@manageFeatureItemColumn>
			</@manageFeatureItem>
			<#assign id=id + 1>
		</#list>
	</@manageFeature>
</@pageColumn>
</@pageContainer>