<div class="clearfix">
<div class="row">
<div class="span12">
<div class="well" >
<h2 class="clearfix">
<img src="images/local/skin/plugins/plugin.png" alt=" " title=" ">
#i18n{portal.system.modify_properties.boxTitle}</h2>
<form method="post" action="jsp/admin/DoModifyProperties.jsp" class="well form-horizontal">
<fieldset>
<legend>#i18n{portal.system.modify_properties.boxTitle}</legend>
<div class="control-group">
<#list properties_list as property>
 <label class="control-label" for="${property.code}" >${property.code}</label>
  <div class="controls">
  <input type="text" name="${property.code}" id="${property.code}" value="${property.name}"  class="input-xlarge"/>
  </div>
</#list>
</div>
<div class="form-actions">
        <input type="submit" class="btn btn-primary" title="#i18n{portal.system.modify_properties.buttonLabel}" value="#i18n{portal.system.modify_properties.buttonLabel}"/>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>