<!--
<div class="small-box bg-red">
	<div class="inner">
		<h3>${plugins_count}</h3>
        <p>#i18n{portal.system.dashboard.pluginsCount}</p>
    </div>
    <div class="icon">
		<i class="fa fa-puzzle-piece"></i>
    </div>
    <a href="jsp/admin/system/ManagePlugins.jsp" class="small-box-footer">
		#i18n{portal.system.adminFeature.plugins_management.name} <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>
-->
<div class="info-box">
  <span class="info-box-icon bg-red"><i class="fa fa-puzzle-piece"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">#i18n{portal.system.dashboard.pluginsCount}</span>
    <span class="info-box-number">${plugins_count}</span>

  </div>
</div>
