<div class="well lutece-dashboard-system">
	<legend>
		<a href="jsp/admin/system/ManagePlugins.jsp" title="#i18n{portal.system.adminFeature.plugins_management.name}" >
			#i18n{portal.system.adminFeature.plugins_management.name}
			<span class="pull-right">
				<i class="fa fa-puzzle-piece"></i>
			</span>
		</a>
	</legend>
	<div class="panel-content-small">
		#i18n{portal.system.dashboard.pluginsCount}<span class="badge badge-info pull-right">${plugins_count}</span>
	</div>
</div>

