/* =======================================================================
 * This stylesheet gathers the main formatting styles, for PRINTING.
 *
 * It should be used for the media "print".
 * It redefines the styles from "page_template_styles.css".
 *
 * It hides elements we don't want to print.
 * It redefines styles so they are more adapted to the paper medium and
 * thus provide proper printing.
 *
 * ========================================================================
 */

/* ========================================================================
==============     REDEFINITION OF BASE HTML ELEMENTS     =================
=========================================================================== */

/* Define the default font: */
BODY, TABLE, FONT, A, SPAN, P, LI, UL, BR, HR, DIV, TD, TH, H1, H2, H3, H4
{
     font-family: georgia, "Times New Roman", Times, serif;
     font-size:12pt;
     color: black;
     background-color: white;
}


form { padding:0 ; margin:0 ; }

/* ----------------- */
/* Main links styles */
a:link, a:visited, a:hover, a:active {
	color: #1E2A63;
	font-weight: bold;
	text-decoration: underline;
}


/* ------------ */
/* default cells*/
td {}
th { font-size: 110%; }


/* ------- */
/*  titles */
h1 {
	font-weight: bold;
	font-size: 150%;
}

h2 {
	font-weight: bold;
	font-size: 130%;
}

h3 {
	font-weight: bold;
	font-size: 120%;
}

h4 {
	font-weight: normal;
	font-size: 110%;
}




/* ========================================================================
========================     PORTLETS STYLES    ===========================
=========================================================================== */
/* In print mode, the all the portlets are displayed the same.
 * Styles are adapted to the paper medium.
 */


/* ========================================================================
 * styles for the basic portlets
 * ------------------------------------------------------------------------ */
/* the box "portlet" contains a header & a content */
div.portlet
{  
	border-top:1px solid black;
   	margin-bottom:10px;
}
h3.portlet-header
{
	margin:0;
	font-weight:bold;
	padding:5px;
	background-color: white;
	font-size: 110%;
	font-weight: bold;
	border:none;
	text-decoration: underline;

}
div.portlet-content
{
	padding:15px;
	margin:0;
	background-color: white;
	border: 0px;
}
div.portlet-footer
{
}
div.portlet-footer p
{
}


/* ========================================================================
 * style portlet-background-colored
 * ------------------------------------------------------------------------
 */
div.portlet-background-colored
{
	border-top:1px solid black;
   	margin-bottom:10px;
}
h3.portlet-background-colored-header
{
	margin:0;
	font-weight:bold;
	padding:5px;
	background-color: white;
	font-weight: bold;
	font-size: 110%;
	border:none;
    text-decoration: underline;
}
div.portlet-background-colored-content
{
	padding:15px;
	margin:0;
	background-color: white;
	border: 0px;
}
div.portlet-background-colored li
{
	list-style-type: square;
}


/* ========================================================================
 * style portlet-no-background
 * ------------------------------------------------------------------------
 */
div.portlet-no-background
{
	border-top:1px solid black;
   	margin-bottom:10px;
}
h3.portlet-no-background-header
{
	margin:0;
	font-weight:bold;
	border:none;
	padding:5px;
	background-color: white;
	font-weight: bold;
	font-size: 110%;
    text-decoration: underline;
}
div.portlet-no-background-content
{
	padding:15px;
	margin:0;
	border: 0px ;

}


/* ========================================================================
===========================================================================  *




/* ========================================================================
====================     ARTICLES & FICHES STYLES    ======================
===========================================================================  *
/* In print mode, this is displayed as the portlets.
 * Styles are adapted to the paper medium.
 * Buttons are hidden.
 */

/* ========================================================================
 * styles for the basic portlets
 * ------------------------------------------------------------------------ */
/* Basic styles for articles,
 * also used as basic styles for "fiches"
 */
div.article
{
	border-top:1px solid black;
   	position:relative;
   	margin-bottom:10px;
}
h2.article-header
{
	margin:0;
	font-weight:bold;
	padding:5px;
	background-color: white;
	color:black;
	font-size: 120%;
	font-weight: bold;

}
div.article-content
{
	margin-left:0px;
	padding:15px;
	border: 0px ;
}

div.article-image
{
	float:left;
	width:150px;
}

div.article-buttons { display: none; }

/* box containing the comments associated with the article */
div.article-comments {
	margin-left: 0px;
}

/* ========================================================================
===========================================================================  *




/* ========================================================================
===========================================================================  *





/* ====================================================================
 * styles for alert box
 * -------------------------------------------------------------------- */
div.alert
{
	text-align:center;
	color:red;
	font-weight:bold;
}
div.alert a:link, div.alert a:visited, div.alert a:hover, div.alert a:active
{
	color: #ff0000;
	text-decoration: underline;
}


/* ====================================================================
 * styles for tables
 * -------------------------------------------------------------------- */


/* --------------------------------------------------------------------
 * ------------- data-table : used to display data in rows ------------
 */
table.data-table
{
	border:1px solid black;
   	margin-bottom:10px;
	width:100%;
	border-collapse:collapse;
	background-color: white;
}

table.data-table tr.even-row
{
	background-color: white;
}
table.data-table tr.odd-row
{
	background-color: white;
}
table.data-table tr
{
	background-color: white;
}

table.data-table th
{
	height:20px;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:2px solid black;
	vertical-align:middle;
	background-color: white;
	font-size: 90%;
}

table.data-table td
{
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px dashed black;
	vertical-align:middle;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	font-size: 90%;
}

/* redefine table links */
table.data-table th a:link, table.data-table th a:visited, table.data-table th a:hover, table.data-table th a:active {
	text-decoration: none;
	font-weight:bold;
	font-size: 90%;
}
table.data-table td a:link, table.data-table td a:visited, table.data-table td a:hover, table.data-table td a:active {
	text-decoration: none;
	font-weight:normal;
	font-size: 90%;
}



/* --------------------------------------------------------------------
 * ---------------------- external-border-only  -----------------------
 * a border only around the table, no border for cells, white bg-color
 */
 table.external-border-only
{
	border:1px solid black;
   	margin-bottom:10px;
	background-color: white;
	border-collapse:collapse;
	font-size: 90%;

}
table.external-border-only th
{
	height:20px;
	border-bottom:1px dotted black;
	vertical-align:middle;
	background-color: white;
	color:black;
	font-size: 90%;
	font-weight: bold;
}



/* --------------------------------------------------------------------
 * ------------------- external-border-only-bgcolored  ----------------
 * a border only around the table, no border for cells with
 * a non white bg color
 */
table.external-border-only-bgcolored
{
	border:1px solid black;
   	margin-bottom:10px;
	background-color: white;
	border-collapse:collapse;
}

table.external-border-only-bgcolored th
{
	height:20px;
	border-bottom:1px dotted black;
	vertical-align:middle;
	background-color: white;
	color:black;
	font-size: 90%;
	font-weight: bold;
}



