<div class="insert-service">    
    <ul class="nav nav-list">
		<li class="nav-header">#i18n{portal.insert.page_insertservice.labelInsert}</li>
		<#list insert_services_list as insertservice>
        <li>
			<a href="jsp/admin/insert/DisplayInsertService.jsp?insert_service_type=${insertservice.id}&amp;plugin_name=${insertservice.pluginName}&amp;input=${input}&amp;selected_text=${selected_text}" >
				<i class="glyphicon glyphicon-chevron-right"></i>&nbsp;#i18n{${insertservice.labelKey}}
            </a>
        </li>
        </#list>
    </ul>
</div>

