/*** 										***/
/*** Checkbox and radio 					***/
/***  										***/

.form-check {
	min-height: calc( var(--lutece-ds-spacing-2xs) * 4);
	touch-action: manipulation;
}

.form-check .form-check-label{
	display: flex;
	align-self: center;
	gap : var(--lutece-ds-spacing-sm)
}

.form-check:not( .form-check-inline ){
	padding-block: calc( var(--lutece-ds-spacing-2xs) * 1.875 );
	padding-inline-start: 0;
}

.form-check input {
	width: 18px; 
	height: 18px;
 	accent-color: var(--lutece-ds-color-primary);
}

.form-check:active,
.form-check:focus,
.form-check:focus-within {
	outline: .15rem solid var( --lutece-ds-color-text ) !important;
	outline-offset: .25rem !important;
}

/* Invalid */
.form-check.is-invalid {
    flex: 0 0 27%;
}

.form-check.is-invalid + .invalid-feedback{
    max-width: fit-content;
}

.form-check input.is-invalid{
	background-color: var( --lutece-ds-color-white );
	border-color: var( --lutece-ds-color-danger );
	border-width: 2px;
}

.form-check input.is-invalid ~ .form-check-label{
	color: var( --lutece-ds-color-danger ) !important;
}

/* Disabled */
.form-check input:disabled{
	background-color: var(--lutece-ds-color-neutral-100);
	border-color: var( --lutece-ds-border );
}

.form-check input:disabled ~ .form-check-label{
	color: var( --lutece-ds-color-blue-700 );
}

/* Label Hidden */
.form-check.form-check-inline.hidden-label .form-check-input{
    position: relative;
    top: var(--lutece-ds-spacing-2xs);
}

/* Button Selection */
.form-check.btn-selection {
    border: 1px solid var(--lutece-ds-color-blue-300);
    margin-bottom: var(--lutece-ds-spacing-sm);
    padding-inline-start: 0;
    padding-block-end: 0;
}

.form-check.btn-selection .selection-check{
    padding-inline-start: var(--lutece-ds-spacing-md-loose);
    padding-block-start: var(--lutece-ds-spacing-xs);
    padding-inline-end: var(--lutece-ds-spacing-xs);
}

.form-check.btn-selection:hover:has(.form-check-input:not(:disabled)) {
	background-color: var(--lutece-ds-color-blue-100);
}

.form-check.btn-selection:has(input:checked){
  background-color: var(--lutece-ds-color-blue-200);
}

.form-check.btn-selection .selection-content {
	display: none;
	background-color: var(--lutece-ds-color-white);
	border-block-start: 1px solid var(--lutece-ds-color-blue-300);
	margin-block-start: var(--lutece-ds-spacing-xs);
	padding-inline: var( --lutece-ds-spacing-md-loose );
	padding-block-end: var(--lutece-ds-spacing-lg);
}

.form-check.btn-selection .selection-check:has( input:checked ) ~ .selection-content,
.form-check.btn-selection .selection-check:has( input.is-invalid ) ~ .invalid-feedback {
    display: block;
}

/* TOS */
.form-check.custom-tos input ~ .form-check-label{
	display: flex;
	align-items: center;
}

/* Checkbox or radio as Buttons */
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-check+.btn-primary {
  display: block;
}

.btn-check:checked+.btn-primary {
  display: none;
}

/* CheckBox as Button */
.btn-check:checked + .btn-outline{
	background-color: var( --lutece-ds-color-primary );
	border-color: var( --lutece-ds-color-primary );
	color: var( --lutece-ds-color-white);
	fill: var( --lutece-ds-color-white);
}

.btn-check.btn-xl + .btn-outline{
    padding: 3rem 5.5rem;
}

@media (max-width: 767.98px) {
	/* TOS */
	.form-check.custom-tos input ~ .form-check-label{
		flex-direction: column;
	}

	.form-check.custom-tos input ~ .form-check-label a{
		margin: 0 !important;
		font-size: var(--lutece-ds-font-size-sm);
	}
}
