/*** 										***/
/*** Input Groups							***/
/***  										***/
:is( .helptext, label ) + .input-group{
	margin-block-start: var(--spacing-xxs);
}

.input-group > .form-control-alternate {
	padding-block: .5rem;
}

/* Date Picker */
.input-group .datepicker  + .ti{
	margin-inline: var(--spacing-xs);
}

/* Merged*/
.input-group.merged > .input-group-text {
	background-color: var(--white-color) !important;
	border-color: var(--dark-lighter-color) !important;
	border-inline-end: 0 !important;
	border-radius: 0;
}

.input-group.merged > .form-control {
	border-inline-start: 0 !important;
	outline: 0;
	border-radius: 0;
	border-color: var(--dark-lighter-color) !important;
	margin-top: 0;
}

.input-group.merged > .form-control::placeholder {
	color: var(--dark-lighter-color);
	font-style: italic;
}

/* Password */
.input-group.password input[type="password"]{
	margin-inline-start: var(--spacing-xxs)
}

.input-group.password .helptext{
	border: .1rem solid var(--white-color);
	border-block-end-color:var(--blue-dark-color);
}