/*** 										***/
/*** Input Groups							***/
/***  										***/
.input-group{
	position: relative;
	box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
	align-items: center;
	outline: transparent solid 1px;
	margin-block-start: 0
}

:is( .form-text, label ) + .input-group{
	margin-block-start: var(--spacing-xxs);
}

.input-group > :is( input, select, textarea, .btn),
.input-group:hover > :is( input, select, textarea, .btn) {
    border: 0;
    padding-inline-start: 1.5rem;
    outline: 0;
}

.input-group:hover{
	outline-color: var(--blue-dark-color);
}

.input-group > .form-control-alternate {
	padding-block: .5rem;
}

.input-group .input-group-text {
    color: var(--main-color);
    background-color: var(--white-color);
    border: 0;
    position: absolute;
    right: var(--spacing-xxs);
    z-index: 90;
    font-size: var(--font-m);
    font-family: var(--font-family-list);
    font-weight: 500;
}

.input-group .input-group-text:has(.btn) {
    top: calc(var(--spacing-xxs) * 4);
    padding-block-start: var(--spacing-xs);
}

.input-group .btn{
	padding: calc( var(--spacing-sm) + var(--spacing-xxs) ) var(--spacing-m);
}
/* Date Picker */
.input-group .form-control.datepicker-input{
	border: inherit
}

.input-group .datepicker  + .paris-icon{
	margin-inline: var(--spacing-xs);
}

/* Merged*/
.input-group.merged > .input-group-text {
	background-color: var(--white-color) !important;
	border-color: var(--dark-lighter-color) !important;
	border-inline-end: 0 !important;
	border-radius: 0;
}

.input-group.merged > .form-control {
	border-inline-start: 0 !important;
	outline: 0;
	border-radius: 0;
	border-color: var(--dark-lighter-color) !important;
	margin-top: 0;
}

.input-group.merged > .form-control::placeholder {
	color: var(--dark-lighter-color);
	font-style: italic;
}

/* Password */
.input-group.password input[type="password"]{
	margin-inline-start: var(--spacing-xxs)
}

.input-group.password .form-text{
	border: .1rem solid var(--white-color);
	border-block-end-color:var(--blue-dark-color);
}