<@box>
    <@boxHeader title='#i18n{portal.templates.manage_autoincludes.commonsInfos} ' >
    
    </@boxHeader>
    <@boxBody>
    <p>
        #i18n{portal.templates.manage_autoincludes.commonsName} : <strong><@commonsName/></strong><br>
        #i18n{portal.templates.manage_autoincludes.commonsFile} : <strong><@commonsFile/></strong><br>
        #i18n{portal.templates.manage_autoincludes.commonsDescription} : <@commonsDescription/>
    </p>

    </@boxBody>
</@box>


<@box>
	<@boxHeader title='#i18n{portal.templates.manage_autoincludes.title}' boxTools=true>
		<@tform class='form-inline pull-right' name='manage_autoinclude' action='jsp/admin/templates/ManageAutoIncludes.jsp'>
			<@button type='submit' name='view_createAutoInclude' buttonIcon='plus' color='primary' title='#i18n{portal.templates.manage_autoincludes.buttonAdd}' />
		</@tform>
	</@boxHeader>
	<@boxBody>    
    <@messages infos=infos />
    <@paginationAdmin paginator=paginator combo=1 />
    <div class="clearfix"></div>
    <@table>
        <tr>
            <input type="hidden" id="id" name="id"/>
            <th>#i18n{portal.templates.manage_autoincludes.columnFilePath}</th>
            <th>#i18n{portal.util.labelActions}</th>
        </tr>
        <@tableHeadBodySeparator />
            <#list autoinclude_list as autoinclude >
        <tr>
            <input type="hidden" id="id" name="id"/>
            <td>
                ${autoinclude.filePath}
            </td>
        <td>
			<@aButton href='jsp/admin/templates/ManageAutoIncludes.jsp?action=confirmRemoveAutoInclude&file_path=${autoinclude.filePath}' title='#i18n{portal.util.labelDelete}' buttonIcon='trash' color='danger' showTitle=false />

        </td>
        </tr>
        </#list>
    </@table>

    <@paginationAdmin paginator=paginator />

  </@boxBody>
</@box>
