<@box>
    <@boxHeader title='#i18n{portal.templates.manage_autoincludes.commonsInfos} ' >
    
    </@boxHeader>
    <@boxBody>
    <p>
        #i18n{portal.templates.manage_autoincludes.commonsName} : <strong><@commonsName/></strong><br>
        #i18n{portal.templates.manage_autoincludes.commonsFile} : <strong><@commonsFile/></strong><br>
        #i18n{portal.templates.manage_autoincludes.commonsDescription} : <@commonsDescription/>
    </p>

    </@boxBody>
</@box>

<@box>
    <@boxHeader title='#i18n{portal.templates.manage_autoincludes.commonsChange} ' >
    
    </@boxHeader>
    <@boxBody>
        <@messages infos=infos />
        <@tform method='post' name='FilterPluginsForm' action='jsp/admin/templates/ManageAutoIncludes.jsp'>
            <@formGroup labelKey='#i18n{portal.templates.manage_autoincludes.commonsAvailable}' labelFor='commons_key' showLabel=false formStyle='inline'>
                <input type="hidden" name="action" value="activate" />
                <@inputGroup>
                    <@select sort=true name='commons_key' default_value='${current_commons}' items=commons_list />
                    <@inputGroupItem>
                    <@button type='submit' buttonIcon='random' title='#i18n{portal.templates.manage_autoincludes.buttonSwitch}' showTitle=false />
                    </@inputGroupItem>
                </@inputGroup>
            </@formGroup>
        </@tform>
    </@boxBody>
</@box>

<@box>
	<@boxBody>    
    <@table>
        <tr>
            <input type="hidden" id="id" name="id"/>
            <th>#i18n{portal.templates.manage_autoincludes.columnFilePath}</th>
            <th>&nbsp;</th>
        </tr>
       
            <#list autoinclude_list as autoinclude >
        <tr>
            <input type="hidden" id="id" name="id"/>
            <td>
                ${autoinclude.filePath}
            </td>
            <td>
                <#if autoinclude.owner ??><@tag color='primary' >${autoinclude.owner}</@tag></#if>
            </td>
        </tr>
        </#list>
    </@table>

  </@boxBody>
</@box>
