<div class="columns is-multiline">
<div class="column">
<div class="card has-primary">
<header class="card-header">
<p class="card-header-title">Generate a form</p>
</header>
<div class="card-content">

<form class="form-horizontal" id="form_generation" method="post" name="form_generation" role="form">
                    <fieldset>
                            <legend class="sr-only">Display an HTML form</legend>
<div class="field is-horizontal">
  <div class="field-label">
    <label class="label"> *</label>
  </div>
  <div class="field-body">
    <div class="field">
<div class="control">
    <input class="input" name="text_field" type="text" value="" tabindex="1" maxlength="50" id="text_field" required />
</div>
        
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <label class="label"> </label>
  </div>
  <div class="field-body">
    <div class="field">




	<button class="button is-normal is-primary" type="submit" title="Submit form">
    	<i class="fa fa-check" aria-hidden="true"></i>
&nbsp;
		Submit form
		
	</button>
        
    </div>
  </div>
</div>

                    </fieldset>
</form>
</div>
</div>
</div>
</div>
<div class="columns is-multiline">
<div class="column">
        <div class="notification  ">
Default</div>

        <div class="notification   is-primary">
Primary</div>

        <div class="notification   is-info">
Info</div>

        <div class="notification   is-success">
Success</div>

        <div class="notification   is-warning">
Warning</div>

        <div class="notification   is-danger">
Danger</div>

</div>
</div>
