	<div class="row">
<div class="col">
<div class="card">
<div class="card-header card-header-info text-white d-flex justify-content-between">
<h5 class="box-title">Generate a form</h5>
</div>
<div class="card-body" style="border-radius:0 0 3px 3px;">

	<form class="form-horizontal" id="form_generation" method="post" name="form_generation" role="form">
                    <fieldset>
                            <legend class="sr-only">Display an HTML form</legend>
<div class="form-group bmd-form-group row">
<label class="col-12 bmd-label-floating " for="text_field" ariaLabel=" [Obligatoire]"></label>
		<div class="col-lg-6">
		<input class="form-control" name="text_field" type="text" value="" tabindex="1" maxlength="50" id="text_field" required />
	
		</div>
</div>
<div class="form-group bmd-form-group row">
		<div class="col-sm-12">

	
		<button class="btn btn-info" type="submit" title="Submit form">
	<i class="fa fa-check" aria-hidden="true"></i>
			Submit form
		</button>
	
		</div>
</div>
                    </fieldset>
	</form>
</div>
</div>
</div>
	</div>
	<div class="row">
<div class="col">
        <div class="alert">
Default</div>

        <div class="alert alert-primary">
Primary</div>

        <div class="alert alert-info">
Info</div>

        <div class="alert alert-success">
Success</div>

        <div class="alert alert-warning">
Warning</div>

        <div class="alert alert-danger">
Danger</div>

</div>
	</div>
