<@row>
	<@columns>
		<@box collapsed=true>
			<#assign headerTitle>
				#i18n{portal.rbac.assign_users.role.name} :<strong title="#i18n{portal.rbac.assign_users.role.description} : ${role.description} "> ${role.key}</strong> <small class="spaced"><@icon style='user' />&nbsp;#i18n{portal.rbac.assign_users.role.number_user} : <@tag>${assigned_users_number}</@tag></small>
			</#assign>
			<@boxHeader title='${headerTitle}'>
				<@aButton href='jsp/admin/rbac/ViewRoleDescription.jsp?role_key=${role.key}" title="#i18n{portal.rbac.modify_role.buttonLabelModify}' title='#i18n{portal.rbac.modify_role.buttonLabelModify}' hideTitle=['xs','sm'] buttonIcon='edit' size='sm' />
				<@aButton href='jsp/admin/rbac/DoConfirmRemoveRole.jsp?role_key=${role.key}' title='#i18n{portal.rbac.manage_roles.buttonLabelDelete}' hideTitle=['xs','sm'] buttonIcon='trash' color='danger' size='sm' />
				<@item_navigation item_navigator=item_navigator />
				<@button style='card-control collapse' buttonIcon='plus' />
			</@boxHeader>
			<@boxBody>
				<#if assigned_users_list?size &gt; 0 || search_is_search >
					<@tform method='post' name='search_users' action='jsp/admin/rbac/AssignUsersRole.jsp'>
						<@input type='hidden' name='role_key' value='${role.key}' />
						<#if (user_levels?has_content)>
							<@formGroup labelKey='#i18n{portal.users.manage_users.search_users.userLevelLabel}' labelFor='user_level'>
								<@select id='user_level' name='search_user_level'>
									<#if (search_admin_user_filter.userLevel > -1) >
									<option value="noValue" >#i18n{portal.users.manage_users.search_users.labelAllLevels}</option>
									<#list user_levels as user_level>
										<#if (search_admin_user_filter.userLevel == user_level.id) >
											<option value="${user_level.id}" selected="selected" >${user_level.name}</option>
										<#else>
											<option value="${user_level.id}" >${user_level.name}</option>
										</#if>
									</#list>
								<#else>
									<option value="noValue" selected="selected" >#i18n{portal.users.manage_users.search_users.labelAllLevels}</option>
									<#list user_levels as user_level>
										<option value="${user_level.id}" >${user_level.name}</option>
									</#list>
								</#if>
								</@select>
							</@formGroup>
						</#if>
						<@formGroup labelKey='#i18n{portal.users.manage_users.search_users.labelAccessCode}' labelFor='access_code'>
							<@input type='text' id='access_code' name='search_access_code' value='${search_admin_user_filter.accessCode}' />
						</@formGroup>
						<@formGroup labelKey='#i18n{portal.users.manage_users.search_users.labelLastName}' labelFor='last_name'>
							<@input type='text' id='last_name' name='search_last_name' value='${search_admin_user_filter.lastName}' maxlength=100 />
						</@formGroup>
						<@formGroup labelKey='#i18n{portal.users.manage_users.search_users.labelEmail}' labelFor='email'>
							<@input type='email' id='email' name='search_email' value='${search_admin_user_filter.email}' maxlength=100 />
						</@formGroup>
						<@formGroup labelKey='#i18n{portal.users.manage_users.search_users.labelStatus}' labelFor='status'>
							<@select id='status' name='search_status'>
								<#switch search_admin_user_filter.status >
								<#case 0 >
									<option value="noValue" >#i18n{portal.users.manage_users.search_users.labelAllStatus}</option>
									<option value="0" selected="selected" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
									<option value="1" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
								<#break>
								<#case 1 >
									<option value="noValue" >#i18n{portal.users.manage_users.search_users.labelAllStatus}</option>
									<option value="0" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
									<option value="1" selected="selected" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
								<#break>
								<#default>
									<option value="noValue" selected="selected" >#i18n{portal.users.manage_users.search_users.labelAllStatus}</option>
									<option value="0" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
									<option value="1" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
								<#break>
								</#switch>
							</@select>
						</@formGroup>
						<#list attributes_list as attribute>
							<#if attribute.shownInSearch>
								${attribute.getHtmlFormSearchAttribute( search_admin_user_field_filter, locale )}
							</#if>
						</#list>
						<@formGroup>
							<@button type='submit' name='search_is_search' buttonIcon='search' title='#i18n{portal.users.manage_users.search_users.buttonSearch}'  />
						</@formGroup>
					</@tform>
				</#if>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<@row>
    <@columns sm=3 md=3 lg=3>
			<@box color='solid'>
        <@boxHeader title='#i18n{portal.rbac.assign_users.labelAvailableUser}' />
				<@boxBody>
				<#if available_users_list?size &gt; 0 >
					<@tform name='assignUser' method='post' action='jsp/admin/rbac/DoAssignUsersRole.jsp'>
						<@input type='hidden' name='role_key' value='${role.key}' />
						<@input type='hidden' name='token' value='${token}' />
						<@select name='available_users_list' default_value='' items=available_users_list multiple=15 />
						<@button style='btn-block' type='submit' buttonIcon='check' title='#i18n{portal.rbac.assign_users.labelButtonValidate}' size=''  />
					</@tform>
				<#else>
					<@callOut color='warning'>
						<@icon style='exclamation-triangle' />
						#i18n{portal.rbac.assign_users.noUserToAssign}
					</@callOut>
				</#if>
			</@boxBody>
		</@box>
	</@columns>
	<@columns sm=9 md=9 lg=9>
		<@box color='solid'>
			<@boxHeader title='#i18n{portal.rbac.assign_users.labelAssignedUser}' />
			<@boxBody>
				<#if assigned_users_list?size &gt; 0 || search_is_search >
					<@tform action='jsp/admin/rbac/AssignUsersRole.jsp'>
						<#if search_is_search >
							<@input type='hidden' name='search_is_search' value='true' />
							<@input type='hidden' name='search_user_level' value='${search_admin_user_filter.userLevel}' />
							<@input type='hidden' name='search_access_code' value='${search_admin_user_filter.accessCode}' />
							<@input type='hidden' name='search_last_name' value='${search_admin_user_filter.lastName}' />
							<@input type='hidden' name='search_email' value='${search_admin_user_filter.email}' />
							<@input type='hidden' name='search_status' value='${search_admin_user_filter.status}' />
						</#if>
						<#if search_admin_user_field_filter.listUserFields?exists && search_admin_user_field_filter.listUserFields?has_content>
							<#list search_admin_user_field_filter.listUserFields as user_field>
								<#if user_field.attribute.attributeType.className == "fr.paris.lutece.portal.business.user.attribute.AttributeComboBox">
									<@input type='hidden' name='attribute_${user_field.attribute.idAttribute}' value='${user_field.attributeField.idField}' />
								<#else>
									<@input type='hidden' name='attribute_${user_field.attribute.idAttribute}' value='${user_field.value}' />
								</#if>
							</#list>
						</#if>
						<@input type='hidden' name='role_key' value='${role.key}' />
					</@tform>
					<@table>
						<tr>
							<th>#i18n{portal.users.manage_users.columnTitleLastName}<@sort jsp_url="jsp/admin/rbac/AssignUsersRole.jsp" attribute="lastName&role_key=${role.key}${sort_search_attribute}" /></th>
								<th>#i18n{portal.users.manage_users.columnTitleFirstName}<@sort jsp_url="jsp/admin/rbac/AssignUsersRole.jsp" attribute="firstName&role_key=${role.key}${sort_search_attribute}" /></th>
								<th>#i18n{portal.users.manage_users.columnTitleAccessCode}<@sort jsp_url="jsp/admin/rbac/AssignUsersRole.jsp" attribute="accessCode&role_key=${role.key}${sort_search_attribute}" /></th>
								<th>#i18n{portal.users.manage_users.columnTitleEmail} <@sort jsp_url="jsp/admin/rbac/AssignUsersRole.jsp" attribute="email&role_key=${role.key}${sort_search_attribute}" /></th>
								<th>#i18n{portal.users.manage_users.columnTitleActions}</th>
							</tr>
							<#list assigned_users_list as assigned_user>
								<#if assigned_user_has_next>
									<#assign anchor = assigned_user_index>
								<#else>
									<#assign anchor = assigned_user_index - 1 >
								</#if>
								<tr id="anchor-${assigned_user_index}">
									<td>${assigned_user.lastName}</td>
									<td>${assigned_user.firstName}</td>
									<td><em>${assigned_user.accessCode}</em></td>
									<td>
										<@link href='mailto:${assigned_user.email}' title='${assigned_user.email}'>
											${assigned_user.email}
										</@link>
									</td>
									<td>
										<@tform method='post' action='jsp/admin/rbac/DoUnassignUserRole.jsp'>
											<@input type='hidden' name='token' value='${token}' />
											<@input type='hidden' name='id_user' value='${assigned_user.userId?html}' />
											<@input type='hidden' name='role_key' value='${role.key?html}' />
											<@input type='hidden' name='anchor' value='anchor-${anchor?html}' />
											<@aButton href='jsp/admin/user/ModifyUser.jsp?id_user=${assigned_user.userId}' title='#i18n{portal.rbac.assign_users.actionModify}' hideTitle=['all'] buttonIcon='edit' size='sm' />
											<@button type='submit' title='#i18n{portal.rbac.assign_users.actionUnassign}' hideTitle=['all'] buttonIcon='trash' color='danger' size='sm' />
										</@tform>
									</td>
								</tr>
						</#list>
					</@table>
					<#if assigned_users_list?size &gt; 8>
						<@paginationAdmin paginator=paginator combo=1 form=0 />
					</#if>
				<#else>
					<@callOut color='warning'>
						<@icon style='exclamation-triangle' />
						#i18n{portal.rbac.assign_users.noAssignedList}
					</@callOut>
				</#if>
			</@boxBody>
		</@box>
	</@columns>
</@row>