<div class="row-fluid">
    <div class="span8 offset2">
        <fieldset>
			<legend>#i18n{portal.rbac.create_role.titleCreateRole}</legend>
                <form class="form-horizontal" method="post" action="jsp/admin/rbac/DoCreateRole.jsp" name="create_role">
                    <div class="control-group">
                        <label class="control-label" for="role_key" >#i18n{portal.rbac.create_role.labelKey}&nbsp;*&nbsp;:</label>
                        <div class="controls">
                            <input type="text" size="20" id="role_key" name="role_key" maxlength="255" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="role_description" >#i18n{portal.rbac.create_role.labelDescription}&nbsp;*&nbsp;:</label>
                        <div class="controls">
                            <input type="text" id="role_description" name="role_description" size="100" maxlength="255" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary btn-small" onclick="javascript:history.go(-1)" >#i18n{portal.admin.message.buttonCancel}</button>
                        <button class="btn btn-primary btn-small" type="submit" >#i18n{portal.rbac.create_role.buttonLabelCreate}</button>
                    </div>
                </form>
		</fieldset>
	</div>
</div>