<@row>
	<@columns>
		<@box>
		  <@boxHeader title='#i18n{portal.rbac.create_role.titleCreateRole}'  skipHeader=true  />
			<@boxBody>
				<@tform method='post' action='jsp/admin/rbac/DoCreateRole.jsp' name='create_role'>
					<@input type='hidden' name='token' value='${token}' />
					<@formGroup labelKey='#i18n{portal.rbac.create_role.labelKey}' labelFor='role_key' mandatory=true>
						<@input type='text' id='role_key' name='role_key' maxlength=255 />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.rbac.create_role.labelDescription}' labelFor='role_description' mandatory=true>
						<@input type='text' id='role_description' name='role_description' maxlength=255 />
					</@formGroup>
					<#if has_right_manage_front_role>
						<@formGroup labelFor='can_be_assigned_to_user_front'>
							 <@checkBox name='can_be_assigned_to_user_front' id='can_be_assigned_to_user_front' value='true' labelKey='#i18n{portal.rbac.create_role.labelCanBeAssignedToUserFront}' labelFor='can_be_assigned_to_user_front' />
						</@formGroup>
					</#if>	
					<@formGroup>
						<@button type='submit' buttonIcon='check' title='#i18n{portal.rbac.create_role.buttonLabelCreate}' color='primary' size='sm' />
						<@aButton href='jsp/admin/rbac/ManageRoles.jsp' buttonIcon='times' color='danger' size='sm' title='#i18n{portal.admin.message.buttonCancel}' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>