<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.rbac.manage_roles.pageTitle}'>
            <@offcanvas targetUrl="jsp/admin/rbac/CreateRole.jsp" targetElement="#create-role-form" redirectForm=false id="template-create-role" title="#i18n{portal.rbac.manage_roles.buttonLabelNewRole}" btnTitle="#i18n{portal.rbac.manage_roles.buttonLabelNewRole}" btnIcon="plus me-1" position="end" />
        </@pageHeader>
        <#if role_list?size gt 5><@paginationAdmin paginator=paginator /></#if>
        <#if role_list?size gt 1>
            <@manageFeature>
                <#list role_list as role>
                    <@manageFeatureItem>
                        <@manageFeatureItemColumn>
                            <@p>#i18n{portal.rbac.manage_roles.columnTitleKey}: <strong>${role.key}</strong></@p>
                            <@p>#i18n{portal.rbac.manage_roles.columnTitleDescription}: <strong>${role.description}</strong></@p>
                        </@manageFeatureItemColumn>
                        <@manageFeatureItemColumn auto=true>
                            <@aButton href='jsp/admin/rbac/ViewRoleDescription.jsp?role_key=${role.key}' title='#i18n{portal.rbac.view_role_description.labelDescription}'  buttonIcon='edit' color='primary' />
                            <@aButton href='jsp/admin/rbac/AssignUsersRole.jsp?role_key=${role.key}' title='#i18n{portal.rbac.manage_roles.buttonLabelAssignUsers} ' buttonIcon='user' color='primary' />
                            <#if exist_front_role_map?has_content && exist_front_role_map[role.key]>
                                <@aButton href='jsp/admin/role/ModifyPageRole.jsp?role=${role.key}' title='#i18n{portal.rbac.manage_roles.buttonLabelViewFrontRole} ' buttonIcon='link'  color='primary' />
                            </#if> 
                            <@aButton href='jsp/admin/rbac/DoConfirmRemoveRole.jsp?role_key=${role.key}' title='#i18n{portal.rbac.manage_roles.buttonLabelDelete} ' buttonIcon='trash' color='danger' />
                        </@manageFeatureItemColumn>
                    </@manageFeatureItem>
                </#list>
            </@manageFeature>
        <#else>
            <@box>
                <@empty />
            </@box>
        </#if>
        <#if role_list?size gt 5><@paginationAdmin paginator=paginator combo=1 showcount=0 /></#if>
    </@pageColumn>
</@pageContainer>