<@row>
	<@columns>
		<@box color='success'>
      <@boxHeader title='#i18n{portal.rbac.modify_role.titleModifyRole}' />
			<@boxBody>
				<@tform method='post' action='jsp/admin/rbac/DoModifyRole.jsp' name='modify_role'>
					<input type="hidden" name="role_key_previous" value="${role.key}">
					<@formGroup labelKey='#i18n{portal.rbac.modify_role.labelKey}' labelFor='role_key' mandatory=true>
						<@input type='text' id='role_key' name='role_key' value='${role.key}' />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.rbac.modify_role.labelDescription}' labelFor='role_description' mandatory=true>
						<@input type='text' id='role_description' name='role_description' value='${role.description}' inputSize=100 maxlength=255 />
					</@formGroup>
					<@formGroup>
						<@button type='submit' buttonIcon='check' title='#i18n{portal.util.labelValidate}' size='' />
						<@aButton href='jsp/admin/rbac/ViewRoleDescription.jsp?role_key=${role.key}' buttonIcon='remove' title='#i18n{portal.admin.message.buttonCancel}' size='' color='btn-secondary' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
  </@columns>
</@row>