<div class="row" >
    <legend>#i18n{portal.rbac.modify_role.titleModifyRole}</legend>
    <form class="form-horizontal" method="post"  action="jsp/admin/rbac/DoModifyRole.jsp" name="modify_role">
	<fieldset>
        
            <div class="control-group">
		<label class="control-label" for="role_key" >#i18n{portal.rbac.modify_role.labelKey}&nbsp;*&nbsp;:</label>
            <input type="hidden" id="role_key" name="role_key" value="${role.key}" />
			${role.key}
        
        
            <div class="control-group">
		<label class="control-label" for="role_description" >#i18n{portal.rbac.modify_role.labelDescription}&nbsp;*&nbsp;:</label>
            <div class="controls">
	<input type="text" id="role_description" name="role_description"  value="${role.description}" size="100" maxlength="255" />
		</div>
	</div>
        
        
            <input type="hidden" name="role_key_previous" value="${role.key}" />
            <button class="btn btn-primary" type="submit" >#i18n{portal.rbac.modify_role.buttonLabelModify}</button>
	
        

    </fieldset>
</form>
    <script language="JavaScript">
        window.onload = modify_role.role_key.focus
    </script>
</div>