<@row>
	<@columns>
		<@box>
			<@boxHeader title='#i18n{portal.rbac.select_permissions.titleSelectPermissions}' />
			<@boxBody>
				<@tform method='post' action='jsp/admin/rbac/DoSelectPermissions.jsp' name='add_control'>
					<@input type='hidden' name='role_key' value='${role_key}' />
					<@input type='hidden' name='resource_type' value='${resource_type}' />
					<@input type='hidden' name='select_resources' value='${select_resources}' />
					<@input type='hidden' name='token' value='${token}' />
					<#if resource_id_list?has_content>
						<#list resource_id_list as resource_id>
							<@input type='hidden' name='resource_id' value='${resource_id}' />
						</#list>
					</#if>
					<@formGroup>
						<@radioButton name='select_permissions' id='select_all' value='all' labelKey='#i18n{portal.rbac.select_permissions.labelSelectAllPermissions}' checked=true />
						<@radioButton name='select_permissions' id='select_choose' value='choose' labelKey='#i18n{portal.rbac.select_permissions.labelSelectPermissionsFromList}' />
					</@formGroup>
					<@formGroup>
						<#list permissions_list as item>
							<#if item.checked >
								<@checkBox name='permission_key' id='${item.name}' value='${item.code}' labelKey='${item.name}' />
							<#else>
								<@checkBox name='permission_key' id='${item.name}' value='${item.code}' labelKey='${item.name}' />
							</#if>
						</#list>
					</@formGroup>
					<@formGroup>
						<@aButton href='jsp/admin/rbac/AddControlToRole.jsp?role_key=${role_key}&amp;resource_type=${resource_type}' buttonIcon='arrow-left' title='#i18n{portal.rbac.select_permissions.buttonLabelCancel}' color='default' />
						<@button type='submit' buttonIcon='check' title='#i18n{portal.rbac.select_permissions.buttonLabelValidate}' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<script>
jQuery( document ).ready(function( $ ) {
	$(":checkbox").click( function(){
		if( $( ":checked" ).length > 1 ){
			$("#select_choose").prop("checked", true );
			$( "#select_all" ).prop( "checked", false );
		} else {
			$("#select_choose").prop( "checked", false );
			$("#select_all").prop("checked", true );
		}
	});
	$("#select_all").click(function() {
		$(":checkbox").prop("checked",false);
	});
});
</script>