<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">
					<strong>${role.key} - ${role.description}</strong>
				</h3>
				<div class="box-tools">
					<form class="form-inline pull-right spaced" role="form" method="post"  action="jsp/admin/rbac/ModifyRole.jsp">
						<input type="hidden" name="role_key" value="${role.key}" />
						<button class="btn btn-primary btn-xs btn-flat" type="submit" >
							<i class="glyphicon glyphicon-edit"></i><span class="hidden-xs">&nbsp;#i18n{portal.rbac.view_role_description.buttonLabelModify}</span>
						</button>
					</form>
					<form class="form-inline pull-right" method="post"  action="jsp/admin/rbac/AddControlToRole.jsp">
						<input type="hidden" name="role_key" value="${role.key}">
						<select class="form-control input-xs" name="resource_type" >
							<#list resource_type_list?sort_by("resourceTypeLabel") as resource_type >
								<option value ="${resource_type.resourceTypeKey}">${resource_type.resourceTypeLabel}</option>
							</#list>
						</select>
						<button class="btn btn-primary btn-xs btn-flat" type="submit" title="#i18n{portal.rbac.view_role_description.buttonLabelAddControl}">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="box-body">
                <table class="table table-hover table-condensed">
                    <tr>
                        <th>#i18n{portal.rbac.view_role_description.columnTitleResourceType}</th>
                        <th>#i18n{portal.rbac.view_role_description.columnTitleResourceId}</th>
                        <th>#i18n{portal.rbac.view_role_description.columnTitlePermission}</th>
                        <th>#i18n{portal.rbac.view_role_description.columnTitleDeleteControl}</th>
                    </tr>
                    <#assign previousResourceTypeKey = "" >
                    <#list controled_resource_list as controled_resource >
						<tr>
							<#if controled_resource.resourceTypeKey != previousResourceTypeKey >
								<td><strong>${controled_resource.resourceTypeLabel} (${controled_resource.resourceTypeKey})</strong></td>
							<#else>
								<td>&nbsp;</td>
							</#if>
							<!--<td>${controled_resource.resourceTypeLabel} (${controled_resource.resourceTypeKey})</td>-->
							<td>${controled_resource.resourceIdLabel} (${controled_resource.resourceId})</td>
							<td>${controled_resource.permissionLabel} (${controled_resource.permissionKey})</td>
							<td>
								<form class="form-inline" method="post"  action="jsp/admin/rbac/DoConfirmRemoveControlFromRole.jsp">
									<input type="hidden" name="rbac_id" value="${controled_resource.RBACId}" />
									<button class="btn btn-danger btn-xs" type="submit" title="#i18n{portal.rbac.view_role_description.buttonLabelDeleteControl}">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
								</form>
							</td>
						</tr>
						<#assign previousResourceTypeKey = controled_resource.resourceTypeKey >
                    </#list>
                </table>
            </div> 
		</div> 
	</div>
</div>