<div id="left">
    <div class="content-box" >
    	<h2 class="content-box-header">#i18n{portal.features.assign_users.right.name} : ${right.name}</h2>
        <table>
            <tr>
                <th>
                     #i18n{portal.features.assign_users.right.description}
                </th>
            </tr>
            <tr>
                <td>
                    ${right.description}
                </td>
            </tr>
            <tr>
            	<th>
            		#i18n{portal.features.assign_users.right.level}
            	</th>
            </tr>
            <tr>
            	<td>
            		${right.level}
            	</td>
            </tr>
            <tr>
                <th>
                     #i18n{portal.features.assign_users.right.number_user}
                </th>
            </tr>
            <tr>
                <td>
                    ${assigned_users_number}
                </td>
            </tr>
            <tr>
                <th>
                     #i18n{portal.features.assign_users.right.actions}
                </th>
            </tr>
            <tr>
                <td>
					<@item_navigation item_navigator=item_navigator />
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="right">
	<div class="content-box">
	    <h2>#i18n{portal.features.assign_users.pageTitle}</h2>
	    <div class="multibox"  width="100%">
		     <#if available_users_list?size &gt; 0 >
		     	<form name="assignUser" method="post" action="jsp/admin/features/DoAssignUsersRight.jsp">		
		        	<table width="100%" >
			            <tr>
			                <th>
			                    #i18n{portal.features.assign_users.labelAvailableUser}
			                </th>			
			            </tr>
		                                   
		                <tr>
		                 	<td>
		                    	<@comboWithParamsAndLength name="available_users_list" default_value="" additionalParameters="multiple='multiple' size='10' style='width:100%;'" items=available_users_list max_length=175 />		    
		                    </td>					
		                </tr>
		                <tr>
		                    <td align="center">
		                        <input type="hidden" name="id_right" value="${right.id}" />
		                        <input type="submit" value="#i18n{portal.features.assign_users.labelButtonValidate}" class="button" />
							    <input type="submit" name="cancel" value="#i18n{portal.admin.message.buttonCancel}" class="button"/>
		                    </td>
		                </tr>
			        </table>	
		    	</form>
	    	<#else>
	          	#i18n{portal.features.assign_users.noUserToAssign}
	        </#if>
	    </div>	
	</div>
	
	<div class="content-box"> 
		<h2>
		    #i18n{portal.features.assign_users.labelAssignedUser}
		</h2>
		        
	    <#if assigned_users_list?size &gt; 0 || search_is_search >
		    <div class="highlight-box">
				<div id="search-users">
					<form method="post" name="search_users" action="jsp/admin/features/AssignUsersRight.jsp"  >
						<#if (user_levels?has_content)>
							<p>
				                <label for="user_level">#i18n{portal.users.manage_users.search_users.userLevelLabel} :</label>
								<select id="user_level" name="search_user_level">
									<#if (search_admin_user_filter.userLevel > -1) >
										<option value="noValue" >#i18n{portal.users.manage_users.search_users.labelAllLevels}</option>
				                		<#list user_levels as user_level>
				                			<#if (search_admin_user_filter.userLevel == user_level.id) >
				                    			<option value="${user_level.id}" selected="selected" >${user_level.name}</option>
				                    		<#else>
				                    			<option value="${user_level.id}" >${user_level.name}</option>
				                    		</#if>
				                    	</#list>
				                	<#else>
				                		<option value="noValue" selected="selected" >#i18n{portal.users.manage_users.search_users.labelAllLevels}</option>
				                		<#list user_levels as user_level>
				                			<option value="${user_level.id}" >${user_level.name}</option>
				                		</#list>
				                	</#if>
				                </select>
				            </p>
						</#if>
						<p>
							<label for="access_code" >#i18n{portal.users.manage_users.search_users.labelAccessCode} :</label>
							<input type="text" id="access_code" name="search_access_code" value="${search_admin_user_filter.accessCode}" />
						</p>
						<p>
							<label for="last_name" >#i18n{portal.users.manage_users.search_users.labelLastName} :</label>
							<input type="text" id="last_name" name="search_last_name" value="${search_admin_user_filter.lastName}" maxlength="100" size="35" tabindex="2" />
						</p>
						<p>
							<label for="first_name">#i18n{portal.users.manage_users.search_users.labelFirstName} :</label>
							<input type="text" id="first_name" name="search_first_name" value="${search_admin_user_filter.firstName}" maxlength="100" size="35" tabindex="3" />
						</p>
						<p>
							<label for="email">#i18n{portal.users.manage_users.search_users.labelEmail} :</label>
							<input type="text" id="email" name="search_email" value="${search_admin_user_filter.email}" maxlength="100" size="35" tabindex="4" />
						</p>
						<p>
				            <label for="status">#i18n{portal.users.manage_users.search_users.labelStatus} :</label>
				            <select id="status" name="search_status" tabindex="5">
				            	<#switch search_admin_user_filter.status >
			                		<#case 0 >
			                			<option value="noValue" >#i18n{portal.users.manage_users.search_users.labelAllStatus}</option>
						               	<option value="0" selected="selected" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
										<option value="1" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
			                			<#break>
			                		<#case 1 >
			                			<option value="noValue" >#i18n{portal.users.manage_users.search_users.labelAllStatus}</option>
						               	<option value="0" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
										<option value="1" selected="selected" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
			                			<#break>
			                		<#default>
			                			<option value="noValue" selected="selected" >#i18n{portal.users.manage_users.search_users.labelAllStatus}</option>
						               	<option value="0" >#i18n{portal.users.create_user.statusLabelEnabled}</option>
										<option value="1" >#i18n{portal.users.create_user.statusLabelDisabled}</option>
										<#break>
		                		</#switch>
				            </select>
						</p>
						<p>
							<input type="hidden" name="id_right" value="${right.id}" />
				           	<input type="submit" value="#i18n{portal.users.manage_users.search_users.buttonSearch}" tabindex="6" class="button" name="search_is_search"/>   
				        </p>
					</form>
		    	</div>
		    </div>
		    <form method="post" action="jsp/admin/features/AssignUsersRight.jsp">
		        <@paginationAdmin paginator=paginator combo=1 form=0 />
		        <#if search_is_search >
		   			<input type="hidden" name="search_is_search" value="true"/>
		   			<input type="hidden" name="search_user_level" value="${search_admin_user_filter.userLevel}"/>
		   			<input type="hidden" name="search_access_code" value="${search_admin_user_filter.accessCode}"/>
		   			<input type="hidden" name="search_last_name" value="${search_admin_user_filter.lastName}"/>
		   			<input type="hidden" name="search_first_name" value="${search_admin_user_filter.firstName}"/>
		   			<input type="hidden" name="search_email" value="${search_admin_user_filter.email}"/>
		   			<input type="hidden" name="search_status" value="${search_admin_user_filter.status}"/>
		        </#if>
		        <input type="hidden" name="id_right" value="${right.id}" />
		    </form>
		    <table width="80%">        
		        <tr>            
		            <th>
		            	#i18n{portal.users.manage_users.columnTitleLastName}
		            	<@sort jsp_url="jsp/admin/features/AssignUsersRight.jsp" attribute="lastName&id_right=${right.id}${sort_search_attribute}" />
		            </th>
		            <th>
		            	#i18n{portal.users.manage_users.columnTitleFirstName}
		            	<@sort jsp_url="jsp/admin/features/AssignUsersRight.jsp" attribute="firstName&id_right=${right.id}${sort_search_attribute}" />
		            </th> 
		            <th>
		            	#i18n{portal.users.manage_users.columnTitleAccessCode}
		            	<@sort jsp_url="jsp/admin/features/AssignUsersRight.jsp" attribute="accessCode&id_right=${right.id}${sort_search_attribute}" />
		            </th>        
		            <th>
		            	#i18n{portal.users.manage_users.columnTitleEmail}
		            	<@sort jsp_url="jsp/admin/features/AssignUsersRight.jsp" attribute="email&id_right=${right.id}${sort_search_attribute}" />
		            </th>
		            <th>#i18n{portal.users.manage_users.columnTitleActions}</th>
		        </tr>
		        <#list assigned_users_list as assigned_user>
		        	<#if assigned_user_has_next>
	        			<#assign anchor = assigned_user_index>
	        		<#else>
	        			<#assign anchor = assigned_user_index - 1 >
	        		</#if>
			        <tr id="anchor-${assigned_user_index}">
			            <td>${assigned_user.lastName}</td>
			            <td>${assigned_user.firstName}</td>
			            <td><em>${assigned_user.accessCode}</em></td>            
			            <td><a href="mailto:${assigned_user.email}">${assigned_user.email}</a></td>
			            <td>
			               <a href="jsp/admin/user/ModifyUser.jsp?id_user=${assigned_user.userId}" >
			                   <img src="images/admin/skin/actions/modify.png" alt="#i18n{portal.features.assign_users.actionModify}" title="#i18n{portal.features.assign_users.actionModify}" />
			               </a>
			               <a href="jsp/admin/features/DoUnassignUserRight.jsp?id_user=${assigned_user.userId}&amp;id_right=${right.id}&anchor=anchor-${anchor}" >
			                   <img src="images/admin/skin/actions/delete.png" alt="#i18n{portal.features.assign_users.actionUnassign}" title="#i18n{portal.features.assign_users.actionUnassign}" />
			               </a>
			            </td>
			        </tr>
		        </#list>		
		    </table>
			<@paginationAdmin paginator=paginator />
	    <#else>
	    	#i18n{portal.features.assign_users.noAssignedList}
	    </#if>
	</div>
</div>