<div class="row-fluid">
    <div class="span12">
    <fieldset>
    <legend>#i18n{portal.features.create_level.boxTitle}</legend>
		<form method="post" name="create_mode" action="jsp/admin/features/DoCreateLevel.jsp">		
        <label>#i18n{portal.features.create_level.labelLevelName}</label>
			<input type="text" name="level_name" tabindex="1" size="60" maxlength="80" />
        <div class="form-actions">
			<button type="submit"  tabindex="2" class="btn btn-primary"><i class="icon-edit icon-white"></i>&nbsp;#i18n{portal.style.create_level.buttonLabelCreate}</button>
        </div>
        </form>
    </fieldset>
    </div>
</div>