<div class="content-box" >

    <h2>#i18n{portal.features.manage_groups.title}</h2>
    
    <table>
        <tr>
            <th>#i18n{portal.features.manage_groups.labelId}</th>
            <th>#i18n{portal.features.manage_groups.labelName}</th>
            <th>#i18n{portal.features.manage_groups.labelDescription}</th>
            <th>#i18n{portal.features.manage_groups.labelOrder}</th>
            <th>#i18n{portal.features.manage_groups.labelAction}</th>
        </tr>
        <#list groups_list?sort_by('order') as group>
        <tr>
            <td>
                <a href="jsp/admin/features/ModifyGroup.jsp?group_id=${group.id}" class="admin-menu">
                    ${group.id}
                </a>
            </td>
            <td>
                ${group.labelKey}
            </td>
            <td>
                ${group.descriptionKey}
            </td>
			<td>
		  		<form method="post" action="jsp/admin/features/DoDispatchFeatureGroup.jsp">
		       		<@combo name="order_id" default_value=group.order items=order_list />
		          	<input type="hidden" name="group_id" value="${group.id}" />
		          	<input class="button" type="submit" value="#i18n{portal.features.manage_groups.buttonChangeOrder}" />
		       	</form>
			</td>
            <td>
            	<form method="post"  action="jsp/admin/features/RemoveGroup.jsp">
                	<input type="hidden" name="group_id" value="${group.id}">
                	 <input class="button" type="submit" value="#i18n{portal.features.manage_groups.buttonDelete}">
                </form> 
            </td>
           
        </tr>
        </#list>
    </table>
    
    <form method="post"  action="jsp/admin/features/CreateGroup.jsp">
        <p><input class="button" type="submit" value="#i18n{portal.features.manage_groups.buttonCreate}" /></p>
    </form>
    
</div>
