<@pageContainer>
    <@pageColumn>
        <#assign sortAttr = sorted_attribute_name!'name' />
        <#assign sortAsc = asc_sort!'true' />
        <#assign sortOptions = [
            { 'attribute': 'name', 'asc': 'true', 'label': '#i18n{portal.features.manage_rights.sortNameAsc}' },
            { 'attribute': 'name', 'asc': 'false', 'label': '#i18n{portal.features.manage_rights.sortNameDesc}' },
            { 'attribute': 'pluginName', 'asc': 'true', 'label': '#i18n{portal.features.manage_rights.sortPluginAsc}' },
            { 'attribute': 'pluginName', 'asc': 'false', 'label': '#i18n{portal.features.manage_rights.sortPluginDesc}' },
            { 'attribute': 'level', 'asc': 'true', 'label': '#i18n{portal.features.manage_rights.sortLevelAsc}' },
            { 'attribute': 'level', 'asc': 'false', 'label': '#i18n{portal.features.manage_rights.sortLevelDesc}' }
        ] />
        <#assign currentSortLabel = '' />
        <#list sortOptions as sortOption>
            <#if sortOption.attribute == sortAttr && sortOption.asc == sortAsc><#assign currentSortLabel = sortOption.label /></#if>
        </#list>
        <@pageHeader title='#i18n{portal.features.manage_rights.pageTitle}'>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <@icon style='arrows-sort' class='me-1' /> #i18n{portal.util.sort.label}<#if currentSortLabel?has_content> : ${currentSortLabel}</#if>
                </button>
                <@dropdownMenu class='dropdown-menu-end'>
                    <#list sortOptions as sortOption>
                    <@dropdownItem href='jsp/admin/features/ManageRights.jsp?sorted_attribute_name=${sortOption.attribute}&asc_sort=${sortOption.asc}' title=sortOption.label class=( sortOption.attribute == sortAttr && sortOption.asc == sortAsc )?then( 'active', '' ) />
                    </#list>
                </@dropdownMenu>
            </div>
        </@pageHeader>
        <#assign searchValue><#outputformat "HTML">${search!}</#outputformat></#assign>
        <@tform method='get' action='jsp/admin/features/ManageRights.jsp' name='SearchRightsForm'>
            <@div class='row g-2 align-items-center mb-3'>
                <@div class='col-12 col-md-4'>
                    <@inputGroup>
                        <@button type='submit' color='default' buttonIcon='search' title='#i18n{portal.util.labelSearch}' hideTitle=['all'] />
                        <@input type='search' name='search' id='rights-search' value=searchValue placeHolder='#i18n{portal.features.manage_rights.filterSearchPlaceholder}' autoComplete='off' title='#i18n{portal.features.manage_rights.filterSearchPlaceholder}' />
                    </@inputGroup>
                </@div>
                <@div class='col-6 col-md-2'>
                    <@select name='plugin' id='filter-plugin' items=plugins_list default_value=selected_plugin title='#i18n{portal.features.manage_rights.filterAllPlugins}' />
                </@div>
                <@div class='col-6 col-md-2'>
                    <@select name='level' id='filter-level' items=levels_list default_value=selected_level title='#i18n{portal.features.manage_rights.filterAllLevels}' />
                </@div>
                <@div class='col-auto'>
                    <@aButton href='jsp/admin/features/ManageRights.jsp?search=&level=&plugin=' color='default' buttonIcon='refresh' title='#i18n{portal.util.labelReset}' />
                </@div>
            </@div>
        </@tform>
        <@paginationItemCount paginator=paginator showcount=1 />
        <@manageFeature class='mt-0'>
            <#list rights_list as right >
            <@manageFeatureItem>            
                <@manageFeatureItemColumn>
                    <@h level=3>${right.name}</@h>
                </@manageFeatureItemColumn>
                <@manageFeatureItemColumn>
                    <@p>#i18n{portal.features.manage_rights.columnTitlePlugin} : <strong><span class="badge bg-secondary-lt"><#if (right.pluginName)?has_content>${right.pluginName}<#else>#i18n{portal.features.manage_rights.coreLabel}</#if></span></strong></@p>
                </@manageFeatureItemColumn>
                <@manageFeatureItemColumn auto=true>
                    <@p>#i18n{portal.features.manage_rights.columnTitleLevel} : <strong>${right.level}</strong></@p>
                </@manageFeatureItemColumn> 
                <@manageFeatureItemColumn>
                    <@p><em>${right.description}</em></@p>
                </@manageFeatureItemColumn>
                <@manageFeatureItemColumn auto=true>
                    <@aButton href='jsp/admin/features/AssignUsersRight.jsp?id_right=${right.id}' buttonIcon='user' color='primary' title='#i18n{portal.features.manage_rights.buttonLabelAssignUsers}' hideTitle=['all'] />
                </@manageFeatureItemColumn>
            </@manageFeatureItem>
            </#list>
        </@manageFeature>
        <@paginationAdmin paginator=paginator combo=1 showcount=0 />
    </@pageColumn>
</@pageContainer>
<script>
document.addEventListener( 'DOMContentLoaded', function( ) {
    const form = document.forms[ 'SearchRightsForm' ];
    if ( !form ) {
        return;
    }
    form.querySelectorAll( 'select' ).forEach( function( select ) {
        select.addEventListener( 'change', function( ) {
            form.submit( );
        } );
    } );
} );
</script>
