<@row>
	<@columns>
		<@box color='danger'>
			<@boxHeader title='#i18n{portal.features.manage_features.title}' />
			<@boxBody>
				<@tabs>
					<@listTabs>
            <li class="active">
							<a href="jsp/admin/features/ManageGroups.jsp">#i18n{portal.features.manage_features.groupManagement.label}</a>
						</li>
						<li>
							<a href="jsp/admin/features/DispatchFeatures.jsp" >
								#i18n{portal.features.manage_features.featureDispatch.label}
							</a>
						</li>
					</@listTabs>
				</@tabs>
			</@boxBody>
		</@box>
	</@columns>
</@row>