<div class="row">
    <div class="container">
        <div class="span12">
            <fieldset>
                <legend>#i18n{portal.features.manage_rights.boxTitle}</legend>
                <table class="table table-striped table-condensed">
                    <tr>            
                        <th>#i18n{portal.features.manage_rights.columnTitleName}</th>
                        <th>#i18n{portal.features.manage_rights.columnTitleDescription}</th>
                        <th>#i18n{portal.features.manage_rights.columnTitleLevel}</th>
                        <th>#i18n{portal.features.manage_rights.columnTitleActions}</th>
                    </tr>

                    <#list rights_list?sort_by('name') as right >
                    <tr>
                        <td>${right.name}</td>
                        <td>${right.description}</td>
                        <td>${right.level}</td>
                        <td>
                            <a class="btn btn-primary btn-mini" href="jsp/admin/features/AssignUsersRight.jsp?id_right=${right.id}"  title="#i18n{portal.features.manage_rights.buttonLabelAssignUsers}" >
                                <i class="icon-user icon-white"></i>
                            </a>

                        </td>
                    </tr>
                    </#list>
                </table>
        </div>
    </div>
</div>

