<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">#i18n{portal.features.external_features.manage_external_features.pageTitle}</h3>
                <div class="box-tools">
                    <form class="form-inline pull-right" method="post" name="create_external_feature" action="jsp/admin/features/CreateExternalFeature.jsp">
                        <@actionButtons button1Name="createExternalFeature" icon1="icon-plus icon-white" i18nValue1Key="portal.features.external_features.manage_external_features.create" offset=0 />
                    </form>
                </div>                
            </div>
            <div class="box-body">
                <@table>
                    <tr>
                        <th>#i18n{portal.features.external_features.manage_external_features.name}</th>
                        <th>#i18n{portal.features.external_features.manage_external_features.url}</th>
                        <th>#i18n{portal.features.external_features.manage_external_features.feature_group}</th>
                        <th>#i18n{portal.features.external_features.manage_external_features.actions}</th>
                    </tr>
                    <@tableHeadBodySeparator />
                    <#list external_features_list as external_feature >
                        <tr>
                            <td>
                                ${external_feature.name}
                            </td>
                            <td>
                                ${external_feature.url}
                            </td>
                            <td>
                                ${external_feature.featureGroup}
                            </td>                      
                            <td>
                                <a href="jsp/admin/features/ModifyExternalFeature.jsp?external_feature_id=${external_feature.id}"
                                   class="btn btn-primary btn-small" title="#i18n{portal.util.labelModify}">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a href="jsp/admin/features/RemoveExternalFeature.jsp?external_feature_id=${external_feature.id}"
                                   class="btn btn-danger btn-small" title="#i18n{portal.util.labelDelete}" >
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </#list>
                </@table>
            </div>
        </div>
    </div>
</div>