<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.features.manage_rights.pageTitle}'/>

        <@table headBody=true >
            <@tr>
                <@th>#i18n{portal.features.manage_rights.columnTitleName}
                    <@sort jsp_url="jsp/admin/features/ManageRights.jsp" attribute="name" />
                </@th>
                <@th>#i18n{portal.features.manage_rights.columnTitlePlugin}
                    <@sort jsp_url="jsp/admin/features/ManageRights.jsp" attribute="pluginName" />
                </@th>
                <@th>#i18n{portal.features.manage_rights.columnTitleDescription}
                    <@sort jsp_url="jsp/admin/features/ManageRights.jsp" attribute="description" /></@th>
                <@th>#i18n{portal.features.manage_rights.columnTitleLevel}
                    <@sort jsp_url="jsp/admin/features/ManageRights.jsp" attribute="level" /></@th>
                <@th>#i18n{portal.features.manage_rights.columnTitleActions}</@th>
            </@tr>
            <@tableHeadBodySeparator />
            <#list rights_list as right >
                <@tr>
                    <@td>${right.name}</@td>
                    <@td><span class="badge bg-secondary-lt"><#if (right.pluginName)?has_content>${right.pluginName}<#else>#i18n{portal.features.manage_rights.coreLabel}</#if></span></@td>
                    <@td>${right.description}</@td>
                    <@td>${right.level}</@td>
                    <@td>
                        <@aButton href='jsp/admin/features/AssignUsersRight.jsp?id_right=${right.id}' buttonIcon='user' color='primary' title='#i18n{portal.features.manage_rights.buttonLabelAssignUsers}' hideTitle=['all'] />
                    </@td>
                </@tr>
            </#list>
        </@table>
        <@paginationAdmin paginator=paginator combo=1 />
    </@pageColumn>
</@pageContainer>