<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
     <fieldset>
		<legend>#i18n{portal.features.manage_features.title}</legend>
		<ul class="nav nav-tabs">
            <li class="active">
                <a href="jsp/admin/features/ManageGroups.jsp">#i18n{portal.features.manage_features.groupManagement.label}</a>
            </li>
            <li>
                <a href="jsp/admin/features/DispatchFeatures.jsp" >
                    #i18n{portal.features.manage_features.featureDispatch.label}
                </a>
            </li>
        </ul>
    </div>
</div>

