<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">#i18n{portal.features.manage_features.title}</h3>
                <div class="box-tools"></div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="jsp/admin/features/ManageGroups.jsp">#i18n{portal.features.manage_features.groupManagement.label}</a>
                    </li>
                    <li>
                        <a href="jsp/admin/features/DispatchFeatures.jsp" >
                            #i18n{portal.features.manage_features.featureDispatch.label}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

