<div class="row">
    <div class="container">
        <div class="span6 offset2">
            <fieldset>
                <legend>#i18n{portal.mailinglist.add_users.title}</legend>
                <form class="form-horizontal" method="post"  action="jsp/admin/mailinglist/DoAddUsers.jsp">
                    <input type="hidden" name="id_mailinglist" value="${mailinglist.id}" />
                    <div class="control-group">
                        <label class="control-label" for="mailinglist_order" >#i18n{portal.mailinglist.add_users.labelWorkgroup}* : </label>
                        <div class="controls">

                            <@comboSorted name="workgroup" default_value="all" items=workgroups_list />

                        </div>
                        <div class="control-group">
                            <label class="control-label" for="mailinglist_order" >#i18n{portal.mailinglist.add_users.labelRole}* : </label>
                            <div class="controls">
                                <@comboSorted name="role" default_value="none" items=roles_list />
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit" >#i18n{portal.mailinglist.add_users.buttonAdd}</button>
                                <button class="btn btn-primary" onclick="javascript:history.go(-1)" >#i18n{portal.util.labelCancel}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>                        
        </div>
    </div>
</div>