<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">#i18n{portal.mailinglist.create_mailinglist.title}</h3>
				<div class="box-tools"></div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<form class="form-horizontal" role="form" method="post"  action="jsp/admin/mailinglist/DoCreateMailingList.jsp">
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="name" >#i18n{portal.mailinglist.create_mailinglist.labelName}*</label>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<input type="text" class="form-control" id="name" name="name" value="">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="description" >#i18n{portal.mailinglist.create_mailinglist.labelDescription}*</label>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<input type="text" class="form-control" id="description" name="description" value="">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-3" for="workgroup" >#i18n{portal.mailinglist.create_mailinglist.labelWorkgroup}*</label>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<@comboSortedWithParams name="workgroup" default_value="all" additionalParameters="class='form-control'" items=workgroups_list />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
							<button type="submit" class="btn btn-primary btn-flat">
								<i class="fa fa-check"></i>
								<span class="hidden-xs" >#i18n{portal.mailinglist.create_mailinglist.buttonCreate}</span>
							</button>
							<button type="button" class="btn btn-default btn-flat" onclick="javascript:window.history.go(-1);" name="cancel">
								<i class="fa fa-remove"></i>
								<span class="hidden-xs" >#i18n{portal.util.labelCancel}</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>
