<#--
-- Build the attribute for sorting table
-- @param filter the filter
-- @return the attributes used in the URL
-->
<#function buildSortSearchAttribute filter>
    <#assign sortSearchAttribute = "" />
    <#if filter??>
        <#if filter.name?? && filter.name != "">
            <#assign sortSearchAttribute = sortSearchAttribute + "&amp;name=" + filter.name! />
        </#if>
        <#if filter.description?? && filter.description != "">
            <#assign sortSearchAttribute = sortSearchAttribute + "&amp;description=" + filter.description! />
        </#if>
        <#if filter.workgroup?? && filter.workgroup != "">
            <#assign sortSearchAttribute = sortSearchAttribute + "&amp;workgroup=" + filter.workgroup! />
        </#if>
    </#if>
    <#return sortSearchAttribute + "&amp;session=sesssion" />
</#function>
<@pageContainer>
    <@pageColumn> 
        <@pageHeader title='#i18n{portal.mailinglist.manage_mailinglists.boxTitle}'>
            <@tform type='inline' align="middle" method='post' name='search_mailinglist' action='jsp/admin/mailinglist/ManageMailingLists.jsp'>
                <@formGroup labelKey='#i18n{portal.mailinglist.manage_mailinglists.labelName}' labelFor='name' hideLabel=['all'] groupStyle='inline' formStyle="inline" >
                    <@inputGroup>
                        <@input type='text' id='name' name='name' value='${mailinglistFilter.name!}' />
                        <@button type='submit' buttonIcon='search' title='#i18n{portal.mailinglist.manage_mailinglists.buttonSearch}' color='primary'  />
                    </@inputGroup>
                </@formGroup>
            </@tform>
            <@offcanvas targetUrl="jsp/admin/mailinglist/CreateMailingList.jsp" targetElement="#create-mailinglist-form" redirectForm=false id="template-create-mailinglist" title="#i18n{portal.mailinglist.create_mailinglist.title}" btnTitle="#i18n{portal.mailinglist.create_mailinglist.title}" btnIcon="plus" position="end" />
        </@pageHeader>
        <#if mailinglists_list?size gt 0>
            <#if mailinglists_list?size gt 5><@paginationAdmin paginator=paginator combo=0 showcount=1 /></#if>
            <@manageFeature>
            <#list mailinglists_list as mailinglist>
                <@manageFeatureItem>
                    <@manageFeatureItemColumn>
                        <@p>#i18n{portal.mailinglist.manage_mailinglists.columnTitleName}: <strong>${mailinglist.name}</strong></@p>
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn>
                        <@p>#i18n{portal.mailinglist.manage_mailinglists.columnTitleDescription}: <strong>${mailinglist.description}</strong></@p>
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn>
                        <@p>#i18n{portal.mailinglist.manage_mailinglists.columnTitleWorkgroup}: <strong>${mailinglist.workgroup}</strong></@p>
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn auto=true>
                        <@aButton href='jsp/admin/mailinglist/ModifyMailingList.jsp?id_mailinglist=${mailinglist.id}' buttonIcon='edit' title='#i18n{portal.mailinglist.modify_mailinglist.buttonModify}'  />
                        <@offcanvas targetUrl='jsp/admin/mailinglist/ViewUsers.jsp?id_mailinglist=${mailinglist.id}' targetElement='#mailinglist-users-table' redirectForm=false id='mailinglist-users-${mailinglist.name}' title='#i18n{portal.mailinglist.modify_mailinglist.linkLabelViewUsers} (${mailinglist.name?html})' btnTitle='#i18n{portal.mailinglist.modify_mailinglist.linkLabelViewUsers}' btnIcon='user' position='end' />
                        <@aButton href='jsp/admin/mailinglist/RemoveMailingList.jsp?id_mailinglist=${mailinglist.id}' buttonIcon='trash' title='#i18n{portal.mailinglist.modify_mailinglist.linkLabelRemove}' color='danger' />
                    </@manageFeatureItemColumn>
                </@manageFeatureItem>
            </#list>
            </@manageFeature>
        <#else>
            <@box>
                <@empty title='#i18n{portal.workgroup.assign_users.noAssignedList}' subtitle=' ' iconName='user-off' />
            </@box>
        </#if>
		<#if mailinglists_list?size gt 5><@paginationAdmin paginator=paginator combo=1 showcount=0 /></#if>
	</@pageColumn>
</@pageContainer>