<#--
-- Build the attribute for sorting table
-- @param filter the filter
-- @return the attributes used in the URL
-->
<#function buildSortSearchAttribute filter>
<#assign sortSearchAttribute = "" />
<#if filter??>
<#if filter.name?? && filter.name != "">
<#assign sortSearchAttribute = sortSearchAttribute + "&amp;name=" + filter.name! />
</#if>
<#if filter.description?? && filter.description != "">
<#assign sortSearchAttribute = sortSearchAttribute + "&amp;description=" + filter.description! />
</#if>
<#if filter.workgroup?? && filter.workgroup != "">
<#assign sortSearchAttribute = sortSearchAttribute + "&amp;workgroup=" + filter.workgroup! />
</#if>
</#if>
<#return sortSearchAttribute + "&amp;session=sesssion" />
</#function>
<@row>
	<@columns>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.mailinglist.manage_mailinglists.boxTitle}' boxTools=true skipHeader=true>
				<@tform type='inline' method='post' name='search_mailinglist' action='jsp/admin/mailinglist/ManageMailingLists.jsp'>
					<@formGroup labelKey='#i18n{portal.mailinglist.manage_mailinglists.labelName}' labelFor='name' hideLabel=['all'] groupStyle='addons' rows=2>
						<@inputGroup size='sm' class=''>
							<@input type='text' id='name' name='name' value='${mailinglistFilter.name!}' size='sm' />
							<@inputGroupItem>
								<@button type='submit' buttonIcon='search' title='#i18n{portal.mailinglist.manage_mailinglists.buttonSearch}' color='primary' size='sm' />
							</@inputGroupItem>
						</@inputGroup>
					</@formGroup>
					<@formGroup rows=2  formStyle=''> 
						<@aButton href='jsp/admin/mailinglist/CreateMailingList.jsp' class='btn btn-primary btn-sm ms-2'><@icon style='plus' /> #i18n{portal.mailinglist.manage_mailinglists.buttonLabelCreate} </@aButton>
					</@formGroup> 
				</@tform>
			</@boxHeader>
			<@boxBody>
			<#if mailinglists_list?size gt 0>
				<#assign sortSearchAttribute = buildSortSearchAttribute( mailinglistFilter! ) />
				<@table>
					<@tr>
						<@th><@span>#i18n{portal.mailinglist.manage_mailinglists.columnTitleName}</@span> <@sort jsp_url="jsp/admin/mailinglist/ManageMailingLists.jsp" attribute="name${sortSearchAttribute!}" /> </@th>
						<@th hide=['xs']><@span>#i18n{portal.mailinglist.manage_mailinglists.columnTitleDescription}</@span> <@sort jsp_url="jsp/admin/mailinglist/ManageMailingLists.jsp" attribute="description${sortSearchAttribute!}" /></@th>
						<@th hide=['xs']><@span>#i18n{portal.mailinglist.manage_mailinglists.columnTitleWorkgroup}</@span></@th>
						<@th><@span>#i18n{portal.mailinglist.manage_mailinglists.columnTitleActions}</@span></@th>
					</@tr>
					<@tableHeadBodySeparator />
					<#list mailinglists_list as mailinglist>
					<@tr>
						<@td>${mailinglist.name}</@td>
						<@td hide=['xs']>${mailinglist.description}</@td>
						<@td hide=['xs']>${mailinglist.workgroup}</@td>
						<@td>
							<@aButton href='jsp/admin/mailinglist/ModifyMailingList.jsp?id_mailinglist=${mailinglist.id}' buttonIcon='edit' size='sm' title='#i18n{portal.mailinglist.modify_mailinglist.buttonModify} (${mailinglist.name?html})' hideTitle=['all'] />
							<@aButton href='jsp/admin/mailinglist/ViewUsers.jsp?id_mailinglist=${mailinglist.id}' buttonIcon='user' size='sm' title='#i18n{portal.mailinglist.modify_mailinglist.linkLabelViewUsers} (${mailinglist.name?html})' hideTitle=['all'] />
							<@aButton href='jsp/admin/mailinglist/RemoveMailingList.jsp?id_mailinglist=${mailinglist.id}' buttonIcon='trash' size='sm' title='#i18n{portal.mailinglist.modify_mailinglist.linkLabelRemove} (${mailinglist.name?html})' hideTitle=['all'] color='danger' />
						</@td>
					</@tr>
				</#list>
				</@table>
				<@paginationAdmin paginator=paginator combo=1 />
			<#else>
				<@empty />
			</#if>
			</@boxBody>
		</@box>
	</@columns>
</@row>