<div class="row">
    <div class="container">
        <div class="span12">
            <fieldset>
                <legend>#i18n{portal.mailinglist.manage_mailinglists.boxTitle}
                    <span class="btn-group pull-right">
                        <form class="form-inline" method="post"  action="jsp/admin/mailinglist/CreateMailingList.jsp">
                            <button class="btn btn-primary pull-right" type="submit" >
                                <i class="icon-plus icon-white" ></i>
                                <span class="hidden-phone" >#i18n{portal.mailinglist.manage_mailinglists.buttonLabelCreate}</span>
                            </button>
                        </form>
                    </span>
                </legend>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th >#i18n{portal.mailinglist.manage_mailinglists.columnTitleName}</th>
                        <th >#i18n{portal.mailinglist.manage_mailinglists.columnTitleDescription}</th>
                        <th >#i18n{portal.mailinglist.manage_mailinglists.columnTitleWorkgroup}</th>
                        <th >#i18n{portal.mailinglist.manage_mailinglists.columnTitleActions}</th>
                    </tr>
                    <#list mailinglists_list as mailinglist>
                    <tr>
                        <td>${mailinglist.name}</a></td>
                        <td>${mailinglist.description}</td>
                        <td>${mailinglist.workgroup}</td>
                        <td>
                            <a class="btn btn-primary btn-mini" href="jsp/admin/mailinglist/ModifyMailingList.jsp?id_mailinglist=${mailinglist.id}"  title="#i18n{portal.mailinglist.modify_mailinglist.buttonModify}" ><i class="icon-edit icon-white"></i></a>
                            <a class="btn btn-primary btn-mini" href="jsp/admin/mailinglist/ViewUsers.jsp?id_mailinglist=${mailinglist.id}"  title="#i18n{portal.mailinglist.modify_mailinglist.linkLabelViewUsers}" ><i class="icon-user icon-white"></i></a>
                            <a class="btn btn-danger btn-mini" href="jsp/admin/mailinglist/RemoveMailingList.jsp?id_mailinglist=${mailinglist.id}"  title="#i18n{portal.mailinglist.modify_mailinglist.linkLabelRemove}" ><i class="icon-trash icon-white"></i></a>
                        </td>
                    </tr>
                    </#list>
                </table>
        </div>
    </div>
</div>