<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">#i18n{portal.mailinglist.modify_mailinglist.title}</h3>
      </div>
      <div class="box-body">
        <form method="post" class="form" action="jsp/admin/mailinglist/DoModifyMailingList.jsp">
          <input type="hidden" id="id_mailinglist" name="id_mailinglist" value="${mailinglist.id}" />
          <div class="form-group">
            <label for="name">#i18n{portal.mailinglist.modify_mailinglist.labelName}* </label>
            <input type="text" class="form-control" id="name" name="name" value="${mailinglist.name?html}">
          </div>
          <div class="form-group">
            <label for="description">#i18n{portal.mailinglist.modify_mailinglist.labelDescription}* </label>
            <input type="text" class="form-control" id="description" name="description" value="${mailinglist.description?html}">
          </div>
          <div class="form-group">
            <label for="workgroup">#i18n{portal.mailinglist.modify_mailinglist.labelWorkgroup}* </label>
            <@comboSortedWithParams name="workgroup" default_value="${mailinglist.workgroup}" additionalParameters=" class=\"form-control\"" items=workgroups_list />
          </div>
          <div class="form-group">
            <div class="text-center">
            <button class="btn btn-primary btn-flat" type="submit">
              <i class="fa fa-pencil"></i>&nbsp;#i18n{portal.mailinglist.modify_mailinglist.buttonModify}
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div class="box box-success">
      <div class="box-header">
        <div class="box-tools">
          <form class="form-inline pull-right spaced" method="get" action="jsp/admin/mailinglist/AddUsers.jsp">
          <input type="hidden" name="id_mailinglist" value="${mailinglist.id!}">
          <button class="btn btn-primary btn-xs btn-flat" type="submit"><i class="fa fa-plus"></i>
            <span class="hidden-xs">&nbsp;#i18n{portal.mailinglist.modify_mailinglist.buttonAddUsers}</span>
          </button>
          </form>
          <form class="form-inline pull-right" method="get" action="jsp/admin/mailinglist/ViewUsers.jsp">
            <input type="hidden" name="id_mailinglist" value="${mailinglist.id!}">
            <button class="btn btn-primary btn-xs btn-flat" type="submit">
              <i class="fa fa-eye"></i><span class="hidden-xs">&nbsp;#i18n{portal.mailinglist.modify_mailinglist.buttonViewUsers}</span>
            </button>
          </form>
        </div>
      </div>
      <div class="box-body">
        <h3>#i18n{portal.mailinglist.view_users.boxTitle}</h3>
        <table class="table table-striped table-hover">
          <tr>
            <th>#i18n{portal.mailinglist.modify_mailinglist.columnWorkgroup}</th>
            <th>#i18n{portal.mailinglist.modify_mailinglist.columnRole}</th>
            <th>#i18n{portal.mailinglist.modify_mailinglist.columnActions}</th>
          </tr>
          <#list mailinglist.filters as filter>
            <tr>
              <td>${filter.workgroup}</td>
              <td>${filter.role}</td>
              <td>
                <a class="btn btn-primary btn-xs btn-flat" href="jsp/admin/mailinglist/ViewUsers.jsp?workgroup=${filter.workgroup}&amp;role=${filter.role}" title="#i18n{portal.mailinglist.modify_mailinglist.linkLabelViewUsers}">
                  <i class="fa fa-eye"></i>
                </a>
                <a class="btn btn-danger btn-xs btn-flat" href="jsp/admin/mailinglist/DoDeleteFilter.jsp?id_mailinglist=${mailinglist.id}&amp;workgroup=${filter.workgroup}&amp;role=${filter.role}" title="#i18n{portal.mailinglist.modify_mailinglist.linkLabelRemove}">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </#list>
        </table>
      </div>
    </div>
  </div>
</div>
