<@row>
	<@columns sm=3 md=3 lg=3>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.mailinglist.modify_mailinglist.title}' />
			 <@boxBody>
				<@tform method='post' action='jsp/admin/mailinglist/DoModifyMailingList.jsp'>
					<@input type='hidden' id='id_mailinglist' name='id_mailinglist' value='${mailinglist.id}' />
					<@input type='hidden' name='token' value='${token}' />
					<@formGroup labelKey='#i18n{portal.mailinglist.modify_mailinglist.labelName}' labelFor='name' mandatory=true rows=2>
						<@input type='text' name='name' id='name' value='${mailinglist.name?html}' />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.mailinglist.modify_mailinglist.labelDescription}' labelFor='description' mandatory=true rows=2>
						<@input type='text' name='description' id='description' value='${mailinglist.description?html}' />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.mailinglist.modify_mailinglist.labelWorkgroup}' labelFor='workgroup' mandatory=true rows=2>
						<@select name='workgroup' id='workgroup' default_value='${mailinglist.workgroup}' items=workgroups_list sort=true />
					</@formGroup>
					<@formGroup rows=2>
						<@button type='submit' buttonIcon='edit' title='#i18n{portal.mailinglist.modify_mailinglist.buttonModify}' size=''  />
					</@formGroup>
				</@tform>
			</@boxBody>
        </@box>
    </@columns>
	<@columns sm=8 md=9 lg=9>
		<@box color='success'>
			<@boxHeader title='#i18n{portal.mailinglist.view_users.boxTitle}' boxTools=true>
				<@tform align='right' method='get' action='jsp/admin/mailinglist/AddUsers.jsp'>
					<@input type='hidden' name='id_mailinglist' value='${mailinglist.id!}' />
					<@button type='submit' buttonIcon='plus' title='#i18n{portal.mailinglist.modify_mailinglist.buttonAddUsers}' size='sm' hideTitle=['xs','sm'] />
				</@tform>
				<@tform align='right' method='get' action='jsp/admin/mailinglist/ViewUsers.jsp'>
					<@input type='hidden' name='id_mailinglist' value='${mailinglist.id!}' />
					<@button type='submit' buttonIcon='eye' title='#i18n{portal.mailinglist.modify_mailinglist.buttonViewUsers}' size='sm' hideTitle=['xs','sm'] />
				</@tform>
			</@boxHeader>
			<@boxBody>
				<@table>
					<tr>
						<th>#i18n{portal.mailinglist.modify_mailinglist.columnWorkgroup}</th>
						<th>#i18n{portal.mailinglist.modify_mailinglist.columnRole}</th>
						<th>#i18n{portal.mailinglist.modify_mailinglist.columnActions}</th>
					</tr>
					<#list mailinglist.filters as filter>
					<tr>
						<td>${filter.workgroup}</td>
						<td>${filter.role}</td>
						<td>
							<@tform method='post' action='jsp/admin/mailinglist/DoDeleteFilter.jsp'>
								<@input type='hidden' name='id_mailinglist' value='${mailinglist.id?html}' />
								<@input type='hidden' name='workgroup' value='${filter.workgroup?html}' />
								<@input type='hidden' name='role' value='${filter.role?html}' />
								<@input type='hidden' name='token' value='${token}' />
								<@aButton href='jsp/admin/mailinglist/ViewUsers.jsp?workgroup=${filter.workgroup}&amp;role=${filter.role}' buttonIcon='eye' title='#i18n{portal.mailinglist.modify_mailinglist.linkLabelViewUsers}' hideTitle=['all'] size='xs' />
								<@button type='submit' buttonIcon='trash' title='#i18n{portal.mailinglist.modify_mailinglist.linkLabelRemove}' hideTitle=['all'] color='danger' size='xs' />
							</@tform>
						</td>
					</tr>
					</#list>
				</@table>
			</@boxBody>
		</@box>
  </@columns>
</@row>