<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">
          #i18n{portal.style.create_stylesheet.title}
        </h3>
      </div>
      <div class="box-body">
        <form class="form-horizontal" method="post" action="jsp/admin/style/DoCreateStyleSheet.jsp" enctype="multipart/form-data" name="create_stylesheet">
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 col-md-3" for="stylesheet_name">#i18n{portal.style.create_stylesheet.labelName}&nbsp;:&nbsp;*</label>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <input class="form-control" type="text" id="stylesheet_name" name="stylesheet_name" maxlength="255">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 col-md-3" for="stylesheet_source">#i18n{portal.style.create_stylesheet.labelFilename}&nbsp;:&nbsp;*</label>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <input type="file" class="form-control" id="stylesheet_source" name="stylesheet_source">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 col-md-3" for="styles">#i18n{portal.style.create_stylesheet.labelStyle}&nbsp;:&nbsp;*</label>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <@comboSortedWithParams name="styles" default_value="0"  additionalParameters=" class=\"form-control\" " items=style_list />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 col-md-3" for="mode_stylesheet">#i18n{portal.style.create_stylesheet.labelMode}&nbsp;:&nbsp;*</label>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <@comboSortedWithParams name="mode_stylesheet" default_value="${mode_id}" additionalParameters=" class=\"form-control\" " items=mode_list />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
              <button class="btn btn-primary btn-flat" type="submit">
                <i class="fa fa-plus"></i>&nbsp;#i18n{portal.style.create_stylesheet.buttonCreate}
              </button>
              <a href="jsp/admin/style/ManageStyleSheets.jsp" class="btn btn-default btn-flat">
                <i class="fa fa-remove"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
