<@row>
	<@columns>
		<@box>
			<@boxHeader title='#i18n{portal.style.create_stylesheet.title}' skipHeader=true />
			<@boxBody>
				<@tform method='post' id="create-stylesheet-form" action='jsp/admin/style/DoCreateStyleSheet.jsp' params='enctype="multipart/form-data"' name='create_stylesheet' style="inline">
					<@input type='hidden' name='token' value='${token}' />
					<@formGroup labelKey='#i18n{portal.style.create_stylesheet.labelName}' labelFor='stylesheet_name' mandatory=true rows=2>
						<@input type='text' name='stylesheet_name' id='stylesheet_name' maxlength=255 />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.style.create_stylesheet.labelFilename}' labelFor='stylesheet_source' mandatory=true rows=2>
						<@input type='file' name='stylesheet_source' id='stylesheet_source' />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.style.create_stylesheet.labelStyle}' labelFor='styles' mandatory=true rows=2>
						<@select name='styles' default_value='0' items=style_list />
					</@formGroup>
					<@formGroup labelKey='#i18n{portal.style.create_stylesheet.labelMode}' labelFor='mode_stylesheet' mandatory=true rows=2>
						<@select name='mode_stylesheet' default_value='${mode_id}' items=mode_list sort=true />
					</@formGroup>
					<@formGroup rows=2>
						<@button type='submit' buttonIcon='plus' title='#i18n{portal.style.create_stylesheet.buttonCreate}' hideTitle=['xs'] color='primary' size='' />
						<@aButton href='jsp/admin/style/ManageStyleSheets.jsp' buttonIcon='times' title='#i18n{portal.admin.message.buttonCancel}' hideTitle=['xs'] size='' color='secondary' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>