<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.style.manage_stylesheets.title}' >
            <@tform method='post' type='inline' align='middle'>
                <@formGroup formStyle='inline' labelKey='#i18n{portal.style.manage_stylesheets.labelSortByMode}' labelFor='mode_id' hideLabel=['all'] groupStyle='addons'> 
                    <@inputGroup >
                        <@select name='mode_id' default_value='${mode_id}' items=mode_list  params='addons' />
                        <@button type='submit' buttonIcon='filter' title='#i18n{portal.util.labelFilter}' hideTitle=['all'] color='primary'  />
                    </@inputGroup>
                </@formGroup>
            </@tform>
            <@offcanvas targetUrl="jsp/admin/style/CreateStyleSheet.jsp?mode_id=${mode_id}" targetElement="#create-stylesheet-form" redirectForm=false id="stylesheet-create" title="#i18n{portal.style.manage_stylesheets.buttonAdd}" btnTitle="#i18n{portal.style.manage_stylesheets.buttonAdd}" btnIcon="plus" position="end" />
        </@pageHeader>
        <#if stylesheet_list?size gt 1>
            <@table headBody=true>
                <@tr>
                    <@th>#i18n{portal.style.manage_stylesheets.columnName} <@sort jsp_url="jsp/admin/style/ManageStyleSheets.jsp" attribute="description" /></@th>
                    <@th>#i18n{portal.style.manage_stylesheets.columnFilename} <@sort jsp_url="jsp/admin/style/ManageStyleSheets.jsp" attribute="file" /> </@th>
                    <@th>#i18n{portal.util.labelActions}</@th>
                </@tr>
                <@tableHeadBodySeparator />
                <#list stylesheet_list as stylesheet>
                <@tr>
                    <@td>${stylesheet.description}</@td>
                    <@td>${stylesheet.file}</@td>
                    <@td>
                        <@offcanvas targetUrl='jsp/admin/style/ModifyStyleSheet.jsp?stylesheet_id=${stylesheet.id}' targetElement='#modify-stylesheet-form' redirectForm=false id='stylesheet-${stylesheet.id}'
                            hideTitle=['all'] btnTitle='#i18n{portal.util.labelModify} ${stylesheet.description}' title='#i18n{portal.util.labelModify} ${stylesheet.description}' btnIcon='edit' btnSize='sm' position='end' />
                    </@td>
                </@tr>
                </#list>
            </@table>
        <#else>
            <@empty />
        </#if>
        <@paginationAdmin paginator=paginator combo=1 />
    </@pageColumn>
</@pageContainer>