<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.style.modify_stylesheet.title}' />
		<@div id="modify-stylesheet-form">
			<@tform method='post' action='jsp/admin/style/DoModifyStyleSheet.jsp' params='enctype="multipart/form-data"' name='modify_stylesheet'>
				<@input type='hidden' name='stylesheet_id' value='${stylesheet.id}' />
				<@input type='hidden' name='token' value='${token}' />
				<@formGroup labelKey='#i18n{portal.style.modify_stylesheet.labelName}' labelFor='stylesheet_name' mandatory=true rows=2>
					<@input type='text' name='stylesheet_name' id='stylesheet_name' value='${stylesheet.description?html}' maxlength=255 />
				</@formGroup>
				<@formGroup labelKey='#i18n{portal.style.modify_stylesheet.labelFilename}' labelFor='stylesheet_source' mandatory=true rows=2>
					<@inputGroup>
						<@input type='file' name='stylesheet_source' id='stylesheet_source' />
						<@inputGroupItem type='btn'>
							<@aButton href='ViewStyleSheetFile?stylesheet_id=${stylesheet.id}' buttonIcon='download me-1' title='#i18n{portal.style.modify_stylesheet.buttonView}' size='' color='info' hideTitle=['all'] />
						</@inputGroupItem>
					</@inputGroup>
				</@formGroup>
				<@formGroup labelKey='#i18n{portal.style.modify_stylesheet.labelStyle}' labelFor='styles' mandatory=true rows=2>
					<@select name='styles' default_value='${stylesheet.styleId}' items=style_list />
				</@formGroup>
				<@formGroup labelKey='#i18n{portal.style.modify_stylesheet.labelMode}' labelFor='mode_stylesheet' mandatory=true rows=2>
					<@select name='mode_stylesheet' default_value='${stylesheet.modeId}' items=mode_list />
				</@formGroup>
				<@formGroup rows=2>
					<@button type='submit' buttonIcon='check' title='#i18n{portal.style.modify_stylesheet.buttonModify}' hideTitle=['xs'] size='' color='primary'/>
					<@aButton href='jsp/admin/style/ManageStyleSheets.jsp' buttonIcon='times' title='#i18n{portal.admin.message.buttonCancel}' hideTitle=['xs'] size='' color='secondary' />
				</@formGroup>
			</@tform>
		</@div>
	</@pageColumn>
</@pageContainer>