<?xml version="1.0" encoding="UTF-8"?>
<document>
    <properties>
        <title>
            Lutèce : Guide de développement : Intégration Spring
        </title>
    </properties>
    <body>
        <section name="Intégration Spring">
            <subsection name="Principes d'utilisation du framework Spring">
                <p>
                    Le <a href="http://www.springframework.org">framework Spring</a> est utilisé pour ses fonctionnalités de
                    "conteneur léger" réalisant l'instanciation de beans déclarés 
                    dans un fichier XML. Ce dispositif appelé également <em>BeanFactory</em>
                    offre de nombreux avantages :
                </p>
                <p>
                    <ul>
                        <li>
                            Le code ne connait que le nom du bean et son interface.
                            Il est donc possible de modifier très facilement une implémentation par une autre 
                            sans modification du code appelant.
                        </li>    
                        <li>
                            Les objets sont instanciés par Spring et s'exécutent dans un
                            conteneur ce qui permet d'ajouter, de manière déclarative et
                            sans modification de code, des comportements gérés par le conteneur 
                            (ex: support transactionnel, <em>intercepteurs</em>, ...)
                        </li>
                        <li>
                            Le mode d'instanciation des beans met en oeuvre le design pattern
                            <em>"Inversion of Control"</em>, aussi désigné par le sigle <em>(IoC)</em>.
                            Ceci confère à un objet la responsabilité 
                            de charger et vérifier ses dépendances. Ce mécanisme permet de faire
                            notamment de l'<em>injection de dépendances</em>
                        </li>
                    </ul>
                </p>
                <p>
                    Pour plus d'informations sur ces sujets, reportez-vous à la documention de 
                    <a href="http://www.springframework.org/documentation">Spring</a>.
                </p>
            </subsection>
            <subsection name="Mise en oeuvre">
                <p>
                    La mise en oeuvre de Spring dans Lutece repose sur le service
                    <code>SpringContextService</code> qui a pour objet de fournir
                    les objets définis dans un <em>context</em> donné (au sens Spring du terme).
                    Lutece prévoit un context pour le noyau et pour chaque plugin. Le fichier XML
                    du context décrivant les <em>beans</em> doit respecter les règles
                    suivantes concernant son emplacement et son nom afin d'être automatiquement
                    chargé par le service <code>SpringContextService</code>.
                 </p>
                 <p>
                    <table>
                        <tr>
                            <th>Context</th>
                            <th>Fichier</th>
                        </tr>
                        <tr>
                            <td>Noyau</td>
                            <td>/WEB-INF/conf/core_context.xml</td>
                        </tr>
                        <tr>
                            <td>Plugin</td>
                            <td>/WEB-INF/conf/plugins/&lt;<em>plugin</em>&gt;_context.xml</td>
                        </tr>
                     </table>
                </p>
                <p>
                    <div class="source">
                        <pre>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"&gt;

&lt;beans&gt;

    &lt;bean id="pollDAO"  class="fr.paris.lutece.plugins.poll.business.PollDAO" /&gt;
    &lt;bean id="pollQuestionDAO"  class="fr.paris.lutece.plugins.poll.business.PollQuestionDAO" /&gt;
    &lt;bean id="pollChoiceDAO"  class="fr.paris.lutece.plugins.poll.business.PollChoiceDAO" /&gt;

&lt;/beans&gt;
                        </pre>
                    </div>
                </p>
                <p>
                    L'instanciation des beans dans le code se fait à l'aide des méthodes getBean ou 
                    getPluginBean selon le context dans lequel se trouve le composant. 
                </p>
                <p>
                    <div class="source">
                        <pre>
// Instanciation via Spring d'un object DAO déclaré dans le fichier poll_context.xml                
private static IPollDAO _dao = (IPollDAO) SpringContextService.getPluginBean( "poll" , "pollDAO");
                       </pre>
                    </div>
                </p>
                <p>
                    L'implémentation du bean "pollDAO" déclaré dans le fichier XML peut être remplacée 
                    par une autre sans remise en cause du code. Ceci confère à Lutece une très grande 
                    souplesse d'évolution et de personalisation.
                </p>
            </subsection>
        </section>
    </body>
</document>
