/* ********** */
/* Sliders    */
/* ********** */
/* Home Card  */
.theme-slider {
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
	gap: 1rem
}

.theme-slider::-webkit-scrollbar {
	display: none;
}

.theme-slider-wrapper .slider-buttons .prev-slide,
.theme-slider-wrapper .slider-buttons .next-slide {
	cursor: pointer;
	padding: 15px;
}

.theme-slider-wrapper .slider-buttons .next-slide.disabled,
.theme-slider-wrapper .slider-buttons .prev-slide.disabled {
	cursor: auto;
}

.theme-slider-wrapper .prev-slide,
.theme-slider-wrapper .next-slide {
	color: var(--main-info-color);
}

.theme-slider-wrapper .prev-slide:disabled, 
.theme-slider-wrapper .prev-slide:hover:disabled, 
.theme-slider-wrapper .prev-slide:focus:disabled, 
.theme-slider-wrapper .next-slide:disabled, 
.theme-slider-wrapper .next-slide:hover:disabled, 
.theme-slider-wrapper .next-slide:focus:disabled {
	color: var(--blue-dark-color) !important;
}

.theme-slider-wrapper .prev-slide, 
.theme-slider-wrapper .prev-slide:disabled, 
.theme-slider-wrapper .prev-slide:disabled:hover, 
.theme-slider-wrapper .prev-slide:disabled:focus, 
.theme-slider-wrapper .next-slide, 
.theme-slider-wrapper .next-slide:disabled, 
.theme-slider-wrapper .next-slide:disabled:hover, 
.theme-slider-wrapper .next-slide:disabled:focus {
	background-color: var(--white-light-color) !important;
}

.theme-slider-wrapper .prev-slide:hover, 
.theme-slider-wrapper .prev-slide:focus, 
.theme-slider-wrapper .next-slide:hover, 
.theme-slider-wrapper .next-slide:focus {
	background-color: var(--main-info-color) !important;
	box-shadow: none;
	color: var(--white-color);
}  

.theme-slider-wrapper .prev-slide .paris-icon, 
.theme-slider-wrapper .next-slide .paris-icon {
	color: inherit !important;
	background: none !important;
}