/*** 										***/
/*** Steps								    ***/
/***  										***/
.steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--lutece-ds-spacing-lg);
    margin: 0 auto;
    max-width: 920px;
    list-style-type: none;
}

.steps .step {
    text-align: center;
}

.steps .step  .step__num {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: var(--lutece-ds-font-size-xl);
    font-weight: 900;
    border: 2px solid;
    margin: 0 auto  var(--lutece-ds-spacing-base);
    background: var(--lutece-ds-color-white);
}

.steps .step h3 {
    font-size: var(--lutece-ds-font-size-2xl);
    font-weight: 800;
    margin-bottom: var(--lutece-ds-spacing-base);
}

.steps .step p {
    font-size: var(--lutece-ds-font-size-base);
}

[data-bs-theme=dark] .steps .step__num {
    background: #0E3968;
    color: #fff;
}

@media (max-width: 767.98px) {
    .steps {
        display: block;
    }
}