.custom-tooltip {
  --bs-tooltip-bg: var(--main-info-color);
  --bs-tooltip-border-radius: 0;
  --bs-tooltip-opacity: 1;
}

.custom-tooltip.secondary {
	--bs-tooltip-bg: var(--main-info-color-light);
	--bs-tooltip-color: var(--main-info-color);
}

.tooltip-inner {
	font-size: var(--font-m);
}