<div class="container-fluid">
	<div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                    <a href="jsp/site/Portal.jsp" title="#i18n{portal.users.admin_header.title.viewSite} " target="_blank" class="navbar-brand">
                        &nbsp;<img src="images/logo-header.png" class="logo" alt="logo" title="" /> &nbsp;
                    </a>
                    <div class="nav-collapse">
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div>
	<div class="row-fluid">
		<div class="span12">
			<div class="alert alert-warning">
				<h2>#i18n{portal.admin.admin_form_contact.boxTitle}</h2>
				#i18n{portal.admin.message.admin_form_contact.sendingError}
			</div>
		</div>
    </div>
	<div class="row-fluid">
		<div class="span10">
        <fieldset>
			<legend><i class="icon-lock"></i> #i18n{portal.admin.admin_form_contact.lostInfos}</legend>
			<form method="post" name="form_contact" id="form_contact" action="jsp/admin/DoAdminFormContact.jsp" class="form-horizontal" >
			<div class="control-group">
			<label for="message_contact" class="control-label">#i18n{portal.admin.admin_form_contact.messageContactLabel} * </label>
				<div class="controls">
					<textarea rows="5" class="span8" name="message_contact" id="message_contact" tabindex="1" required="required"></textarea>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary btn-small" type="submit" tabindex="2">
					<i class="icon-envelope icon-white"></i>&nbsp;#i18n{portal.admin.admin_form_contact.buttonSubmit} 
				</button>
			</div>
			</form>
        </fieldset>
		</div>
	</div>
</div>
