<#assign boxTitle>
#i18n{portal.admin.admin_forgot_password.boxTitle}
</#assign>
<@adminLoginPage title=boxTitle>
	<@row>
		<@columns>
			<@tform name='forgot_password' id='forgot_password' action='jsp/admin/DoAdminForgotPassword.jsp'>
				<#list params_list as param><input type="hidden" name="${param.code}" value="${param.name}"></#list>
						<@formGroup labelFor='access_code' labelKey='#i18n{portal.admin.admin_forgot_password.loginLabel}' showLabel=false rows=2>
							<@inputGroup>
								<@inputGroupItem type='addon'><@icon style='user' /></@inputGroupItem>
								<@input type='text' name='access_code' params='autofocus' placeHolder='#i18n{portal.admin.admin_forgot_password.loginLabel}' />
							</@inputGroup>
						</@formGroup>
						<@formGroup class='text-center' rows=2>
							<@button type='submit' title='#i18n{portal.admin.admin_forgot_password.buttonSubmit}' buttonIcon='check' size='' />
							<@aButton href='jsp/admin/AdminLogin.jsp' title='#i18n{portal.admin.message.buttonCancel}' buttonIcon='close' size='' color='btn-secondary' />
						</@formGroup>
						<div class="text-center">
							<p>#i18n{portal.admin.admin_forgot_password.text}</p>
							<p>
								<@aButton href='http://fr.lutece.paris.fr' params='target="_blank"' title='#i18n{portal.site.portal_footer.labelPortal}' showTitle=false color='btn-secondary' size=''>
									<img src="images/poweredby.jpg" class="thumbnails" alt="logo lutece" title="Lutece">
								</@aButton>
							</p>
					</div>
			</@tform>
		</@columns>
	</@row>
</@adminLoginPage>
