<html>
    <head>
        <title>#i18n{portal.admin.admin_login.title}</title>
    </head>

    <body>
<div id="admin-header" class="header-box">
    <div id="admin-main-menu" >       
     <div class="admin-main-menu-text">
            version : ${version}
     </div>  
     <br /><br />
    </div> 
</div>
    <div id="login-zone">
        <div class="content-box">
            <h2>#i18n{portal.admin.admin_login.boxTitle}</h2>
                <p>
                    <img src="images/admin/skin/login.png" hspace="3" vspace="5" align="left" />
		</p>
		<p>
                    #i18n{portal.admin.admin_login.welcome} 
		</p>
		<p>
                    #i18n{portal.admin.admin_login.helpText}						
		</p>
                 <form method="post" name="login" id="login" action="jsp/admin/DoAdminLogin.jsp" >
                <p class="login">
                    <label for="access_code" >#i18n{portal.admin.admin_login.loginLabel} :</label>
                    <input type="text" name="access_code" id="access_code" AUTOCOMPLETE="off" tabindex="1" />
                </p>
		<p class="login">
                    <label for="password" >#i18n{portal.admin.admin_login.passwordLabel} :</label>
		    <input type="password" name="password" id="password" AUTOCOMPLETE="off"  tabindex="2" /> <a href="${forgot_password_url?if_exists}">#i18n{portal.admin.admin_login.forgotPassword}</a>
                </p>
		<#list params_list as param>
			<input type="hidden" name="${param.code}" value="${param.name}">
		</#list>
		                    
                <p>
                    <input class="button" type="submit" value="#i18n{portal.admin.admin_login.buttonConnect}" tabindex="3">
                </p>
                </form>
        </div>
	        <p>
                    <span style="float:right;margin-top:-1em;">
                          <a href="http://fr.lutece.paris.fr" target="_blank" ><img  alt="Powered By Lutece" title="Powered By Lutece" src="images/local/skin/poweredby.jpg" /></a>
                    </span>
                    <span style="float:left;font-size:xx-small;font-style:italic;margin-top:-1em;">
                        #i18n{portal.admin.admin_login.optimizeLabel} <br />
                        <a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=219"  target="_blank">
                            <img border="0" alt="Firefox 2" title="Firefox 2" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox2/ff2b80x15.gif"/>                           
                        </a>                   
                    </span>
	        </p>
    </div>
  
    <script language="JavaScript">
        window.onload = document.forms['login'].access_code.focus;
    </script>

    </body>
</html>