<div class="form-box margin" id="forgot-login-box">
    <div class="header bg-blue">
		<h3>#i18n{portal.admin.admin_forgot_login.text}</h3>
	</div>
	<form method="post" name="forgot_login" id="forgot_login" action="jsp/admin/DoAdminForgotLogin.jsp" class="form-horizontal" role="form">
		<div class="body bg-gray">
			<#list params_list as param>
				<input type="hidden" name="${param.code}" value="${param.name}">
			</#list>
           <div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-envelope"></span></div>
						<label for="email" class="sr-only" >#i18n{portal.admin.admin_forgot_login.emailLabel} * </label>
						<input type="text" class="form-control" placeholder="#i18n{portal.admin.admin_forgot_login.emailLabel} *" name="email" id="email" autocomplete="off" required>
					</div>
		    </div>
        </div>
		<div class="footer">                                                               
			<div class="text-center">
				<p>
					<button class="btn btn-primary btn-flat" type="submit" name="Submit"><i class="fa fa-check"></i>&nbsp;#i18n{portal.admin.admin_forgot_password.buttonSubmit}</button>
                    <a class="btn btn-default btn-flat" href="jsp/admin/AdminLogin.jsp" name="cancel">
						<i class="fa fa-remove"></i>&nbsp;#i18n{portal.admin.message.buttonCancel}
					</a>
				</p>
				<p>
					<a class="btn btn-default btn-flat" href="http://fr.lutece.paris.fr" target="_blank" title="#i18n{portal.site.portal_footer.labelPortal}">
						<img src="images/poweredby.jpg" class="thumbnails" alt="logo lutece" title="Lutece">
					</a>
				</p>
			</div>
		</div>
	</form>
</div>	