<#assign boxTitle>#i18n{portal.admin.admin_reset_password.text}</#assign>
<@adminLoginPage title=boxTitle site_name=site_name>
	<@row>
		<@columns>
			<@tform name='reset_password' id='reset_password' action='jsp/admin/DoAdminResetPassword.jsp'>
				<#list params_list as param><@input type='hidden' name='${param.code}' value='${param.name}' /></#list>
				<@formGroup labelFor='new_password' labelKey='${i18n("portal.users.modify_password_default_module.form.password.new")}' helpKey='#i18n{portal.admin.admin_reset_password.text}' mandatory=true rows=2>
					<@inputGroup>
						<@inputGroupItem type='text'><@icon style='lock'/></@inputGroupItem>
						<@input type='password' name='new_password' id='new_password' placeHolder='${i18n("portal.users.modify_password_default_module.form.password.new")}' />
					</@inputGroup>
				</@formGroup>
				<@formGroup labelFor='confirm_new_password' labelKey='${i18n("portal.users.modify_password_default_module.form.password.confirm")}' helpKey='#i18n{portal.admin.admin_reset_password.text}' mandatory=true rows=2>
					<@inputGroup>
						<@inputGroupItem type='text'><@icon style='lock'/></@inputGroupItem>
						<@input type='password' name='confirm_new_password' id='confirm_new_password' placeHolder='${i18n("portal.users.modify_password_default_module.form.password.confirm")}' />
					</@inputGroup>
				</@formGroup>
				<@formGroup labelKey='${i18n("portal.users.create_user.passwordComplexity")}' rows=2>
					<@progressBar />
				</@formGroup>
				<@formGroup class='text-center' rows=2>
					<@button type='submit' buttonIcon='check' title='#i18n{portal.admin.admin_reset_password.buttonSubmit}' size='' />
					<@aButton href='jsp/admin/AdminLogin.jsp' buttonIcon='close' title='#i18n{portal.admin.message.buttonCancel}' size='' color='secondary' />
				</@formGroup>
				<@formGroup class='text-center' rows=2>
        			<p>
        				<@aButton href='http://fr.lutece.paris.fr' params='target="_blank"' title='#i18n{portal.site.portal_footer.labelPortal}' hideTitle=['all'] color='secondary'>
        					<img src="images/poweredby.png" class="thumbnails" alt="logo lutece" title="Lutece">
        				</@aButton>
        			</p>
				</@formGroup>
			</@tform>
		</@columns>
	</@row>
</@adminLoginPage>
<script src="js/admin/jquery/plugins/jquery.complexify.js"></script>
<script>
	$( function(){
		$("#status").parent().removeClass("hidden");
		$("#new_password").complexify({}, function (valid, complexity) {
			if (!valid) {
				$('#progressbar').css({'width':complexity + '%'}).removeClass('progress-bar progress-bar-success').addClass('progress-bar progress-bar-danger');
			} else {
				$('#progressbar').css({'width':complexity + '%'}).removeClass('progress-bar progress-bar-danger').addClass('progress-bar progress-bar-success');
				}
			$('#complexity').html(Math.round(complexity) + '%');
		});
	});
</script>
