<html>
<head>
<title>#i18n{portal.admin.admin_login.title}</title>
</head>
<body onLoad="document.login.access_code.focus();">
<!--[if lt IE 8]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Vous utilisez un navigateur d&eacute;pass&eacute; !</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Pour une meilleure exp&eacute;rience web, prenez le temps de mettre votre navigateur &agrave; jour.</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://fr.www.mozilla.com/fr/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/downloads/details.aspx?FamilyID=341c2ad5-8c3d-4347-8c03-08cdecd8852b&DisplayLang=fr' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/fr/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome?hl=fr' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->
<div id="wrapper">
<div id="admin-header">
<p id="admin-header-toolbar">
    <img  id="logo" src="images/logo-header.png" alt="" title="" />
    <a href="jsp/admin/AdminLogin.jsp" title=""><img src="images/admin/skin/login.png" />&nbsp;</a>
  </p>
<div id="admin-header-main">
<div id="admin-header-sitename">${site_name}</div>
</div>
</div>
<div id="login-zone">
  <div class="content-box">
            <h2><img style="float:right;padding:0 5px;" src="images/admin/skin/login.png" alt="" title="" />#i18n{portal.admin.admin_login.boxTitle}</h2>
                <p>
                    <!-- img src="images/admin/skin/login.png" hspace="3" vspace="5" align="left" / -->
		</p>
		<p>
                    #i18n{portal.admin.admin_login.welcome} 
		</p>
		<p>
                    #i18n{portal.admin.admin_login.helpText}						
		</p>
                 <form method="post" name="login" id="login" action="jsp/admin/DoAdminLogin.jsp" >
                <p class="login">
                    <label for="access_code" >#i18n{portal.admin.admin_login.loginLabel} :</label>
                    <input type="text" name="access_code" id="access_code" AUTOCOMPLETE="off" tabindex="1" />
                </p>
		<p class="login">
                    <label for="password" >#i18n{portal.admin.admin_login.passwordLabel} :</label>
		    <input type="password" name="password" id="password" AUTOCOMPLETE="off"  tabindex="2" />

                </p>
                <#list params_list as param>
			<input type="hidden" name="${param.code}" value="${param.name}">
		</#list>
		                    
                <p style="margin:0 0 0 32%;">
                    <input class="button" type="submit" value="#i18n{portal.admin.admin_login.buttonConnect}" tabindex="3"> 
                </p>
                </form>
        </div>
    <p><a href="${forgot_password_url?if_exists}">#i18n{portal.admin.admin_login.forgotPassword}</a></p>
    </div>
</div>