<html>
    <head>
    <title>#i18n{portal.admin.admin_forgot_password.email.title}</title>
    </head>
    <body>
    <#if site_link?has_content>
		<h2>${site_link}</h2>
	</#if>
    #i18n{portal.admin.admin_forgot_password.email.textResetPassword}<br />
    ----------------------------------------------------------<br />
    #i18n{portal.admin.admin_forgot_password.email.textNewPassword} : ${new_password}<br />
    ----------------------------------------------------------<br />
    #i18n{portal.admin.admin_forgot_password.email.textChangePassword} :<br />
    <a href="${login_url}">${login_url}</a>
    </body>
</html>

