<div id="login-page">
<img src="images/logo-header.png" id="logoLogin" title="LUTECE Back-Office" alt="LUTECE Back-Office">
  <div class="login-box">
		<div class="login-logo bg-primary">
			<a href="jsp/site/Portal.jsp" title="${site_name}">#i18n{portal.admin.admin_login.welcome}<br> <b>${site_name}</b></a>
		</div>
		<div class="login-box-body">
			<div class="login-box-header">
				<p class="text-center">#i18n{portal.admin.admin_reset_password.text}</p>
			</div>
			<@row>
				<@columns>
					<@tform name='reset_password' id='reset_password' action='jsp/admin/DoAdminResetPassword.jsp'>
						<#list params_list as param><input type="hidden" name="${param.code}" value="${param.name}"></#list>
						<@formGroup labelFor='new_password' labelKey='${i18n("portal.users.modify_password_default_module.form.password.new")}' helpKey='#i18n{portal.admin.admin_reset_password.text}' mandatory=true rows=2>
							<@inputGroup>
								<@inputGroupItem type='addon'><i class="glyphicon glyphicon-lock"></i></@inputGroupItem>
								<@input type='password' name='new_password' id='new_password' placeHolder='${i18n("portal.users.modify_password_default_module.form.password.new")}' />
							</@inputGroup>
						</@formGroup>
						<@formGroup labelFor='confirm_new_password' labelKey='${i18n("portal.users.modify_password_default_module.form.password.confirm")}' helpKey='#i18n{portal.admin.admin_reset_password.text}' mandatory=true rows=2>
              <@inputGroup>
								<@inputGroupItem type='addon'><i class="glyphicon glyphicon-lock"></i></@inputGroupItem>
								<@input type='password' name='confirm_new_password' id='confirm_new_password' placeHolder='${i18n("portal.users.modify_password_default_module.form.password.confirm")}' />
							</@inputGroup>
						</@formGroup>
						<@formGroup labelKey='${i18n("portal.users.create_user.passwordComplexity")}' rows=2>
							<@progressBar />
						</@formGroup>
						<@formGroup class='text-center' rows=2>
							<@button type='submit' buttonIcon='check' title='#i18n{portal.admin.admin_reset_password.buttonSubmit}' size='' />
							<@aButton href='jsp/admin/AdminLogin.jsp' buttonIcon='close' title='#i18n{portal.admin.message.buttonCancel}' size='' color='secondary' />
						</@formGroup>
						<@formGroup class='text-center' rows=2>
        			<p>
        				<@aButton href='http://fr.lutece.paris.fr' params='target="_blank"' title='#i18n{portal.site.portal_footer.labelPortal}' showTitle=false color='secondary'>
        					<img src="images/poweredby.jpg" class="thumbnails" alt="logo lutece" title="Lutece">
        				</@aButton>
        			</p>
						</@formGroup>
			</@tform>
		</@columns>
	</@row>
</div>
<script src="js/jquery.complexify.js"></script>
<script>
$(document).ready(function(){
	$("#status").parent().removeClass("hidden");
	$("#new_password").complexify({}, function (valid, complexity) {
		if (!valid) {
			$('#progressbar').css({'width':complexity + '%'}).removeClass('progress-bar progress-bar-success').addClass('progress-bar progress-bar-danger');
		} else {
			$('#progressbar').css({'width':complexity + '%'}).removeClass('progress-bar progress-bar-danger').addClass('progress-bar progress-bar-success');
			}
		$('#complexity').html(Math.round(complexity) + '%');
	});
});
</script>
<script>
$(function() {
  var randomImages = [#dskey{portal.site.site_property.back_images}];
  var rndNum = Math.floor(Math.random()*(randomImages.length));
  var bgImg = 'url(' + randomImages[rndNum] + ')';
  $("#login-page").css('background-image', bgImg );
});
</script>
