<html>
    <head>
    <title>#i18n{portal.admin.admin_forgot_password.email.title}</title>
    </head>
    <body>
    <#if site_link?has_content>
		<h2>${site_link}</h2>
	</#if>
    <p>${i18n("portal.admin.admin_forgot_password.email.textResetPassword",reset_password_validity)}</p>
    <#if lock_reset_token_to_session>
    <p>#i18n{portal.admin.admin_forgot_password.email.textResetPasswordTokenLockedToSession}</p>
    </#if>
    <#assign link="${login_url}?user_id=${user_id}&amp;ts=${timestamp}&amp;token=${token}" />
	<p><a href="${link}">${link}</a></p>
    </body>
</html>

