<html>
    <head>
        <title>#i18n{portal.admin.admin_forgot_password.title}</title>
    </head>
    <body>
        <div id="wrapper">
        <div id="admin-header">
<p id="admin-header-toolbar">
    <img  id="logo" src="images/logo-header.png" alt="" title="" />
    <a href="jsp/admin/AdminLogin.jsp" title=""><img src="images/admin/skin/login.png" alt="" title="" />&nbsp;</a>
  </p>
   <div id="admin-header-main">
       <div id="admin-header-sitename">&nbsp; <!-- Add Sitename --></div>
    </div>
</div>
            <div id="login-zone">
                <div class="content-box">
                    <h2>#i18n{portal.admin.admin_forgot_password.boxTitle}</h2>
                    <p>
		            #i18n{portal.admin.admin_forgot_password.text}
                    </p>
                    <form method="post" name="forgot_password" id="forgot_password" action="jsp/admin/DoAdminForgotPassword.jsp" >
                        <p class="login">
                            <label for="access_code" >#i18n{portal.admin.admin_forgot_password.loginLabel} * :</label>
                            <input type="text" name="access_code" id="access_code" AUTOCOMPLETE="off" tabindex="1" />
                        </p>
                        <#list params_list as param>
                        <input type="hidden" name="${param.code}" value="${param.name}" />
                        </#list>
                        <p>
                            <input class="button" type="submit" value="#i18n{portal.admin.admin_forgot_password.buttonSubmit}" tabindex="2" />
                            <input class="button" type="button" onclick="javascript:history.go(-1)" value="#i18n{portal.admin.message.buttonCancel}" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
       
        <script language="javaScript">window.onload = document.forms['forgot_password'].access_code.focus;</script>
    