<div class="form-box margin" id="reset-password-box">
    <div class="header bg-blue">
		<h3>${i18n("portal.admin.admin_reset_password.text")}</h3>
	</div>	
	<form method="post" name="reset_password" id="reset_password" action="jsp/admin/DoAdminResetPassword.jsp" class="form-horizontal" role="form">
		<input type="hidden" name="user_id" value="${user_id!}">
		<input type="hidden" name="ts" value="${ts!}">
		<input type="hidden" name="token" value="${token!}">
		<div class="body bg-gray">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 control-group" for="new_password">${i18n("portal.users.modify_password_default_module.form.password.new")} *</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" class="form-control" name="new_password" id="new_password" required="required" placeholder='${i18n("portal.users.modify_password_default_module.form.password.new")}'>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs12 col-sm-3 control-group" for="confirm_new_password">${i18n("portal.users.modify_password_default_module.form.password.confirm")} *</label>
				<div class="col-xs-12 col-sm-9">
					<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" required="required" placeholder='${i18n("portal.users.modify_password_default_module.form.password.confirm")}' />
					</div>
				</div>
			</div>
			<div class="form-group hidden">
				<label id="status" class="control-label col-xs-12 col-sm-3 control-group" for="">
					${i18n("portal.users.create_user.passwordComplexity")}
				</label>
				<div class="control-label col-xs-12 col-sm-9">
					<div class="progress">
						<div id="progressbar" class="progress-bar progress-bar-striped" role="progressbar">
							<div id="progress"><div id="complexity">0%</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="text-center">
				<p>
					<button type="submit" class="btn btn-primary btn-flat">
						<span class="fa fa-check"></span> ${i18n("portal.admin.admin_reset_password.buttonSubmit")}
					</button>  
					<a href="jsp/admin/AdminLogin.jsp" class="btn btn-default btn-flat" title="#i18n{portal.admin.message.buttonCancel}">
						<span class="fa fa-remove"></span> ${i18n("portal.admin.message.buttonCancel")}
					</a>
				</p>
				<p>
					<a class="btn btn-default btn-flat" href="http://fr.lutece.paris.fr" target="_blank" title="#i18n{portal.site.portal_footer.labelPortal}">
						<img src="images/poweredby.jpg" class="thumbnails" alt="logo lutece" title="Lutece">
					</a>
				</p>
			</div>
		</div>
	</form>
</div>
<script src="js/jquery.complexify.js"></script>
<script>
$(document).ready(function(){
	$("#status").parent().removeClass("hidden");
	$("#new_password").complexify({}, function (valid, complexity) {
		if (!valid) {
			$('#progressbar').css({'width':complexity + '%'}).removeClass('progress-bar progress-bar-success').addClass('progress-bar progress-bar-danger');
		} else {
			$('#progressbar').css({'width':complexity + '%'}).removeClass('progress-bar progress-bar-danger').addClass('progress-bar progress-bar-success');
			}
		$('#complexity').html(Math.round(complexity) + '%');
	});
});
</script>