        </div>
    </main>
    <!-- footer -->
    <footer>
    	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<form class="form-inline mx-5 mx-md-0 mb-3 mb-md-0" action="jsp/site/Portal.jsp" method="get">
					<input name="page" type="hidden" value="search">
					<div class="input-group">
						<input id="query" class="form-control input-lg" name="query" type="text" placeholder="Rechercher">
						<button type="submit" class="btn btn-light btn-lg" title="Rechercher">
							<@icon style="search"/> <span class="visually-hidden">Rechercher</span>
						</button>
					</div>
				</form>
			</div>
			<div class="col-md-4 ps-5">
				<h3 class="ms-5">Informations</h3>
				<ul class="list-unstyled ms-5">
					<li><a href="#home" class="page-scroll text-capitalize">accueil</a></li>
					<li><a href="jsp/site/Portal.jsp?page=map" data-bs-info="Plan du site" data-bs-toggle="modal" data-bs-target="#lutece-modal">Plan du site</a></li>
					<li><a href="jsp/site/PopupCredits.jsp" data-bs-info="Crédits" data-bs-toggle="modal" data-bs-target="#lutece-modal" title="[Nouvelle fenêtre] Crédits" target="info_credit">Crédits</a></li>
					<li><a href="jsp/site/PopupLegalInfo.jsp" data-bs-info="Informations légales" data-bs-toggle="modal" data-bs-target="#lutece-modal" title="[Nouvelle fenêtre] Informations légales" target="info_legal">Informations légales</a></li>
				</ul>	
			</div>
			<div class="col-md-6 col-lg-4 text-sm-center text-md-end">
				<strong>Follow us : </strong>
				<a href="https://www.linkedin.com/groups/Lutece-3925974" target="_blank" title="Follow us on Linkedin [Open in new window]"><img src="images/local/skin/linkedin.jpg" alt="Nous suivre sur Linkedin" class="social-pics"></a>
				<a href="https://twitter.com/lutecenews" target="_blank" title="Follow us on Twitter [Open in new window]"><img src="images/local/skin/Twitter_logo_white.png" alt="Nous suivre sur Twitter" class="social-pics"></a>
				<a href="https://www.openhub.net/p/lutece" target="_blank" title="Follow us on openHub [Open in new window]"><img src="images/local/skin/OH_logo.png" alt="Nous suivre sur openHub" class="social-pics"></a>
				<a href="https://github.com/lutece-platform" target="_blank" title="Follow us on GitHub [Open in new window]"><img src="images/local/skin/GitHub-white-Mark-v02.png" alt="Nous suivre sur GitHub" class="social-pics"></a>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-sm-12 col-md-3 col-lg-3 mt-3">
				<p class="text-sm-center text-md-start">
					<a class="text-decoration-none" href="http://lutece.paris.fr/" title="Lutece [Open in new window]" target="_blank">
						<span class="me-2">Powered by</span>
						<img src="images/logo-lutece-footer.png" alt="Powered by Lutece" class="logo-footer">
					</a>	
				</p>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-3">
				<p class="mb-3 text-center">2023 - Coded by the <a href="https://github.com/orgs/lutece-platform/people" title="Lutece Github [Open in new window]">Lutece Dev Team</a> on <a href="https://github.com/lutece-platform/lutece-core" title="Lutece Github [Open in new window]"> Lutece core 7 </a></p>
			</div>
			<div class="col-sm-12 col-md-3 col-lg-3 mt-3">
				<p class="text-md-end text-sm-center">
					<a href="http://paris.fr/" title="City of Paris" target="_blank">
						<img src="images/logo-paris-footer.svg" class="logo-footer" alt="City of Paris" title="City of Paris [Open in new window]">
					</a>
				</p>
			</div>
		</div>
	</div>
    </footer>
</div>
<!-- end footer -->
<!-- Included JS Files -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/site-demo.js"></script>
</body>
</html>