<!DOCTYPE html>
<html>
    <head>
        <title>${page_title}</title>
        <base href="${base_url}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le style -->
        <#if plugin_theme?? >
            <link href="${plugin_theme.pathCss}/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet"  href="${plugin_theme.pathCss}/page_template_styles.css" type="text/css"  media="screen" />
        <#else>
            <link href="${theme.pathCss}/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="${theme.pathCss}/page_template_styles.css" type="text/css" media="screen, projection" />
        </#if>
        <link href="css/tabler-icons.min.css" rel="stylesheet">
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>
<!-- header -->
<body id="home">
<div class="wrapper">
  <!-- header -->
  <header class="header">
    <div class="navbar-main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-transparent">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="images/lutece-logo-dark.svg" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="page-scroll" href="#home">accueil</a>
                      </li>
                  </ul>    
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  <main>
    <div class="container mt-5 pt-5">