<!-- footer -->
<footer>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
		  <div class="container" style="width: auto;">
			<a class="brand" href="http://fr.lutece.paris.fr" title="Powered by LUTECE">
				<img src="images/poweredby.jpg" width="55" height="22" alt="Powered by LUTECE Logo"/>
			</a>
			
		  </div>
		</div><!-- /navbar-inner -->
	  </div>
</footer>
<!-- end footer -->
<!-- Included JS Files -->
<script src="js/jquery/jquery.min.js"></script>
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>