<#include "minimal_header.html" />
<@cTpl>
<@cErrorMessage title='#i18n{portal.theme.error500.title}' text='#i18n{portal.theme.error500.text}<br><small>(code: ${.now?long})</small>' linkUrl=footerLinkContact linkLabelUrl='#i18n{portal.theme.labelContact}' >
<#if error_cause??><@cAccordion id='expert' title='#i18n{portal.theme.error500.more}' class='alert alert-outline alert-warning' state=false>${error_cause!}</@cAccordion></#if>
</@cErrorMessage>
</@cTpl>
<#include "minimal_footer.html" />
