<@cTpl>
<div class="row">
<div class="four columns pull-nine">
<div id="quick-search">
<@cForm action='jsp/site/Portal.jsp' method='get' foValidation=false>
<@cInput type='hidden' name='page' value='search' />
<@cLabel label='#i18n{portal.site.page_menu_tools.labelSearch} :' for='searchfield' params='accesskey="4"' />
<@cInput name='query' id='searchfield' />
<@cBtn label='#i18n{portal.util.labelSearch}' id='searchbutton' />
</@cForm>
</div>
</div>
</div>
<div class="row" >
<div class="four columns pull-nine">
<div id="menu-tools">
<ul>
	<li><a href="jsp/site/Portal.jsp?page=map" accesskey="3" >#i18n{portal.site.site_map.pathLabel}</a></li>
	<li><a href="jsp/site/Portal.jsp?page=contact" accesskey="7" >#i18n{portal.site.page_menu_tools.xpage.contact}</a></li>
</ul>
</div>
</div>
</div>
</@cTpl>