<@cTpl>
<@cSection class='border-bottom gray-light-border-color'>
    <@cContainer>
       ${page_content_col1}
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${page_content_col2}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection class='bg-light'>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${page_content_col3}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${page_content_col4}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${page_content_col5}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${page_content_col6}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
</@cTpl>