<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>

<title>${favourite} - ${page_name}</title>

<base href="${base_url}" />

<meta http-equiv="Content-Type" content="text/html;charset=${encoding}" />
<meta http-equiv="Content-Language" content="fr" />
<meta name="author" content="${meta_author}" />
<meta name="copyright" content="${meta_copyright}" />
<meta name="keywords" content="${meta_keywords}" />
<meta name="description" content="${meta_description}" />
<!-- Dublin Core metadatas -->
<meta name="DC.Creator" content="${meta_author}" />
<meta name="DC.Rights" content="${meta_copyright}" />
<meta name="DC.Subject" content="${meta_keywords}" />
<meta name="DC.Description" content="${meta_description}" />
${document_meta?default("<!-- no document_meta -->")}

${rss?default("<!-- no RSS feed -->")}

<link rel="stylesheet" href="js/jquery/plugins/treeview/jquery.treeview.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="js/jquery/plugins/ui/datepicker/ui.datepicker.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="js/jquery/plugins/autocomplete/jquery.autocomplete.css" type="text/css" media="screen, projection" />
 
${plugins_css_links}

<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />
<!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link rel="stylesheet" href="css/commons.css" type="text/css" media="screen, projection" />

<#if plugin_theme?? >
	<link rel="stylesheet"  href="${plugin_theme.pathCss}/page_template_styles.css" type="text/css"  media="screen" />
<#else>
	<link rel="stylesheet" href="${theme.pathCss}/page_template_styles.css" type="text/css" media="screen, projection" />
</#if>

<link rel="shortcut icon" href="favicon.ico" />

${statistical_include_head}

<script src="js/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="js/jquery/plugins/treeview/jquery.cookie.js" type="text/javascript"></script>
<script src="js/jquery/plugins/treeview/jquery.treeview.pack.js" type="text/javascript"></script>
<script src="js/jquery/plugins/ui/datepicker/ui.datepicker.js" type="text/javascript"></script>
<script src="js/jquery/plugins/ui/datepicker/ui.datepicker-fr.js" type="text/javascript"></script>
<script src="js/jquery/plugins/autocomplete/jquery.autocomplete.pack.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		${page_header}
		<div id="page" class="span-24 last">
			${page_path}
			${page_content}
	    </div>
		${page_footer}
		${statistical_include}
	</div>

	${plugins_javascript_links}

</body>
</html>
