<div id="banner" class="span-24 append-bottom last -lutece-border-radius-top">
	<div id="logo" class="span-4 prepend-1 prepend-top">
		<a href="jsp/site/Portal.jsp"><img class="png" src="${theme.pathImages}logo.png" title="Home" alt="Home"/></a>
	</div>
	<div class="span-10 prepend-top" id="header-link">${pageinclude_userlogin_title?default("<!-- no myLutece plugin installed -->")}</div>
	<div id="search" class="span-8 prepend-top append-1 last">
		<form action="jsp/site/Portal.jsp" method="get">
			<div class="hide"><input type="hidden" name="page" value="search" /></div>
			<div>
				<input class="-lutece-input -lutece-border-radius-mini" type="text" name="query" value="" />
				<input class="-lutece-input -lutece-border-radius-mini" type="submit" value="#i18n{portal.site.page_menu_tools.labelSearch}" />
			</div> 
		</form>
	</div>
</div>
<div id="header-menu" class="span-24 last hide">
	<div class="span-23 prepend-1 last">${pageinclude_userlogin?default("<!-- no myLutece plugin installed -->")}</div>
</div>