<#include "minimal_header.html" />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="jumbotron center">
            <h1>
                #i18n{portal.util.error404.title} 
                <small>Error 404</small>
            </h1>
            <br />
            <p>
                #i18n{portal.util.error404.text} 
            </p>
            <a href="" class="btn btn-lg btn-info">
                <i class="glyphicon glyphicon-home"></i> &nbsp; #i18n{portal.util.labelBackHome}
            </a>
        </div>
    </div>
</div>
</div>

<#include "minimal_footer.html" />

