<div id="banner">
    <div id="logo">
            <a href="jsp/site/Portal.jsp">
                <img class="png" src="${theme_images}/local/skin/logo.png" alt="Home"/>
            </a>
    </div>
    ${pageinclude_userlogin?default("<!-- No user login -->")}
    <div id="search">
        <form action="jsp/site/Portal.jsp" method="post">
            <fieldset>
                <input type="hidden" name="page" value="search" />
                <input id="searchinput" type="text" name="query" value="" />
	 <input id="searchsubmit" type="submit" value="#i18n{portal.site.page_menu_tools.labelSearch}" /> 
            </fieldset>
	</form>
    </div> 	
</div>
	
	
