<div id="content">
	<div id="three-different-zones-first-and-second">
		<div id="three-different-zones-first">
			<div id="three-different-zones-first-content">
				${page_content_col1}
			</div>
		</div>

		<div id="three-different-zones-second">
			<div id="three-different-zones-second-content">
				${page_content_col2}
			</div>
		</div>

	</div><!-- close three-zones-first-and-second -->

	<div id="three-different-zones-third">
		<div id="three-different-zones-third-content">
			${page_content_col3}
		</div>
	</div>
</div>
<div id="sidebar">
	<!--${page_tree_menu?if_exists}-->
	${page_content_col5}
</div>