<#include "minimal_header.html" />
<div class="row">
	<div class="col-sm-12 col-md-3"> 
        <img src="images/cactus.png" alt="erreur 500" class="img-fluid">
    </div>    
	<div class="col-sm-12 col-md-6 pt-5">
        <div class="card border-danger">
            <div class="card-header d-flex justify-content-between">
                <h2 class="card-title text-danger">#i18n{portal.util.error500.title}</h2>
                <h3 class="text-danger fw-900">Error 500</h3>
            </div>
            <div class="card-body">
                <p class="mt-3 fs-4">#i18n{portal.util.error500.text}</p>
                <#if error_cause??>
                <div class="alert alert-danger">${error_cause}</div>
                </#if>
                <p class="text-center mt-3">
                    <a href="./" class="btn btn-outline-primary btn-lg">
                        <@icon style="home"/> #i18n{portal.util.labelBackHome}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<#include "minimal_footer.html" />