<html>
<head>
<title>#i18n{portal.site.popup_legal_info.title}</title>

<link rel="stylesheet"  href="../../css/page_template_styles.css" type="text/css"  />

</head>
<body class="pop-up">


 <p><b>${portal_domain}</b></p>

 <h2 class="page-title">#i18n{portal.site.popup_legal_info.pageTitle}</h2>


    <h3>#i18n{portal.site.popup_legal_info.copyright}</h3>

    <h3>#i18n{portal.site.popup_legal_info.privacy}</h3>

    <p>
    ${confidentiality_info}
    </p>



    <div align="right">
		<b><a href="javascript:window.close();">&gt;&gt;#i18n{portal.site.popup_legal_info.close}</a></b>
  	</div>


</body>
</html>