<html>
    <head>
        <title>#i18n{portal.site.popup_credits.title}</title>
		<base href="${base_url}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le styles -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet"  href="css/page_template_styles.css" type="text/css"  media="screen" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8 ">

                    <h1>${portal_domain}</h1>
                    <h2>#i18n{portal.site.popup_credits.pageTitle}</h2>
                    <p>#i18n{portal.site.popup_credits.labelVersion} : Lutece v.${app_version}</p>
                    <p>
                        #i18n{portal.site.popup_credits.labelProducts} :
                    <ul>
                        <li>Apache Server, Tomcat, Xalan, Xerces, Lucene de l'Apache Software Foundation <a href="http://www.apache.org" target="_blank">www.apache.org</a></li>
                        <li>Tidy du W3C <a href="http://www.w3c.org" target="_blank">www.w3c.org</a></li>
                    </ul>
                    #i18n{portal.site.popup_credits.labelTechnical}.
                    </p>
                    <div align="center">
                        <a href="http://fr.lutece.paris.fr" target="lutece"><img title="Lutece"  src="images/poweredby.jpg" /></a>
                    </div>
                    <div align="right">
                        <b><a href="javascript:window.close();">&gt;&gt;#i18n{portal.site.popup_credits.close}</a></b>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>