<html>
<head>
	<title>#i18n{portal.site.popup_credits.title}</title>
	<link rel="stylesheet" href="../../css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="../../css/commons.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet"  href="../../css/page_template_styles.css" type="text/css"  />
</head>
<body>
	<div class="container">
		<div id="page" class="span-22 prepend-1 append-1 prepend-top last -lutece-border-radius">
			<div class="-lutece-padding-1em">
				<h1>${portal_domain}</h1>
				<h2>#i18n{portal.site.popup_credits.pageTitle}</h2>
				<p>#i18n{portal.site.popup_credits.labelVersion} : Lutece v.${app_version}</p>
				<p>
					#i18n{portal.site.popup_credits.labelProducts} :
					<ul>
						<li>Apache Server, Tomcat, Xalan, Xerces, Lucene de l'Apache Software Foundation <a href="http://www.apache.org" target="_blank">www.apache.org</a></li>
						<li>Tidy du W3C <a href="http://www.w3c.org" target="_blank">www.w3c.org</a></li>
					</ul>
					#i18n{portal.site.popup_credits.labelTechnical}.
			    </p>
				<div align="center">
					<a href="http://lutece.paris.fr" target="_blank"><img title="Go to Lutèce"  src="../../images/local/skin/poweredby.jpg" /></a>
				</div>
				<div align="right">
					<b><a href="javascript:window.close();">&gt;&gt;#i18n{portal.site.popup_credits.close}</a></b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>