<html>
<head>
<title>#i18n{portal.site.popup_credits.title}</title>
    <link rel="stylesheet"  href="../../css/page_template_styles.css" type="text/css"  />
</head>
<body class="pop-up">

 <p><b>${portal_domain}</b></p>

 <h2 class="page-title">#i18n{portal.site.popup_credits.pageTitle}</h2>

    <p>
        #i18n{portal.site.popup_credits.labelVersion} : Lutece v.${app_version}
    </p>
    <p>
        #i18n{portal.site.popup_credits.labelProducts} :
	<ul>
            <li>Apache Server, Tomcat, Xalan, Xerces, Lucene de l'Apache Software Foundation
                <a href="http://www.apache.org" target="_blank">www.apache.org</a></li>
            <li>Tidy du W3C
                <a href="http://www.w3c.org" target="_blank">www.w3c.org</a>
            </li>
        </ul>
        #i18n{portal.site.popup_credits.labelTechnical}.
    </p>

    <div align="center">
        <a href="http://lutece.paris.fr" target="_blank" ><img  alt="Accéder au site de Lutèce"  src="../../images/local/skin/poweredby.jpg" /></a>
    </div>

    <div align="right">
        <b><a href="javascript:window.close();">&gt;&gt;#i18n{portal.site.popup_credits.close}</a></b>
    </div>


</body>
</html>