<div class="container">
    <div class="row">
        <div class="col">
            <h1>${portal_domain}</h1>
            <h2>#i18n{portal.site.popup_legal_info.pageTitle}</h2>
            <h3>#i18n{portal.site.popup_legal_info.copyright}</h3>
            <div>#dskey{portal.site.site_property.popup_legal_info.copyright.textblock}</div>
            <h3>#i18n{portal.site.popup_legal_info.privacy}</h3>
            <div>#dskey{portal.site.site_property.popup_legal_info.privacy.textblock}</div>
        </div>
    </div>
</div>