
        <div id="footer">

        	<div id="footer-content" >
        	
        		<a href="mailto:${web_mail}" title="[Email] Contact Webmaster" accesskey="9" >webmaster</a> |
                        <a href="jsp/site/PopupCredits.jsp" title="[#i18n{portal.site.portal_footer.newWindow}] #i18n{portal.site.portal_footer.labelCredits}" target="info_comp">#i18n{portal.site.portal_footer.labelCredits}</a> |
        		<a href="jsp/site/PopupLegalInfo.jsp" title="[#i18n{portal.site.portal_footer.newWindow}] #i18n{portal.site.portal_footer.labelInfo}" target="info_comp" accesskey="8" >#i18n{portal.site.portal_footer.labelInfo}</a>
        		<br/>
        		<a href="http://fr.lutece.paris.fr" title="#i18n{portal.site.portal_footer.labelPortal}"><img src="images/local/skin/poweredby.jpg" width="55" height="22" alt="#i18n{portal.site.portal_footer.labelMadeBy}" /></a>

        	</div>

        </div>

