<div class="row-fluid">
	<div class="span9 " style="min-height:550px;padding-top:100px;">
		<div class="alert">
		<h3>
		<#if message.type = 0 >
			<i class="icon-info-sign"></i>
		<#elseif message.type = 1 > 
			<i class="icon-question-sign"></i>
		<#elseif message.type = 2 > 
			<i class="icon-remove-sign"></i>
		<#elseif message.type = 3 > 
			<i class="icon-exclamation-sign"></i>
		<#elseif message.type = 4 > 
			<i class="icon-ok-sign"></i>
		<#elseif message.type = 5 > 
			<i class="icon-minus-sign"></i>
		</#if>
		&nbsp; ${title}
		</h3>
		<blockquote>${text}</blockquote>
		<form method="post" action="${url!}" target="${target!}" class="form-inline">
			<#if list_parameters?exists>
			<#assign keys = list_parameters?keys>
			<#list keys as key>
			<input type="hidden" name="${key}" value="${list_parameters[key]}" />
			</#list>
			</#if>
			<#if url?has_content> 
			<button type="submit"class="btn btn-small"><i class="icon-ok"></i>&nbsp;#i18n{portal.util.labelValidate}</button>
			</#if>
		</form>	
		<#if back_url?has_content>
			<form method="post" action="${back_url}" class="form-inline" >
			<#if list_parameters?exists>
			<#list keys as key>
			<input type="hidden" name="${key}" value="${list_parameters[key]}" />
			</#list>	
			</#if>
			<#if cancel_button = 1> 
				<button type="submit" name="cancel" class="btn btn-small"><i class="icon-remove-circle"></i>&nbsp;#i18n{portal.util.labelBack}</button>
			<#elseif cancel_button = 2>
				<button type="submit" name="cancel" class="btn btn-small"><i class="icon-remove-circle"></i>&nbsp;#i18n{portal.util.labelCancel}</button>
			</#if>
			</form>		
		<#else>		
			<#if cancel_button = 1> 
				<button type="button" class="btn btn-small" onclick="javascript:window.history.back();"><i class="icon-remove-circle"></i>&nbsp;#i18n{portal.util.labelBack}</button>
			<#elseif cancel_button = 2>
				<button type="button" class="btn btn-small" onclick="javascript:window.history.back();"><i class="icon-remove-circle"></i>&nbsp;#i18n{portal.util.labelCancel}</button>
			</#if>
		</#if>
		</div>	
	</div>
</div>

