<#if message.type = 0 >
	<#assign messageClass = 'info' />
	<#assign messageTitle='#i18n{portal.util.message.titleWarning}' />
	<#assign messageIcon = 'info-circle' />
<#elseif message.type = 1 > 
	<#assign messageClass = 'info' />
	<#assign messageTitle='#i18n{portal.util.message.titleWarning}' />
	<#assign messageIcon = 'help-circle' />
<#elseif message.type = 2 > 
	<#assign messageClass = 'danger' />
	<#assign messageTitle='#i18n{portal.util.message.titleError}' />
	<#assign messageIcon = 'alert-circle' />
<#elseif message.type = 3 > 
	<#assign messageClass = 'warning' />
	<#assign messageTitle='#i18n{portal.util.message.titleWarning}' />
	<#assign messageIcon = 'alert-triangle' />
<#elseif message.type = 4 > 
	<#assign messageClass = 'success' />
	<#assign messageTitle='#i18n{portal.util.message.titleConfirmation}' />
	<#assign messageIcon = 'circle-circle' />
<#elseif message.type = 5 > 
	<#assign messageClass = 'danger' />
	<#assign messageTitle='#i18n{portal.util.message.titleStop}' />
	<#assign messageIcon = 'alert-circle' />
<#else> 
	<#assign messageClass = 'info' />
	<#assign messageTitle='#i18n{portal.util.message.titleQuestion}' />
	<#assign messageIcon = 'help-circle' />
</#if>
<div class="row">
	<div class="col-sm-12 col-md-4 offset-md-4">
		<div class="alert alert-${messageClass}">
			<h3 class="h3"><i class="ti ti-${messageIcon}" aria-hidden="true"></i> ${messageTitle} ${title!}</h3>
			${text} 
		</div>
		<div class="row">
			<div class="col">
			<#if list_parameters?exists><#assign keys = list_parameters?keys></#if>
			<#if url?has_content> 
				<form method="post" action="${url!}" target="${target!}" class="form-inline">							
				<#if list_parameters?exists><#list keys as key><input type="hidden" name="${key}" value="${list_parameters[key]}" /></#list></#if>														
				<button type="submit"class="btn btn-primary">
					<@icon style="circle-check"/> #i18n{portal.util.labelValidate}
				</button>
				</form>	
			</#if>
			<#if back_url?has_content>
				<form method="post" action="${back_url}" class="form-inline" >
				<#if list_parameters?exists><#list keys as key><input type="hidden" name="${key}" value="${list_parameters[key]}" ></#list></#if>
				<button type="submit" name="cancel" class="btn btn-primary">
					<@icon style="circle-x"/> <#if cancel_button = 1>#i18n{portal.util.labelBack}<#elseif cancel_button = 2>#i18n{portal.util.labelCancel}</#if>
				</button>
				</form>		
			<#else>		
				<button type="button" class="btn btn-primary" onclick="javascript:window.history.back();">
					<@icon style="circle-x"/>
					<#if cancel_button = 1>#i18n{portal.util.labelBack}<#elseif cancel_button = 2>#i18n{portal.util.labelCancel}</#if>
				</button>
			</#if>
			</div>
		</div>
	</div>
</div>