<base href="${base_url}" />
<link rel="stylesheet" type="text/css" href="css/page_template_styles.css" title="portal">
<center>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="portlet-title">
            &nbsp;&nbsp;<img  alt="" src="images/local/skin/lutece.gif" width="102" height="51" />
        </td>
    </tr>
</table>
<table>
   <tr>
      <td height="20%">&nbsp;</td>
   </tr>
</table>
<br/>
<table cellpadding="0" cellpadding="0" width="80%" >
<tr>
  <th height="25" width="30%" align="center">
     Nom de l'application
  </th>
  <th height="25" width="10%" align="center">
      Version
  </th>
  <th height="25" width="30%" align="center">
      Description
  </th>
  <th height="25" width="30%" align="center">
      Auteur
  </th>
</tr>
<tr>
  <td height="15" colspan="4">
    &nbsp;
  </td>
</tr>
  ${plugins_list}
</table>
</center>
