<!-- Statistical include for PhpMyVisite : HEAD /  -->
<!--
<script type="text/javascript">
//<![CDATA[

// Variables for phpMyvisite
var auditing_url="${statistical_server_url}"
var site = ${statistical_site_id}

function make_mark( url, ispage ) {
  var title="";
  d = new Date();

  // Checks wether a page or a link
  if ( ispage ){
    title=document.title;
  }


  // Create the URL for phpMyvisite
  mark  = auditing_url;
  mark += '?url=' + escape(url);
  mark += '&site=' + site;
  mark += '&res=' + screen.width + "x" + screen.height;
  mark += '&siteh=' + document.location.hostname;
  mark += '&c=' + screen.colorDepth;
  mark += '&h=' + d.getHours() + '&m=' + d.getMinutes() + '&s=' + d.getSeconds();
  mark += '&ref=' + escape(document.referrer);
  mark += '&title='+ title;

  return mark;
}

function track_link(url) {
    var t = new String( url );
    var mark = new String();

    // Checks : URL or File
    if ( t.substr(0,4)=='http' ) {
        mark = url
    } else {
        // Gets the base directory
        var l = new String( document.location.pathname );
        var audited = l.split( "/" );
        url = t.substr(3,t.length);
        mark = '/' + audited[1] + '/' + url
    }

    // Create the phpMyvisite mark
    var image = new Image();
    image.src = make_mark (mark, 0);
}

function trace( ) {

// Url to mark
audited_url  = document.location.pathname + document.location.search;

// Create the mark
document.writeln('<img style="visibility:hidden" src="' + make_mark(audited_url, 1) +'" />');

}
-->
<script type="text/javascript">
var phpmyvisitesSite = ${statistical_site_id};
var phpmyvisitesURL = "${statistical_server_url}/phpmyvisites.php";
</script>

<!-- Statistical include - End -->