<div id="content-admin-site-page" class="admin-site-page">

    <p>
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}"><img src="images/admin/skin/back_adminsite.png" width="36" height="36" hspace="12" alt="Administration du site" title="Administration du site" /></a>
        <a href="jsp/admin/site/AdminMap.jsp?page_id=${page.id}"><img src="images/admin/skin/sitemap.png" width="36" height="36" hspace="12" alt="#i18n{portal.site.admin_page.tabAdminMapSite}" title="#i18n{portal.site.admin_page.tabAdminMapSite}" /></a>
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=property"><img src="images/admin/skin/property.png"  width="36" height="36" hspace="12" alt="Propriétés de la page" title="Propriétés de la page" /></a>
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=image"><img src="images/admin/skin/image.png" width="36" height="36" hspace="12" alt="Image de la page" title="Image de la page" /></a>
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=childpage"><img src="images/admin/skin/childpage.png" width="36" height="36" hspace="12" alt="Ajouter une page fille" title="Ajouter une page fille" /></a>
        <h2>Page ${page.name} - Id ${page.id}</h2>
    </p>


    <#if portlet_types_list?has_content>
    <div class="content-box" >
        <form method="post"  action="jsp/admin/DoCreatePortlet.jsp" target="preview">
            <input type="hidden" name="page_id" value="${page.id}" />
            <p>
                <h2>
                    #i18n{portal.site.admin_page.titlePortletProperties}
                </h2>
            </p>
			<div id="page_portlet" class="admin-site-page">
				<p>
					<strong>#i18n{portal.site.admin_page.labelPortletType}</strong>
						<select name="portlet_type_id">
							<#list portlet_types_list as portlet_type>
								<option value="${portlet_type.id}">${portlet_type.name}</option>
							</#list>
						</select>
					<input type="submit" value="#i18n{portal.site.admin_page.buttonAdd}" class="button"/>
				</p>
			 </div>
	    </form>
    </div>
	</#if>
</div>
