<div class="container span3">
<!--    <img src="images/admin/skin/toggle.png" alt="Fermer" title="Fermer" class="togl" />-->
    <#if authorization != "1">
	
    <div class="row">
        <legend>#i18n{portal.site.admin_page.titlePageProperties}</legend>
        <form method="post"  action="jsp/admin/site/DoModifyPage.jsp" class="form-vertical" >            
				<input type="hidden" name="page_id" value="${page.id}" />
				<fieldset>
					<div class="control-group">
					<label class="control-label" for="page_name" >#i18n{portal.site.admin_page.labelName}</label>
					<div class="controls">
                        <input type="text" name="page_name" value="${page.name}" class="input-large" />
					</div>	
                </div>
				<div class="control-group">
                    <label for="page_description">#i18n{portal.site.admin_page.labelDescription}</label>
                    <div class="controls">
						<textarea name="page_description" rows="3" cols="34" >${page.description}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="parent_id">#i18n{portal.site.admin_page.labelParentPageId}</label>
					<div class="controls">
                        <#if page.id = 1>
                        <input type="hidden" name="parent_id" size="10" maxlength="10" value="${page.parentPageId}" />
                        <span style="font-weight:normal;">#i18n{portal.site.admin_page.labelParentPageIdMessage}</span>
                        <#else>
                        <input type="text" name="parent_id" size="10" maxlength="10" value="${page.parentPageId}" />
                        </#if>
                    </div>
                </div>
                <div class="control-group">
                    <label for="page_order_list">#i18n{portal.site.admin_page.labelOrderPage}</label>
                        <@comboSorted name="order" default_value="${page.order}" items=page_order_list />
                    
                </div>
                <div class="control-group">
                    <label for="roles_list">#i18n{portal.site.admin_page.labelRole}</label>
                        <@comboSorted name="role" default_value="${page.role}" items=page_roles_list />
                
                </div>                   
				<div class="control-group">
                    <label for="roles_list">#i18n{portal.site.admin_page.labelNodeStatus}</label>
                        <#if page.nodeStatus = 0>
                        <select name="node_status">
                            <option value="0" selected="selected">#i18n{portal.site.admin_page.labelNodeStatus0}</option>
                            <option value="1">#i18n{portal.site.admin_page.labelNodeStatus1}</option>
                        </select>
                        <#else>
                        <select name="node_status">
                            <option value="0" >#i18n{portal.site.admin_page.labelNodeStatus0}</option>
                            <option value="1" selected="selected">#i18n{portal.site.admin_page.labelNodeStatus1}</option>
                        </select>
                        </#if>                    
                </div>
                 <div class="control-group">
                    <label for="themes_list">#i18n{portal.site.admin_page.labelTheme}</label>
                        <@comboSorted name="theme" default_value="${page.codeTheme}" items=page_themes_list />                    
                </div>
                <div class="control-group">
                    <strong>#i18n{portal.site.admin_page.labelPageTemplateList}</strong>
                </div>
				 <div class="control-group">
               <!-- <table>
                    <tr>-->
						${page_templates_list}
                    <!--</tr>
                </table>-->
				</div>
                <div class="control-group">
                    <strong>#i18n{portal.site.admin_page.labelMetadata}</strong>
                    <br/>
                    <label for="meta_keywords" >#i18n{portal.site.admin_page.labelMetaKeywords}
                        <br/>
                        <input type="text" name="meta_keywords" size="40" maxlength="250"
                               <#if page.metaKeywords?exists && page.metaKeywords?has_content>
	                    		value="${page.metaKeywords}"
                               <#else>
	                    		value=""
                               </#if>
	                    />
                    </label>
                </div>
                <div class="control-group">
                    <label for="meta_description" >#i18n{portal.site.admin_page.labelMetaDescription}
                        <br/>
                        <input type="text" name="meta_description" size="40" maxlength="250"
                               <#if page.metaDescription?exists && page.metaDescription?has_content>
	                    		value="${page.metaDescription}"
                               <#else>
	                    		value=""
                               </#if>
	                    />
                    </label>
                    #i18n{portal.site.admin_page.labelMetaDescriptionInfo}
                </div>
                <div class="control-group">
                    <input type="submit" value="#i18n{portal.site.admin_page.buttonModify}" class="button"/>
                </div>
            
        </form>
    </div>
    </#if>


    <#if page.id != 1>
    <div class="content-box" style="background-color:#FFFFFF;margin:0;">
        <div class="button-left" style="float:left">
            <p>
            <form method="post"  action="jsp/admin/site/RemovePage.jsp">
                <input type="hidden" name="page_id" value="${page.id}" />
                <input type="submit" value="#i18n{portal.site.admin_page.buttonDeletePage}" class="button" />
            </form>
            </p>
        </div>
        <div  class="button-right" style="float:right">
            <p>
            <form method="post"  action="jsp/admin/site/AdminSite.jsp">
                <input type="hidden" name="page_id" value="${page.parentPageId}" />
                <input type="submit" value="#i18n{portal.site.admin_page.buttonUpToParentPage}" class="button" />
            </form>
            </p>
        </div>
    </div>
    </#if>

</div>