<!-- div id="content-admin-site-page" class="admin-site-page">
    <div class="admin-site-highlight-box" >
        <form method="post"  action="jsp/admin/site/AdminSite.jsp">
            <p>
                <h3>#i18n{portal.site.admin_page.labelSearchPage}</h3>
				<input type="text" name="page_id" size="10" maxlength="10" value="${page_init_id}" />
                <input type="submit" value="#i18n{portal.site.admin_page.buttonSearchPage}" class="button" />
            </p>
            <p>
                <em>${page_message}</em>
            </p>
        </form>
    </div>
</div -->