<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title sr-only">#i18n{portal.site.admin_page.titleAddChildPage} </h3>
				<div class="box-tools pull-right">
					<button class="btn btn-default btn-xs btn-flat" type="button" id="btn-params">
						#i18n{portal.site.admin_page.labelAdvancedParameters} <i id="glyph" class="glyphicon glyphicon-collapse-down"></i> 
					</button>
				</div> 
			</div> 
			<div class="box-body clearfix">	
				<form method="post"  action="jsp/admin/site/DoCreateChildPage.jsp" class="form-horizontal" enctype="multipart/form-data">
					<input type="hidden" name="page_id" value="${page.id}">
					<input type="hidden" name="node_status" value="1">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<fieldset>
							<legend>#i18n{portal.site.admin_page.titleAddChildPage}</legend>
								<div class="form-group">
									<label class="col-xs-12 col-sm-4 col-md-4" for="child_page_name">#i18n{portal.site.admin_page.labelChildPageName} </label>
									<div class="col-xs-12 col-sm-8 col-md-8">
										<input type="text" class="form-control" name="page_name" value="" >
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-12 col-sm-4 col-md-4"  for="child_page_description">#i18n{portal.site.admin_page.labelDescription} </label>
									<div class="col-xs-12 col-sm-8 col-md-8">
										<textarea name="page_description" class="form-control"></textarea>
									</div>
								</div>
						</fieldset>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<fieldset>
							<legend>#i18n{portal.site.admin_page.labelPageTemplateList}</legend>
								<div class="form-group">
									<label for="page_order_list" class="col-xs-12 col-sm-2 col-md-2">#i18n{portal.site.admin_page.labelPageTemplateList}</label>
									<div class="col-xs-12 col-sm-10 col-md-10">
										${page_templates_list}
									</div>
								</div>
								<div class="form-group">
									<label for="page_order_list" class="col-xs-12 col-sm-2 col-md-2">#i18n{portal.site.admin_page.labelOrderPage}</label>
									<div class="col-xs-12 col-sm-2 col-md-2">
										<@comboWithParams name="order" default_value="${page.order}" additionalParameters="class=\"form-control\"" items=page_order_list />
									</div>
								</div>
						</fieldset>
					</div>	
					<div class="col-xs-12 col-sm-4 col-md-4">	
						<fieldset>
						<legend>#i18n{portal.site.admin_page.titlePictureProperties}</legend>
							<div class="form-group">
								<label class="col-xs-12 col-sm-4 col-md-4">#i18n{portal.site.admin_page.labelNewPicture}</label>
								<div class="col-xs-12 col-sm-8 col-md-8">
									<input id="image_content" name="image_content" type="file">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="update_image" id="update_image">
											#i18n{portal.site.admin_page.checkedUpdateImage}
										</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2 col-md-2">
									<label class="sr-only" for="image_content"></label>
									<img src="${image_url}" class="img-thumbnail thumblist-medium" alt="#i18n{portal.site.admin_page.labelAltImgDefinition}" title="#i18n{portal.site.admin_page.labelAltImgDefinition}"> 
								</div>
							</div>
						</fieldset>
					</div>
					<div class="row" id="adv_param">
						<div class="col-xs-12 col-sm-12 col-md-12" id="adv_param">
							<fieldset>
							<legend>#i18n{portal.site.admin_page.labelMetadata}</legend>
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2" for="meta_keywords" >#i18n{portal.site.admin_page.labelMetaKeywords}</label>  
								<div class="col-xs-12 col-sm-10 col-md-10">
									<input type="text" name="meta_keywords" class="form-control" maxlength="250" <#if page.metaKeywords?exists && page.metaKeywords?has_content>value="${page.metaKeywords}"<#else>value=""</#if>  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2" for="meta_description" >#i18n{portal.site.admin_page.labelMetaDescription}</label>
								<div class="col-xs-12 col-sm-10 col-md-10">
									<input type="text" name="meta_description" class="form-control" maxlength="250" <#if page.metaDescription?exists && page.metaDescription?has_content>value="${page.metaDescription}"<#else>value=""</#if>>
									<p class="help-block"> #i18n{portal.site.admin_page.labelMetaDescriptionInfo}</p>
								</div>
							</div>
							</fieldset>
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2" for="theme">#i18n{portal.site.admin_page.labelTheme}</label>
								<div class="col-xs-12 col-sm-3 col-md-3">
									<@comboSortedWithParams name="theme" default_value="${page.codeTheme}" additionalParameters=" class=\"form-control\"" items=page_themes_list />
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2" for="roles_list">#i18n{portal.site.admin_page.labelRole}</label>
								<div class="col-xs-12 col-sm-3 col-md-3">
									<@comboSortedWithParams name="role" default_value="${page.role}" additionalParameters=" class=\"form-control\"" items=page_roles_list />
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2" for="roles_list">#i18n{portal.site.admin_page.labelNodeStatus}</label>
								<div class="col-xs-12 col-sm-1 col-md-1">
									<#if page.nodeStatus = 0>
										<select name="node_status" class="form-control">
											<option value="0" selected="selected">#i18n{portal.site.admin_page.labelNodeStatus0}</option>
											<option value="1">#i18n{portal.site.admin_page.labelNodeStatus1}</option>
										</select>
									<#else>
										<select name="node_status" class="form-control">
											<option value="0" >#i18n{portal.site.admin_page.labelNodeStatus0}</option>
											<option value="1" selected="selected">#i18n{portal.site.admin_page.labelNodeStatus1}</option>
										</select>
									</#if> 
								</div>
							</div>
						</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8">   
								<button type="submit" class="btn btn-primary btn-flat">
									<i class="glyphicon glyphicon-plus"></i>&nbsp;
									<span class="hidden-xs">#i18n{portal.site.admin_page.buttonAdd}</span>
								</button>  
								<a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}" class="btn btn-default btn-flat">
									<i class="glyphicon glyphicon-remove-circle"></i>&nbsp;
									<span class="hidden-xs">#i18n{portal.site.admin_page.buttonClosed}</span>
								</a> 
							</div>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$().ready( function(){
		$("#adv_param").toggle();
		$("#btn-params").click( function(){
		$("#adv_param").fadeToggle();
		$("#btn-params").children().toggleClass("glyphicon-collapse-down");
		$("#btn-params").children().toggleClass("glyphicon-collapse-up");
		});
	})

</script>