<h2>Page ${page.name} - Id ${page.id}</h2>
<script type="text/javascript">
$(document).ready( function(){
	if ( $("div#admin-site-preview").hasClass("preview-toolbar") ){$("img#togl").hide()};
	
	$("img#togl").click( function(){
		$("div#content-admin-site-page").hide();
		$("div#admin-site-preview").toggleClass("preview-toolbar",true);
		
		$(this).hide();
	})
});
</script>

<div id="content-admin-site-toolbar" class="admin-site-page">
 <img src="images/admin/skin/application_side_contract.png" alt="Fermer" title="Fermer" id="togl" style="margin-left:10px;"/>
<br />
<a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=1">
<img src="images/admin/skin/search.png"  width="30" height="30" vspace="8" alt="#i18n{portal.site.admin_page.labelSearchPage}" title="#i18n{portal.site.admin_page.labelSearchPage}" /></a>
<br />
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=2"><img src="images/admin/skin/property.png" width="30" height="30" vspace="8" alt="#i18n{portal.site.admin_page.labelPageProperty}" title="#i18n{portal.site.admin_page.labelPageProperty}" /></a>
<br />
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=3"><img src="images/admin/skin/image.png" width="30" height="30" vspace="8" alt="#i18n{portal.site.admin_page.labelImagePage}" title="#i18n{portal.site.admin_page.labelImagePage}" /></a>
<br />
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=4"><img src="images/admin/skin/portlet.png" width="30" height="30" vspace="8" alt="#i18n{portal.site.admin_page.labelPortletPage}" title="#i18n{portal.site.admin_page.labelPortletPage}" /></a>
<br />
        <a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}&param_block=5"><img src="images/admin/skin/childpage.png"  width="30" height="30" vspace="8" alt="#i18n{portal.site.admin_page.labelChildPagePage}" title="#i18n{portal.site.admin_page.labelChildPagePage}" /></a>
<br />
        <a href="jsp/admin/site/AdminMap.jsp?page_id=${page.id}"><img src="images/admin/skin/sitemap.png" width="30" height="30" vspace="8" alt="#i18n{portal.site.admin_page.tabAdminMapSite} Page ${page.name} - Id ${page.id}" title="#i18n{portal.site.admin_page.tabAdminMapSite} Page ${page.name} - Id ${page.id}" /></a>
</div>
${page_block}
