<div class="row-fluid">
	<div class="col-md-12">
		<div class="well">
		 <form method="post"  enctype="multipart/form-data" action="jsp/admin/site/DoModifyPage.jsp" class="form-horizontal" >            
		<input type="hidden" name="page_id" value="${page.id}" >
		<input type="hidden" name="parent_id" value="${page.parentPageId}" >
		<fieldset>
			<legend>#i18n{portal.site.admin_page.titlePageProperties} 
				<button class="btn btn-default btn-xs pull-right" type="button" id="btn-params">
					#i18n{portal.site.admin_page.labelAdvancedParameters} <i id="glyph" class="glyphicon glyphicon-collapse-down"></i> 
				</button>
			</legend>
			<div class="row-fluid">
				<#if authorization != "1">    
					<div class="col-md-offset-1 col-md-3">
						<div class="form-group">
							<label for="child_page_name">#i18n{portal.site.admin_page.labelChildPageName} </label>
							<input type="text" name="page_name" class="form-control" value="${page.name!}" >
						</div>
						<div class="form-group">
							<label for="child_page_description">#i18n{portal.site.admin_page.labelDescription} </label>
							<textarea name="page_description" class="form-control">${page.description!}</textarea>
						</div>
						<div class="form-group">
							<label for="parent_id">#i18n{portal.site.admin_page.labelParentPageId}</label>	
							<#if page.id = 1>
								<span class="label label-warning">#i18n{portal.site.admin_page.labelParentPageIdMessage}</span>
							<#else>
								<input type="text" name="parent_id" class="form-control" value="${page.parentPageId}" />
							</#if>
						</div>
						<fieldset>
						<legend>#i18n{portal.site.admin_page.titlePictureProperties}</legend>
							<div class="form-group">
								<label for="image_content">
									<img src="${image_url}" class="img-thumbnail thumblist-medium" alt="#i18n{portal.site.admin_page.labelAltImgDefinition}" title="#i18n{portal.site.admin_page.labelAltImgDefinition}"> 
									#i18n{portal.site.admin_page.labelNewPicture} 
								</label>
								<input class="form-control" id="image_content" name="image_content" type="file">
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label for="image_content">
										<input class="checkbox" type="checkbox" name="update_image" id="update_image">
										#i18n{portal.site.admin_page.checkedUpdateImage}
									</label>
								</div>
							</div>
						</fieldset>
					</div>
				</#if> 
				<div class="col-md-offset-1 col-md-3">
					<fieldset>
						<legend>#i18n{portal.site.admin_page.labelPageTemplateList}</legend>
						<div class="form-group">
								<dl class="unstyled">
									${page_templates_list}
								</dl>	
							</div>
					</fieldset>
					<div class="form-group">
						<label for="page_order_list">#i18n{portal.site.admin_page.labelOrderPage}</label>
						<@comboWithParams name="order" default_value="${page.order}" additionalParameters="class=\"form-control\"" items=page_order_list />
					</div>
				</div>
				<div class="col-md-offset-1 col-md-3" id="adv_param">
					<fieldset>
					<legend>#i18n{portal.site.admin_page.labelMetadata}</legend>
					<div class="form-group">
						<label for="meta_keywords" >#i18n{portal.site.admin_page.labelMetaKeywords}</label>  
						<input type="text" name="meta_keywords" class="form-control" maxlength="250" <#if page.metaKeywords?exists && page.metaKeywords?has_content>value="${page.metaKeywords}"<#else>value=""</#if>  >
					</div>
					<div class="form-group">
						<label for="meta_description" >#i18n{portal.site.admin_page.labelMetaDescription}</label>
							<input type="text" name="meta_description" class="form-control" maxlength="250" <#if page.metaDescription?exists && page.metaDescription?has_content>value="${page.metaDescription}"<#else>value=""</#if>>
							<p class="help-block"> #i18n{portal.site.admin_page.labelMetaDescriptionInfo}</p>
						</div>
					</fieldset>
					<div class="form-group">
						<label for="theme">#i18n{portal.site.admin_page.labelTheme}</label>
						<@comboSortedWithParams name="theme" default_value="${page.codeTheme}" additionalParameters=" class=\"form-control\"" items=page_themes_list />
					</div>
					<div class="form-group">
						<label for="roles_list">#i18n{portal.site.admin_page.labelRole}</label>
						<@comboSortedWithParams name="role" default_value="${page.role}" additionalParameters=" class=\"form-control\"" items=page_roles_list />
					</div>
					<div class="form-group">
						<label for="roles_list">#i18n{portal.site.admin_page.labelNodeStatus}</label>
						<#if page.nodeStatus = 0>
							<select name="node_status" class="form-control">
								<option value="0" selected="selected">#i18n{portal.site.admin_page.labelNodeStatus0}</option>
								<option value="1">#i18n{portal.site.admin_page.labelNodeStatus1}</option>
							</select>
						<#else>
							<select name="node_status" class="form-control">
								<option value="0" >#i18n{portal.site.admin_page.labelNodeStatus0}</option>
								<option value="1" selected="selected">#i18n{portal.site.admin_page.labelNodeStatus1}</option>
							</select>
						</#if> 
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-11">   
						<div class="form-group">
							<div class="col-md-offset-3">
								<button type="submit" class="btn btn-primary">
									<i class="icon-plus icon-white"></i>&nbsp;
									<span class="hidden-phone" >#i18n{portal.site.admin_page.buttonModify}</span>
								</button>  
								<a href="jsp/admin/site/AdminSite.jsp?page_id=${page.id}" class="btn btn-default">
									<i class="icon-remove-circle"></i>&nbsp;
									<span class="hidden-phone" >#i18n{portal.site.admin_page.buttonClosed}</span>
								</a> 
							</div>
						</div>
					</div>
				</div>
			</div>
			</fieldset>
		</form>
		</div>
	</div>
</div>
<script>
$().ready( function(){
	$("#adv_param").toggle();
	$("#btn-params").click( function(){
		$("#adv_param").fadeToggle();

		$("#btn-params").children().toggleClass("glyphicon-collapse-down");
		$("#btn-params").children().toggleClass("glyphicon-collapse-up");
	});
	
	$("#image_content").click( function(){ $("#update_image").attr("checked","checked"); });
});
</script>