
<!--
<div id="quick-search">
	<form method="post" action="jsp/admin/site/AdminSite.jsp" target="_top">
      	<p>
      	      <label for="searchfield">Rechercher :</label>
      	      <input type="hidden" name="page" value="search" />
      		  <input type="text" name="query" id="searchfield" />
      		  <input type="submit" value="ok" id="searchbutton" title="Lancer la recherche" />
      	</p>
	</form>
</div>


<div id="menu-tools">
	<ul>
	      <li>
	            <a href="jsp/admin/XPages.jsp?page=map" accesskey="3" >Plan du site</a>
          </li>
          <li>
	            <a href="jsp/admin/XPages.jsp?page=contact" accesskey="7" >Contacts</a>
          </li>
      </ul>
</div>
-->


