<div id="banner">
	<div class="row row-banner bordered">
		<div class="col-md-9 col-main">
			<div class="row bordered-top row-header">
				<div class="col-md-2 hidden-xs hidden-sm">
					<a href="http://www.paris.fr" title="http://www.paris.fr">
						<img id="logo-header" src="images/local/skin/mdp.png" title="Paris.fr" alt="Paris.fr" />
					</a>
				</div>
				<div class="col-md-10">
					<h3>NOTRE BUDGET, NOTRE VILLE, NOTRE DECISION</h3>
				</div>
			</div>
			<div class="row bordered-top">
				<div class="col-md-4">
					<div id="banner-main-logo" class="col-md-2">
						<a href="accueil.html" title="Accueil"><img src="images/local/skin/logo-header.jpg" alt="logo" title=""></a>
					</div>
				</div>
				<div id="banner-main" class="col-md-6">
					<p><span class="fgt">VOTEZ</span> du <span class="fgt">24 septembre</span></p>
					<p>au 1er octobre 2014</p>
				</div>
			</div>
		</div>
		<div id="banner-main-arrow" class="col-md-1">
			&nbsp;
		</div>
		<div class="col-md-2">
			<div id="banner-inscription" class="col-md-2">
				<a class="btn btn-link btn-inscription" href="jsp/site/Portal.jsp?page=mesInfos&view=myVotes" title="">
					MES VOTES
				</a>
			</div>
		</div>
	</div>
</div>
