<div id="banner">
	<div class="span12">
			<div class="row">
				<div id="logo" class="span2">
					<a href="jsp/site/Portal.jsp">
						<img src="${theme.pathImages}logo.png" title="Home" alt="Home"/>
					</a>
					<div id="header-link">${pageinclude_userlogin_title?default("<!-- no myLutece plugin installed -->")}</div>
				</div>
				<div id="search" class="span4 offset4">
				<form action="jsp/site/Portal.jsp" method="get" class="form-search">
					<input type="hidden" name="page" value="search" />
					<div class="control-group">
						  <label for="inputIcon">&nbsp;</label>
						  <div class="controls">
							<div class="input-prepend">
							  <span class="add-on"><i class="icon-search"></i></span><input class="input-medium" type="text" name="query" id="query" value="" title="query" placeholder="#i18n{portal.site.page_menu_tools.labelSearch}" />
							</div>
							<input class="btn " type="submit" value="#i18n{portal.site.page_menu_tools.labelSearch}" />
						  </div>
						</div>
				</form>
				</div>
			</div>
	${pageinclude_userlogin?default("<!-- no myLutece plugin installed -->")}
	</div>
</div>
