<div class="container">
<div class="row">
<div id="footer1" class="span12">
	<div id="footer1-subelement" class="-lutece-border-radius" >${page_main_menu}</div>
</div>
<div id="footer2" class="span6 -lutece-border-radius-bottom">
	<div id="footer-logo" class="span-2 prepend-1 prepend-top append-bottom">
			<a href="http://fr.lutece.paris.fr" title="#i18n{portal.site.portal_footer.labelPortal}">
				<img src="images/poweredby.jpg" width="55" height="22" alt="#i18n{portal.site.portal_footer.labelMadeBy}" />
			</a>
	</div>
	<div id="footer-links" class="span4">
		<a href="jsp/admin/AdminSite.jsp?page=map" accesskey="3" >#i18n{portal.site.site_map.pathLabel}</a><br />
		<a href="jsp/admin/AdminSite.jsp?page=contact" accesskey="7" >#i18n{portal.site.page_menu_tools.xpage.contact}</a><br />
		<a href="jsp/site/PopupCredits.jsp" title="[#i18n{portal.site.portal_footer.newWindow}] #i18n{portal.site.portal_footer.labelCredits}" target="info_comp">#i18n{portal.site.portal_footer.labelCredits}</a><br />
	</div>
	<div id="footer-rss" class="span2 offset1">
		<a href="http://fr.lutece.paris.fr/fr/plugins/rss/lutece.xml" title="RSS">
			<img src="images/feed.png" alt="RSS" title="RSS" />
		</a>
	</div>
</div>
</div>
</div>