        <div id="footer">

        	<div id="footer-content">

        		<a href="mailto:${web_mail}" title="[Email] Contact Webmaster" accesskey="9" >webmaster</a> |
        	    <a href="jsp/site/PopupCredits.jsp" title="[Nouvelle fenêtre] Crédits" target="info_comp">crédits</a> |
        		<a href="jsp/site/PopupLegalInfo.jsp" title="[Nouvelle fenêtre] Informations légales" target="info_comp" accesskey="8" >informations légales</a>
        		<br/>
        		<a href="http://lutece.paris.fr" title="Site du portail Lutèce"><img src="images/local/skin/poweredby.jpg" width="55" height="22" alt="réalisé grâce à Lutèce" /></a>

        	</div>

        </div>
