<#assign title>${page.name} [${page.id}]</#assign>
<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{portal.site.admin_page.tabAdminMapSite}'/>
    	<@box>
			<@boxBody class='sitemap'>
				<@row>
					<@columns>
						${map_site}
					</@columns>
				</@row>
			</@boxBody>
    	</@box>
	</@pageColumn>
</@pageContainer>
<script type="module">
import LuteceTree from './themes/shared/modules/luteceTree.js';
const tree = document.querySelector("#lutece-map-tree");
const mapTree = new LuteceTree( tree );
<#if page.id gt 1>mapTree.selectTreeNode('#node-${page.id}')</#if>
</script>