<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="box">
			<div class="box-header" >
				<h3 class="box-title">#i18n{portal.site.admin_page.tabAdminMapSite} :	<span class="badge badge-primary" title="${page.id} - ${page.name}">${page.id}</span>  ${page.name}</h3>
				<div class="box-tools btn-toolbar" role="toolbar" style="position:fixed;left:80%;top:120px">
					<div class="btn-group" >
						<form method="post" action="jsp/admin/site/AdminSite.jsp" class="form-inline pull-right" role="search" >
							<label class="sr-only">#i18n{portal.site.admin_page.buttonSearchPage}</label>
							<div class="input-group">
								<input type="text" class="form-control input-xs" id="tree_search" class="form-control" placeholder="#i18n{portal.site.admin_page.buttonSearchPage}">
								<span class="input-group-btn">
									<button class="btn btn-default btn-xs btn-flat" id="btn-tree_search" type="submit" title="#i18n{portal.site.admin_page.buttonSearchPage}">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body sitemap">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
						<div id="map" class="clearfix">
							<a href="jsp/admin/site/AdminSite.jsp?page_id=1">
								<i class="fa fa-map-marker" ></i> Accueil
							</a>
							${map_site}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery/plugins/ui/jstree/jquery.cookie.js"></script>
<script src="js/jquery/plugins/ui/jstree/jquery.jstree.js"></script>
<script type="text/javascript">
	$(function($) {
		$("#btn-tree_search").click(function () {
			$("#tree").jstree("search" ,	$("#tree_search").val()	);
			return false;
		});

		$("#tree_search").keypress( function ( e ) {
				$("#tree").jstree("search" ,	$(this).val()	);
				var $container = $("html,body");
				var $scrollTo = $('.jstree-search:first');
				$container.animate({scrollTop: ( $scrollTo.offset().top - $container.offset().top ) - 100, scrollLeft: 0},300);
		});

		$.cookie("jstree_select", "#node-${page.id}" );

		$("#tree").jstree({
			"themes" : {	"theme" : "classic",},
			"cookies" : {	"save_opened" : false, },
		"plugins" : [ "themes", "html_data", "cookies","search","ui" ]
	});
});
</script>
