<div class="content-box">
	<h2>
	    <img src="${icon}" width="24" height="24" align="middle"/>
	    <a href="${url}" >
	        #i18n{portal.site.dashboard.siteAdministration}
	    </a>
	    <a class="top" href="jsp/admin/AdminMenu.jsp#top">
            <img alt="#i18n{portal.site.dashboard.top}" title="#i18n{portal.site.dashboard.top}" src="images/admin/skin/sign-up.png">
        </a>
	</h2>
	
	<!-- LAST MODIFIED PAGE -->
	<table>
	   	<tr>
	   		<th>#i18n{portal.site.dashboard.columnLastModifiedPage}</th>
	   		<th>#i18n{portal.site.dashboard.columnActions}</th>
	   	</tr>
	   	<#if last_modified_page??>
	    	<tr>
				<td width="65%">
					<#if image_thumbnail_page_url?? && image_thumbnail_page_url != ''>
						<img src="${image_thumbnail_page_url}" alt="${last_modified_page.name}" width="40" height="40" align="left" hspace="15" />
					</#if>
					${last_modified_page.id} - <a href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}">${last_modified_page.name}</a>
					<br />
					<strong>#i18n{portal.site.dashboard.labelDateModification} : </strong>${last_modified_page.dateUpdate}
				</td>
	            <td width="35%">
					<a href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}&param_block=2">
						<img src="images/admin/skin/config.png" alt="#i18n{portal.site.admin_page.labelPageProperty}" title="#i18n{portal.site.admin_page.labelPageProperty}" />
					</a>
					<a href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}&param_block=3">
						<img src="images/admin/skin/image.png"  alt="#i18n{portal.site.admin_page.labelImagePage}" title="#i18n{portal.site.admin_page.labelImagePage}" />
					</a>
					<a href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}&param_block=4">
						<img src="images/admin/skin/portlet.png" alt="#i18n{portal.site.admin_page.labelPortletPage}" title="#i18n{portal.site.admin_page.labelPortletPage}" />
					</a>
					<a href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}&param_block=5">
						<img src="images/admin/skin/childpage.png"  alt="#i18n{portal.site.admin_page.labelChildPagePage}" title="#i18n{portal.site.admin_page.labelChildPagePage}" />
					</a>
	            </td>
	    	</tr>
	    </#if>
	</table>
	
	<!-- LAST PUBLISHED PORTLET -->
	<table>
	   	<tr>
	   		<th>#i18n{portal.site.dashboard.columnLastModifiedPortlet}</th>
	   		<th>#i18n{portal.site.dashboard.columnStatus}</th>
	   	</tr>
	   	<#if last_modified_portlet??>
	    	<tr>
				<td width="65%">
					${last_modified_portlet.id} - <a href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_portlet.pageId}">${last_modified_portlet.name}</a>
					<br />
					#i18n{${last_modified_portlet.portletTypeName}} - <strong>#i18n{portal.site.dashboard.labelPageId} : </strong>${last_modified_portlet.pageId}
					<br />
					<strong>#i18n{portal.site.dashboard.labelDateModification} : </strong>${last_modified_portlet.dateUpdate}
				</td>
				<td width="35%">
					<#if last_modified_portlet.status = 0> 
						<img src="images/admin/skin/enable.png" alt="#i18n{portal.site.dashboard.publishedStatus}" title="#i18n{portal.site.dashboard.publishedStatus}">
					<#else>
						<img src="images/admin/skin/disable.png" alt="#i18n{portal.site.dashboard.unpublishedStatus}" title="#i18n{portal.site.dashboard.unpublishedStatus}">
					</#if>			     
				</td>
	    	</tr>
	    </#if>
	</table>
</div>