<div class="well lutece-dashboard-content">
	<legend>
		<a href="${url}" title="#i18n{portal.site.adminFeature.admin_site.name} ">
			#i18n{portal.site.adminFeature.admin_site.name}
			<span class="pull-right">
				<i class="fa fa-home"></i>
			</span>
		</a>
	</legend>
	<div class="panel-content">
		<#if last_modified_page??>
			<strong>#i18n{portal.site.dashboard.columnLastModifiedPage} </strong>
			<p>
				<span class="label label-info" title="#i18n{portal.site.dashboard.labelPageId} ">${last_modified_page.id}</span> 
				<span title="${last_modified_page.name} #i18n{portal.site.dashboard.labelDateModification} : ${last_modified_page.dateUpdate}"><#if last_modified_page.name?length &gt; 35>${last_modified_page.name?substring(0,35)}...<#else>${last_modified_page.name}</#if> </span>
				<a class="pull-right spaced" href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}">
					<i class="fa fa-edit"></i> 
				</a>
			<a class="pull-right spaced" href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}&param_block=2" title="#i18n{portal.site.admin_page.labelPageProperty}">
				<i class="fa fa-wrench"></i> 
			</a>
			<a class="pull-right spaced" href="jsp/admin/site/AdminSite.jsp?page_id=${last_modified_page.id}&param_block=5" title="#i18n{portal.site.admin_page.titleAddChildPage}" >
				<i class="fa fa-plus"></i> 
			</a>
			</p>
		</#if>
		<#if last_modified_portlet??>
			<strong>#i18n{portal.site.dashboard.columnLastModifiedPortlet}</strong>
			<p>
				<#if last_modified_portlet.status = 0> 
					<span class="label label-success" title="#i18n{portal.site.dashboard.publishedStatus}">
						<i class="fa fa-thumbs-up"></i>
					</span>
				<#else>
					<span class="label label-important" title="#i18n{portal.site.dashboard.unpublishedStatus}">
						<i class="fa fa-thumbs-down"></i>
					</span>
				</#if>
				&nbsp;
				<span title="Portlet Id: ${last_modified_portlet.id}">${last_modified_portlet.name} - #i18n{${last_modified_portlet.portletTypeName}}</span>
				<a class="pull-right" href="jsp/admin/DoModifyPortlet.jsp?portlet_id=${last_modified_portlet.id}" title="${last_modified_portlet.name} - #i18n{portal.site.dashboard.labelDateModification} : ${last_modified_portlet.dateUpdate}">
					<i class="fa fa-edit"></i> 
				</a>
				
			</p>
		</#if>
	</div>
</div>
