<#compress>
<#if listExtendableResourceActions?? && listExtendableResourceActions?has_content>
<@extendableResourceAction>
<@row>
<@columns>
<#list listExtendableResourceActions as resourceTypeAction>
<#if resourceTypeAction.buttonTemplate?? && resourceTypeAction.buttonTemplate!=''>
<@extendableResourceActionList action=resourceTypeAction />
</#if>
</#list>
</@columns>
</@row>
</@extendableResourceAction>
</#if>
<#-- extendableResourceAction + extendableResourceActionList -->
<#macro extendableResourceAction>
<@offcanvas id="extender" title="#i18n{portal.admin.resource.extend}" btnClass='rounded-end' redirectForm=true btnIcon="apps" position="end">
<#nested>
</@offcanvas>
</#macro>
<#macro extendableResourceActionList action target='_top'>
<#if action.buttonTemplate?has_content><#include action.buttonTemplate /></#if>
</#macro>
</#compress>