<#if listExtendableResourceActions?? && listExtendableResourceActions?has_content>
	<@extendableResourceAction>
		<#list listExtendableResourceActions as resourceTypeAction>
			<@extendableResourceActionList action=resourceTypeAction />
		</#list>
	</@extendableResourceAction>
</#if>

<#-- extendableResourceAction + extendableResourceActionList -->
<#macro extendableResourceAction>
<@btnGroup>
	<#assign addIcon>
		<@icon style='plus-square' />
	</#assign>
	<@aButton class='dropdown-toggle' size='xs' id='extender' dropdownMenu=true href='#' title='${addIcon} #i18n{portal.admin.resource.extend}' showTitleXs=false />
	<@ul class='dropdown-menu' role='menu' params='aria-labelledby="extender"'>
		<#nested>
	</@ul>
</@btnGroup>
</#macro>

<#macro extendableResourceActionList action >
<#if action.buttonTemplate?has_content>
	<@tform class="form-submenu" action='jsp/admin/resource/DoProcessExtendableResourceAction.jsp'>
		<li class="dropdown-submenu">
            <#include action.buttonTemplate />
        </li>
	</@tform>
</#if>
</#macro>
