<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <listener>
        <display-name>Lutece context listener</display-name>
        <listener-class>fr.paris.lutece.portal.service.init.AppInitListener</listener-class>
    </listener>

    <listener>
        <display-name>Lutece Main Listener</display-name>
        <listener-class>fr.paris.lutece.portal.service.sessionlistener.MainHttpSessionListener</listener-class>
    </listener>

    <listener>
        <display-name>Spring Context Listener</display-name>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>StaticFilesCachingFilter</filter-name>
        <filter-class>fr.paris.lutece.portal.service.cache.HeadersPageCachingFilter</filter-class>
        <init-param>
            <param-name>cacheName</param-name>
            <param-value>StaticFilesCachingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>suppressStackTraces</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StaticFilesCachingFilter</filter-name>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>PageCachingFilter</filter-name>
        <filter-class>fr.paris.lutece.portal.service.cache.FullPageCachingService</filter-class>
        <init-param>
            <param-name>cacheName</param-name>
            <param-value>PageCachingFilter (CAUTION : NEVER USE WITH USER DYNAMIC DATA)</param-value>
        </init-param>
        <init-param>
            <param-name>suppressStackTraces</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageCachingFilter</filter-name>
        <url-pattern>/jsp/site/*</url-pattern>
        <url-pattern>/rest/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>fr.paris.lutece.portal.web.encoding.EncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>fr.paris.lutece.portal.web.user.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>dosFilter</filter-name>
        <filter-class>fr.paris.lutece.portal.web.upload.DosGuardFilter</filter-class>
        <init-param>
            <!-- Requests below this size (in bytes) will always be allowed -->
            <param-name>minContentLength</param-name>
            <param-value>10240</param-value>
        </init-param>
        <init-param>
            <!-- Minimum interval (in ms) allowed between two requests from the same 
                client -->
            <param-name>minInterval</param-name>
            <param-value>2000</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>pluginsFilters</filter-name>
        <filter-class>fr.paris.lutece.portal.service.filter.MainFilter</filter-class>
    </filter>

    <!-- This filter display error message in case of request parameters contains 
        Xss characters. activateXssFilter = true for activation this filter xssCharacters 
        = a list of forbidden characters -->
    <filter>
        <filter-name>safeRequestFilterSite</filter-name>
        <filter-class>fr.paris.lutece.portal.web.xss.SafeRequestFilterSite</filter-class>
        <init-param>
            <param-name>activateXssFilter</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>xssCharacters</param-name>
            <param-value><![CDATA[<>#"&]]></param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>safeRequestFilterAdmin</filter-name>
        <filter-class>fr.paris.lutece.portal.web.xss.SafeRequestFilterAdmin</filter-class>
        <init-param>
            <param-name>activateXssFilter</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xssCharacters</param-name>
            <param-value><![CDATA[<>#"&]]></param-value>
        </init-param>
    </filter>
    <!-- Many plugins cast request to MultipartHttpRequestServlet and request 
        can be wrapped in any plugin's filter. So upload filters are processed after 
        plugins'. See LUTECE-1323. requestSizeMax = the request size max activateNormalizeFileName 
        = true if you want that the name of the files uploaded will be normalize -->
    <filter>
        <filter-name>uploadFilterSite</filter-name>
        <filter-class>fr.paris.lutece.portal.web.upload.UploadFilterSite</filter-class>
        <init-param>
            <param-name>requestSizeMax</param-name>
            <param-value>10485760</param-value>
        </init-param>
        <init-param>
            <param-name>activateNormalizeFileName</param-name>
            <param-value>true</param-value>
        </init-param>

    </filter>
    <filter>
        <filter-name>uploadFilterAdmin</filter-name>
        <filter-class>fr.paris.lutece.portal.web.upload.UploadFilterAdmin</filter-class>
        <init-param>
            <param-name>requestSizeMax</param-name>
            <param-value>10485760</param-value>
        </init-param>
        <init-param>
            <param-name>activateNormalizeFileName</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/jsp/admin/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>dosFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>pluginsFilters</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>uploadFilterSite</filter-name>
        <url-pattern>/jsp/site/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>uploadFilterAdmin</filter-name>
        <url-pattern>/jsp/admin/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>safeRequestFilterSite</filter-name>
        <url-pattern>/jsp/site/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>safeRequestFilterAdmin</filter-name>
        <url-pattern>/jsp/admin/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>PluginsServlets</servlet-name>
        <servlet-class>fr.paris.lutece.portal.service.servlet.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PluginsServlets</servlet-name>
        <url-pattern>/servlet/plugins/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>fr.paris.lutece.portal.service.image.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StyleSheetServlet</servlet-name>
        <servlet-class>fr.paris.lutece.portal.web.stylesheet.StyleSheetFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteUploadServlet</servlet-name>
        <servlet-class>fr.paris.lutece.portal.web.upload.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParserBbCodeServlet</servlet-name>
        <servlet-class>fr.paris.lutece.portal.service.editor.ParserBbcodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StyleSheetServlet</servlet-name>
        <url-pattern>/ViewStyleSheetFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteUploadServlet</servlet-name>
        <url-pattern>/jsp/site/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParserBbCodeServlet</servlet-name>
        <url-pattern>/parser/parserBbcode</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/site/Error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/jsp/site/Error500.jsp</location>
    </error-page>
    <!-- uncomment the following lines if you use plugin-jsr168 -->
    <!-- <taglib> <taglib-uri>http://java.sun.com/portlet</taglib-uri> <taglib-location>taglibs/plugins/jsr168/portlet.tld</taglib-location> 
        </taglib> -->

</web-app>
